[2016-03-07 21:03] jjeffryes commented on #999
Good catch, @AdamISZ

I missed it only being in dispute closed. Fixed in #1007

[2016-03-07 22:31] drwasho opened #1008 "Add a simple photo editor"
When uploading photos of physical goods, sometimes you want to crop or otherwise modify the image. For now users will have to do that outside the client before they upload, but it would be nice to have some basic functionality in the client itself.

[2016-03-08 00:29] votaguz opened #1013 "User search using @ handles throws error."
Brief Description:
When you try to make a search using an user handle ( @votaguz for example ). Client shows that get an invalid response from server, but the "Developer Tool" view shows all the data correctly.

Operating System (OS and version):
Mac OSX 10.11.3

OpenBazaar version (shown on `About OpenBazaar` page in menu):
Version 1.0.7

Reproducible (Always / Almost Always / Sometimes / Rarely

[2016-03-08 00:36] morebrownies commented on #922
Josh on the user store page we display the secondary color as a placeholder while the listing photo is loading. Could we do the same in discover?

[2016-03-08 00:43] morebrownies commented on #885
Going to close for now. I'll reopen if I see it happen again

[2016-03-08 00:43] #885 closed, assigned to nobody

[2016-03-08 00:52] morebrownies commented on #912
I agree with Josh.  I'm concerned about the complexity this will introduce. It's difficult enough to explain and keep up with the bitcoin price and one fiat currency. In addition, currencies are constantly changing value amongst each other so seting fixed prices in multiple fiat currencies just seems like bad practice to me.

[2016-03-08 00:54] morebrownies commented on #908
We may have to change around the header bar a bit to make this work well on windows since there will be many icons stacked on the right hand side and not much on the left side. I'll probably have to shift things around to make it work well.

[2016-03-08 01:43] jondale opened #1014 "Buying multiple items from vendor and shipping."
Currently OpenBazaar only allows you to purchase one item at a time.  If you buy many items from the same vendor you have to do a transaction for each item and pay for shipping of each item individually.  Most buyers and sellers would like to buy all the items together in one transaction and have them shipped together to save on shipping.

One solution would be a cart for each store where you can

[2016-03-08 04:36] TheButterZone commented on #1014
Cart would be good.

Pre-order shipping calculations may be the death of OB for me, since flat-rate shipping isn't necessarily cheaper than non-flat rate for 100% of the things I could ship. https://github.com/OpenBazaar/OpenBazaar-Client/issues/905

[2016-03-08 06:14] pryds commented on #982
Nice. I would suggest this as adjustable in the settings or elsewhere, though, as you might have users living close to a border, or in some other way being able to receive goods to addresses in different countries, but haven't typed in (all) their addresses yet.

(Sorry for the close/reopen; fat fingers)

[2016-03-08 07:00] drwasho commented on #942
http://www.reactiongifs.com/r/ilt.gif

[2016-03-08 07:01] drwasho commented on #942
![0](http://www.reactiongifs.com/r/ilt.gif)

[2016-03-08 07:02] drwasho commented on #959
Done

[2016-03-08 07:02] #959 closed, assigned to nobody

[2016-03-08 07:16] drwasho commented on #881
Fixed from what I can tell.

[2016-03-08 07:16] #881 closed, assigned to nobody

[2016-03-08 07:33] drwasho commented on #965
### Week of 7th of March, 2016

@jjeffryes has optimised a lot in the client that wasn't captured in this tracking list. A big one was pagination of followers/following. Another was the ability to disable fancy graphics in the client. Both led to a significant performance improvement. Kudos to Josh.

The following issues were completed since the testnet release last week: #456, #881, #928, #964. W

[2016-03-08 07:49] Dekker3D commented on #1014
TheButterZone, I'm not sure I understand your situation very well (give some examples?), but would it help if you could disable that sort of combined shipping for certain items? That way, you'd have the best of both worlds.

[2016-03-08 07:56] TheButterZone commented on #1014
Github seems to be getting DOS'd... when that's over, see https://github.com/OpenBazaar/OpenBazaar-Client/issues/905

[2016-03-08 14:34] nelsonpk opened #1015 "Refund address"
Brief Description: Refund address for purchase not being accepted

Operating System (OS and version): Win 8.1
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware: Inter i7

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Paste address into refund address
2. Attempt to go go nest
3. Red dotted box around addre

[2016-03-08 14:47] jjeffryes commented on #1015
@nelsonpk are you using a testnet address?

[2016-03-08 14:52] nelsonpk commented on #1015
Ah – didn’t appreciate that was necessary – I’ll get one – thanks.

Didn’t see a mention in the documentation (although I might have missed that – newbie!!)

Best regards

 Philip Ketteringham

M: 07808 056332

H: 01494 725943

O: 01494 258551

F: 0203 637 5371

 41 Highland Rd

Amersham

Bucks HP7 9AX

From: Josh Jeffryes [mailto:notifications@github.com]
Sent: 08 March 2016 14:47
To: OpenBazaar/

[2016-03-08 14:56] jjeffryes commented on #1015
No worries. In the 1.0.7 build, we added a warning to that field so it's clear it needs to be a testnet address. You should see something like this:

![image](https://cloud.githubusercontent.com/assets/1584275/13605126/0b7a6c32-e514-11e5-803f-c081a918da25.png)

[2016-03-08 14:56] #1015 closed, assigned to nobody

[2016-03-08 15:30] nelsonpk commented on #1015
Thanks – are the 1.0.7 windows binaries available as of yet?

Best regards

 Philip Ketteringham

M: 07808 056332

H: 01494 725943

O: 01494 258551

F: 0203 637 5371

 41 Highland Rd

Amersham

Bucks HP7 9AX

From: Josh Jeffryes [mailto:notifications@github.com]
Sent: 08 March 2016 14:57
To: OpenBazaar/OpenBazaar-Client OpenBazaar-Client@noreply.github.com
Cc: nelsonpk philip@ketteringham.org.uk
S

[2016-03-08 15:49] mariodian commented on #990
I agree the option of buying own items is needed for debugging purposes, however I think a reminder, that the vendor is using his own checkout page should be visible at all times, so he's aware of it.

[2016-03-08 16:04] mariodian commented on #982
What if the list of countries that you can ship to was only visible on the map above (with the addition to the information whether the vendor ships to your country or not)?

On the most far zoom level you could use the heat map so you get an approximate area where you can ship https://developers.google.com/maps/documentation/javascript/examples/layer-heatmap on the closest zoom level a pin should

[2016-03-08 17:06] mariodian commented on #125
I use a "Restart application" button every time I change the code and/or add new translations and I want to check if it works alright. However I'm not sure if an ordinary user needs it. Perhaps if something gets "stuck".

[2016-03-08 17:12] mariodian commented on #91
FYI, cmd + M is a shortcut for minimizing the current window, cmd + A for "select All" and you can't type "~" without holding the Shift key.

If we come up with right shortcuts and nobody is currently working on this feature, I have some spare time to code it.

[2016-03-08 17:16] morebrownies commented on #91
Good call. We'll need to be sure not to overlap with any native OS keyboard shortcuts. Nobody else is working on this one, so if you're interested in taking it on, it's all yours.

[2016-03-08 17:26] mariodian commented on #91
Ok I'll take it.

[2016-03-08 17:37] morebrownies commented on #91
Looking forward to it :)

[2016-03-08 17:45] morebrownies commented on #929
I'm running into this issue again. I created a new server on Digital Ocean and tried to connect to it from my local client. In my client terminal I see:

**Could not get code signature for running application**

And all I see is a spinner in the client that never goes away. I tried restarting my client a few times and I run into the same issue.

<img width="1280" alt="screenshot 2016-03-08 11 43 2

[2016-03-08 17:49] rmisio commented on #929
@morebrownies this is a know issue on new remote servers. You need to wait until the server has completed the GUID gen process and then connect with the client (or re-start the client).

Once again, there is an open server issue to account for this:
OpenBazaar/OpenBazaar-Server#261

[2016-03-08 17:50] morebrownies commented on #929
Yes it was finished generating the GUID.

[2016-03-08 17:52] rmisio commented on #929
and still, even now if you re-start the client and try to connect to the same server, you can't connect?

Can you post the server logs?

[2016-03-08 17:53] mariodian commented on #91
I think combination of cmd+shift/ctrl+shift would work OK. What do you think?

Not totally sure about ctrl+shift though, I don’t have a windows PC so I can’t check how it feels from the UX standpoint.

[2016-03-08 18:00] morebrownies commented on #929
OpenBazaar Server v0.1 starting...
Exception : No UPnP device discovered
2016-03-08 12:58:14-0500 [OpenBazaard] [INFO] Finding NAT Type...
2016-03-08 12:58:14-0500 [OpenBazaard] [INFO] Full Cone on 159.203.250.228:28467
2016-03-08 12:58:14-0500 [OpenBazaard] [INFO] Startup took 4.39 seconds
2016-03-08 12:58:15-0500 [-] [INFO] Libbitcoin server online
2016-03-08 12:58:15-0500 [Server] [INFO] bootst

[2016-03-08 18:05] morebrownies commented on #91
I'm open to using the shift key. However we should make the shortcuts as easy to remember so that people use them often. Current;y we only have 7 shortcuts planned for. Do we not feel we can find 7 keys that we can use with only the CMD / CTRL key?

[2016-03-08 18:13] rmisio commented on #929
@cpacia Any idea why Mike is having problems connecting? I thought it was the issue with being unable to connect to a remote server during GUID gen, but it appears that the GUID gen process was already completed.

[2016-03-08 18:19] JoshuaOpolko opened #1017 "Can't change Location info for Digital Item & Service listings"
Brief Description: When I create a listing as "Physical Item" I can specify "Ships to Canada" and the location will indicate Canada as expected.

But if I create a "Digital Item" or a "Service" the location defaults to "United States" and I can't seem to change it.

Operating System (OS and version):  Ubuntu 14.04 x86_64

OpenBazaar version:  1.0.7

Hardware: Dual-quad Intel(R) Xeon(R) CPU X5450

[2016-03-08 18:25] mariodian commented on #91
Here's my suggestion then so it's also related to corresponding labels or their actions:

My Page => cmd + H (As "Home")
Purchases => cmd + P (doesn't trigger printing on OB, however I can imagine this feature being implemented in the future? In that case perhaps "T" as "transactions" would be better)
Cases => cmd + B (As "Briefcase" which is the current icon for the link)
Settings => cmd + comma

[2016-03-08 18:25] morebrownies commented on #929
I restarted my server and it worked. Not sure why that fixed it, but I think I'm good now. We may want to keep an eye on this to see if it pops up more often.

[2016-03-08 18:25] #929 closed, assigned to nobody

[2016-03-08 18:45] JustinDrake opened #1018 "Exact same store present 4 times in a row"
In the `Pages` tab, I see the same store (same GUID) 4 times. See the screenshot below.

![screen shot 2016-03-08 at 19 44 07](https://cloud.githubusercontent.com/assets/731743/13612155/4692c966-e566-11e5-9e38-f8ba15a78635.png)

[2016-03-08 18:46] morebrownies opened #1019 "Order in two different states"
Something strange is going on. I bought a theme from @themes and the payment went through correctly (as seen below):

<img width="1280" alt="screenshot 2016-03-08 12 44 11" src="https://cloud.githubusercontent.com/assets/13066886/13612163/a027ee7e-e52b-11e5-93bc-cda126e31c4f.png">

I then went to the @themes node to confirm the order, but it's saying the order is in the Purchasing state.
<img widt

[2016-03-08 18:47] morebrownies commented on #1019
I refreshed a few times as well on both sides and the states do not change

[2016-03-08 18:48] jjeffryes commented on #1019
@cpacia thoughts here?

It looks to me like the @themes not isn't getting the update to the order.

[2016-03-08 18:50] morebrownies commented on #91
That sounds good for now. Let's go with cmd + t for purchases and we'll also need a shortcut to get to discover. Can we use cmd + d for that?

[2016-03-08 18:53] mariodian commented on #91
Yes, cmd + d sounds good.

Btw is there any application config file which could be used for defining those keys? I don't want to hardcode it to the template and to the event handler. Thanks!

[2016-03-08 18:54] morebrownies commented on #91
@jjeffryes would know best

[2016-03-08 18:54] rmisio commented on #367
This was fixed. It's ready for verification.

[2016-03-08 19:00] jjeffryes commented on #1017
@JoshuaOpolko  Where do you see the location set to United States?

[2016-03-08 19:37] morebrownies commented on #1019
It looks like all my recent orders on @themes are showing in the Purchasing state

[2016-03-08 20:10] JoshuaOpolko commented on #1017
It's on the "Store" tab. I've attached a screenshot.

On 16-03-08 02:00 PM, Josh Jeffryes wrote:

[2016-03-08 20:18] JoshuaOpolko commented on #1017
![location](https://cloud.githubusercontent.com/assets/13841672/13614957/f4681ea4-e540-11e5-8b5e-09f49deb3e20.png)

[2016-03-08 20:23] morebrownies opened #1021 "Lazy load is not working correctly on followers/following tab"
Look at @themes followers tab. It lazy loads in the same 20ish listings over and over as you start scrolling. Not sure if this is a server issue or client issue.

[2016-03-08 20:46] jjeffryes commented on #1021
Looks like a server issue. get_followers is sending duplicates.

[2016-03-08 20:49] jjeffryes commented on #1021
Let me retract that.

It looks like a combination of zombie stores with the same name and avatar but different guids, and the script appending the new followers to the top instead of the bottom.

[2016-03-08 20:51] morebrownies commented on #1021
New followers should display at the top, otherwise the list will always look stale.

[2016-03-08 20:58] jjeffryes commented on #1021
Not new followers that just happened. New followers loaded as you scroll down.

[2016-03-08 20:58] morebrownies opened #1022 "I'm following @themes, but they're not displaying in my Following tab"
As the title says...

The button displays "Unfollow" when I visit @themes:

<img width="1280" alt="screenshot 2016-03-08 14 55 20" src="https://cloud.githubusercontent.com/assets/13066886/13616072/ee2037f0-e53d-11e5-8116-d13fc7d56f3e.png">

However when I visit my page, it shows I'm following zero pages:

<img width="1280" alt="screenshot 2016-03-08 14 54 11" src="https://cloud.githubusercontent.c

[2016-03-08 20:58] morebrownies commented on #1021
ahhh

[2016-03-08 21:01] morebrownies commented on #1022
When I follow other pages, it appears to work ok.

[2016-03-08 21:01] morebrownies commented on #1022
So maybe it's a bug associated to pages that are in the recommended pages to follow list?

[2016-03-08 21:09] morebrownies opened #1024 "If I click the purchases link on the order confirmation screen, it takes me to the purchases section correctly, but the order modal does not go away."
Brief Description:
If I click the purchases link on the order confirmation screen, it takes me to the purchases section correctly, but the order modal does not go away.

Steps to reproduce:
1. Place an order
2. Click "purchase page"
3. See the order modal not go away

Expected Behavior:
The modal should go away

Additional info (links, images, etc go here):
<img width="1280" alt="screenshot 2016-0

[2016-03-08 21:16] morebrownies commented on #942
Perfect, will be ready soon. @drwasho let me know if you want to change any of the labels. I slapped those together quickly.

[2016-03-08 21:17] jjeffryes commented on #1022
Following doesn't work until you get a message back from the node you're following. Themes might be running really slow, and if you close the page before it replies, I don't think the follow will be acknowledged.

That's something we'd have to look at, and see if we can fix.

Try following themes and then don't touch it for a long time.

[2016-03-08 21:49] drwasho commented on #942
For customer service, I want to predominantly communicate that it's related to the quality and speed of communication. Not quite sure the best way how to do that is.

[2016-03-08 23:40] jjeffryes commented on #981
This has been fixed, I believe in release 1.0.7, if not then in the master branch.

[2016-03-08 23:40] #981 closed, assigned to nobody

[2016-03-08 23:41] jjeffryes commented on #980
This was fixed in release 1.0.7

[2016-03-08 23:41] #980 closed, assigned to nobody

[2016-03-09 02:25] drwasho opened #1027 "Show Avatar and Consistent Terminology in Dispute Close modal"
This is the current dispute close modal:

![image](https://cloud.githubusercontent.com/assets/3887694/13623363/da73a778-e5f1-11e5-9718-538bba3bcfc7.png)

In the Discussion tab, the Vendor is called 'Vendor', but we then call them the 'Seller' when determining the split of funds. It's a possible stumbling block for users, so it should be changed to Vendor. To make it even easier, we should show the

[2016-03-09 04:51] morebrownies commented on #1027
Yes avatars are extremely helpful here. Moderator is not going to easily remember who is who.

[2016-03-09 15:46] ulrichard opened #1028 "Filter by shipping destination matching my location"
Brief Description:
It happens very ofter that I want to buy something and click through a couple of dialogs just to discover that it won't be shipped to my location.
Would be nice if I could filter beforehand.

Reproducible : Always

[2016-03-09 16:23] hoffmabc opened #1029 "No default selection for purchases"
I think this should probably default to moderated selection. Also when there is only one option just auto-select it.

![image](https://cloud.githubusercontent.com/assets/45482/13642162/5dcbcf50-e5e9-11e5-82b6-02e55108259f.png)

Sorry disable was momentarily not working but i struck that from the issue.

[2016-03-09 16:41] morebrownies commented on #1029
Sounds good to me. I'll add in the branch I'm working on.

[2016-03-09 18:21] JustinDrake opened #1030 "Make GUID selectable"
At the moment the GUID in the following screenshot is not selectable. I've seen several people frustrated by that.

![screen shot 2016-03-09 at 19 20 54](https://cloud.githubusercontent.com/assets/731743/13645644/302e32ac-e62c-11e5-84d3-d5e83e750fe3.png)

[2016-03-09 18:26] JustinDrake opened #1031 "Menu opens when clicking on tooltip"
To reproduce:
- Hover to get the Menu tooltip showing
- Staying on the tooltip, move your mouse to the bottom-left corner of the tooltip
- Notice that your mouse cursor is far away from the "Menu button
- Click and notice the Menu open, despite the cursor not being on the button

![screen shot 2016-03-09 at 19 24 59](https://cloud.githubusercontent.com/assets/731743/13645743/b9b73686-e62c-11e5-8ca

[2016-03-09 18:32] JustinDrake opened #1032 "No scrollbar for list of followers"
Steps the reproduce:
- Go to ob://@helpdesk/followers
- Scroll through the many followers
- Notice the lack of scrollbar (I find it disorientating/dizzying)

![screen shot 2016-03-09 at 19 31 26](https://cloud.githubusercontent.com/assets/731743/13645966/a8d8191a-e62d-11e5-905e-d7a6cce1ac1a.png)

[2016-03-09 18:35] morebrownies commented on #1032
This is my fault. I'll fix.

[2016-03-09 18:35] JustinDrake opened #1033 "[Mac OS] Crash on exit"
I'm using master's HEAD on Mac OS. Steps to repro:
- Open the frontend
- Do `cmd + w`
- Frontend disappears then crashes (see screenshot below)

![screen shot 2016-03-09 at 19 34 53](https://cloud.githubusercontent.com/assets/731743/13646046/0279356c-e62e-11e5-9785-a043f1c0d2df.png)

[2016-03-09 18:58] JustinDrake opened #1034 "Price in Bitcoin not shown for shipping"
See the screenshot below.

To repro:
- Set your currency as "Euro"
- Go to ob://@sampatt/listing/894e884133c9f83f011facf80c3946f08330fd57
- Notice that the shipping information is only in Euros, no Bitcoin price

![screen shot 2016-03-09 at 19 57 36](https://cloud.githubusercontent.com/assets/731743/13646783/53459168-e631-11e5-9361-aeee395b85d7.png)

[2016-03-09 19:03] JustinDrake opened #1035 "Glitchy "Support OpenBazaar""
To reproduce:
- Click Menu > About OpenBazaar
- Click Menu > Support OpenBazaar
- Notice that, in a split second, the "About OpenBazaar" page is shown first, and then "Support OpenBazaar".

The event ordering should be swapped. First select the right tab, and then show it.

[2016-03-09 19:04] JustinDrake opened #1036 "Capitalisation inconsistency"
In the settings, we have "Local currency" but "Bitcoin Address". See screenshot:

![screen shot 2016-03-09 at 20 03 52](https://cloud.githubusercontent.com/assets/731743/13646958/2418e722-e632-11e5-80ab-c5a5d869e6a0.png)

[2016-03-09 19:05] JustinDrake commented on #1036
Also, what is the point of "Enter your"? We don't have "Enter your local currency" and "Enter your time zone".

[2016-03-09 19:06] JustinDrake commented on #1036
More capitalisation inconsistencies

![screen shot 2016-03-09 at 20 06 18](https://cloud.githubusercontent.com/assets/731743/13647011/6b772a8e-e632-11e5-946e-f95804b70097.png)

[2016-03-09 19:09] JustinDrake opened #1037 ""Add New Moderators" is lacking loading spinner"
The "Add New Moderators" in settings (see screenshot) is lacking a spinner while the list of moderators is being loaded.

![screen shot 2016-03-09 at 20 08 27](https://cloud.githubusercontent.com/assets/731743/13647098/d09459dc-e632-11e5-855f-1d04a77b76a3.png)

[2016-03-09 19:10] JoshuaOpolko opened #1038 "Can't save PGP key or PGP signature."
Brief Description: Can't save PGP key or PGP signature.
Operating System (OS and version): ubuntu 14.04 amd64
OpenBazaar version (shown on `About OpenBazaar` page in menu):  1.0.7
Reproducible: Always

Steps to reproduce:
1. Select Menu->Settings->Page->PGP Key
2. Enter PGP Public Key
3. Enter PGP Signature (signed OB ID)
4. Click "Save Changes"

Observed Behavior:
Message box displays "Your Chang

[2016-03-09 19:16] JustinDrake opened #1039 "Add padding below (and above) QR code"
The QR code feels really tight in the screenshot below, especially relative to the text underneath.

![screen shot 2016-03-09 at 20 15 56](https://cloud.githubusercontent.com/assets/731743/13647313/cd09cab2-e633-11e5-8541-481184227488.png)

[2016-03-09 19:19] JustinDrake opened #1040 "Improperly centered Support page"
Please see the screenshot below. The centering of the Support page is off (to the left) because of the messages bar being expanded.

![screen shot 2016-03-09 at 20 17 31](https://cloud.githubusercontent.com/assets/731743/13647387/2ad7d3a0-e634-11e5-8fb2-0bb1b7c6e99e.png)

[2016-03-09 19:19] jjeffryes commented on #1040
That is functioning as intended.

[2016-03-09 19:19] #1040 closed, assigned to nobody

[2016-03-09 19:20] JustinDrake opened #1041 "Unprofessional looking Slack invite URL"
The Slack invite URL is `https://openbazaar-slackin-drwasho.herokuapp.com/`. This feels unprofessional. What about something like `https://slack.openbazaar.org`?

[2016-03-09 19:27] JustinDrake opened #1042 "Rethinking contributors page"
The contributors page seems to be stable. Having a contributors page which is not updated doesn't convey that the OpenBazaar project is growing fast. I would remove the list and list to a contributors page on GitHub?

For example, Node.JS has a very polished and up-to-date list at https://github.com/nodejs/node/blob/master/AUTHORS

[2016-03-09 19:28] JustinDrake opened #1043 "Menu openable when Support page is open"
Steps to repro:
- Open "Support OpenBazaar"
- While "Support OpenBazaar" is open, click on Menu
- Notice the menu opens and is greyed out (see screenshot below)

![screen shot 2016-03-09 at 20 26 07](https://cloud.githubusercontent.com/assets/731743/13647677/7488096a-e635-11e5-9616-4f22a71df69f.png)

[2016-03-09 19:29] JustinDrake opened #1044 ""Tutorial" capitalised"
See screenshot. I don't think "Tutorial" should be capitalised in this sentence

![screen shot 2016-03-09 at 20 28 55](https://cloud.githubusercontent.com/assets/731743/13647718/a3fea9b0-e635-11e5-8b4b-b1b13a3bd11e.png)

[2016-03-09 19:30] hoffmabc commented on #1041
It already is that and has been for a while.

[2016-03-09 19:30] #1041 closed, assigned to hoffmabc

[2016-03-09 19:31] hoffmabc commented on #1041
![image](https://cloud.githubusercontent.com/assets/45482/13647778/9e92164c-e603-11e5-9e9a-23627d89cb5a.png)

[2016-03-09 19:32] morebrownies commented on #1041
Mental note: we need to add this updated URL to the website too

[2016-03-09 19:32] hoffmabc commented on #1039
Are you having problems with it being recognized? We have a comfortably larger size than is required by the standard and I haven't seen issues. If you are truly having problems please reopen and let me know in what circumstances it doesn't resolve.

[2016-03-09 19:33] JustinDrake commented on #1041
@hoffmabc: The OpenBazaar client does not have the updated link. Please reopen.

[2016-03-09 19:34] JustinDrake commented on #1039
This report is about aesthetics. Generally images and text have "breathing space" between them. Check out the lack of padding in the screenshot below. Please reopen.

![screen shot 2016-03-09 at 20 34 42](https://cloud.githubusercontent.com/assets/731743/13647871/5fdeda1a-e636-11e5-87d2-2ab2c1c9bd5e.png)

[2016-03-09 19:35] hoffmabc commented on #1039
I renamed the issue because it was confusing. Spacing below the QR code is what you were asking for.

[2016-03-09 19:37] JustinDrake commented on #1039
Cheers. In CSS there's a property called `padding` which is may do the job here.

[2016-03-09 19:41] JustinDrake commented on #1041
@hoffmabc: See screenshot below for the offending link (taken from master's HEAD)

![screen shot 2016-03-09 at 20 39 46](https://cloud.githubusercontent.com/assets/731743/13648066/39f655c0-e637-11e5-8b74-2a8cdc27f66c.png)

[2016-03-09 19:43] JustinDrake opened #1045 "Moderator fee rounding issue"
See screenshot. A moderator has a 4.19999980927% fee. Looks like a rounding issue.

![screen shot 2016-03-09 at 20 42 44](https://cloud.githubusercontent.com/assets/731743/13648144/878df19e-e637-11e5-9ef0-3b6b63eaba38.png)

[2016-03-09 19:47] JustinDrake opened #1046 "UI doesn't cue user when no moderator is selected"
To repro:
- Click on Buy
- Choose a "Moderated Payment"
- Click Next without selecting a moderator
- Notice nothing happens

The UI doesn't cue the user when no moderator is selected. The next button is not greyed out, for example. See screenshot

![screen shot 2016-03-09 at 20 45 30](https://cloud.githubusercontent.com/assets/731743/13648272/158bad56-e638-11e5-8355-f3c73a50d262.png)

[2016-03-09 19:57] jjeffryes commented on #1046
I can't reproduce this on master.

![image](https://cloud.githubusercontent.com/assets/1584275/13648568/4e644c4a-e607-11e5-9837-f14f710ec08d.png)

[2016-03-09 19:59] JustinDrake opened #1048 "Spinner still spinning after clearing search"
Steps to repro:
- Go to Listings > Discover
- Enter a search query without results
- Clear the search using the X on the right side of the input box
- Notice the search query is cleared but the spinner keeps spinning indefinitely (see screenshot)

![screen shot 2016-03-09 at 20 56 53](https://cloud.githubusercontent.com/assets/731743/13648599/c63cf5be-e639-11e5-9d58-bb812ce24047.png)

[2016-03-09 20:03] JustinDrake commented on #1046
Hum. I just pulled from master's `HEAD` and this is 100% reproducible for me. Maybe a Mac specific issue?

[2016-03-09 21:05] #351 closed, assigned to jjeffryes

[2016-03-09 21:05] #501 closed, assigned to jjeffryes

[2016-03-09 21:05] #702 closed, assigned to jjeffryes

[2016-03-09 21:05] #943 closed, assigned to jjeffryes

[2016-03-09 21:05] #982 closed, assigned to jjeffryes

[2016-03-09 21:05] #1017 closed, assigned to jjeffryes

[2016-03-09 21:05] #1024 closed, assigned to jjeffryes

[2016-03-09 21:05] #1034 closed, assigned to nobody

[2016-03-09 21:22] rmisio commented on #840
@drwasho @cpacia
Re: Display aggregate rating data on a user's page

I think we would need this calculation done on the server. For the client to do it, the client would need to loop through all the items in a user's store and for each one make an API request to get all the reviews for that item.

So, consider a store with a 100 items, each containing an average of 500 reviews. Not only would you

[2016-03-09 21:35] #942 closed, assigned to morebrownies

[2016-03-09 21:35] #1029 closed, assigned to morebrownies

[2016-03-09 21:35] #1032 closed, assigned to morebrownies

[2016-03-09 21:35] #1036 closed, assigned to morebrownies

[2016-03-09 21:35] #1039 closed, assigned to morebrownies

[2016-03-09 22:21] #1021 closed, assigned to nobody

[2016-03-09 22:41] drwasho opened #1053 "Hide order modal after clicking 'save'"
When you go to confirm an order and click 'Save', the modal can hang while it's waiting for a response. Users can mistakenly click the 'Save' button twice, thinking that they didn't click it correctly the first time, which produces a 'Data cannot be saved' error that's related to the second superfluous click.

A better UX would be to hide the order modal after clicking 'Save' and use the status ba

[2016-03-09 22:49] morebrownies commented on #1053
Alternatively we should put a spinner on the Save button to prevent double clicks.

[2016-03-09 23:56] drwasho commented on #1053
That will work too. How long will we leave the order modal hanging though?

[2016-03-09 23:57] drwasho opened #1055 "Enable spaces in keyword tags"
As the title suggests.

Server issue: https://github.com/OpenBazaar/OpenBazaar-Server/issues/284

[2016-03-10 00:14] beatljuice opened #1056 "Vendor can issue partial or full refunds after confirming the order/marking as shipped."
Brief Description:

Sellers need to be able to issue refunds, both in whole, and in part. We shouldn't require a moderator when we can see for ourselves there is a problem. I'm an experienced online seller and have issued refunds many times. Plus, not all transactions use a moderator.

Maybe the shipper didn't get the item to the customer in the expected time. I can track it and see the problem an

[2016-03-10 00:26] TheButterZone commented on #1029
Disagree. I will be selecting Direct Payment over the "RECOMMENDED" and cannot afford a default to ever accidentally be selected.

[2016-03-10 00:30] drwasho commented on #1029
Feel free to explain why @TheButterZone, but the trust properties significantly deteriorate with 'Direct Payment' compared to Moderated transactions. Better to default to Moderated payments.

[2016-03-10 00:32] TheButterZone commented on #1029
My [WoT](http://b-otc.com/vg?nick=TheButterZone) standing since 2012 either means something or it doesn't. I will not be coerced.

[2016-03-10 00:33] rmisio commented on #760
this is fixed, please validate.

[2016-03-10 00:36] drwasho commented on #1029
Forgive me, but that's being hyperbolic. It's a default `option` (being the keyword) that takes 0.5 seconds to change if the user doesn't want to do a moderated transaction to use escrow to protect themselves from scammers.

Anyway, it's up to Vendors to decide whether they want to use a Moderator, and Buyers to decide to use that Moderator or not purchase your items if they're not comfortable han

[2016-03-10 00:40] drwasho opened #1057 "Blocked nodes still appear in the Moderation selection list in Settings -> Store"
That shouldn't happen obviously.

[2016-03-10 00:41] TheButterZone commented on #1029
You clearly haven't had my brutal sales experience, including default overriding for hundreds of items, then.

This would be making it up to Vendors to decide whether they DON'T want to use a moderator, rather than making a choice from a blank slate.

[2016-03-10 00:41] drwasho commented on #1056
Partial refunds for direct and moderated transactions is an important feature, definitely needs to happen.

[2016-03-10 00:42] drwasho commented on #1048
Can't reproduce this, but perhaps this was fixed in one of the latest commits. @jjeffryes @SamPatt @morebrownies can you check?

[2016-03-10 00:43] drwasho commented on #1046
Fixed.

[2016-03-10 00:43] #1046 closed, assigned to nobody

[2016-03-10 00:45] JustinDrake commented on #1046
Wow, you guys are on fire today!

[2016-03-10 00:46] drwasho commented on #1029
Currently the default is for Vendors to not have a Moderator, so technically the default option is Direct Payments. But as soon as the Vendor has selected a Moderator, moderated transactions will be the default option for Buyers when making purchases. If they're not happy with this, they can move their mouse by ~3 cm down to click 'Direct Purchase'.

[2016-03-10 00:47] TheButterZone commented on #1029
Not according to the screenshot in the OP, where nothing is selected by default.

[2016-03-10 00:49] drwasho commented on #1029
That is when the Buyer goes to make a purchase. When the Vendor creates a store, no Moderators are auto-selected, which means anything they list will only have Direct Payment as an option. During the Vendor on-boarding, we do give them the option to select from a list of moderators... but if they don't select a moderator then Direct Payment will be the only option.

[2016-03-10 00:50] TheButterZone commented on #1029
Never mind... /headdesk

[2016-03-10 00:52] drwasho commented on #760
Fixed.

[2016-03-10 00:52] #760 closed, assigned to morebrownies

[2016-03-10 01:02] drwasho commented on #840
Agreed.

[2016-03-10 01:08] jjeffryes commented on #1048
It's possible if you clear the search before it's completed, and the normal load of the discover tab doesn't return any results due to network issues, the spinner could linger.

I can't reproduce it.

[2016-03-10 02:11] drwasho commented on #944
Completed.

[2016-03-10 02:15] drwasho commented on #914
To be clear, this is referring to Settings => Store

[2016-03-10 02:17] drwasho commented on #367
Fullscreen works, some modifications are in a PR to change the keyboard shortcut (which is minor).

[2016-03-10 02:17] #367 closed, assigned to hoffmabc

[2016-03-10 03:24] hoffmabc opened #1059 "Description in Become a Store required but no indicator"
The indicator only shows if you click the description input and then hit next. If the user just hits next it won't highlight the input red like it should and there is no indication that it's required.
![image](https://cloud.githubusercontent.com/assets/45482/13658512/a1fb435c-e645-11e5-9425-5699e113ae9e.png)

[2016-03-10 06:41] Squirrel2020 opened #1060 "Language file languagesMd.js became clumsy (10526 lines) and needs splitting into many parts."
There is a few inconveniences of using 1 file for all languages:
- Hard to use search. When I need to find "VendorShipsTo" it finds this variable at many languages
- Can't edit in GitHub, because internal GitHub's editor in Chrome become working incredibly slowly (10526 lines!!! almost impossible to edit anything).
- I have to copy stuff to Notepad++ and if I forgot to upload (as it was yesterday)

[2016-03-10 07:25] drwasho opened #1061 "Order Modal Funds Tab needs to show multisig escrow address"
Just occurred to me that we're not showing the address... all the user ever can see is the transaction into the address.

The multisig address needs be visible as soon as the order has been placed, even if it hasn't been funded yet.

[2016-03-10 07:25] mariodian commented on #1060
It was already brought up here #420.

[2016-03-10 13:46] morebrownies commented on #1055
I don't understand this request. Why would a tag allow spaces? I've never seen that on any other platform.

[2016-03-10 13:53] mariodian commented on #1055
I've seen spaces in tags mostly on blogging platforms. For example tumblr.com allows it.

[2016-03-10 13:59] drwasho commented on #1055
I think it adds some flexibility to tags considering that we can't search for multiple tags.

[2016-03-10 14:02] morebrownies commented on #1055
It actually makes matching more difficult because users will need to get the spaces correctly. Some people will tag #blueHondaCivic and others will tag #blue honda civic and both will return unique results because they're different tags. If we trim the spaces for the user, those tags both become the same.

[2016-03-10 14:03] morebrownies commented on #878
My friend installed from the dmg yesterday and the same issue was happening on his machine. He's never had OpenBazaar installed before so it seems to happen when you install from the installer. Can other people running OSx confirm this?

[2016-03-10 14:42] drwasho commented on #1055
Yeah you have a point there. If for no other reason than Instagram and Instagram are the standards for setting expectations for tagging.

[2016-03-10 14:42] #1055 closed, assigned to nobody

[2016-03-10 15:19] hoffmabc opened #1062 "Confirm for Unfollow Button"
I noticed this on Twitter and realized it could be very useful on our site as I find myself unfollowing people on accident when closing modals. It would be nice to have a confirm to unfollow similar to what's attached to the Delete Contract buttons.

[2016-03-10 15:21] hoffmabc opened #1063 "Page Loader Off-Center When Chat is Open"
![image](https://cloud.githubusercontent.com/assets/45482/13674013/d7bf1612-e6a9-11e5-8db4-ed40952aa891.png)

[2016-03-10 15:22] jjeffryes commented on #1063
Is this on the latest master?

It looks like this when I test it.

![image](https://cloud.githubusercontent.com/assets/1584275/13674057/035e37a8-e6aa-11e5-9f26-852cd8397af2.png)

[2016-03-10 15:55] #878 closed, assigned to hoffmabc

[2016-03-10 17:17] rmisio commented on #1063
this was fixed.
https://github.com/OpenBazaar/OpenBazaar-Client/pull/1058

[2016-03-10 19:47] JustinDrake commented on #1048
@jjeffryes: That's what I'm seeing. Relatively easy to repro for me.

[2016-03-10 20:15] Kirvx opened #1068 "[Error] A JavaScript error occurred in the main process"
Windows 10 x64
OpenBazaar 1.0.8 x64
Always Reproducible

No problem with OpenBazaar 1.0.7 x64

**When closing OpenBazaar:**

![sans titre](https://cloud.githubusercontent.com/assets/6627786/13682811/c62b7512-e703-11e5-9f47-3fba82a0034b.png)

[2016-03-10 20:21] jjeffryes commented on #1068
@Kirvx does this happen with both the installer and the version installed from Github, or just the installer version?

[2016-03-10 20:26] hoffmabc commented on #1068
I'm seeing this as well so I'll fix it.

[2016-03-10 20:27] hoffmabc commented on #1068
I think it's that Windows doesn't support the SIGHUP call to kill the server.

[2016-03-10 20:34] Kirvx commented on #1068
@jjeffryes Just with the installer

[2016-03-10 20:38] hoffmabc commented on #1068
This is because it doesn't try to kill the server for manual install.

[2016-03-10 20:50] morebrownies opened #1070 "Search not working on @themes followers page with lazy load"
Search for a person that comes in after you scroll and lazy load in more people

[2016-03-10 21:12] bangers89 opened #1071 "Not been able to connect for a couple of days"
Brief Description: I keep hitting "Retry connection" but it won;t connect

Operating System (OS and version): OSX Yosemite v 10.10.4
OpenBazaar version (shown on About OpenBazaar page in menu): 1.0.8
Hardware: MacBook Pro (Retina, 13-inch, Late 2013)

Reproducible (*_Always *_/ Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
Open app and keep trying to make it

[2016-03-10 22:17] #1070 closed, assigned to nobody

[2016-03-10 23:35] jjeffryes commented on #1071
If you installed manually, make sure you are starting your server with the testnet flag, -t.

if you used the installer, or are sure you're on the testnet, try shutting down your server (in settings/adanced), then find your OpenBazaar folder on your computer, and delete the cache.pickle file, and the OB-Testnet database. Then restart your client, and then your server (in that order).

[2016-03-10 23:44] drwasho commented on #966
Also applies to newly removed/blocked Moderators. If the Vendor finds that one of the Moderators is not responding or performing badly, and removes them, all of their listings need to be immediately updated... otherwise the Moderator will still be involved in transactions.

[2016-03-11 00:04] drwasho commented on #303
Working. Spectacular work @rmisio

[2016-03-11 00:04] #303 closed, assigned to nobody

[2016-03-11 00:48] #1057 closed, assigned to jjeffryes

[2016-03-11 07:02] drwasho commented on #1053
Ok so I chatted with @cpacia about this issues and this is what's happening in the server:
1. When confirming an order/marking as shipped **or** making a payout/rating (probably also dispute, although I haven't tested this), your node will attempt to make a direct connection to the recipient and send the message.
2. If the recipient is not online, then the server will start a network crawl. This c

[2016-03-11 12:17] Nogreedy commented on #1030
Hello,
Why don't you use an handle (tied with Onename) ? : it's more convenient...

![capture](https://cloud.githubusercontent.com/assets/6340683/13701963/972497e8-e78b-11e5-9ea8-84a614e8099d.PNG)

[2016-03-11 15:51] JTuwiner opened #1076 "Can't add address or refund address"
**Brief Description:** I tried adding a refund address for a transaction and wasn't able to continue to the next step. I thought maybe it was because I had not included an address in my profile. When I went to add an address there, I also got an error. This first happened to be on 1.0.7. Updated to 1.0.8 and get same error. Both are pictured below.

**Operating System (OS and version):** Mac OS X

[2016-03-11 16:05] jjeffryes commented on #1076
What address are you trying to use? Is it a valid testnet address?

[2016-03-11 16:08] jjeffryes commented on #1076
If you don't see a testnet label on that field, you are using an older release. Try installing version 1.0.8 and then use a testnet address.

![image](https://cloud.githubusercontent.com/assets/1584275/13707800/64898648-e779-11e5-8d17-4973cb211815.png)

[2016-03-12 05:18] jjeffryes commented on #1053
Just a note, I didn't add the loading spinner to this button in the loading button PR because I plan to implement something similar to the more detailed proposal with the status bar for this one.

[2016-03-12 08:33] drwasho commented on #1053
Cool!

[2016-03-12 12:01] pryds commented on #948
I need the context of a few new strings, also:

[code]

Thanks!

[2016-03-12 17:09] pryds commented on #420
I agree that the current setup is a bit clumsy and might be quite overwhelming to new translators (myself, I did reconsider before finally deciding to contribute anyway). To say it differently, a translator almost also needs to be a programmer for them to keep track of this long file, including the many opening and closing brackets, etc.

Furthermore, splitting into one file per language would mos

[2016-03-13 08:11] mariodian commented on #1076
It seems (the second screenshot) that you are trying to use a mainnet address. You need to use a testnet one that doesn't start with "1".

[2016-03-13 08:35] mariodian commented on #1030
I'll fix it

[2016-03-13 09:42] mariodian commented on #1045
It seems it's not possible to input such crazy float numbers in your moderator settings anymore (I get an error). I'd say it doesn't need to be fixed for this particular case then.

[2016-03-13 10:31] mariodian commented on #1033
I can't reproduce it. I don't even see any error in terminal (do you?).

[2016-03-13 15:40] mariodian commented on #420
I'm working on it.

[2016-03-13 16:07] mariodian commented on #420
I resolved this in #1093 the least painful way I could think of. Only languagesMd.js and js/main.js needed to be modified.

[2016-03-13 20:19] #1030 closed, assigned to nobody

[2016-03-13 20:24] #1035 closed, assigned to nobody

[2016-03-14 00:48] drwasho commented on #1076
Definitely need to use a testnet address. Let us know if you need any testnet coins.

[2016-03-14 00:48] #1076 closed, assigned to nobody

[2016-03-14 02:07] jjeffryes commented on #948
BuyerPayout = if a dispute has been resolved by a moderator, this is the amount paid to the buyer
SellerPayout = if a dispute has been resolved by a moderator, this is the amount paid to the seller

[2016-03-14 02:15] jjeffryes commented on #948
I found BuyerAmount and SellerAmount, editing my comment above.

BuyerAmount is the label for the input field in the dispute resolution screen where the moderator enters the percentage of the transaction funds the buyer will receive.

SellerAmount is the same thing for the seller.

[2016-03-14 02:20] jondale opened #1102 "Blocking single items"
The problem at hand is when a store owner has a product that contains mature content (but they have not marked the item as having mature content).  If you want to block that item but not the rest of the store there is no current solution.  The only option is to block the entire store.

A solution would be the ability to block single listings and/or mark them as mature.

[2016-03-14 02:32] jjeffryes commented on #1102
Can't that vendor just make more NSFW listings that are also not marked as NSFW that you would then see and have to block?

[2016-03-14 02:35] drwasho commented on #1102
@jjeffryes maybe the way to approach this is to 'hide' the listing on the client side. Is that possible?

[2016-03-14 02:38] jondale commented on #1102
If they are intentionally trying to circumvent the filter then I would just block the store completely.  This would be more for a store that is generally not mature content but has one or two items (and maybe forgets to mark them)... such as what's on OB atm.

[2016-03-14 14:05] #1063 closed, assigned to jjeffryes

[2016-03-14 14:05] #944 closed, assigned to nobody

[2016-03-14 14:11] #420 closed, assigned to nobody

[2016-03-14 16:37] #1060 closed, assigned to nobody

[2016-03-14 20:26] jjeffryes opened #1105 "Add Daylight Savings Detection to TimeZone Pre-Select in Onboarding"
The timezone pre-selection in onboarding doesn't account for daylight savings time. Either do it manually, or use the build in functions in moment.js (since we're already using moment elsewhere).

[2016-03-14 20:52] pryds commented on #420
Very nice. No comments in the language files now, though?

[2016-03-14 20:53] jjeffryes commented on #420
Comments are invalid in json files, unfortunately.

[2016-03-14 21:53] #914 closed, assigned to jjeffryes

[2016-03-14 22:47] M45t3rJC opened #1109 "Photo upload failing"
Brief Description: Photos (JPG) not always uploading for new listings...

Operating System (OS and version): OSX 10.10.5
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.8
Hardware: MacBook Pro - 2.3GHz i7 -- 4GM DDR3

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Sometimes

Steps to reproduce:
1. take Photo with iPhone
2. upload Photo to MacBoo

[2016-03-14 23:16] M45t3rJC commented on #1071
[https://openbazaar.zendesk.com/hc/en-us/articles/208277053-Authentication-Failed](url)

[2016-03-15 01:46] ghost opened #1111 "Crowdfunding feature"
Imagine an author that wants to release a book/film/music in public domain.

Before releasing it for free for everyone (in a CC0 ou CC-BY license), he wants to receive at least 10.0 BTC for his work.

It would be nice to have an option to sell shares of a goal (i.e book release in public domain).

When all 100 shares items are sold out, each one costing 0.1 BTC, a download link with URL becomes vi

[2016-03-15 01:59] drwasho commented on #965
### Week of 15th of March, 2016

Wow, what a productive week! Lots of issues closed and we're halfway done with the major mainnet issues to be fixed.

**Updated list of priority mainnet requirements:**
 I'm now indicating which of these issues requires corresponding server modifications for @cpacia:
1. #966 Auto update listings to include a newly added moderator
   - :wrench: Server
2. #840 Reputa

[2016-03-15 09:47] Dekker3D commented on #1111
This should be doable. Lighthouse has an on-chain way of doing it, we could simply integrate that same thing into OpenBazaar. Should work for both services and digital goods. Physical goods might be interesting too, for a Kickstarter-style thing, but that would complicate things a bit.

I mean, releasing the funds when the treshold is reached should be easy enough. Releasing when the actual servic

[2016-03-15 10:21] mariodian commented on #420
Those are not json files though, but regular javacsript objects.

[2016-03-15 16:02] #1068 closed, assigned to nobody

[2016-03-15 20:53] beatljuice opened #1123 "Different color text to speed workflow.(Somewhat important, but should be fairly easy)"
Different colors of text would help to indicate what needs attention in Sales and Purchases.

When you have a list of things without much differentiation you have to read and think a lot more. If the things that need attention (such as paid/ready to ship, or mark received and release funds) on the list had a colored text that made it stand out you could get things done a lot faster.

[2016-03-15 20:58] rmisio commented on #1109
The file you're trying to uploaded must be a image (have an image mime type) and the browser must be able to load it. At this time we don't have any messaging to indicate if either of those are not true, the image is silently ignored.

When you right click on the file and select Get Info, what does it say in the Kind: section?

If it passes these first two tests, then we upload the image to the se

[2016-03-15 21:24] rmisio commented on #1059
When I click next, the field does highlight in red. Maybe somebody fixed this?

[2016-03-15 21:26] jjeffryes commented on #1059
I fixed this, I forgot to close the issue.

[2016-03-15 21:26] #1059 closed, assigned to nobody

[2016-03-15 21:41] rmisio commented on #1013
The code is expecting the API to return an `account` object with a `service` key equal to `openbazaar` with your OB GUID as the `identifier`. It looks like you need to register your ob GUID with Onename for this to happen. Once you do so, I think it takes a day or two for the API to pick it up.

![image](https://cloud.githubusercontent.com/assets/794517/13794956/e9170418-eabb-11e5-8797-58304547461

[2016-03-15 21:46] rmisio commented on #971
this is fixed and ready for verification.

[2016-03-15 21:47] #1013 closed, assigned to nobody

[2016-03-15 21:53] rmisio commented on #816
this is fixed.

[2016-03-15 21:59] ghost commented on #909
Romanian is 100% translated, it should fix this issue

https://www.transifex.com/ob1/dashboard/all_resources/ro/?project=openbazaar

[2016-03-15 22:05] rmisio commented on #1033
I believe this is fixed.

Cmd + W is to close a window. Since we are a one-window app, we close the app then the window is closed. I'm not seeing the 'quit unexpectedly' error.

[2016-03-15 22:18] rmisio commented on #815
this was fixed and is ready for verification.

[2016-03-15 22:18] rmisio commented on #797
this is fixed.

[2016-03-15 22:24] M45t3rJC commented on #1109
Kind: JPEG image
There isn't an error "pop-up" when upload fails.

[2016-03-15 22:28] rmisio commented on #993
This requires a server change to allow us to store this data on the profile:
https://github.com/OpenBazaar/OpenBazaar-Server/issues/296

[2016-03-15 22:37] rmisio commented on #1109
it appears your image is failing on the upload to the server. To see the error, you would open up your console, via View > Toggle Developer Tool, then click on the Network tab. When you upload the image, you'll see an upload_image entry appear on the left half of the screen. Click on that and then your error will be in the Response tab. Would you please let us know what you see?

![image](https://

[2016-03-15 22:47] M45t3rJC commented on #1109
Thank you rmisio
I had the photos in files with # signs and once I deleted non-alphanumeric characters and spaces from file and folder name the photo uploads like it should.
IMO: This info needs to be added into into the next update, at the very least added to the tutorial...

[2016-03-15 22:56] M45t3rJC commented on #1109
I can recreate it, but keep getting "Failed to Load Response Data" message in Dev.Tools.

[2016-03-16 00:31] ghost opened #1126 "Text still not translated"
The following texts are still not being translated into any language:

Page tab in Settings
- "Avatar" (title)

Advanced tab in Settings
- "Severely Restricted" (text)

[2016-03-16 01:28] drwasho commented on #336
Done and dusted.

[2016-03-16 01:28] #336 closed, assigned to jjeffryes

[2016-03-16 02:52] jae-wd commented on #905
This is a big issue that will determine whether OB is usable for real business or not.

Real sellers who ship items internationally have to calculate shipping case by case based on contextual information:
- destination country
- shipping method
- weight of the products to be shipped (quantity \* base weight)
- volume of the products

The devs should realize that **_shipping fees that sellers have

[2016-03-16 02:57] drwasho commented on #905
Thanks for your post @jae-wd

I think you need to appreciate that OB isn't a finished product and more flexibility will be added with future releases.

[2016-03-16 03:10] jae-wd commented on #905
That's great to hear @drwasho!

Just wanted to make sure this problem is known to developers so they can pay attention to it when time allows for it. So far the checkout experience looks like its focused on local US trades, international sellers will need a set of different features.

Another thing, some countries (like Hong Kong) don't use ZIP codes, so they shouldn't be mandatory on checkout.

[2016-03-16 03:36] drwasho commented on #905
Thanks for the tip about zip codes!

Ultimately I'd like for users to be able to optionally use APIs from services like Shippo and import the shipping data/cost from there.

[2016-03-16 04:38] jae-wd commented on #905
Just checked out Shippo, it looks great. Unfortunately again mostly for North American market.

I'm trying to figure out how it could be possible to work around the problem without implementing the functionality so people can start using OB as soon as it's out.

Perhaps there could be a "custom fee" field which would allow buyers to add extra money with the order. This would basically solve all po

[2016-03-16 04:57] jae-wd commented on #905
Or is it currently the case that if the buyer simply pays more to the escrow address all the BTC gets forwarded to the seller? That would solve the problem before a solution gets implemented.

[2016-03-16 16:10] hmang21 opened #1127 "Clicking back on wallet page form yes, brings you to no page"
Brief Description: When buying an item, if you click "yes" that I have a wallet, and then click back, it brings you to the page which shows all available wallets (the no option).

This should bring you back to the "yes" "no" page.

Operating System (OS and version): MAC 10.10.5 (14F1605)
OpenBazaar version (shown on `About OpenBazaar` page in menu): Version 1.0.9
Hardware: Laptop

Reproducible (Al

[2016-03-16 16:18] jjeffryes commented on #995
Closed by #1128

[2016-03-16 16:18] #995 closed, assigned to jjeffryes

[2016-03-16 19:58] morebrownies opened #1130 "When hovering a user generated link, the UI should display the link address in a tooltip or status bar."
When I hover a link in a description or on an about page, it would be very nice to show the link address in a tooltip or status bar so that I know where it will be taking me. Currently you have to click blindly, which could be dangerous.

<img width="717" alt="screenshot 2016-03-16 14 55 40" src="https://cloud.githubusercontent.com/assets/13066886/13826798/56ca965c-eb87-11e5-98ec-fa781766247a.png"

[2016-03-16 21:32] #1127 closed, assigned to jjeffryes

[2016-03-16 23:05] rmisio commented on #922
@morebrownies What color did you have in mind? Since this isn't a user page driven by the theme, we could just directly set the background-color in the css file.

[2016-03-16 23:08] rmisio commented on #913
this is fixed and ready for verification.

[2016-03-16 23:14] rmisio commented on #708
This issue is no longer relevant since the settings save dialog was converted into a status bar message on the bottom of the screen. Unless, that guy is also bland?

[2016-03-17 00:12] SavageCore commented on #1038
Also discussion here: https://github.com/OpenBazaar/OpenBazaar-Server/issues/260

[2016-03-17 00:38] #1130 closed, assigned to nobody

[2016-03-17 00:41] #913 closed, assigned to nobody

[2016-03-17 00:41] jjeffryes commented on #708
I think it's sufficiently non-bland now.

[2016-03-17 00:41] #708 closed, assigned to morebrownies

[2016-03-17 14:06] drwasho opened #1133 "Listings stock units"
When the user creates a listing, they need to be able to set the quantity of units available for purchase. When an item is purchased, the stock available for purchase should reduce until it is out of stock.

I believe the listing Ricardian Contract has a `quantity` field, but I'll check up on that. One approach would be to auto-edit the original listing to reduce the `quantity` value **after** the

[2016-03-17 14:42] jjeffryes commented on #1133
This will need a matching backend ticket, the changes there are more complicated.

[2016-03-17 14:53] morebrownies commented on #1022
Still seeing the same issue with each new follower.

[2016-03-17 15:01] morebrownies commented on #990
A reminder to tell the user they're on their own store seems like overkill. What we have in place now should be good enough.

[2016-03-17 15:01] #990 closed, assigned to jjeffryes

[2016-03-17 17:07] jjeffryes commented on #1133
This would require the following modifications on the client:
1. if get_homepage_listings and get_listings return the inventory for each item, the client would display them, and have filtering to show or hide zero inventory listings.
2. the inventory would be displayed on the item view
3. in the buying flow, the user would be prevented from purchasing a quantity above the current inventory.
4. whe

[2016-03-17 20:23] jjeffryes commented on #899
I'm not sure what this ticket is referring to. There is no new review notification. The closest thing is the payment received notification, which is sent when an order is finalized (this is when the review is made). That notification is working correctly.

[2016-03-17 20:25] ghost commented on #899
I should say "Rating notification". When I click on a [notification like this](http://content.screencast.com/users/TylerBSmith/folders/Jing/media/d24b7fe7-9a3b-4db0-b999-f6f843abb85c/00000436.png) it simply closes the notification pane instead of taking me to the rating screen for that order.

[2016-03-17 20:30] jjeffryes commented on #715
Do we have information on how to open a onename page with credentials prefilled? I don't see a way to do it with their published API.

[2016-03-17 20:31] shea256 commented on #715
Hey @jjeffryes we haven't added that yet but we will support it shortly and will circle back.

[2016-03-17 21:57] #91 closed, assigned to nobody

[2016-03-17 21:59] jjeffryes commented on #342
This has been done.

[2016-03-17 21:59] #342 closed, assigned to hoffmabc

[2016-03-17 21:59] #574 closed, assigned to jjeffryes

[2016-03-17 22:00] #624 closed, assigned to morebrownies

[2016-03-17 22:00] #797 closed, assigned to nobody

[2016-03-17 22:04] jjeffryes commented on #803
The client uses the symbol for each currency, which is the standard setting for international currencies.

[2016-03-17 22:04] #803 closed, assigned to nobody

[2016-03-17 22:05] #815 closed, assigned to nobody

[2016-03-17 22:05] #816 closed, assigned to nobody

[2016-03-17 22:06] jjeffryes commented on #829
Without more information, we can't reproduce this issue.

[2016-03-17 22:06] #829 closed, assigned to nobody

[2016-03-17 22:06] jjeffryes commented on #898
This was fixed.

[2016-03-17 22:06] #898 closed, assigned to nobody

[2016-03-17 22:07] #989 closed, assigned to jjeffryes

[2016-03-17 22:09] jjeffryes commented on #979
This was fixed.

[2016-03-17 22:09] #979 closed, assigned to nobody

[2016-03-17 22:09] #971 closed, assigned to nobody

[2016-03-17 22:10] jjeffryes commented on #940
This issue has not been possible to reproduce.

[2016-03-17 22:10] #940 closed, assigned to nobody

[2016-03-17 22:11] jjeffryes commented on #938
This was fixed.

[2016-03-17 22:11] #938 closed, assigned to nobody

[2016-03-17 22:12] #1045 closed, assigned to nobody

[2016-03-17 22:16] jjeffryes commented on #1019
This appears to be a server issue with libbitcoin being very slow. I can reproduce it using a slow VPN, If the vendor marks the item as confirmed it updates to confirmed in the client.

[2016-03-17 22:18] jjeffryes commented on #1019
I'm closing this, but opening an issue on the server, since it appears to be a server issue.

https://github.com/OpenBazaar/OpenBazaar-Server/issues/301

[2016-03-17 22:18] #1019 closed, assigned to nobody

[2016-03-17 22:22] jjeffryes commented on #1018
This is a server issue, I am closing it here.

[2016-03-17 22:22] #1018 closed, assigned to nobody

[2016-03-17 22:50] drwasho commented on #1133
I mentioned this in the server issue, but we should only be reducing the inventory after an order has been funded. This will prevent an attacker performing a near zero-cost attack to deplete a target Vendor's inventory for sale.

For changing the inventory number after a funded order, are we making a simple edit of the original listing or do you suggest something more sophisticated @jjeffryes ?

[2016-03-17 23:51] drwasho commented on #840
Ok, did a little research. This is an example of the response to a `get_ratings` call:

[code]

What I think we should display is a button that links out to the `address` value via Blockcypher... perhaps something like this:

![image](https://cloud.githubusercontent.com/assets/3887694/13864619/c216e01a-ecee-11e5-8c5b-3a75059f7381.png)

@morebrownies this could definitely use your talents.

[2016-03-18 00:45] jjeffryes commented on #1133
Editing the original contract after an order is funded is what I was thinking.

Comments left in the other issue re: subtracting inventory.

[2016-03-18 04:50] drwasho opened #1137 "Avatars on the 'Funds' tab of an 'Order Details' modal fail"
![image](https://cloud.githubusercontent.com/assets/3887694/13868819/b012712a-ed18-11e5-8fa4-4b60262ae639.png)

This is a long-standing bug I've seen, but can someone please confirm that one or both of these avatar images aren't loading?

[2016-03-18 10:12] Kirvx commented on #1137
Can confirm, but no problem with moderators:
![3](https://cloud.githubusercontent.com/assets/6627786/13874781/398e1478-ecfa-11e5-990b-190d2203ba68.png)

[2016-03-18 11:48] jjeffryes commented on #1137
The buyer's avatar can be easily fixed, but not the vendor's avatar. The avatar_hash for the vendor isn't in the data for the contract. We could make a call to the profile for it, but that would slow things down, especially if the vendor is on a slow connection.

[2016-03-18 15:40] #1137 closed, assigned to jjeffryes

[2016-03-18 15:41] 8vkt97npu8 opened #1139 "When pasting bitcoin address, leading spaces cause input to be rejected as invalid"
Brief Description:

Operating System (OS and version): Ubuntu
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware: 1.0.9

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Buy something
2. Paste in bitcoin address when paying (paste in leading space and address)
3.

Observed Behavior:
Field is highlighted red but the

[2016-03-18 18:59] morebrownies opened #1140 "Checkboxes no longer look like checkboxes"
I just noticed these changed. Can we restore them to how they use to look? Or was there a reason for the change @jjeffryes?

<img width="111" alt="screenshot 2016-03-18 13 58 18" src="https://cloud.githubusercontent.com/assets/13066886/13888845/956f826a-ed11-11e5-9efc-c9ba24722a18.png">

[2016-03-18 19:47] morebrownies opened #1141 "ob:// links and handles within conversations should be clickable"
It would be very nice if users could click the links instead of having to copy and paste them into the address bar.

<img width="240" alt="screenshot 2016-03-18 14 45 44" src="https://cloud.githubusercontent.com/assets/13066886/13890201/39dd17a8-ed18-11e5-9d07-881bef02189a.png">

[2016-03-18 19:54] morebrownies commented on #1141
Same goes with http:// urls, especially in the discussion tab. The buyer/seller will probably want to include links to images and not being able to click to open them is a minor inconvenience.

[2016-03-18 20:32] morebrownies opened #1142 "We need a better empty state for the Shipping & Returns tab on a listing"
If the shipping tab is completely empty, can we output a simple message "No details specified" instead of the empty table?

<img width="1075" alt="screenshot 2016-03-18 15 30 04" src="https://cloud.githubusercontent.com/assets/13066886/13891316/62b58dc6-ed1e-11e5-8b82-74f07d7fa3de.png">

[2016-03-19 00:35] ghost commented on #983
I got the same error in Windows 7 64 bits, OB version 1.0.9

[2016-03-19 06:23] ghost commented on #908
A small fix needed:

Now when OB window is already maximized, "Maximize (+)" button keeps its title, but it should be renamed to "Restore".

[2016-03-21 00:10] drwasho commented on #1142
Agreed. Basic placeholder text needs to be there, otherwise we should remove the tab altogether (which I don't think we should do).

[2016-03-21 00:19] drwasho commented on #965
### Week of 21st of March, 2016

Lots improvements and fixes have been made. We're now in the phase of coming to some internal consensus regarding the issues we cannot launch without.

**Updated list of priority mainnet requirements:**
1. #966 ~~Auto update listings to include a newly added moderator~~
   - :wrench: Server
2. #840 ~~Reputation functions: link to multisig address on block explorer~

[2016-03-21 00:19] jjeffryes commented on #1140
The checkboxes weren't lining up right, so I switched them to use a variation of the radio button classes. They're supposed to be squares, not rectangles.

It's just temporary until I switch both radio buttons and checkboxes to use icons from the ionic set. Once that's done they'll automatically pick up the text color, and we won't have to add a bunch of styles in setTheme to cover checkboxes and

[2016-03-21 10:38] mariodian commented on #1139
I'll fix it

[2016-03-21 13:42] mariodian opened #1148 "Notification list empty despite "bell" icon showing new notification"
Brief Description:
When someone follows my page, I get a notification in OS X, as well I can see the (1) orange badge over the "bell" icon in the OB navigation. However after clicking the icon I don't see the notification in the list.

I think this behavior might have something to do with the fact that I've already received the notification to the notification center in OS X.

Operating System (OS

[2016-03-21 15:44] #1139 closed, assigned to nobody

[2016-03-21 16:22] jooray opened #1152 "Creating new item with UTF-8 character in name says "Data could not be saved""
Brief Description: I fill in all the required fields in new item, with the name
containing an UTF-8 enhanced character, I use

"Tajné plány"

and click save changes and I get an error "Data could not be saved" without any other
information.

I am testing OpenBazaar in a Slovak translation, but
I tried in English as well with the same result.

Operating System (OS and version): Mac OS 10.11.3 (15D2

[2016-03-22 06:36] mariodian commented on #1148
I pulled the latest server from git and I can see all past notifications now. I will check with someone whether I can see new notifications as well and if so, I'll close the issue.

[2016-03-22 06:46] mariodian commented on #1126
I'll fix it

[2016-03-22 08:48] mariodian commented on #1126
I'm getting the version number from package.json. Hope it's ok. I'm not getting it directly from electron instance, because it shows the version of electron on this dev repo, not the version OB. However in the production it would work ok. The way I did it, it's ok on both.

[2016-03-22 09:02] mariodian commented on #1141
I think this should be done on the server side in one place instead of multiple places in the client's app.

[2016-03-22 13:40] JustinDrake opened #1158 "Invoice QR code privacy leak"
The invoice QR code generated for a purchase has quite a bit of information about the purchase. Here is an example purchase for listing `ob://72aceac3d5d0b7aa5d209b003f4e1d6cf6167781/listing/07fa322011ae2ca0fa278cd6944fccdc700c562d`:

The `message` tag has the full description "Ledger Nano Testnet Edition". This means that the average mainstream user who uses a centralised service (e.g. Coinbase,

[2016-03-22 13:44] #1148 closed, assigned to nobody

[2016-03-22 13:48] hoffmabc commented on #1158
That's a good point and probably should be able to disable this. It's also a very useful feature for remembering your purchases. People who are paranoid could probably just copy the stuff over for now, but maybe a checkbox to not include the description would be easy to implement and helpful.

[2016-03-22 13:49] SamPatt commented on #1158
This is a good point. It's certainly very convenient for a user who controls their own wallet but we don't want to be leaking info to others. @hoffmabc, your thoughts on this?

[2016-03-22 13:49] JustinDrake commented on #1158
@hoffmabc The real question is opt-in or opt-out?

[2016-03-22 13:53] mariodian commented on #1158
I think users should always decide on their level of privacy, thus opt-in.

[2016-03-22 14:03] mariodian commented on #1152
I have the same issue. This is what API returns:

`{
    "reason": "",
    "success": false
}`

[2016-03-22 14:30] jjeffryes commented on #1152
This is a server issue, the client just passes the data along. I'll open an issue there.

[2016-03-22 20:19] #1062 closed, assigned to morebrownies

[2016-03-22 20:21] jjeffryes commented on #1043
It should be possible to open the menu when the about modal is showing. The issue with the menu being behind the modal has been resolved.

[2016-03-22 20:21] #1043 closed, assigned to nobody

[2016-03-22 21:21] morebrownies commented on #922
Good call, I'll make the change @rmisio

[2016-03-22 21:33] jjeffryes commented on #983
It appears Electron is trying to fire Menu.sendActionToFirstResponder when control z is pressed too many times.

From the documentation, that's a call for Mac OS X. https://github.com/atom/electron/blob/master/docs/api/menu.md#menusendactiontofirstresponderaction-os-x

This may be a bug in Electron.

[2016-03-22 22:46] ghost opened #1163 "Client language changes only after connecting to server"
My client is set to be displayed in Brazilian Portuguese. However, client opens first displaying in English and changes to Portuguese only after successfully connecting to server.
- Operating System: Win 7 64 bits
- OpenBazaar version: 1.0.9
- Reproducible: Always

![trying to connect](https://cloud.githubusercontent.com/assets/10789865/13970144/cd3254f0-f065-11e5-99a9-9d89f1e82c9f.png)
![unable t

[2016-03-22 22:57] drwasho commented on #1158
This helps more than it harms users. I think it should be opt-out.

[2016-03-23 09:35] JustinDrake commented on #1158
@drwasho Why is `help > harm`?

[2016-03-23 10:17] drwasho commented on #1158
For the reasons that Brian stated.

[2016-03-23 10:43] dsmurrell commented on #1158
@drwasho @hoffmabc What do you guys think about the seller's server making a suggestion to the buyer's client that this metadata should or should not be encoded in the QR code? One possibility at the moment is to use the NSFW tag to suggest that the metadata shouldn't be encoded, but for extra flexibility this may be a separate option. Then on the buyer's side, there could be an option to 1) not e

[2016-03-23 15:25] JustinDrake commented on #1158
+1 In the case of NSFW content the default should probably be opt-in.

[2016-03-23 15:54] hoffmabc commented on #1158
I think most people will overwhelmingly be purchasing items that they are comfortable with having in their memo fields. If they are purchasing things that would get them booted from a centralized service then I have three suggestions:
1. You shouldn't be using a hosted wallet solution that can scan your purchases
2. We can provide opt-out checkbox or the like and then it's no longer an issue.
3. Y

[2016-03-23 19:18] hoffmabc opened #1164 "Reviews Tab in Items Should be Reverse Chronological"
Self-explanatory.

[2016-03-23 19:56] hoffmabc commented on #125
Is this completed?

[2016-03-23 19:57] hoffmabc commented on #183
Can we get an update on this @jjeffryes ?

[2016-03-23 20:19] jjeffryes commented on #125
No work has been done on this yet.

[2016-03-23 20:33] jjeffryes commented on #183
This was completed a while ago. In Settings/Store, changing your store to inactive hides it without deleting anything.

[2016-03-23 20:33] #183 closed, assigned to nobody

[2016-03-23 21:19] #1141 closed, assigned to nobody

[2016-03-24 00:34] morebrownies commented on #1141
:+1:

[2016-03-24 04:55] #899 closed, assigned to jjeffryes

[2016-03-24 04:55] #1053 closed, assigned to jjeffryes

[2016-03-24 04:56] #966 closed, assigned to nobody

[2016-03-24 06:23] drwasho opened #1169 "Show Toggle and Warning for Global Listings"
Something that we've discussed internally is to show listings from nodes that the user is following by default. The user can then select a toggle to show global listings, which will trigger a popup modal to warn them that they are going to see random listings, some of which may be offensive. The user would then have to press 'ok' or 'cancel' to proceed from there.

Some designs from @morebrownies:

[2016-03-24 06:25] drwasho commented on #860
@jjeffryes I recommend that a 'win' for the buyer is considered to be a payment >50%.

[2016-03-24 06:30] drwasho commented on #1152
Closed, as this is a server issue.

[2016-03-24 06:30] #1152 closed, assigned to jjeffryes

[2016-03-24 06:34] drwasho commented on #531
Similar to #1133, but an enhancement to build upon once we can count and reduce available stock after purchase.

[2016-03-24 06:35] drwasho commented on #572
This will be important once we get the feed going @morebrownies

[2016-03-24 06:42] drwasho commented on #1056
Ok I think I finally understand the request here @jjeffryes. When the Vendor has confirmed/shipped the item, they have no options to refund the purchase without the Buyer opening a dispute to request a refund.

Ideally we want to try and let the Buyer and Vendor resolve this before dispute resolution is entered. This would mean that the Buyer would use the chat to let the Vendor know that they'd l

[2016-03-24 06:55] drwasho commented on #854
I think this got fixed.

[2016-03-24 06:55] #854 closed, assigned to nobody

[2016-03-24 06:56] drwasho commented on #850
Can we get an update on this @gubatron or @jjeffryes ?

[2016-03-24 06:58] drwasho commented on #892
Fixed.

[2016-03-24 06:58] #892 closed, assigned to nobody

[2016-03-24 06:58] drwasho commented on #916
All releases will be signed correctly from here on.

[2016-03-24 06:58] #916 closed, assigned to hoffmabc

[2016-03-24 07:01] drwasho commented on #912
I agree. Thanks for the suggestions @Dekker3D but we may pass on this for now.

[2016-03-24 07:01] #912 closed, assigned to nobody

[2016-03-24 07:06] drwasho commented on #941
This is what this issue needs to be about... notifying the Buyer how much they have left to pay.

[2016-03-24 07:11] drwasho commented on #983
If you select the Discovery search and press `ctrl z` it refreshes the listings below... actually kinda cool!

[2016-03-24 07:13] #986 closed, assigned to nobody

[2016-03-24 07:16] drwasho commented on #996
Great idea.
Linked to #572

[2016-03-24 07:18] drwasho commented on #1071
Please join slack.openbazaar.org for closer support.

[2016-03-24 07:18] #1071 closed, assigned to nobody

[2016-03-24 07:19] drwasho commented on #1102
We had some debate and we came to a rough consensus that hiding/blocking individual listings doesn't really make a lot of sense. Gonna pass on it for now. Thanks for the suggestion.

[2016-03-24 07:19] #1102 closed, assigned to nobody

[2016-03-24 07:20] drwasho commented on #1158
Ok this issue will be about adding an opt-out button to remove the metadata of the item from the QR code @jjeffryes.

[2016-03-24 07:26] drwasho commented on #1109
@SamPatt Something to add to the tutorials.

[2016-03-24 07:26] #1109 closed, assigned to nobody

[2016-03-24 07:27] drwasho commented on #1048
This has been fixed.

[2016-03-24 07:27] #1048 closed, assigned to nobody

[2016-03-24 07:31] drwasho commented on #1038
@jjeffryes should we just remove the PGP field if it's not going to be ready by the mainnet release?

[2016-03-24 07:32] #1033 closed, assigned to hoffmabc

[2016-03-24 07:34] drwasho commented on #1031
Can't decide if this is a feature or not lol. Thoughts @jjeffryes and @morebrownies ?

[2016-03-24 07:38] drwasho commented on #1028
I think this will require some changes to the `get_listings` API to return regions where the item will ship. Is that right @cpacia @jjeffryes ?

[2016-03-24 07:44] drwasho commented on #1002
I don't think this can't be done on a per transaction basis, as that would involve 'asking permission' to moderator every transaction before a purchase can be made (which isn't ideal)... only asking when there's a dispute is a bit crappy from a UX perspective.

Perhaps we can make it so that Vendors have to Follow a Moderator?

[2016-03-24 12:39] jjeffryes commented on #850
I think this is a post launch enhancement.

My recommended solution is when the user clicks "show NSFW" there would also be a checkbox for "remember this choice". If that is checked when the show button is clicked, the guid will be saved in local storage similar to how the avatarHashes are currently saved.

When viewing a page, the code would check for the guid, and if it is found skip the warning

[2016-03-24 12:42] jjeffryes commented on #1038
If @cpacia can't fix the server issue for launch, then we'll put TODO on these elements which will remove them from the UI.

[2016-03-24 12:45] jjeffryes commented on #1028
The listings already have ships_to, so this is just a client side change.

We'll probably need a toggle button for it.

[2016-03-24 12:49] jjeffryes commented on #1002
It might be good to give the moderator an option when they see a dispute in their cases view to decline to moderate, which would undo the dispute status of that transaction.

They should also have an option in the same place to remove themselves as a moderator for that store, which should prevent the store from adding them again as a moderator.

And then we'd need a way for the buyer and seller to

[2016-03-24 13:13] jjeffryes commented on #1031
A bug. I just removed pointer events from tooltips, so you can't click on it any more.

[2016-03-24 13:13] #1031 closed, assigned to nobody

[2016-03-24 15:16] ghost opened #1170 "Non-English characters not accepted in the listing title"
Brief Description:
If you use a non-english character in the listing title (such as ´ that is used oftenly in Spanish, like in "selección") the data can't be saved and it doesn't indicate what's the problem. It just says "Data could not be saved."

Operating System (OS and version): Windows 7 Ultimate
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.9
Hardware: AMD Athlon x64 Dua

[2016-03-24 15:28] jjeffryes commented on #1170
The rejection is happening on the server, I have opened a server issue for this.

[2016-03-24 15:28] #1170 closed, assigned to nobody

[2016-03-24 15:29] ghost commented on #1170
Oh! Ok, I didn't know that. Thanks!

[2016-03-24 15:42] jjeffryes commented on #1170
@dropestein no worries. There was no way for you to know where the error was happening. We only closed the issue here and moved it to the server repo so the right developers see it.

[2016-03-24 15:42] jjeffryes commented on #1170
Thank you for reporting it.

[2016-03-24 16:34] ghost commented on #791
You should take into account that while some countries use dot (i.e. 1.5 BTC) as decimal mark, others use comma (i.e. 1,5 BTC).

[2016-03-24 17:08] hoffmabc opened #1171 "Advanced Tab Settings"
- No libbitcoin info for new type of multiple server connection (encrypted)
- Disable Visual Effects helper text messed up

![image](https://cloud.githubusercontent.com/assets/45482/14024789/5c97e400-f1c1-11e5-8ad9-e82920f09239.png)

[2016-03-24 17:31] morebrownies opened #1172 "When the address bar input is focused, it should not prepend "ob://" if the field is null."
Ideally the input value would stay null since prepending ob:// in this scenario doesn't really serve a purpose.

<img width="1186" alt="screenshot 2016-03-24 12 29 12" src="https://cloud.githubusercontent.com/assets/13066886/14025425/06a050a0-f1bc-11e5-9034-6a382e4d4ef7.png">

[2016-03-24 17:35] SamPatt opened #1173 "Moderator cannot enter his payout address after clicking "send" if he forgot the first time"
Brief Description: Moderator cannot enter his payout address after clicking "send" if he forgot the first time.

Operating System (OS and version): Ubuntu 14.04
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.9
Hardware: Don't know / VPS

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. As moderator, do everything ne

[2016-03-24 17:36] #1172 closed, assigned to nobody

[2016-03-24 18:00] #1173 closed, assigned to jjeffryes

[2016-03-24 18:17] jjeffryes commented on #1171
I can't replicate the text alignment issue. Can someone with a Mac confirm whether this is showing up on OSX?

[2016-03-24 22:38] pryds opened #1177 "In order summary, a btc amount is ambiguous"
Brief Description: ~~After order has been confirmed,~~ the shown item btc amount is ambiguous if more than one item was bought. It is unclear if the btc amount is per bought item or per order line.

Operating System (OS and version): Ubuntu 14.04 LTS
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.10

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce

[2016-03-24 23:03] pryds opened #1178 "In listings, item condition and item type are not translated"
Brief Description: When viewing a listing, the item condition and item type (physical, service, etc.) are not translated, even though they _are_ translated when creating a new listing.

Operating System (OS and version): Ubuntu 14.04
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.10

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Observ

[2016-03-24 23:43] pryds opened #1179 "Several items/texts not translated/localized"
Brief Description: If a non-English locale is selected for the UI, there are several items and/or texts that still appear in English. These are the ones that I found:

![openbazaar-countries](https://cloud.githubusercontent.com/assets/4420584/14033937/d1a493da-f21e-11e5-8b95-13f5737111e2.png)

When creating a new listing (and throughout the rest of the app), the list of countries contains country

[2016-03-25 04:38] ghost opened #1180 "Shipping and Processing Time using plain text"
Another issue in internationalization:

"Processing Time", "Domestic Shipping Time", and "International Shipping Time" are now written in plain text like "3 Business Days".

It would be better for translation to have two separated select boxes, one for the number, and the other for "day(s)", "week(s)", "month(s)".

[2016-03-25 04:45] ghost opened #1181 "Buttons and tooltips are not responsive to long texts"
Some elements (buttons and tooltips) are not responsive to long texts. On translations that take two rows to display or that have longer sentences, text gets out of the element.

![followunfollow](https://cloud.githubusercontent.com/assets/10789865/14114443/583c93b6-f5ad-11e5-860a-bc1b3edfbca2.png)

![follow-2](https://cloud.githubusercontent.com/assets/10789865/14097026/ae7e4f40-f543-11e5-8c7d-4f

[2016-03-25 05:34] bumi commented on #905
From my experience international shipping rates are way too complex as that it can be abstracted into a general rule enforced by a software. There are too many variables defining the price and one of the main reasons is probably that logistics is so different in many countries.
OpenBazaar should not assume the US/EU only and consider countries outside of the "western bubble".
I'd also suggest to k

[2016-03-25 06:14] ghost opened #1183 "Error on edit button on about page (tooltip showing)"
When mouse is over edit button on about page, a tooltip "#settings/page" appears on the left.
![edit button on about](https://cloud.githubusercontent.com/assets/10789865/14039125/b686d496-f237-11e5-8f92-6870d38e0f82.png)

Operating System: Win 7 64 bits
OpenBazaar version: 1.0.10

[2016-03-25 07:34] pryds commented on #1169
But, but... Isn't this warning valid no matter which countries a user is seeing listings from, global or not? So if I deselect "Global listings", what keeps me from seeing listings from MY country that "may contain adult or illicit content and/or photos [I] may find offensive"?

Or is "Global" not to be interpreted in the geographic sense here?

[2016-03-25 07:57] pryds commented on #1133
If possible, would it make sense to let the seller choose whether they want to reveal the exact remaining stock quantity, or just show "available" or "out of stock" (and maybe "few left") to potential buyers?

Also, if stock count is only decreased after seller receives payment (which is good), I think that needs to be communicated clearly to buyers ("Your item is only reserved for you once your p

[2016-03-25 09:05] pryds opened #1184 "Variables in UI strings concatenated outside of i18n handling software"
Some translatable strings seem to be concatenated with variables outside of the i18n handling software. This has the clear disadvantage that the coder, not the translator, decides at which place the variable goes into the string (usually post- or prefixed), which makes translation into some languages clunky.

For instance the string "noTaggedResults" in English is "No listings found in your networ

[2016-03-25 09:56] pryds opened #1185 "DKK has disappeared as a local currency"
Brief Description: Danish krone, DKK, seems to have disappeared as an option for local currency pinning, even though it was present in earlier versions.

Operating System (OS and version): Ubuntu 14.04 LTS
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.10

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Open Settin

[2016-03-25 09:58] dsmurrell opened #1186 "OB closes unexpectedly when I click on 'Install update' popup."
I'm running El Capitan on a 2012 macbook air.

Here are the logs. Not sure if useful.

Process:               Electron [54057]
Path:                  /Applications/OpenBazaar.app/Contents/MacOS/Electron
Identifier:            com.electron.openbazaar
Version:               1.0.9 (1.0.9)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Electron [54057]
Use

[2016-03-25 14:53] drwasho commented on #1169
This is a good point @morebrownies and @jjeffryes... the term 'Global Listings' may be confused as a geographic thing rather than listings from random nodes.

[2016-03-25 14:54] drwasho commented on #1133
Great suggestion.

[2016-03-25 16:12] jjeffryes commented on #1169
"all listings" is a better term.

[2016-03-25 17:17] morebrownies commented on #1169
Good point. All listings > Off reads a bit strange too. I wouldn't expect to see anything when it's in the off position. hmm...

[2016-03-25 17:22] bumi opened #1187 "support for more flexible, global address systems"
_I am not sure if this topic was already raised but I have not found any related issues. If so please move or close this issue. thanks._

---

Currently it seems OB has a very US centric concept of an address with [street, city, state, country](http://share-michaelbumann-com.s3-website-eu-west-1.amazonaws.com/screenshots/ob-address.jpg).
This system does not work in most countries.
Already in many

[2016-03-25 17:24] morebrownies commented on #1169
What about Market listings?

Off = You're only seeing listings from stores you follow
On = You're seeing random listings from the market

[2016-03-25 17:43] jjeffryes commented on #1185
The available local currencies are based on what the 3rd party APIs we use for the fiat to BTC exchange rate provide.

We recently consolidated that code, so we check bitcoinaverages, then stop if it returns valid results. We only check other APIs if bitcoinaverages fails.

Previously we checked 4 APIs, and allowed any currency that returned from at least one of them. Unfortunately, this could tak

[2016-03-25 18:18] pryds commented on #1169
What about turning it upside down and make it "Show only listings from followees: on/off"? -- with possibly a better term than "followee" ;-)

[2016-03-25 19:04] pryds commented on #1123
When doing so, please don't exclude the 8% of all males who happen to be colour blind to some degree. Please, be very careful when you choose the colours to use for this.

A couple of informative articles:
http://designshack.net/articles/accessibility/tips-for-designing-for-colorblind-users/
http://understandinggraphics.com/design/designing-for-color-blindness/

[2016-03-25 19:18] morebrownies commented on #1123
I posted a solution for this on #874

We could do something similar for newly disputed orders as well. Instead of the orange indicator, it would show a red indicator. Showing an indicator for new orders and disputed orders seems like the most important scenarios to support. I don't know if we have support for this in the API to know when an order is new and not viewed yet, same goes for disputed o

[2016-03-25 19:41] pryds commented on #1123
Being able to choose which colours represent what is of course the best solution for any colour blind user, given representation has to be done with colours in the first place :-)

Anyway, I'm just mentioning this for devs to keep in the back of their minds, so they don't unintentionally block out a large percentage of user base from certain features.

[2016-03-25 19:53] jjeffryes commented on #1123
No vital information should use colors at all. Anything that you need to be able to see in order to use the client should be visible in greyscale, and in low contrast.

We may want to add a setting to use a set of default styles that are friendly to people with visual impairments, and have that as an option in onboarding.

[2016-03-25 20:59] jjeffryes commented on #840
Closed in #1189

[2016-03-25 20:59] #840 closed, assigned to jjeffryes

[2016-03-26 01:23] mariodian commented on #1187
Using just a single plain text field leaves us with no easy option to create filtering by country/city in the future.

I think omitting fields that are not applicable to your specific use case is a way to go. In case it's confusing I think we could rename the "state" field to an option "state/region" field. I'm pretty sure every country (or at least the majority) has a region that a city belongs t

[2016-03-26 02:52] bumi commented on #1187
thanks for your reply. filtering is a good point, but imho that should be attributes on the shop/product and not be related to the shipping information.

The state field was an example, which maybe could be made not mandatory. But it is not about the state field. The representation of a location is just very different from country to country especially considering non USA/EU countries. As a global

[2016-03-26 03:10] mariodian commented on #1178
I'll fix it.

[2016-03-26 03:10] mariodian commented on #1183
I'll fix it.

[2016-03-26 03:11] mariodian commented on #1183
Fixed, will create a pull request with more views related changes later.

[2016-03-26 03:28] mariodian commented on #1171
I could replicate it on OSX. I'll fix it, please post a screenshot of what it's suppose to look like.

[2016-03-26 04:21] jjeffryes commented on #1171
It should be vertically centered.

[2016-03-26 04:21] jjeffryes commented on #1171
It may be a float issue, making the text smaller, two lines, or removing some text may fix it.

[2016-03-26 04:26] mariodian commented on #1171
Removing some text will only fix it for English. It should be 2 lines instead. I'll look into it.

[2016-03-26 06:19] drwasho commented on #840
Great job Josh

[2016-03-26 08:44] pryds opened #1193 "All digital goods and services are shown to originate from buyer's country, not seller's"
Brief Description: No matter which digital good or service I view, it is shown to originate from my own country. Living in a very small country, I find this quite odd. Even one of Sam's listings is from my country ;-)

Operating System (OS and version): Ubuntu 14.04 LTS
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.10

Reproducible (Always / Almost Always / Sometimes / Rarely

[2016-03-26 08:57] pryds commented on #1185
That's too bad. Would have been a nice feature.

Any chance for a user to be able to select their own exchange rate source, or maybe just switch between the four you mentioned?

[2016-03-26 08:59] pryds commented on #1185
@jjeffryes It's a bit weird, though, because Bitcoinaverage _does_ seem to include DKK
https://bitcoinaverage.com/#DKK
https://api.bitcoinaverage.com/ticker/global/DKK/

[2016-03-26 12:34] jjeffryes commented on #1185
Do they? I'll have to look more closely, maybe we're dropping that currency out for some reason.

[2016-03-26 18:52] ghost commented on #1193
I got the same error on my client.

I believe that informing country of origin for these types of items (digital/service) should be optional.

[2016-03-26 18:54] ghost opened #1195 "Not translated strings on order screens"
Untranslated texts are marked in red below:

![untranslated1](https://cloud.githubusercontent.com/assets/10789865/14061871/eaa287be-f36a-11e5-9b45-6518642f999d.png)
![untranslated2](https://cloud.githubusercontent.com/assets/10789865/14061872/ed8fb83e-f36a-11e5-90aa-4bcd5a724b39.png)
![untranslated3](https://cloud.githubusercontent.com/assets/10789865/14061875/f1120af2-f36a-11e5-8f9a-9d16037aa244.

[2016-03-26 21:54] drwasho commented on #1195
They need to be translated in the JSON language file. You can make the updates via Transifex OpenBazaar page: https://www.transifex.com/ob1/openbazaar/

[2016-03-26 22:14] ghost commented on #1195
@drwasho These texts are coded in source code and don't have language strings. They are not included in JSON language file. This issue should be reopened.

[2016-03-26 23:39] jjeffryes commented on #1195
The word "Order" is using the Order phrase, it appears to have been removed from the language file. I'll add it back in.

[2016-03-26 23:39] jjeffryes commented on #1195
Some of the others are set in models, I'll fix those too.

[2016-03-26 23:50] #1195 closed, assigned to jjeffryes

[2016-03-27 06:07] ghost opened #1199 "Support GPS coordinates"
A buyer should be able to inform either an address, a GPS coordinate, or both. Drones need to know exactly where they are going to land.

[2016-03-27 17:24] ghost opened #1200 "Can't Reset Default Server Configuration"
Brief Description: My local server is not starting ([bug](https://github.com/OpenBazaar/OpenBazaar-Server/issues/251)), I tried to run the server on a remote machine but [failed](https://github.com/OpenBazaar/OpenBazaar-Server/issues/305). Now I installed latest beta version to check maybe the problem is fixed. I want to reset default server settings but [I can't](https://vid.me/8RFh), it asks me

[2016-03-28 02:03] jjeffryes commented on #1200
The username and password are generated by the server. The client gets them when it connects to the server during GUID generation, and saves them in localStorage.

When you restore your default settings, the client will reset to the local server, and if it has a valid username and password saved in local storage, it will use that.

If you are using a new install that has never connected to a local

[2016-03-28 08:14] ghost commented on #1200
Yes.

Thank you

[2016-03-28 08:14] #1200 closed, assigned to nobody

[2016-03-28 17:45] morebrownies opened #1202 "Search URLs should be clickable in Chat"
Currently they're plain text

<img width="357" alt="screenshot 2016-03-28 12 44 19" src="https://cloud.githubusercontent.com/assets/13066886/14084955/d516ab54-f4e2-11e5-9d67-70dacfc0a492.png">

[2016-03-28 19:45] #1169 closed, assigned to jjeffryes

[2016-03-28 22:36] drwasho commented on #965
### Week of 28th of March, 2016

Getting much closer to launch. Some key pieces came together on the server side over the weekend, which should clear a path to hopefully knocking over the remaining issues left for mainnet this week and next week.

**Updated list of priority mainnet requirements:**
1. #860 ~~Enable Buyer ratings if they win a dispute~~
2. #1133 Stock units for listings
   - Last mi

[2016-03-29 00:09] morebrownies commented on #1202
Looks like there is a bug.

<img width="267" alt="screenshot 2016-03-28 19 08 54" src="https://cloud.githubusercontent.com/assets/13066886/14094067/8bb071da-f518-11e5-86ac-1212579870b0.png">

[2016-03-29 00:09] morebrownies commented on #1202
I didn't add the extra ob://

[2016-03-29 00:19] drwasho commented on #1202
Seems to happen with me when you type `ob://#[tag]` => `ob://ob://#[tag]`

[2016-03-29 00:19] hoffmabc opened #1204 "Prevent subsequent Follow messages"
Follow spam will irritate and annoy users. Please only fire a notification when the first follow message comes in.

[2016-03-29 00:26] #745 closed, assigned to nobody

[2016-03-29 00:30] drwasho commented on #1186
@hoffmabc this is all you

[2016-03-29 00:33] drwasho commented on #1199
I think this issue can be folded into adding more flexibility in the Client for delivery locations, including Google Pin drops etc.

[2016-03-29 00:35] drwasho commented on #1142
This looks weird, a placeholder is really needed:

![image](https://cloud.githubusercontent.com/assets/3887694/14094472/f76f5644-f599-11e5-9ab5-1f2c53556e68.png)

[2016-03-29 00:51] drwasho commented on #1193
Thoughts @jjeffryes and @morebrownies ?

I think that locations should still be mandatory for services... but perhaps optional for digital items?

[2016-03-29 01:00] drwasho commented on #1187
Also discussed in #1199

[2016-03-29 01:12] morebrownies commented on #1193
It's definitely nice to know where the creator is from.

[2016-03-29 01:13] morebrownies commented on #1204
+1

[2016-03-29 01:16] ghost commented on #1193
Location is important only for physical items that need delivery (should be mandatory) or services that are done locally (should be optional). There are many services that location doesn't really matter to be done.

Making unnecessary information (country) mandatory for digital items and services is going to be a source for potential discrimination built into the system. Some people prefer not to

[2016-03-29 02:17] jjeffryes commented on #1202
The ob:// is required.

The internal links all start with #, so the code can't tell the difference between #bluedress and #userPage.

I can see if I can think of a more clever way to deal with it, but for now the options are have ob:// in front of tags and have them be clickable, or not have ob:// and they can't be clicked.

I added it to the @ because it looked weird to only have it for one of th

[2016-03-29 02:46] jjeffryes commented on #1193
The country of origin is in the contract, so it's available regardless of whether it's on the screen or not. Hiding it in the interface won't protect the privacy of anyone that doesn't want that data to be public, and it won't matter to anyone that doesn't mind.

If it's not consistently showing the right country of origin, that's a bug, and needs to be fixed.

[2016-03-29 02:48] ghost opened #1206 "Loading screen when navigating"
The loading screen currently used is annoying: it occupies all the screen, it appears every time a listing link is clicked (or when user hits back/forward button) and it takes some seconds to disappear.
I believe the user experience should simulate visiting a store website on a browser, therefore a "loading..." text/animation on a corner or an animated progress bar at header/bottom would be a bett

[2016-03-29 03:07] ghost commented on #1133
You should also set a limit to the maximum number of items and the total value of an order.

![limit number](https://cloud.githubusercontent.com/assets/10789865/14096857/2f252206-f542-11e5-8063-4eac2e2d9ebe.png)

[2016-03-29 03:17] rhcastilhos commented on #1181
Similar problem here as well:
![follow-2](https://cloud.githubusercontent.com/assets/10789865/14097026/ae7e4f40-f543-11e5-8c7d-4f1f7d5b2078.png)

[2016-03-29 03:25] ghost commented on #1163
I'm not sure if this is related, but the button on reload screen is also not being translated:

![reload button](https://cloud.githubusercontent.com/assets/10789865/14097154/bea89410-f544-11e5-99de-dc1d5f63954b.png)

[2016-03-29 03:53] ghost opened #1207 "Image gallery error"
I got these errors when clicking on the images of the gallery of this specific listing (couldn't reproduce it on other listings): ob://@serp/listing/f5172b1a2554d41a5d5961f320d034b48dc71966

Operating System: Win 7 64 bits
OpenBazaar version:  1.0.10

![image error](https://cloud.githubusercontent.com/assets/10789865/14097529/77c3877c-f548-11e5-80c3-c688bc094c32.png)
![image error2](https://cloud.

[2016-03-29 03:55] jjeffryes commented on #1202
Deleting previous comment, because I shouldn't check gitHub on mobile devices.

The extra ob:// is definitely a bug.

[2016-03-29 04:07] #1202 closed, assigned to jjeffryes

[2016-03-29 06:23] drwasho commented on #1207
I've seen this bug before, but I can see the images just fine via my node. I'm guessing this may have something to do with a connection timeout @cpacia @jjeffryes?

[2016-03-29 07:41] drwasho opened #1208 "Create 'resend all messages' button"
Based on @cpacia's commit: https://github.com/OpenBazaar/OpenBazaar-Server/commit/d6ff2fb3232bafba47517392b46bc952a6f583b2

[2016-03-29 14:08] Stemby commented on #722
Instead of OpenLayers, [Leaflet](http://leafletjs.com/) might be a better/simpler solution (OSM itself is using Leaflet for the slippy map).

+1 for migrating from Google Maps to OpenStreetMap.

[2016-03-29 15:47] rhcastilhos commented on #1181
Not enough space also here:
![notenough](https://cloud.githubusercontent.com/assets/10789865/14114159/5b0bf718-f5ac-11e5-95cc-8c94de9809d8.png)

[2016-03-29 17:13] jjeffryes commented on #1207
It looks like the base64 data for the image got corrupted. I can see that image fine from my computer, it's possible it was only partially downloaded, which gave the results above.

[2016-03-29 21:51] #1142 closed, assigned to jjeffryes

[2016-03-29 21:51] #1171 closed, assigned to jjeffryes

[2016-03-29 21:51] #1183 closed, assigned to jjeffryes

[2016-03-29 22:29] #922 closed, assigned to morebrownies

[2016-03-29 23:35] drwasho commented on #1207
Would the solution be to clear the cache and try and download it from scratch? Wider question should be whether we should have a 'clear cache' button in the Advanced settings?

[2016-03-30 01:00] ghost opened #1214 "Multiple addresses in same country on "Can ship to you""
If user has multiple addresses in the same country, the countries available for shipping shouldn't repeat on "Can ship to you" list.

![canshiptoyou](https://cloud.githubusercontent.com/assets/10789865/14128671/59a7bd74-f5f9-11e5-9934-e36f99111731.png)

[2016-03-30 01:16] ghost commented on #1193
Well, if display of "country of origin" is going to be mandatory on all listings, there should also be a "country of origin" item on user's about page. The only way I can see where a user is from is by visiting one of his listings.

[2016-03-30 01:35] ghost opened #1215 "Problems with shipping price on Shipping & Returns tab"
When using only bitcoin, bitcoin price should be displayed with currency unit and using less decimal digits for easy reading:
- 0.01354 BTC

When using local currency, converted price should be displayed after bitcoin price:
- 0.01354 BTC ($5.63)

![shipping](https://cloud.githubusercontent.com/assets/10789865/14129214/863e95b0-f5fe-11e5-95ec-f5096e1e1e53.png)

[2016-03-30 01:48] ghost opened #1216 "Elements that don't change language"
After changing language on settings, "Transactions" button and "Messages" title keep using prior language. They change to new language only after hitting Reload button.

![changinglanguages](https://cloud.githubusercontent.com/assets/10789865/14129407/544d7416-f600-11e5-82ff-9930991bbba7.png)

[2016-03-30 02:12] ghost commented on #1207
To reproduce the bug you have to click the images multiple times (at least 3 times) in a short period of time.

[2016-03-30 02:44] ghost opened #1218 "Text and background with same color"
Text color should not be allowed to be of the same color of the background.

An alternative would be an option "Disable other users pages color schemes", like "Disable Visual Effects" on settings.

![colors](https://cloud.githubusercontent.com/assets/10789865/14130240/06f750da-f608-11e5-8a67-3f7410ec698d.png)

[2016-03-30 13:27] jjeffryes commented on #860
This has been finished.

[2016-03-30 13:27] #860 closed, assigned to jjeffryes

[2016-03-30 22:49] drwasho commented on #965
Ok... we've accomplished all the 'can't launch without' features for OpenBazaar v1. Stock units for listings is still a stretch goal, but it's looking more like something we'll roll out shortly after the mainnet release.

[2016-03-30 22:49] #965 closed, assigned to drwasho

[2016-03-30 22:51] drwasho commented on #1208
Looks like this will be addressed on the server side here: https://github.com/OpenBazaar/OpenBazaar-Server/pull/319

[2016-03-30 22:54] drwasho commented on #1204
Looks like this will be addressed on the server side here: OpenBazaar/OpenBazaar-Server#319

Follow/unfollowing a node will be included in the ban score. Not sure if you want to add something client-side @jjeffryes ?

[2016-03-31 16:58] jjeffryes commented on #1038
The fields have been hidden, I am assuming the server issue will not be fixed by v1 release.

[2016-03-31 16:58] #1038 closed, assigned to drwasho

[2016-03-31 17:26] #1178 closed, assigned to nobody

[2016-03-31 17:29] jjeffryes commented on #1185
I checked, https://api.bitcoinaverage.com/all does not return DKK.

[2016-03-31 17:42] #1216 closed, assigned to nobody

[2016-03-31 18:38] jjeffryes commented on #1215
Fixed in commit a85c258

[2016-03-31 18:38] #1215 closed, assigned to nobody

[2016-03-31 18:48] #1214 closed, assigned to nobody

[2016-03-31 20:00] #1204 closed, assigned to jjeffryes

[2016-03-31 20:19] #1193 closed, assigned to nobody

[2016-03-31 21:27] #1022 closed, assigned to jjeffryes

[2016-03-31 23:41] drwasho opened #1225 "External images <img> in the client: fixes + tweaks"
# Part 1

There are some wrapping problems when you use `<img>` to add a wide image in the following locations:

**Listing - Description**
![image](https://cloud.githubusercontent.com/assets/3887694/14193838/b5fa05fc-f7eb-11e5-8fd0-cd61e061cddb.png)

**Chat**
![image](https://cloud.githubusercontent.com/assets/3887694/14193865/fb51338c-f7eb-11e5-8ee3-4cc562e4455e.png)

![image](https://cloud.githu

[2016-03-31 23:44] drwasho opened #1226 "Create/Edit Listing - 'Add a Shipping Region' tweak"
This is what we have currently:

![image](https://cloud.githubusercontent.com/assets/3887694/14194123/310ac77a-f7ee-11e5-858c-56a82b5e0989.png)

We should add in parenthesis: `(if applicable)`. Avoids 10 seconds of potential confusion.

[2016-04-01 00:00] #1208 closed, assigned to jjeffryes

[2016-04-01 00:09] jjeffryes commented on #1225
It looks like the only place the image size is an issue is in the item description? Or do you think there are problems in the other screenshots you posted?

[2016-04-01 00:14] drwasho commented on #1225
In the About page, the image stays at its original dimensions and is cut-off, similar to the Item Description. They really need to resize to fit the dimension of the frame, like it does in the Chat messages (not the conversation bar, which has its own issues).

[2016-04-01 00:14] jjeffryes commented on #1225
Also, what's the issue? If the images are too large, they should look exactly like they do in the screenshots.

Editing the image is going to be a problem. The Medium Editor renders the HTML in the description field. That means the images will always be images, not code.

The easy answer is to get rid of it, but then people will have to put in bold tags and things themselves.

The harder answer is

[2016-04-01 00:15] jjeffryes commented on #1225
I could maybe put in some code that only resizes images that are too big.

[2016-04-01 00:23] jjeffryes commented on #1225
I think my opinion here is if you use an image that is too big, it's up to you to fix it.

That can be either adding the right size in the HTML you're posting, or using a smaller image.

Painting the HTML to the DOM, then checking each element to see if it's too big, and then adding a 100% width to those elements is possible, but non-trivial to do. And could introduce weird bugs.

[2016-04-01 00:24] jjeffryes commented on #1225
BTW, that image in chat is only visible on your side, it gets stripped on the recipient's side, and when you reload the page.

[2016-04-01 00:27] drwasho commented on #1225
Sounds good. I'll mark this as a future thing to deal with then.

[2016-04-01 14:29] jjeffryes commented on #1140
this was fixed

[2016-04-01 14:29] #1140 closed, assigned to nobody

[2016-04-01 16:23] #1044 closed, assigned to jjeffryes

[2016-04-01 16:23] #1061 closed, assigned to jjeffryes

[2016-04-01 16:23] #1226 closed, assigned to jjeffryes

[2016-04-01 16:23] jjeffryes commented on #1126
Accidentally closed by a typo in a commit summary.

[2016-04-01 17:42] M45t3rJC commented on #1186
The same thing is happening to me as well, I'll attach the error log below...
After quitting OB will re-open but is not updated...
I'm running OB1.0.9
Downloaded 1.0.10 installer and lost the ability to choose local currency, only BTC available to select...

Error Log:
Process:               Electron [1138]
Path:                  /Applications/OpenBazaar.app/Contents/MacOS/Electron
Identifier:

[2016-04-01 20:38] #1163 closed, assigned to nobody

[2016-04-01 20:43] jjeffryes commented on #1164
Contracts and ratings don't have any time data recorded in them. That would have to be added on the server before ratings can be sorted using that data.

[2016-04-01 21:38] M45t3rJC opened #1234 "btc_price request fail / Local Currency list NOT populating, only BTC available"
Brief Description: I installed 1.0.10 from the installer and now BTC is the only currency that can be set.
I can run OB1.0.9 and OB1.0.10 side by side and 1.0.9 is still populating local currencies...

Operating System (OS and version): OSX 10.10.5
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.10
Hardware: MacBook Pro
2.3 GHz i7
4GB DDR3

Reproducible (Always / Almost Always /

[2016-04-02 02:48] shalnoff opened #1235 "freezing on start"
Brief Description:
just can't start installed application

Operating System (OS and version):
Release Linux Mint 17.3 Rosa 64-bit
Kernel Linux 3.19.0
MATE 1.1

OpenBazaar version (shown on `About OpenBazaar` page in menu):
openbazaar_1.0.10_amd64

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. download package
2. install
3. run

Obse

[2016-04-02 15:19] JustinDrake opened #1236 "Post-purchase link issue"
The OpenBazaar helpdesk got the following report which I'm proxying here:

[2016-04-02 20:27] #1177 closed, assigned to nobody

[2016-04-03 17:43] JustinDrake opened #1239 "Message offline vendor"
It should be possible to message offline vendors. Here is a discussion from the OpenBazaar helpdesk:

[2016-04-04 17:54] JustinDrake opened #1240 "Include commit hash of OpenBazaar-Server and OpenBazaar-Client used for build"
When a build is done, it would be very useful to have the hash of the commit hash of OpenBazaar-Server and OpenBazaar-Client used for build shown in the client somewhere. Maybe in "About"?

For example, the about page of Mac OS X shows the build code `15E65`.

![screen shot 2016-04-04 at 19 54 03](https://cloud.githubusercontent.com/assets/731743/14257634/0c7be39a-fa9f-11e5-8eac-d99a50d11e12.png)

[2016-04-04 18:49] Grix opened #1241 "Cannot enter @ symbol in text fields"
Brief Description:

When I try to enter the symbol @ into any text field, it takes me to the "Sales" page. It appears there is a keyboard shortcut tied to the same combination of keys as is used to write @, which is AltGr+2 on my keyboard layout (norwegian qwerty)

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.0

Reproducible (Alwa

[2016-04-04 19:12] ElucGeek commented on #1241
Issue confirmed, same issue with Swiss keyboard.

[2016-04-04 19:21] ElucGeek opened #1242 "Impossible to come back to a form after clicking a link"
Brief Description: Clicking links while filling a form (store creation form, listing creation...) will take you to another page with not possiblity to resume the previous form, you loose all your work.

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.0

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):

[2016-04-04 19:58] ElucGeek opened #1243 "Clone function doesn't keep shipping prices"
Brief Description: Clone function doesn't keep shipping prices

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.0

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Clone a listing with non zero shipping price using the clone button under an item
2. Shipping prices are set

[2016-04-04 20:00] ElucGeek opened #1244 "Edit function reset price to 0"
Brief Description: Edit function reset price to 0

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.0

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Edit item using the edit button under an item with price in BTC (not tested for others)

Observed Behavior:
Price is rese

[2016-04-04 20:21] ElucGeek opened #1245 "Special characters in description not supported"
Brief Description: Special characters in description not supported

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.0

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Use special character in description
2. Save change - error "Data could not be saved"

Observed Behavior

[2016-04-04 21:06] kristovatlas opened #1246 "Feature Request: QR scanner for refund address"

[2016-04-04 21:07] kristovatlas commented on #1158
For what it's worth, I like @JustinDrake's idea of making it opt-in for NSFW content.

[2016-04-04 21:08] JustinDrake opened #1247 "NaN BTC: float division by zero"
Proxying bug report given to the OpenBazaar helpdesk:

[2016-04-04 21:12] JustinDrake commented on #1247
Ok, a second person on the helpdesk has this issue.

[2016-04-04 21:12] SamPatt commented on #1247
Confirmed by multiple reports. Haven't gotten many details on how to replicate though.

[2016-04-04 21:12] jjeffryes commented on #1247
We think this may be connected to an issue with the bitcoinaverages api call failing. Can you find out if the same people are also unable to select a currency other than BTC?

[2016-04-04 21:13] jjeffryes commented on #1247
A screen cap of the error message would be helpful too, we're not sure when it's actually occurring.

[2016-04-04 21:14] kristovatlas opened #1248 "Feature Request: Allow user to specify BIP47 Payment Code to receive"
This would make issues related to address reuse and so forth a lot simpler; requires nontrivial engineering resources at present due to the lack of BIP47-supporting libraries.

[2016-04-04 21:15] JustinDrake commented on #1247
Seems to be related to OB stickers.

[2016-04-04 21:29] JustinDrake opened #1249 "Can't create listing: "data could not be saved""
Proxying from the @helpdesk:

[2016-04-04 21:31] JustinDrake opened #1250 "Specify city for shipping"
Proxying from @helpdesk:

[2016-04-04 21:36] JustinDrake opened #1251 "Cannot save data with accents"
I think this is a non-ASCII problem. Proxying from @helpdesk:

[2016-04-04 21:46] jjeffryes commented on #1250
The description field would be the most obvious place. Or they can send a message after the purchase occurs if they want it to be private.

[2016-04-04 21:46] #1250 closed, assigned to nobody

[2016-04-04 21:47] jjeffryes commented on #1251
This is probably the same as the issue we're having with UTF-8 characters.

[2016-04-04 22:18] JustinDrake opened #1253 "About one in three people ask "How do I find stuff?""
We're getting hundreds of message on the @helpdesk. Many many people who ask for help want to know "How do I find stuff?" and we point them to the Discover button. Maybe the Discover button can be highlighted when the app launches for the first time?

[2016-04-04 22:20] JustinDrake opened #1254 "Bit slow?"
Proxying from @helpdesk:

[2016-04-04 22:20] morebrownies commented on #1253
We do have that. Is it not working Josh?

[2016-04-04 22:21] jjeffryes commented on #1253
Apparently not.

[2016-04-04 22:22] JustinDrake opened #1255 "Shipping options not flexible enough"
Proxying from @helpdesk:

[2016-04-04 22:26] JustinDrake opened #1256 "Multiple stores"
About 1 in 15 people on the @helpdesk ask "Can I have multiple stores?"

I tell them they can have multiple instances of OpenBazaar running on different ports, but "it's technical".

[2016-04-04 22:49] jjeffryes commented on #1253
This is fixed in #1252

A timing issue was re-hiding it right after it was shown.

[2016-04-05 00:00] #1253 closed, assigned to nobody

[2016-04-05 01:03] M45t3rJC commented on #1234
I updated to 1.1.0 and still having the same issue...
Manually deleted OB from Application folder re-installed, I also restarted computer after deleting and before re-installing as well...

[2016-04-05 01:46] pgalvin-original opened #1257 "NSFW content option during setup does not do anything. Set to 'No' regardless of what is chosen."
**Brief Description:**
During the setup process, you're given the option to show or not show NSFW content. By default, it is set to not show. However, setting it to show doesn't do anything. If you view your settings later in the "General" section, it is still set to 'No'. However, setting it to 'Yes' here does work.

**Operating System (OS and version):** Linux, Ubuntu 16.04 (tested on 15.10 too)

[2016-04-05 01:47] drwasho commented on #1257
Yep, this is a known issue. We'll try and patch this by the next release.

[2016-04-05 03:39] ghost opened #1258 "Wrong conversion from BTC to non-USD currency"
See below:

OB version 1.1.0

![conversion error](https://cloud.githubusercontent.com/assets/10789865/14270660/a98b28d6-fac6-11e5-97af-cc4d935ed694.png)

[2016-04-05 05:34] M45t3rJC commented on #1247
I'm getting this error when  creating a new listing, I also received the error "your local currency not available" (USD).

[2016-04-05 07:49] mariodian commented on #1254
In case his computer is slow, he may try to disable visual effects in his settings.

[2016-04-05 07:50] enkumber commented on #1254
fast for me ...

[2016-04-05 09:10] mariodian opened #1259 "Bulk upload of store items"
From the slack:

[2016-04-05 10:56] MorgUK commented on #1249
I'm getting the same issue, field all filled in except the the odd optional one. Can't save at all.

[2016-04-05 11:01] drwasho commented on #1249
Can you post some more information so we can try and replicate the problem?

[2016-04-05 11:03] MorgUK commented on #1249
Not sure what I can add. I created the account, set up my page, set up everything. Then went to create a listing, added info to all sections except optionals and added pictures. Went to save and got "data could not be saved".

[2016-04-05 12:30] mirelon opened #1260 "JS error when selecting top menu items"
Operating System: Ubuntu 15.10
OpenBazaar version: 1.1.0

Reproducible Always

Steps to reproduce:
1. Start openbazaar
2. In the top menu, select Window -> Minimize

Observed Behavior:
Error message appears:
Uncaught Exception:
TypeError: Menu.sendActionToFirstResponder is not a function
    at MenuItem.click (/usr/share/openbazaar/resources/atom.asar/browser/api/lib/menu-item.js:71:23)
    at Fun

[2016-04-05 12:39] mariodian commented on #1260
FYI it works fine on the latest OS X.

[2016-04-05 12:55] mirelon commented on #1260
Ubuntu 15.10 (4.2.0-34-generic #39-Ubuntu SMP Thu Mar 10 22:13:01 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux)

Actually the safari-like minimize button works fine:
![image](https://cloud.githubusercontent.com/assets/1101497/14282222/bd40ccf6-fb3d-11e5-94d1-627e063c006a.png)

The top menu is available only in maximized mode:
![image](https://cloud.githubusercontent.com/assets/1101497/14282277/f5a2d1a2

[2016-04-05 13:00] jjeffryes commented on #1260
Can you post a screenshot of the top menu items that cause this error, @mirelon ?

[2016-04-05 13:07] JustinDrake commented on #1249
We've got about 5 people on the @helpdesk with this issue.

[2016-04-05 13:10] mirelon commented on #1260
I am not able to make a screenshot when the menu Window is rolled out, because at the pressing PrtScr button the menu fades out. But there are items "Minimize", "Close" and "Bring All to Front" and all are behaving the same

[2016-04-05 13:43] jjeffryes commented on #1260
We may need to disable that section on Ubuntu.

[2016-04-05 13:44] mirelon commented on #1260
Yeah it's kind of duplicate

[2016-04-05 14:14] Morveus opened #1262 "Shipping costs options too restrictive"
Hi!

Some critics from us as a company (Ledger): having only "Domestic" and "International" is the first problem we encountered when starting selling our products on OB.

The problem being that in some countries, shipping options are almost non-existant and the only service available can be very expensive. Having the possibility to specify costs per-country or geo-zone would be great, and differen

[2016-04-05 14:20] jjeffryes opened #1263 "Expanded Shipping Options."
This is a catch-all issue for the various concerns that have been raised for shipping options. Please leave comments here instead of opening new issues.

New shipping issues will be closed and directed to this issue.

[2016-04-05 14:21] jjeffryes commented on #1180
We're consolidating shipping issues in #1263

[2016-04-05 14:21] #1180 closed, assigned to nobody

[2016-04-05 14:24] jjeffryes commented on #1187
We're consolidating shipping issues in #1263

[2016-04-05 14:24] #1187 closed, assigned to nobody

[2016-04-05 14:24] M45t3rJC commented on #1263
Shipping and Processing Time using plain text #1180

This sounds like a nice enhancement...
+1

[2016-04-05 14:25] jjeffryes commented on #1255
We're consolidating shipping issues in #1263

[2016-04-05 14:25] #1255 closed, assigned to nobody

[2016-04-05 14:26] jjeffryes commented on #1262
We're consolidating shipping issues in #1263

[2016-04-05 14:26] #1262 closed, assigned to nobody

[2016-04-05 14:27] Anderson-Juhasc opened #1264 "Server does not connect more when I open for the second time."
Brief Description: After opening it again is just on screen again trying to connect to the server.

Operating System (OS and version): Ubuntu
Hardware: Intel® Core™ i7-4710MQ CPU @ 2.50GHz × 8

Steps to reproduce:
1. First opened.
2. Close
3. Try open again

[2016-04-05 14:27] jjeffryes commented on #1263
There are two parts to this issue. Shipping options in the listing, and addresses in the Settings section.

Options suggested for the Listings include:
- different rates for each country shipped to
- more than one country considered local for local rates
- allowing multiple ship from locations
- having multiple shipping options like express, registered, etc.

Options suggested for the Addresses in

[2016-04-05 14:33] jjeffryes commented on #1249
This is being tracked as a server issue. https://github.com/OpenBazaar/OpenBazaar-Server/issues/329

[2016-04-05 14:38] Morveus opened #1265 "VAT should be supported"
Hi!

This issue is a bit linked to this one: https://github.com/OpenBazaar/OpenBazaar-Client/issues/1262
Companies need to apply different tax percentages (at least that's how it works in France and I guess some countries in the EU) depending on where the products are sent and annual volumes.

It is really important that the seller can specify if his listing price includes VAT (if I'm a company) o

[2016-04-05 14:41] Morveus commented on #1262
Thank you

[2016-04-05 16:26] sondreb commented on #1241
Same issue in Scandinavia.

[2016-04-05 17:33] jjeffryes commented on #1234
This issue is being tracked in the server repo, please add any updates there. https://github.com/OpenBazaar/OpenBazaar-Server/issues/328

[2016-04-05 17:33] #1234 closed, assigned to nobody

[2016-04-05 17:37] jjeffryes commented on #1247
This was fixed on the client side in #1252

The server part of this issue is being tracked at https://github.com/OpenBazaar/OpenBazaar-Server/issues/328

[2016-04-05 17:49] jjeffryes commented on #1242
This is normal behavior. We'll look into saving in-progress data for a future iteration.

[2016-04-05 17:49] #1242 closed, assigned to nobody

[2016-04-05 17:51] jjeffryes commented on #1236
This was solved in #1252

[2016-04-05 17:51] #1236 closed, assigned to nobody

[2016-04-05 17:51] jjeffryes commented on #1248
We'll consider this for a future iteration.

[2016-04-05 17:51] #1248 closed, assigned to nobody

[2016-04-05 17:52] jjeffryes commented on #1246
We'll consider this for a future iteration.

[2016-04-05 17:52] #1246 closed, assigned to nobody

[2016-04-05 18:17] TheButterZone commented on #1263
https://github.com/OpenBazaar/OpenBazaar-Client/issues/905
https://github.com/OpenBazaar/OpenBazaar-Client/issues/1014

[2016-04-05 18:18] JerzySpendel commented on #1264
I think I have the same problem, but not sure if it failed to connect after second launch or even later.

[2016-04-05 19:01] jjeffryes commented on #905
We're consolidating shipping issues in #1263

[2016-04-05 19:01] #905 closed, assigned to nobody

[2016-04-05 19:03] jjeffryes commented on #1264
This appears to be a problem with the server eventually getting too bogged down and not responding to the client. PR #1266 should change the client so it eventually reaches the server instead of closing the connection, but the underlying problem with it taking a very long time will need to be fixed on the server.

[2016-04-05 19:56] TheButterZone commented on #1259
Bulk image upload too, if you have your filenames serialized.

[2016-04-05 20:12] TheButterZone commented on #1263
For Listings:
- All time fields should be optional.
- Ships To should **not** be Worldwide by default, due to customs declarations that people like me refuse to swear under penalty of perjury (as ignorance, of more laws than any normal victimless human can comprehend or abide by, is no defense). Rather than X-ing Worldwide and using the carpal tunnel syndrome-exacerbating country search, there sho

[2016-04-05 23:51] nhantrn opened #1267 "Respect native OS UI"
Please localize the GUI of whatever OS the client is running on. I'm on Windows 10 and the UI of OB client is terrible. I hate the location of the close/min/max buttom and they are too small. Also the dragging area is terrible. Please please please whoever is in charge of the GUI consider making native GUI for whatever OS the client is running on.

[2016-04-05 23:52] jjeffryes commented on #1267
Your opinion has been noted, we'll consider that when revising the design in the future.

[2016-04-05 23:52] #1267 closed, assigned to nobody

[2016-04-06 00:20] ghost commented on #1126
Updated:

The following texts are still not being translated into any language:

Page tab in Settings
- "Avatar" (title)

Advanced tab in Settings
- "Severely Restricted" (text)

[2016-04-06 01:01] ghost opened #1269 "Dark "Enter message..." in some pages"
When visiting some pages, "Enter message..." text is shown in dark.

![enter message](https://cloud.githubusercontent.com/assets/10789865/14302676/e32bb61a-fb79-11e5-888b-383ffba2586d.png)

[2016-04-06 01:14] drwasho commented on #1269
This has been fixed in a recent commit. Next release will include the fix.

[2016-04-06 01:17] gubatron commented on #1265
oh European union, what a clusterfuck of a taxation system they have over there.
Very valid request though.

[2016-04-06 01:24] drwasho commented on #1265
Given that OpenBazaar is a global marketplace, we cannot be expected to add the complex tax laws for 190+ countries into the protocol.

[2016-04-06 01:28] jjeffryes commented on #1265
This does point to the usefulness of some kind of post-purchase additional fee negotiated for each transaction separately.

[2016-04-06 04:21] nimchak commented on #1207
I have experienced this as well

[2016-04-06 05:12] ripper234 opened #1271 "Add more timezones, not just 24 different choises"
In the installation wizard, give the user the full list of timezones to choose from, not just 24 options. Some timezones e.g. Israel shift from GMT+2 to GMT+3 according to daylight savings time in a unique manner. To have a correct timezone in Israel, I need to be able to select "Jerusalem".

[2016-04-06 05:14] ripper234 opened #1272 "Pages should be more discoverable"
Imagine a new user installing OB for the first time.
He has no real idea what to do with the system.

The Discover:Pages page should be his default, perhaps.

If he didn't explore the system and got to this page, he would think there's nothing there for him in the Open Bazaar network.

[2016-04-06 08:15] btchip commented on #1265
Yes, this is not to be added in the protocol (even if other global marketplaces such as Amazon or Ebay seem to be handling it gracefully), but merchants should at least be able to do something similar to what @jjeffryes suggested. Otherwise this will lead to many complaints as products will be held by customs, end users will be paying random additional fees, and likely both

[2016-04-06 08:25] Morveus commented on #1265
@drwasho Merchants are expected to know about and to follow those complex tax laws, not OpenBazaar of course.
I'm only talking about adding an optional "tax value" variable for each destination, that the seller enables only if he needs it. It would be like most e-commerce platforms.

[2016-04-06 09:30] JustinDrake opened #1273 "Two pieces of feedback from a buyer"
Proxying from the @helpdesk

[2016-04-06 09:46] JustinDrake opened #1274 "Empty debug log"
On Mac, clicking `View Debug Log` opens an empty file. Is that by design?

![screen shot 2016-04-06 at 10 45 49](https://cloud.githubusercontent.com/assets/731743/14312576/c00e98b2-fbe4-11e5-98d6-aa02fdffba6e.png)

[2016-04-06 13:20] JustinDrake opened #1275 "Feedback regarding digital goods"
Proxying from the @helpdesk:

[2016-04-06 15:16] Grix commented on #1271
A good solution would be to be able to simply use the local system time

[2016-04-06 15:18] #1241 closed, assigned to jjeffryes

[2016-04-06 15:18] #1244 closed, assigned to nobody

[2016-04-06 15:18] #1264 closed, assigned to jjeffryes

[2016-04-06 15:18] #1243 closed, assigned to nobody

[2016-04-06 15:18] #1257 closed, assigned to nobody

[2016-04-06 15:18] #1260 closed, assigned to nobody

[2016-04-06 15:40] BugsBunE opened #1276 "clickable links bug on product page description"
Brief Description:  there is a bug with the product page description allowing clickable links that overlay the whole OB rendering it impossible to navigate back to a working UI

Operating System (OS and version): windows 64bit
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware:  1.1.0

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
always

Ste

[2016-04-06 15:45] BugsBunE opened #1277 "Messages not being cleared after multiple attempts and restarts of OB"
Brief Description: conversations are not being cleared from the message history, forced to restart OB multiple times doing the same process to remove the messages from the message history

Operating System (OS and version): win7 x64
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware: 1.1.0 64x

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Al

[2016-04-06 15:46] jjeffryes commented on #1276
Thank you for reporting this, @BugsBunE. This issue has been fixed in the master branch, that fix will be included in the next release.

[2016-04-06 15:46] #1276 closed, assigned to nobody

[2016-04-06 15:48] jjeffryes commented on #1277
Can you explain this issue with more detail? Are you clicking the "Clear Conversation" link in the chat sidebar, and the conversation is not being cleared?

[2016-04-06 15:49] BugsBunE commented on #1277
@jjeffryes yes that is correct, the message clears from the sidebar, when i reload OB its back again

[2016-04-06 15:59] BugsBunE commented on #1259
i think this would be great to have in the future also

[2016-04-06 16:44] BugsBunE commented on #1239
this is where https://bitmessage.org/wiki/Main_Page fits, maybe adding this next to the PGP Key field on the about page as a default

[2016-04-06 16:57] BugsBunE commented on #1239
![openbazaar_2016-04-06_12-47-05](https://cloud.githubusercontent.com/assets/18311119/14325389/1d47c0a0-fbf7-11e5-9fd0-545900b0e308.png)

something like this

[2016-04-06 17:26] jjeffryes commented on #1277
I can't reproduce this issue. We'll keep an eye on it and see if we can find out more about what's happening.

[2016-04-06 18:09] JustinDrake opened #1278 "Filtering listings not obvious"
On the @helpdesk, about 20 people have asked why they are only seeing 4 listings. We tell them to try disabling "Filtered listings". Maybe the toggle needs to be emphasized somehow?

[2016-04-06 18:12] jjeffryes commented on #1278
The toggle has been emphasized in master, and will be much more obvious in the next release.

[2016-04-06 18:12] #1278 closed, assigned to nobody

[2016-04-06 18:14] mariodian commented on #1278
I think this feature should be off by default. I don't see any case where somebody needs to only see items from stores he likes.

Perhaps it could be decided in the installation process? If I wasn't using Slack I'd probably never find the filter.

[2016-04-06 18:18] BugsBunE opened #1279 "possible addition of F5 reload page feature"
is it possible to enable F5 to refresh pages?

[2016-04-06 18:34] jjeffryes commented on #1278
Currently, we default to only followed stores because we can't control what images are in listings, and we've had problems when testing where people would use OpenBazaar for the first time and see disturbing or inappropriate images.

This is very much a temporary measure, long term we have significantly better solutions in the works.

[2016-04-06 18:37] gubatron commented on #1265
whatever the solution is, it must be a meta solution as tax laws like described by the OP can be really complex, it's not just having a tax per jurisdiction, but different rates depending on your sales volume too (Europe Taxation people, go home you're drunk)

[2016-04-06 18:38] mariodian commented on #1278
An image could be flagged and hidden by the user if he finds it offensive. But I'm looking forward to mentioned solutions.

[2016-04-06 18:40] gubatron commented on #1265
perhaps OpenBazaar needs to have a plugin framework, and like @jjeffryes said, this would be a great use-case for a post-purchase-plugin-hook, then let the free market develop a "European Taxation OpenBazaar Hookup" and let it be sold in the market place for European sellers.

Like in Wordpress land, a plugin-appstore could be a great way for OB1 to monetize on its ecosystem.

[2016-04-06 18:44] mariodian commented on #1265
OB is all about the free market so I think we should keep the tax thing as simple as possible. It's like having bitcoin inflated by FEDs. I don't think this is our goal.

[2016-04-06 19:24] Morveus commented on #1265
I'm pretty sure it's not just a "EU-only" issue (see https://en.wikipedia.org/wiki/Value-added_tax). I was suggesting a really simple solution: let this seller set a custom tax rate by destination.

Don't worry about the complexity of what I described in my first post, I was just explaining _why_ we need to be able to set custom rates, not suggesting that OB had to automate those calculations. If

[2016-04-06 20:22] eddieoz commented on #1264
After killing all instances inside bash and starting server manually, when loading the client it connects again.

`openbazaard start --loglevel debug`

Second time this issue occurs with me and I solved with that.

[2016-04-06 20:43] #1126 closed, assigned to nobody

[2016-04-07 01:27] rafael-ribas opened #1282 "Error: failed to fetch from registry: chosen/0.0.2"
Brief Description:

[code]

And taking a look at the error part inside the `npm-debug.log`:

[code]

Operating System (OS and version):

`Ubuntu 12.04`

[2016-04-07 03:02] Giszmo opened #1285 "The reimbursement address is asked too innocently"
On my first purchase I was asked for a reimbursement address and conveniently linked to rushwallet. After a successful purchase, I closed the rushwallet tab, believing this was something temporary, only to find the address in my settings later. Bad surprise that will make people lose money.

Why not have a wallet in OB over trusting rushwallet not to steal my funds?

[2016-04-07 07:23] juscamarena opened #1286 "Purchasing (Payment pending)"
Brief Description:

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.1
Hardware: Dell laptop

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Tried one purchase, other reports on slack. 3 confirms in.

Steps to reproduce:
1. Buy item
2. send money
3. no profit

Observed Behavior:
The link to the paymen

[2016-04-07 07:38] JustinDrake opened #1287 "1.1.1 completely fails for some"
On the @helpdesk several people are complaining that 1.1.1 is a complete failure for them (compared to 1.1.0). At least one guy is on windows 7 64 bit.

[2016-04-07 11:50] jjeffryes commented on #1286
This usually just means the libbitcoin servers are behind, after a while if you check the Transactions section your payment will go through.

[2016-04-07 11:51] jjeffryes commented on #1287
Can you provide more details?

[2016-04-07 12:57] Bitfinger commented on #667
I think transparent images should be supported to make the software more professional. It is a lot of work for people with current websites to change all transparent images to have background colours in order to set them up in OB.

I would suggest maybe the possibility of changing the default 404 image to a white one in the store settings.

[2016-04-07 13:24] Bitfinger commented on #545
This also becomes a problem when someone deletes their old installation of OB by accident and sets up a new one... the old store will never come online again and will clog up users "Following" list. It could become quite messy.

[2016-04-07 14:13] JustinDrake commented on #1287
Not really. I didn't dare try myself. See others with the same issue here: https://www.reddit.com/r/OpenBazaar/comments/4dpncl/unable_to_connect_to_your_server/

[2016-04-07 14:14] Bitfinger commented on #1285
Adding wallet functionality to OB can cause serious problems when inexperienced bitcoin users unwittingly delete their OB installation and their wallet keys along with it.

[2016-04-07 15:36] jjeffryes commented on #1287
The client has been updated to 1.1.2.

[2016-04-07 15:36] #1287 closed, assigned to nobody

[2016-04-07 15:36] #1286 closed, assigned to nobody

[2016-04-07 15:43] jjeffryes commented on #1275
It's likely we will add something like this in the future.

[2016-04-07 15:43] #1275 closed, assigned to nobody

[2016-04-07 15:45] jjeffryes commented on #1273
Shipping issues have been consolidated in #1262.

The payment received notification can sometimes take a long time if the libbitcoin server is backlogged.

[2016-04-07 15:45] #1273 closed, assigned to nobody

[2016-04-07 15:45] jjeffryes commented on #1272
This was fixed in 1.1.1.

[2016-04-07 15:45] #1272 closed, assigned to nobody

[2016-04-07 15:46] jjeffryes commented on #1256
For now, that is the correct response.

[2016-04-07 15:46] #1256 closed, assigned to nobody

[2016-04-07 15:46] #1254 closed, assigned to nobody

[2016-04-07 16:09] JustinDrake opened #1288 "1.1.2: Mac OS recommends moving to trash"
See screenshot. I can't run 1.1.2

![screen shot 2016-04-07 at 17 08 55](https://cloud.githubusercontent.com/assets/731743/14358102/7f303832-fce3-11e5-9d10-242ed3e278c5.png)

[2016-04-07 16:16] hoffmabc commented on #1288
is the checksum ok on the file?

[2016-04-07 16:56] JustinDrake commented on #1288
How can I check that? What's the command?

[2016-04-07 17:22] Libter opened #1289 "Can't type polish letters 'ę' (Alt + E) and 'ł' (Alt + L) beacuse of shortcuts"
OpenBazaar version: 1.1.2
Reproducible: Always

Just change shortcuts letters in js/config.js or replace Alt with Ctrl in shortcuts.

[2016-04-07 17:25] jjeffryes commented on #1289
@programmerpeter the shortcuts currently use Ctrl. They shouldn't affect Alt and another key at all.

[2016-04-07 17:43] Libter commented on #1289
I reinstalled OpenBazaar. Unfortunately Alt shortcuts still works, Ctrl shortcuts works too.

There is no reference for altKey in js/main.js, so I have no idea why this issue happens.

[2016-04-07 18:02] jjeffryes commented on #1289
I can't duplicate this, on my computer the alt key doesn't trigger shortcuts.

Can anyone else with a non-English keyboard replicate this?

[2016-04-07 20:19] jjeffryes commented on #1251
This is being tracked as a server bug. https://github.com/OpenBazaar/OpenBazaar-Server/issues/307

[2016-04-07 20:19] #1251 closed, assigned to nobody

[2016-04-07 20:20] jjeffryes commented on #1245
I think you meant title, not description. Special characters appear to be working normally in the description.

This is being tracked as a server bug. https://github.com/OpenBazaar/OpenBazaar-Server/issues/307

[2016-04-07 20:20] #1245 closed, assigned to nobody

[2016-04-07 20:30] M45t3rJC commented on #1288
I am getting the same error...

[2016-04-07 20:32] hoffmabc commented on #1288
Did you try the s3 link?

[2016-04-07 20:35] M45t3rJC commented on #1288
what/ where is s3 link???
I used the installer from OpenBazaar.org

[2016-04-07 20:37] jjeffryes commented on #1199
This has been consolidated under #1263

[2016-04-07 20:37] #1199 closed, assigned to nobody

[2016-04-07 23:39] ghost opened #1292 "Time Zones still not translated"
Time Zones on General Settings are still not translatable (don't have strings).

OB v1.1.2

[2016-04-08 00:50] ghost opened #1293 "Cannot select OpenBazaar ID on title"
It selects all title, and not only the OpenBazaar ID.

![openbazaar id](https://cloud.githubusercontent.com/assets/10789865/14371114/a1f37b0a-fd0a-11e5-8a23-3d2fa24e7522.png)

OB v1.1.2 win 7 64 bits

[2016-04-08 00:56] ghost commented on #1269
@drwasho Reopen issue. It is still not fixed on v1.1.2

![chat enter message](https://cloud.githubusercontent.com/assets/10789865/14371197/a30050e4-fd0b-11e5-9368-2882dab68d57.png)

[2016-04-08 01:11] ghost opened #1294 "Social media without links on about"
Only Website and Email are clickable.

![link on about](https://cloud.githubusercontent.com/assets/10789865/14371405/b69bd2d4-fd0d-11e5-91dd-394933e21590.png)

OB v.1.1.2 win 7 64 bits

[2016-04-08 01:25] ghost opened #1295 "Messages tab doesn't repopulate after changing language on settings"
Older messages are displayed only after restarting client.
OB v.1.1.2 win 7 64 bits

![chatrepopulate](https://cloud.githubusercontent.com/assets/10789865/14371572/864024c6-fd0f-11e5-911f-cedda251270e.png)

[2016-04-08 01:32] ghost opened #1296 "User cannot erase avatar image"
After user selects an avatar, the only option available on settings is to upload a new avatar. He can't choose not to use an avatar (can't use default avatar).

![avatar](https://cloud.githubusercontent.com/assets/10789865/14371672/5decab56-fd10-11e5-8f81-b772d4b8cf52.png)

[2016-04-08 01:47] ghost opened #1297 "Discussion 'send' button in uppercase"
This is the only button that uses uppercase.

![discussion send button](https://cloud.githubusercontent.com/assets/10789865/14371942/97d92806-fd12-11e5-9409-fc346b89893c.png)

[2016-04-08 08:37] JustinDrake commented on #1288
@hoffmabc What does `s3` mean? Where is the `s3` link?

[2016-04-08 09:53] MorgUK commented on #1277
I get the same issue.

[2016-04-08 09:54] Libter commented on #1289
Fixed: https://github.com/OpenBazaar/OpenBazaar-Client/pull/1298/commits/3a6652e1d5e0a9bf82870c36f63aefa98a6190b1

When alt key is pressed - e.ctrlKey and e.altKey is true.

[2016-04-08 14:54] BugsBunE opened #1300 "cannot connect to server"
Brief Description: failing to connect to server

Operating System (OS and version):  win 7 x64
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware:  OpenBazaar-1.1.2_Setup_x64.exe

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. load client on windows 7, no vmware
2. try to connect
3. fails and i retry to get same

[2016-04-08 16:01] drogongod commented on #1300
Having the exact Same issue with windows 10 64  tried full uninstall. I upgraded to OpenBazaar-1.1.2_Setup_x64.exe and it stopped working tried uninstall and OpenBazaar-1.1.2_Setup_x32.exe no good . keep getting cannot connect to server . Ran as administrator.

[2016-04-08 16:45] jjeffryes commented on #1300
If you have just installed, the best way to resolve this is to join the #installation-issues Slack channel. There are so many possible variables with installation on an individual computer that it's unlikely there is a single issue that is causing all installation problems.

http://slack.openbazaar.org/

If this is an existing installation, go through the following steps:
1. Try these instructions

[2016-04-08 16:47] #1258 closed, assigned to jjeffryes

[2016-04-08 17:28] #1289 closed, assigned to nobody

[2016-04-08 18:38] TheButterZone commented on #1288
Redownload it, the code has been resigned properly to comply with OSX's requirements and I didn't see any more errors like this, nor security warnings.

[2016-04-08 18:57] CobraX03 commented on #1008
This would be very helpful. I have noticed on Windows 10 that the image looks normal and after uploading the orientation is rotated for some reason and I am unable to fix this. When opening the image in Windows the orientation is correct but it is not displaying that way in the client.

[2016-04-08 19:25] hoffmabc commented on #1288
The new binaries are not giving this issue any longer thanks.

[2016-04-08 19:25] #1288 closed, assigned to nobody

[2016-04-08 20:27] #1294 closed, assigned to jjeffryes

[2016-04-08 21:41] JustinDrake opened #1304 "Remove Duo Money wallet option"
Please remove the Duo Money wallet option. Duo Money's payment service is not ready yet and having it  as an option is confusing.

[2016-04-08 21:50] emeitner opened #1305 "Feature Request: ability to unfollow offline users"
Brief Description:
We should have the ability to unfollow offline users. One must visit the users page to unfollow them but this does not work when  they are offline.

OpenBazaar version (shown on `About OpenBazaar` page in menu):  1.1.2

Solution:
In the "Following" list on ones own page there should be an "unfollow" button for each user listed.  This should remove them from your "following" list

[2016-04-08 21:58] #1295 closed, assigned to jjeffryes

[2016-04-08 22:26] toxicwind opened #1307 "Unfilitered Discover page caches old vendors, no new vendors."
Brief Description:
Discover page caches old vendors, no new vendors.
No new vendors appear even after restart/hitting discover again, but new vendors are findable with direct search.

Operating System (OS and version):
Windows 10
OpenBazaar version 1.1.2

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Open Client
2. Hit Discover Butt

[2016-04-08 22:27] Amiga500 commented on #1300
I have the same issue.. and i didn't resolved following these steps.. OB 1.1.2 with windows 7 64

[2016-04-08 22:34] hoffmabc commented on #1307
So one thing to understand is that the listings you see are a randomized assortment of listings from nodes in your "neighborhood". If you don't know how Kademlia works, essentially you have a routing table with a subset of all nodes in it that you are connected to. This could be why you only see some of the same types of listings over and over. Also you may have limited connectivity to all of the

[2016-04-08 23:03] ghost commented on #1305
Good point.

Also "Pages" tab in Discover show pages that are not followed AND pages that are  already followed.

If Discover purpose is to discover new pages, then it should show only pages that are currently not followed.

If Discover purpose is to browse existing pages (followed) and discover new ones, maybe a solution would be adding in Pages a filter (Filtered Pages) just like the one already

[2016-04-09 03:38] jjeffryes commented on #1305
This is a duplicate of #545.

It's something we've discussed for some time.

[2016-04-09 03:38] #1305 closed, assigned to nobody

[2016-04-09 03:39] jjeffryes commented on #1285
Additional details were added to the return address.

[2016-04-09 03:39] #1285 closed, assigned to nobody

[2016-04-09 03:45] jjeffryes commented on #844
The server only checks the validation again when the profile is saved.

A button has been added to recheck the validation, if we want the handle to be validated in another way there should be an issue opened on the server.

[2016-04-09 03:45] #844 closed, assigned to jjeffryes

[2016-04-09 11:17] pryds commented on #1292
I believe this is a duplicate of issue #1179.

[2016-04-09 16:16] JustinDrake opened #1309 "No response from the server"
Just installed 1.1.2, see screenshot:

![screen shot 2016-04-09 at 17 15 19](https://cloud.githubusercontent.com/assets/731743/14404800/bc14839a-fe76-11e5-8453-0faa3820200c.png)

[2016-04-09 16:50] hoffmabc commented on #1309
This is related to the CPU usage issue I believe.

[2016-04-09 16:51] dsmurrell opened #1310 "Report from @helpdesk"
"I just wanted to report a bug. Whenever I press CMD+W to close the window of openbazaar in OSX the app crashes. Please fix it. Thanks."

[2016-04-09 17:56] BugsBunE commented on #1300
https://www.reddit.com/r/OpenBazaar/comments/4e19dt/heres_a_fix_for_unable_to_connect_to_server/

downloading openssl fixed the connection issues on this version
also i re-added the new version into the windows firewall

[2016-04-09 18:02] Amiga500 commented on #1300
Thanks a lot.. it works :)

2016-04-09 19:56 GMT+02:00 BugsBunE notifications@github.com:

[2016-04-09 18:02] jjeffryes commented on #1300
More steps that may solve connection and other issues:

Install/update OpenSSL and other libraries that OpenBazaar uses:

Windows:
https://slproweb.com/download/Win64OpenSSL-1_0_2e.exe

Macintosh:
- Install Xcode command line tools
- Open the terminal and type: $ xcode-select --install
- Install homebrew
- $ ruby -e "$curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
-

[2016-04-09 18:03] jjeffryes commented on #1309
Server connection problems are consolidated in #1300

[2016-04-09 18:03] #1309 closed, assigned to nobody

[2016-04-09 18:16] Giszmo commented on #1285
The very concept of a static bitcoin address is a fading one. At least, OB should allow me to provide an XPUB.

And regarding the issue, it should ask for the address making clear that this will be the one and only bitcoin address used accross OB for whenever I receive funds (is that the case?).

[2016-04-09 20:40] jjeffryes commented on #1285
That is not the case. This is just the address used for any refunds for transactions, and it may be changed for each transaction.

When sellers wish to receive funds, they have to input a bitcoin address each time, whether they reuse one is up to them.

[2016-04-09 21:34] nerdy-sam opened #1311 "Graphic Acceleration Artifacts"
Brief Description: Black boxes cover most of the client with this in the log... (over and over)
[77278:0409/162705:ERROR:gles2_cmd_decoder.cc(7430)] [.Compositor-0x7fa2cbdba7f0]RENDER WARNING: texture bound to texture unit 0 is not renderable. It maybe non-power-of-2 and have incompatible texture filtering.

Operating System (OS and version): OSX 10.11.3
OpenBazaar version (shown on `About OpenBaz

[2016-04-10 02:44] jjeffryes commented on #1311
Does this happen every time you start the app, or only on certain pages?

[2016-04-10 03:08] nerdy-sam commented on #1311
Everytime I start the app, on every page, including settings... however, leaving it closed for a while and coming back to it... there are now no problems... might have just been my machine...

[2016-04-10 16:17] lunokhod opened #1312 "Not possible to format text in "About" page"
With the current client on OSX (commit 07a021c5eb23fd1dc7098a8e42b6f91768be4e80), it is not possible to format any of the text in the "about" field.

Formatting used to be possible with an earlier version of the client (by use of a pop-up menu) but that feature no longer exists. Though it says in the settings that basic HTML can be used, tags like H1 and H2 aren't recognized.

I would suggest allo

[2016-04-10 16:19] BugsBunE commented on #1259
having a way to **export** products that were already entered into OB would be great to have as well

[2016-04-10 17:51] K-clarke opened #1313 "Category Ordering"
A sellers listings should be ordered alphabetically instead of in the order which they were created. This will help buyers find the category they are looking for faster, especially as sellers stores grow larger and the amount categories they have will increase.

![screenshot from 2016-04-09 22 18 01](https://cloud.githubusercontent.com/assets/4810448/14411876/ac01ca86-ff4c-11e5-85d5-d4f052867943.p

[2016-04-10 17:54] jjeffryes commented on #1312
This is not a bug, we deactivated the formatting because it was causing invalid JSON to be saved in some instances, which would make your profile unreadable.

Once we have corrected that, formatting will be allowed again.

[2016-04-10 17:54] #1312 closed, assigned to nobody

[2016-04-10 18:07] K-clarke opened #1314 "Enlarged images overlap the side bar"
When an image of a item is enlarged it overlaps the side bar.

![screenshot from 2016-04-10 19 04 46](https://cloud.githubusercontent.com/assets/4810448/14411993/5413583c-ff4f-11e5-9063-a3e9395f268d.png)

![screenshot from 2016-04-10 19 04 37](https://cloud.githubusercontent.com/assets/4810448/14411994/5bbd85bc-ff4f-11e5-893d-d7b42672367e.png)

[2016-04-10 18:47] nimchak commented on #1300
The Link Jjeffryes provided is dead now (old version).  Here is a newer version that did work for me.
https://slproweb.com/download/Win64OpenSSL-1_0_2g.exe

This really should be fixed in an immediate update.  specially since the client/server update themselves automatically.  I logged into my workstation today to find out my server has stopped working.

[2016-04-11 03:18] nimchak opened #1315 "Setting up the client on a server and managing it from another machine"
Brief Description:

Operating System (OS and version): Windows 2012 R2
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.2
Hardware: AWS

So I didn't want to have the client running always on my workstation and seeing how your listing do not stay up when you don't have the server/client running I decided to spin up an AWS server for it.  Here are the steps I took:
1) install clien

[2016-04-11 12:59] hoffmabc commented on #1300
Latest installer should resolve this now.

[2016-04-11 12:59] #1300 closed, assigned to nobody

[2016-04-11 14:16] LiteBit commented on #946
I can confirm this with my own case I'm moderating.

I follow steps to close dispute and I get a confirmation message it has been closed, but the funds never are released. If I go to my page and then back to the case page and click on the dispute I just closed it shows as not closed.

This is an issue I'm facing with a current dispute I'm moderating that should be closed by now. It's not a dispute

[2016-04-11 15:24] morebrownies commented on #1314
+1 confirmed

It also happens when the chat panel is open.

[2016-04-11 15:26] morebrownies commented on #1313
+1 categories should sort alphabetically in the select menu

At some point in the future, we'll probably want to add different sorting options for the listings within a category (Order by date created, order alphabetically, order by most rated, order by highest rated, etc)

[2016-04-11 15:28] morebrownies commented on #1310
Confirmed

Here's a screenshot of the crash log

![screenshot 2016-04-11 08 27 42](https://cloud.githubusercontent.com/assets/13066886/14432508/5467f5de-ffbf-11e5-8cc0-bed2706cf6e4.png)

[2016-04-11 15:44] hoffmabc commented on #1310
Will fix. Thanks.

[2016-04-11 16:16] morebrownies commented on #1296
I just checked Github, FB and Twitter and none of these services offer a way to go back to the default avatar. People can always override the avatar they currently have by selecting a new one, but going back to default seems unnecessary.

[2016-04-11 16:16] #1296 closed, assigned to nobody

[2016-04-11 16:23] morebrownies commented on #1239
A IPFS integration should fix this issue in the future. Adding the BitMessage ID to the about page isn't user friendly enough imo.

[2016-04-11 16:31] morebrownies commented on #1225
@jjeffryes we could probably do the following to handle auto resizing of the images within about:

[code]

[2016-04-11 16:45] morebrownies commented on #1218
Just like on the web, people simply wont buy on pages with bad aesthetics. On the web you could also build a page with a black background and black text and there aren't any filters built into the web browser to prevent it from happening. We could spend a lot of time trying to prevent this, but any legit store on OpenBazaar will want to ensure that their text is legible if they expect to sell anyt

[2016-04-11 16:45] #1218 closed, assigned to nobody

[2016-04-11 16:48] morebrownies commented on #1181
We're going to have to truncate all buttons at some point. In certain areas space is limited and translations can run very long.

[2016-04-11 17:17] morebrownies commented on #1206
Until we have IPFS in place, I'd like to keep the loading screen as is. The reason being is there are a lot of failed connections and stores offline and we need to keep the user informed on what is happening. On the web, pages rarely fail to load so a simpler indicator is sufficient in that use case.

[2016-04-11 17:17] #1206 closed, assigned to nobody

[2016-04-11 18:09] rmisio commented on #1314
i got this one.

[2016-04-11 18:12] rmisio commented on #1315
@nimchak this can be accessed by clicking the Change button in the Server Settings section of the Settings > Advanced page:

![image](https://cloud.githubusercontent.com/assets/794517/14437479/3ad3d96e-ffd6-11e5-8db8-15f152e2b90f.png)

![image](https://cloud.githubusercontent.com/assets/794517/14437492/4b13f64c-ffd6-11e5-9d91-4e3ddcb594d2.png)

[2016-04-11 18:17] nimchak commented on #1315
@rmisio Thank you for your response. Unfortunately from what I see that is not true.  The password you see listed under server settings are not visible.  So I can not use it on the workstation.

What am I missing?

[2016-04-11 18:19] rmisio commented on #1315
yes, to run the type of advanced set-up you are trying to run, you will need to specify your own custom username and password for your server. You do this in the ob.cfg file on the server. Make sure you also uncomment the username and pw lines (remove the leading hash). Also, be sure to restart the server after making the change.

![image](https://cloud.githubusercontent.com/assets/794517/14437684

[2016-04-11 18:43] morebrownies opened #1321 "Add a button in the Notifications tray to mark all notifications as read"
We're going to need an API for this first, see more info here:
https://github.com/OpenBazaar/OpenBazaar-Server/issues/353

[2016-04-11 19:07] nimchak commented on #1315
:) I actually did specify username and password in that file already.  But I forgot to uncomment it.  Thanks I will try that tonight.

[2016-04-11 19:11] jjeffryes commented on #1181
Truncating isn't ideal, since that will make the truncated buttons unreadable or misleading. It's not an easy thing to solve, we may have to put thought into making the overall design more responsive and flexible.

[2016-04-11 19:20] #1297 closed, assigned to morebrownies

[2016-04-11 19:20] #1304 closed, assigned to morebrownies

[2016-04-11 20:42] #983 closed, assigned to nobody

[2016-04-11 20:42] #1279 closed, assigned to nobody

[2016-04-11 20:42] #1293 closed, assigned to nobody

[2016-04-11 20:42] #1313 closed, assigned to nobody

[2016-04-11 20:42] #1314 closed, assigned to nobody

[2016-04-11 21:14] jjeffryes commented on #1225
Currently this is on hold because image tags were producing invalid JSON on the server, so they've been removed on the client.

[2016-04-11 22:53] jjeffryes opened #1323 "Change bitcoin address label in Settings to Current Return Address"
Users are confused as to the purpose of the bitcoin address in Settings/General, the label should be changed to something like "Current Return Address", and a tooltip or other help text should explain that it is only used for returns, and can be updated with each purchase.

Or it should be removed entirely. It's not really needed, since we always ask for it during purchasing.

[2016-04-11 22:56] jjeffryes opened #1324 "Add "All" Region"
Add an "All Countries" region to the region list when editing listings.

This will be useful for sellers that want to ship worldwide except for a few countries. Selecting the All Countries region would add all the countries individually, and then they can de-select the ones they don't want.

[2016-04-11 22:59] jjeffryes opened #1325 "Redo the Shortcuts Again"
Some users are reporting shotcut collisions on Mac.

Redo the shortcuts to make sure:
- none collide with common shortcuts on Mac, Windows, or Linux
- none use number keys (non-english keyboards use the number keys for special characters)
- H is a Mac shortcut
- Y is expected to be redo

[2016-04-12 07:04] mariodian commented on #1321
We already have a call for it

`/api/{version}/mark_notification_as_read`

"Mark all notifications as read" function is currently done by opening and closing the notification menu. It get's rid off the notification badge and sends the request to the API. The button would be redundant.

[2016-04-12 09:43] Morveus opened #1329 "Add date and time on various order details"
Date and time are not detailed on those elements:
- Shipping (it would be nice to see when we confirmed shipping)
- Funds: we need to open the block explorer to get transaction broadcast times
- Discussion: messages are not timestampped

Is it possible to add these details?

[2016-04-12 14:51] jjeffryes opened #1332 "Show Listings in Unreadable Currency as Unavailable to Buy"
If a listing is set to a currency that doesn't currently return an exchange rate from btc_prices (due to the 3rd party APIs having issues), the client displays the price as NaN and the server cannot complete a purchase of that listing.

If the price is returned as NaN, show a message stating the item is temporarily unavailable, and disable the buy button.

[2016-04-12 16:43] Nerzahd commented on #1185
@jjeffryes CHF is also disappeared
can you use https://api.bitcoinaverage.com/ticker/global/all instead?

[2016-04-12 16:55] jjeffryes commented on #1185
Unfortunately, /global/all doesn't return the average exchange rate, which is what we want.

If this continues to be a significant problem, we'll look into creating our own service for exchange rates.

[2016-04-12 17:06] jjeffryes commented on #1185
I'll look into this further.

[2016-04-12 17:20] jjeffryes opened #1333 "Warning on Dispute button"
It's not clear to the user what opening a dispute will do, nor that it's a one-way process that can't be undone.

When the open dispute checkbox is clicked, show a "Warning, this will [explaination of dispute process]" message.

Also change the "100% of funds will go back to the buyer" message to subtract the moderator's fee.

[2016-04-12 17:36] valmassoi opened #1334 "Review(s) wording on item page under buy now button"
If the number of reviews on an item is >1 change the word Review to Reviews. As it is now one of my items says 2 Review (5/5)

[2016-04-12 17:52] marcoBros opened #1335 "An incorrect reply was received from the server. The JSON data returned from the server was malformed"
Brief Description:
I modify product title for sale by adding html tag < h1 >. I got a message about JSON error after validate changes. I make changes again by removing html tag and validate. Now I cannot display my page without error, and cannot see my product for sale. The product is also not available in search.

Operating System (OS and version): Ubuntu 15
OpenBazaar client version : 1.1.2

Rep

[2016-04-12 18:03] jjeffryes commented on #1335
The data for your listing is somehow coming back as

`{
    "listings": [
        {
            "contract_hash": "33df5c5296b018d85a55adda36cb19e90ca82742",
            "category": "domain name",
            "nsfw": false,
            "title": "&lt;h1&gt;openbazaar247.com<h2> domain name",
            "thumbnail_hash": "fa604c874c736d25de8f5c82fb0e0fe6b983fcc7",
            "price": 3.0,

[2016-04-12 18:15] #1185 closed, assigned to nobody

[2016-04-12 18:17] jjeffryes commented on #1185
We've updated the endpoint on both the server and the client.

[2016-04-12 20:51] #1315 closed, assigned to nobody

[2016-04-12 22:01] #1323 closed, assigned to nobody

[2016-04-12 22:01] #1324 closed, assigned to nobody

[2016-04-12 23:24] ghost commented on #1269
@jjeffryes Please reopen this issue.

[2016-04-13 00:45] jjeffryes commented on #1269
@rhcastilhos I don't know how you are getting that result. I can't replicate it on my client.

[2016-04-13 00:46] hoffmabc commented on #1269
Light colored pages have this problem

[2016-04-13 00:46] hoffmabc commented on #1269
Try a page with the white theme

[2016-04-13 00:51] jjeffryes commented on #1269
Here's a white theme. Maybe it's OS specific?

![image](https://cloud.githubusercontent.com/assets/1584275/14479808/548581e4-00f0-11e6-8346-89abbacfb9aa.png)

[2016-04-13 00:53] jjeffryes commented on #1269
Aha. If you have a light theme, and you have advanced graphics on, and you have a low-contrast screen, it's hard to make out. I'll adjust it.

[2016-04-13 00:54] burdges commented on #1265
As I understood it, there are laws against not merely failing to include the VAT in the advertised price, but also against adjusting the price based upon a change in the VAT @Morveus.

If that's correct, then you cannot charge that 22% just to Italian customers anyways.  You must instead bake that possible +2% into your advertised price somehow.  If I'm wrong, then blame Amazon for interpreting EU

[2016-04-13 00:58] #1269 closed, assigned to nobody

[2016-04-13 01:01] djbooth007 opened #1340 "Store listing URLs that contain @handle not linked properly"
Brief Description:

When linking to another product from within the description, using a handle does not work properly.

For example,  ob://@bitcoinedu/listing/5eb8de66eeabebbc1b4ccedb63d7e2216a16d5aa  will only link to ob://@bitcoinedu leaving the rest unlinked.

This behavior does not occur when using GUID such as ob://f91549f045e4831cc2ca6ea3d4c999157e97220c/listing/5eb8de66eeabebbc1b4ccedb63d7

[2016-04-13 01:33] burdges opened #1341 "Taler for payments in euros, etc."
Your FAQ expressed an interest in payment systems besides BTC.

[Taler](https://taler.net/) is an transaction system built on Chaum-style [RSA blind signatures](https://en.wikipedia.org/wiki/Blind_signature#Blind_RSA_signatures.5B2.5D:235).  It's therefore actually anonymous, assuming you mask your IP address, while BTC is at best only pseudonymous.  The wallet runs in the browser using WebExtensi

[2016-04-13 01:41] #1340 closed, assigned to nobody

[2016-04-13 10:01] MorgUK commented on #1249
I removed hyphens/dashes from the title and it saved! Please look into this. Also it didnt work with a "®" in the title. So it looks like it doesn't like some formatting. Surely a "-" should be allowed though.

[2016-04-13 14:22] hoffmabc opened #1344 "Best Offer / Name Your Price"
Got a suggestion to think about giving buyers the option to haggle over the price a bit. Allowing merchants to set a Best Offer or Name Your Price input would be interesting, but not sure how feasible it is with the contracting system.

[2016-04-13 16:08] morebrownies opened #1346 "Something appears to be breaking the flexcol grid on the About tab"
It doesn't seem to happen on every about page, but it is definitely happening on @themes

<img width="1187" alt="screenshot 2016-04-13 09 07 27" src="https://cloud.githubusercontent.com/assets/13066886/14500497/3fc4767c-0157-11e6-8589-d84272dc2baf.png">

[2016-04-13 16:09] hoffmabc commented on #1346
Is this with which version of electron?

[2016-04-13 16:17] morebrownies commented on #1346
I'm on the latest version

[2016-04-13 19:17] pryds opened #1348 "Adding a new address requires non-applicable info"
Brief Description: When adding a new address, the field State/Province/Region seems to be required. However, in Denmark (and most likely elsewhere, too), neither provinces, regions nor state (we have only one state) are ever used in postal addresses.

this piece of info is not part of a postal address. We have only one state (namely the whole country), and neither provinces nor regions are ever us

[2016-04-13 19:59] jjeffryes commented on #1346
I've seen this crop up in a few places. I'll fix it.

[2016-04-13 20:51] jjeffryes commented on #1346
Apparently in the latest Chrome 66.66666666666666% + 33.33333333333333% is more than 100%, but 66.6% + 33.3% is not.

[2016-04-13 20:52] morebrownies commented on #1346
lol

[2016-04-13 20:53] jjeffryes commented on #1346
Actually, 66.6% + 33.3% is still more than 100%. They must have changed something with how flex-basis works.

[2016-04-13 20:54] jjeffryes commented on #1346
But it only happens sometimes. It might be something in the content making the column slightly too wide somehow.

[2016-04-13 21:00] leethax666 opened #1350 "Items on discover page re-sort randomly after viewing item"
Viewing an item causes the user to lose their place in the item list. It could cause a user to lose track of another item they wanted. The Discover page should have a sorting option, maybe by number of reviews or uptime, or some type of pagination.

[2016-04-13 21:27] holtjohnson commented on #1277
Unable to reproduce. Tried multiple times.
Running OpenBazaar 1.1.2 on OSX 10.11.4

[2016-04-13 22:12] jjeffryes commented on #1346
Somehow the guid is doing it, depending on which letters and numbers are in your guid in the right column.

[2016-04-13 22:50] #749 closed, assigned to morebrownies

[2016-04-14 11:02] mariodian opened #1360 "Hardcoded "FOLLOWS YOU" on every user page"
There is a text saying "FOLLOWS YOU" in every user page. It's hardcoded to the template userPage.html

![screen shot 2016-04-14 at 6 47 20 pm](https://cloud.githubusercontent.com/assets/3636406/14525764/b0aebe9a-0271-11e6-865b-b17680c9ce46.png)

[2016-04-14 11:53] mariodian opened #1361 "Tooltips not fully visible in a flex table"
Any reason this element is "overflow: hidden"?

[code]

It breaks tooltips in tables:

![screen shot 2016-04-14 at 7 48 48 pm](https://cloud.githubusercontent.com/assets/3636406/14527089/2d41c17a-027a-11e6-873a-d69033c0ba20.png)

[2016-04-14 12:09] Dekker3D commented on #1361
It may also be the reason why the "add region" dropdown box gets partially hidden.

[2016-04-14 12:14] mariodian commented on #1181
Why not making the text smaller (up to let's say 8-9px) based on the text length? http://jquery-textfill.github.io

If the text is too long and would it have to become smaller than 8-9px, it could be truncated and visible in a tooltip on hover to get the whole meaning.

[2016-04-14 12:31] mariodian commented on #1361
Not just "add region" but **any** dropdown box.

![screen shot 2016-04-14 at 8 28 35 pm](https://cloud.githubusercontent.com/assets/3636406/14527977/c37f9fcc-027f-11e6-8551-be1168f1395a.png)

[2016-04-14 14:17] jjeffryes commented on #1361
Well, that shows me not to skimp on testing.

It was added because the length of the guid sometimes breaks the layout, and as a precaution against other elements doing the same. But clearly not a good idea..

[2016-04-14 14:40] jjeffryes commented on #1360
Looks like a hide class was missing.

[2016-04-14 14:42] jjeffryes commented on #1348
This is part of the conversation in #1263

[2016-04-14 14:42] #1348 closed, assigned to nobody

[2016-04-14 14:43] jjeffryes commented on #1350
This is due to the nature of how that page is built, we're tracking an enhancement to deal with it in #129

[2016-04-14 14:43] #1350 closed, assigned to nobody

[2016-04-14 14:44] #1346 closed, assigned to jjeffryes

[2016-04-14 14:44] #1360 closed, assigned to nobody

[2016-04-14 14:44] #1361 closed, assigned to nobody

[2016-04-14 14:50] mariodian commented on #1361
Removing the overflow for the said element and adding these lines

[code]

to an element like .fieldItem would truncate long strings as in the screen below.

![screen shot 2016-04-14 at 10 40 33 pm](https://cloud.githubusercontent.com/assets/3636406/14532012/10e79d5c-0292-11e6-8403-fafe913b6e6d.png)

However we should use it with care, because sometimes we may need more lines per a table row. I'd

[2016-04-14 15:08] jjeffryes commented on #1361
This was fixed in #1362.

There's already a noOverflow class that can be used to selectively add ellipses, it should only be used on divs and spans that contain text.

[2016-04-14 15:59] jjeffryes commented on #1361
This was fixed in #1362.

There's already a noOverflow class that can be used to selectively add ellipses, it should only be used on divs and spans that contain text.

[2016-04-14 17:18] rmisio commented on #1334
This was something we had code in place to handle, but apparently having different word endings would make translating difficult, since different languages pluralize things in different ways. So we decided to just live with the incorrect grammar in English.

I suppose we could have separate plural and singular translations, which include a placeholder?? My guess is that would be flexible enough fo

[2016-04-15 08:14] mariodian commented on #1325
There's only one collision with a **global** and **default** mac shortcut: cmd+h (hide window), we use it for "My Page". Everything else is an app-specific and we can't prevent that.

[2016-04-15 17:29] jjeffryes opened #1369 "Don't Launch Local Server if Connected to Remote"
When a client is connected to a remote server, if it was installed with the installer it still starts the local server, which is then unused and ads a "zombie" node to the network.

If the client is currently set to connect to a remote server, it should not start the local server when the app starts. This can be done by getting _serverConfig-1 from localStorage and checking to see if it starts wit

[2016-04-15 17:39] jjeffryes commented on #1335
This has been corrected on the server. Old data that is malformed may still be an issue, and might require editing your database directly or starting with a fresh database.

[2016-04-15 17:40] jjeffryes commented on #1311
We haven't been able to reproduce this, as far as I can tell it's an issue with chromium's rendering. Closing it unless it happens again.

[2016-04-15 17:40] #1311 closed, assigned to nobody

[2016-04-15 17:42] marcoBros commented on #1335
Yes, i used server API to remove the contract from his id.
I will try to reproduce this error if i get time

Thank you @jjeffryes

[2016-04-15 17:43] jjeffryes commented on #1282
This appears to be an installation issue specific to a particular environment. We haven't been able to reproduce it.

[2016-04-15 17:43] #1282 closed, assigned to nobody

[2016-04-15 17:43] jjeffryes commented on #1274
@hoffmabc @morebrownies can either of you confirm if this is still an issue?

[2016-04-15 17:48] jjeffryes commented on #1235
This appears to be an environment-specific issue. We haven't been able to reproduce it.

If you're still seeing this occur, join the installation-issues channel on our Slack, and we'll troubleshoot it there.

https://openbazaar-slackin-drwasho.herokuapp.com/

[2016-04-15 17:48] #1235 closed, assigned to nobody

[2016-04-15 17:56] marcoBros commented on #1335
@jjeffryes ,
Okay i just reproduce this bug.

Steps :
1. Create new product for sale
2. Fill all compulsory fields.
3. Save product.
4. Update product
5. Fill title field with : `<h1>Test<h2>`
6. Validate : You got an error message, but the contract has been updated.
7. Go on your home page : error message is displaying and product listing is not

Maybe this error can appear by filling title field

[2016-04-15 18:22] rmisio commented on #1369
I'll look into it.

[2016-04-15 18:29] jjeffryes commented on #1335
It looks like the title field isn't being sanitized.

We're tracking this on the server at https://github.com/OpenBazaar/OpenBazaar-Server/issues/329

[2016-04-15 22:00] ghost opened #1371 "Logo need fix on top"
![logobug](https://cloud.githubusercontent.com/assets/10789865/14576042/4724ae8c-033c-11e6-9d79-45d831056bd6.png)

OB v1.1.3 win 7 64 bits

[2016-04-15 22:02] morebrownies commented on #1371
I noticed that too. It seems like it is a CSS issue that started recently.

[2016-04-15 22:07] ghost commented on #1163
@jjeffryes Reload button (on top right) is still not being translated in V.1.1.3.

[2016-04-15 22:09] ghost opened #1372 "Display error when selecting "All countries" as Shipping Region"
OB v.1.1.3 win7 64 bits

![all countries](https://cloud.githubusercontent.com/assets/10789865/14576207/996208e2-033d-11e6-9a29-eb2b837e84e5.png)

[2016-04-15 22:50] #1371 closed, assigned to nobody

[2016-04-15 22:51] #1372 closed, assigned to jjeffryes

[2016-04-16 03:03] Giszmo opened #1375 "CTRL-Y closes without saving"
OB 1.1.3

Hitting CTRL-Y is not redo?

Observed Behavior:
When hitting CTRL-Y it jumps to Transactions->Sales

Expected Behavior:
It re-does stuff I just un-did using CTRL-Z

Additional info (links, images, etc go here):
It's kind of standard to have CTRL-Z to undo and CTRL-Y to re-do. Editing some complicated listing it's a pain to have it jump to Transactions->Sales out of nowhere, without askin

[2016-04-16 04:56] sgornick commented on #1274
On Linux I get:

"There was an error and we are unable to open the server debug log at this time.

Error: ENOENT: no such file or directory, open '/opt/OpenBazaar-Client-1.1.3/../OpenBazaar-Server//debug.txt"

![openbazaar-debug-log](https://cloud.githubusercontent.com/assets/24884/14579196/22929f2a-0355-11e6-936c-64c7ea694aea.png)

OpenBazaar Client, v1.1.3

[2016-04-16 05:09] sgornick opened #1376 "Link to Item in Order Summary doesn't load Item."
At Sales -> Order Details -> Summary
then click on the link for the item.  It appears it is trying to load the item, but it just spins, forever.

The status message in the center of the page is: "Connecting to listing [listing ID]"

Operating System: Linux Ubuntu 14.04
OpenBazaar version: v1.1.3

Reproducible: Always

Steps to reproduce:
1. Sales -> Order Details -> Summary
2.Click on link to the

[2016-04-16 06:41] mariodian commented on #1360
I have the latest code and I still see it.

[2016-04-16 10:33] Dekker3D commented on #1375
Ctrl-Y and ctrl-shift-Z have both been used for redo. But yes, ctrl-Y should not do something unexpected that forgets what you were just editing.

[2016-04-16 11:32] Libter commented on #1292
This issue has been fixed in 3bdc86e781e48c53e4a1ec866c257e6089439f1b.

[2016-04-16 14:11] Giszmo opened #1377 "selecting a chat should not follow links in the first message"
If I click in the list of messages, I might click in the lower half of the box and if the sender sent me a link, OB opens that link in addition to selecting that chat.

Please disable links in the Messages list.

[2016-04-16 14:59] BugsBunE commented on #1344
i like the idea

[2016-04-16 15:06] hoffmabc commented on #1377
Good catch.

[2016-04-16 15:19] jjeffryes commented on #1292
@programmerpeter is correct, I missed this issue when merging that code.

[2016-04-16 15:19] #1292 closed, assigned to nobody

[2016-04-16 15:24] jjeffryes commented on #1360
That's strange. I'm on the latest master, and it's working correctly for me.

Can you check js/templates/userPage.html, line 98, and make sure it is
`
<div class="hide js-followsMe allCaps fontSize12 padding10">`

[2016-04-16 20:49] ghost opened #1384 "Names of countries are still not translatable"
Names of countries ([countriesMd.js](https://github.com/OpenBazaar/OpenBazaar-Client/blob/master/js/models/countriesMd.js)) should be added to language files for translation.

[2016-04-16 21:48] #125 closed, assigned to jjeffryes

[2016-04-17 06:49] mariodian commented on #1360
Oh stupid me, I was on a different branch. Sorry, my bad.

[2016-04-17 14:36] pryds commented on #1384
This issue might be a duplicate of part of issue #1179.

[2016-04-17 14:44] pryds opened #1385 ""Add as moderator" botton om moderators' "About" tab"
Brief Description: If you found a person with moderation enabled that you would like to add as a moderator, there doesn't seem to be any other way than load up the settings screen and hope that they will turn up there. I just tried that, and this particular person I found didn't turn up, so I was not able to add them.

Therefore, I propose the addition of a new button on a moderator's about page (

[2016-04-17 16:16] Dekker3D commented on #1385
https://github.com/OpenBazaar/OpenBazaar-Client/pull/1357 is me doing exactly that, about three days ago. Had some problems that needed to be fixed, currently waiting for it to be checked again. It will add an add/remove moderator button next to the follow/unfollow button, in the same conditions you specified.

The button still fails on moderators that don't show up in the list either, so this won

[2016-04-17 19:06] ulrichard commented on #1332
Maybe related to this: CHF was available in an earlier version, but I cannot choose it in the current release.

[2016-04-17 21:27] jjeffryes commented on #1332
@ulrichard where are you seeing it as unavailable? I am able to select Swiss Francs as my currency normally when I try it in Settings.

[2016-04-18 02:16] ghost opened #1387 "Right click menu not showing"
Right click menu (with Undo, Cut, Copy, Past, Delete, Select All)  is not showing when right clicking any element on the OB software.

OB v1.1.3 Win 7 64 bits

[2016-04-18 09:33] ulrichard commented on #1332
Yes, it's available again.
And also the items that were listed with a NaN price show a numeric value again.
In the meantime I upgraded to 1.1.3

[2016-04-18 14:45] jjeffryes commented on #1332
@ulrichard sounds like upgrading fixed this for you. There was a bug in earlier versions of the code that caused currencies to fail to load.

I'm closing this issue, since we have changed the way we pull in currencies, and all currencies should always be available.

[2016-04-18 14:45] #1332 closed, assigned to nobody

[2016-04-18 19:21] kabo opened #1390 "Feature request: As a vendor I should be able to cancel an order"
Brief Description:
As a vendor I should be able to cancel an order.

Operating System (OS and version): Ubuntu 14.04
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.3
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Buyer places an order
2. Buyer changes his mind and doesn't pay
3.

Observed Behavior:
As a

[2016-04-18 20:21] ulrichard opened #1392 "qr code format"
Brief Description:
My case hardware wallet (choosecase.com) can't read the format of the qr code displayed by openbazaar

Operating System (OS and version): Ubuntu 15.10
OpenBazaar version (shown on `About OpenBazaar` page in menu):  1.1.3
Hardware: choosecase.com

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Buy something
2. Scan

[2016-04-18 20:34] #1158 closed, assigned to jjeffryes

[2016-04-18 20:38] hoffmabc commented on #1158
:+1:

[2016-04-19 10:50] pryds commented on #1385
Very nice! Closing this issue, then.

[2016-04-19 10:50] #1385 closed, assigned to nobody

[2016-04-19 16:32] EdNett opened #1395 "? Debian repository - install problems - seeking advice"
Hello,

I have been unable to get the client to install on debian jessie, and now also on wheezy. Could you please tell me:

1) Is this easier to install on ubuntu - if so, which version, please?

2) Is Debian jessie supported?

Is debian Wheezy supported?

4) Is there an ubuntu or Debian repository that we can add to the /etc/apt/sources.list file or list.d file to make this install easier?

5) C

[2016-04-19 17:14] jjeffryes commented on #1105
This was done.

[2016-04-19 17:14] #1105 closed, assigned to nobody

[2016-04-19 17:15] jjeffryes commented on #1225
This was done, including enabling image tags in chat.

[2016-04-19 17:15] #1225 closed, assigned to jjeffryes

[2016-04-19 17:16] jjeffryes commented on #1310
This was fixed.

[2016-04-19 17:16] #1310 closed, assigned to nobody

[2016-04-19 17:59] #1037 closed, assigned to jjeffryes

[2016-04-19 20:15] jjeffryes commented on #1395
The best place to troubleshoot installation issues is in the #installation-issues channel of our Slack.

https://openbazaar-slackin-drwasho.herokuapp.com/

We currently only support Ubuntu 12 and 14, as well as Mac OSX and Windows 8.1 and above. Some users have gotten things working on various other OSes, but it usually takes some manual work.

[2016-04-19 20:15] #1395 closed, assigned to nobody

[2016-04-19 20:17] jjeffryes commented on #1392
The QR code is readable by the scanners we have access to, I'm not sure how we'd troubleshoot this short of getting a case hardware wallet.

@ulrichard can you check in settings/advanced in the client, to make sure you're not set to generate a testnet QR code?

[2016-04-19 20:54] jjeffryes commented on #1387
This appears to be due to the context menu being created with menu.setApplicationMenu(appMenu) in main.js.

For Windows and Linux, I believe that would attach it to the top menu, which we are hiding.

It should be changed to be activated when right clicking, using the contextmenu event.

https://github.com/electron/electron/blob/master/docs/api/menu.md#menusetapplicationmenumenu

[2016-04-19 21:25] TheButterZone commented on #1392
bitcoin://3Jxxx?amount=0.1&label=text doesn't meet [the URI standard](https://github.com/bitcoin/bips/blob/master/bip-0021.mediawiki)?

[2016-04-19 21:46] hoffmabc commented on #1186
Is this still an issue?

[2016-04-19 22:08] jjeffryes commented on #1392
In what way do you think it doesn't meet the URI standard, @TheButterZone ?

[2016-04-19 22:11] TheButterZone commented on #1392
There are not supposed to be forward slashes, as shown in the link above.

[2016-04-19 22:17] jjeffryes commented on #1392
Good catch. The QR code in the transactions section when you look at an unpaid order doesn't have the //, we missed taking it out in the main purchase flow, and our QR scanners work regardless of the // being there or not.

I'll remove it.

[2016-04-20 03:23] ghost opened #1399 "Sellers editing listing settings on listing page"
Sellers should not see their own listings the same way as buyers do. Instead, they should be able to edit their listing while viewing it. Example:

![editinlisting](https://cloud.githubusercontent.com/assets/10789865/14662557/b1bf743a-068d-11e6-8f69-de9091ffe7b6.png)

[2016-04-20 03:31] ghost opened #1400 "Seller can't change listing's country of origin"
Even if seller changes his country on Settings (imagine he moves to another country), all listings maintain previous country of origin and to change this parameter they must be cloned/created again.

OB v1.1.3 win 7 64 bits.

[2016-04-20 04:37] morebrownies commented on #1399
I don't see a problem with having a distinct view mode and distinct edit mode (as we currently have it). If we essentially force the vendor into edit mode each time they visit one of their listings, how would they go about viewing what their customers see while they're shopping on their store?

[2016-04-20 07:11] drwasho commented on #637
Closing and merging this and similar issues into a Discovery issue that I'll make soon.

[2016-04-20 07:11] #637 closed, assigned to nobody

[2016-04-20 10:41] JustinDrake commented on #637
Regarding discovery, there's now [duosear.ch](https://www.duosear.ch)

[2016-04-20 13:25] #850 closed, assigned to nobody

[2016-04-20 13:39] hoffmabc opened #1401 "Make Chats with Unread Messages Float to Top"
As title suggests, if a chat conversation has unread messages it should float to the top of the list for increased visibility. This only is an issue for those with lots of previous conversations in their list where it might show a notification in the dock, but not be able to quickly see which conversation has unread messages.

[2016-04-20 14:21] jjeffryes commented on #1400
This will be addressed along with the other changes we're planning to make to shipping.

[2016-04-20 14:21] #1400 closed, assigned to nobody

[2016-04-20 14:22] jjeffryes commented on #1399
I agree with Mike, having a separate edit screen is standard, and in our case putting all of the edit controls into the normal view would make them more difficult to use.

[2016-04-20 14:22] #1399 closed, assigned to nobody

[2016-04-20 14:24] jjeffryes commented on #1392
@ulrichard can you pull the latest client code and see if this issue still happens for you?

If you prefer to use the installer, this fix will be in the 1.1.4 release, once that happens please let us know if this issue is resolved.

[2016-04-20 15:08] jjeffryes commented on #230
Since this is a very minor feature, and the solution is both complex and may cause privacy concerns, I'm going to close this.

[2016-04-20 15:08] #230 closed, assigned to nobody

[2016-04-20 15:28] jjeffryes commented on #352
This was done.

[2016-04-20 15:28] #352 closed, assigned to morebrownies

[2016-04-20 15:41] jjeffryes commented on #372
This has been done on OSX.

For Windows and Linux, the plan is to use something like this https://gist.github.com/johnthedebs/c22a04fcd08e598e69b8

[2016-04-20 15:41] morebrownies opened #1402 "Change CMD + R hotkey to reload the current view instead of the entire application"
We'll then need to change Restart Application to another hot key (possibly CMD + SHIFT + R) or remove the hotkey all together.

[2016-04-20 15:42] jjeffryes commented on #946
I believe this has been fixed. If not, we should open an issue on the server repo.

[2016-04-20 15:42] #946 closed, assigned to nobody

[2016-04-20 15:45] morebrownies opened #1403 "Search input within the discover view has a glitch"
Focus the search input and hit CMD, CTRL, Option, Shift or Backspace and the search input displays the Personalized / Random toggles.

![screenshot 2016-04-20 08 44 15](https://cloud.githubusercontent.com/assets/13066886/14680972/181b48e4-06d4-11e6-8ddf-86fbb5417054.png)

[2016-04-20 16:23] morebrownies opened #1406 "Address bar input placeholder text only displaying when you're in Discover"
See screenshots below, the placeholder text disappears when you move out of Discover

![screenshot 2016-04-20 09 22 03](https://cloud.githubusercontent.com/assets/13066886/14682227/7d7a67a6-06d9-11e6-8b72-72c7ef6eceb0.png)
![screenshot 2016-04-20 09 22 13](https://cloud.githubusercontent.com/assets/13066886/14682228/7d7d2dc4-06d9-11e6-800f-be719b4bc8c7.png)

[2016-04-20 16:29] morebrownies opened #1408 "When I click "Pay for Order" and the QR fails to load, I'm stuck in a dead-end where I can't retry to "Pay for order""
As the title says, I was trying to buy something from @openbazaar and the QR failed to load and I was pushed back into the Order Details step and I noticed I do not have the ability to click "Pay for Order" again. Notice the button in the modal is set to "Payment pending".

![screenshot 2016-04-20 09 25 57](https://cloud.githubusercontent.com/assets/13066886/14682361/25b6f84e-06da-11e6-9a74-47910c

[2016-04-20 17:51] #1403 closed, assigned to jjeffryes

[2016-04-20 17:52] #967 closed, assigned to jjeffryes

[2016-04-20 18:40] jjeffryes commented on #1408
When you say the QR code failed to load, what, exactly, happened? Did you get an error screen?

[2016-04-20 18:42] morebrownies commented on #1408
Yes. I didn't get a screenshot of the error, but it said something along the lines of the "Node can't be reached", which then pushed me back to the Order Details screen and left me stuck.

[2016-04-20 18:44] morebrownies commented on #1408
Actually, I just tried again and hit the error state. It seems to be happening a lot on the @openbazaar store

![screenshot 2016-04-20 11 43 31](https://cloud.githubusercontent.com/assets/13066886/14686352/27bcaa40-06ed-11e6-90c0-15893af5971f.png)

[2016-04-20 19:14] hoffmabc commented on #1408
I think this could be related to the store being so popular and not scaled up properly.

[2016-04-20 19:32] ulrichard commented on #1392
I'm not so good with npm stuff. But I guess the 1.1.4 is just around the corner.

[2016-04-20 19:33] jjeffryes commented on #1392
Yes, it should be very soon.

[2016-04-20 19:42] ulrichard commented on #617
As you're going to integrate ipfs anyway, the file could be just added to ipfs.
The hash would be revealed only when the payment verifies. This wouldn't even require a password.

[2016-04-20 19:45] #1408 closed, assigned to nobody

[2016-04-21 01:24] mariodian commented on #1406
I can't reproduce this issue on osx and the latest code from github.

[2016-04-21 01:35] mariodian commented on #1401
I'm not sure if it should go to the top, because you leave it unread for a reason. Whatever the reason is, the message is probably not important to you and that's why it shouldn't be extra visible.

If it's a new conversation, it already ends up at the top.

[2016-04-21 02:14] mariodian commented on #1329
The API returns messages with timestamps so this is easy to add.

However I don't see the API returning the time of shipping confirmation or funds being broadcasted on the network (I don't think this is necessary to duplicate in OB).

If this is added on the server side I can add it to the client @cpacia

[2016-04-21 03:56] ghost commented on #1406
I also can't reproduce this issue in win7 64 bits v.1.1.3

[2016-04-21 07:30] drwasho opened #1415 "Multiple Server Connection Management"
## Overview

Save the details for connecting to multiple servers in the client for easy switching.

Prototype: https://invis.io/D370J4DYQ#/151974085_Openbazaar-Connect-Inital-Screen
## Requirements
- [x] As a user, I need to add many server configurations (#1)
- [x] As a user, I need to delete an existing server configuration (#2)
- [x] As a user, I need to edit an existing server configuration (#

[2016-04-21 09:41] Libter commented on #1402
Current shortcuts are good. F5 reloads current view and CMD + R restarts application.

[2016-04-21 09:42] Libter commented on #1375
This issue propably duplicates #1325.

[2016-04-21 10:09] mariodian commented on #1402
Nobody uses F5 on mac though and it's not exactly user friendly because you have to hit fn+F5.

[2016-04-21 10:17] lunokhod opened #1418 "Need a mute button for sites that have audio"
I am not sure how they are doing it, but some sites have audio associated with them. At a minimum, there should be a mute button in the client, or a preference setting that enables/disables audio. It might be better to simply not allow audio at all, given that there is no situation where this is acceptable behavior.

[2016-04-21 10:56] mariodian opened #1420 "Affiliate marketing on OB"
1) **You're a seller** that struggles with selling your products. Set up a commission (in %) and let users sell your products.

2) **You're not a seller** but want to make money without having a product. Find the one you like, generate your affiliate link and bring customers to the sellers.

3) **We are openbazaar**, marketers share their affiliate links on the Internet and bring more sellers and

[2016-04-21 11:22] More-decentral commented on #1247
I am stilling seeing "NaN BTC" on many of the listings.   I am using an iMac.

[2016-04-21 11:43] JustinDrake commented on #1418
Haha, could you provide an example vendor or listing?

[2016-04-21 11:45] mariodian commented on #1418
They embed youtube via iframe. Iframes will be blocked in #1416

[2016-04-21 12:46] jjeffryes commented on #1418
There was a bug that prevented the sanitization from catching some tags that shouldn't have been allowed, and some users figured out that let them put in iframes and embedded media.

That's been fixed, and any tags other than simple text formatting, images, and links will be removed in the next release.

[2016-04-21 12:46] #1418 closed, assigned to nobody

[2016-04-21 12:48] jjeffryes commented on #1247
@More-decentral what version of the app are you using?

[2016-04-21 13:22] lunokhod commented on #1418
Here's an example:

ob://54cc90b781ba13cf3e7de3717bdc33d9a0acf3b6/store

[2016-04-21 14:29] More-decentral commented on #1247
@jjeffryes, I am running 1.1.3 on OSX 10.10.5

[2016-04-21 15:22] #453 closed, assigned to nobody

[2016-04-21 15:53] BugsBunE opened #1422 "shop not displaying any data"
Brief Description: : port forwarding was setup to make store accessible through a router.
a message gets sent to the shop and is successfully delivered instantly. not exactly sure why the store/shop data is missing

Operating System (OS and version):  win7 64x
OpenBazaar version (shown on `About OpenBazaar` page in menu):  1.1.3

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't

[2016-04-21 18:11] jjeffryes commented on #1406
I can reproduce this on master, it happens in settings and transactions.

I did a lot of testing on this, I can't really tell why it resets the placeholder in discover, but setting the address bar value to blank elsewhere doesn't.