[2015-09-09 16:11] hoffmabc opened #2 "Enable Travis-CI Support"
I'll take a look at adding Travis-CI support to the repository.

[2015-09-09 20:09] #2 closed, assigned to hoffmabc

[2015-09-17 14:35] hoffmabc opened #5 "Image Compression and Stripping of EXIF"
When attaching images to a contract listing the software we should resize and compress the image to a reasonable image format. We should also look to strip the EXIF data as w ell.

[2015-10-04 18:30] jamesdwilson opened #21 "Change all instances of accordian to be accordion"
js/templates/pageNav.html:47 for example

[2015-10-06 14:30] SamPatt opened #29 "Updater"
Opening issue as a reminder to ensure we have some method for end users to update code themselves. Ideally it would be integrated into the UI.

[2015-10-12 22:56] llamaha commented on #21
Please see PR-38.
https://travis-ci.org/OpenBazaar/OpenBazaar-Client/builds/85017736

[2015-10-14 13:59] hoffmabc opened #45 "UI for Pricing Tweak"
![image](https://cloud.githubusercontent.com/assets/45482/10485844/3ebd83ae-725a-11e5-953f-ded92dc4eff7.png)

This should not say NaN if no value is set, but should either have a placeholder or no value.

Also fiat should only go out to two decimal places I would think (i.e. $23.34 USD).

[2015-10-14 14:00] hoffmabc commented on #45
This is on the main screen by the way.

[2015-10-14 14:01] hoffmabc opened #46 "Default Store Header Image Blurry"
We need to get a new updated and better default store header image.

![image](https://cloud.githubusercontent.com/assets/45482/10485921/8de298e8-725a-11e5-875e-d6bab3faface.png)

[2015-10-14 14:03] hoffmabc commented on #45
Ok this actually does eventually switch to (0) but I still think that:
a) While it's loading price conversion maybe it shouldnt' say NaN.
b) 0 is not really the conversion is it if there's no value set? Doesn't this imply it's free?

[2015-10-14 14:04] morebrownies commented on #46
Or have default templates that users choose from so that they never hit an empty state like this.

[2015-10-14 14:05] jjeffryes commented on #45
Sounds like 2 issues here.
1. The price should not display while it's loading. Or it should show a loading message or symbol.
2. We need to decide if it's ok for someone to create an item with a price of zero (or blank).

[2015-10-14 16:26] morebrownies opened #47 "User page store tab"
The store tab should only display on the user page if the user has added a store to their page.

[2015-10-14 23:39] drwasho opened #49 "Windows: Images are not displaying correctly or at all"
- Avatar images are not displaying in the admin panel
- When I attempt to call the image directly via the browser
  - Command: `http://localhost:18469/api/v1/get_image?hash=92158530f0f4f47a061d008eeb2c919d80f1fe74`

The image looks like this:
![image](https://cloud.githubusercontent.com/assets/3887694/10500662/4544fe50-731d-11e5-9c89-9012c42f31ed.png)

[2015-10-14 23:44] hoffmabc commented on #49
![looks good to me](http://cdn.meme.am/instances/250x250/60445340.jpg)

[2015-10-15 05:11] drwasho commented on #49
Ok, @cpacia fixed it.

[2015-10-15 05:12] #49 closed, assigned to nobody

[2015-10-15 05:28] drwasho opened #51 "Admin Panel: Handle"
At the moment it's not obvious that the user needs to add `@` before whatever handle they want.

![image](https://cloud.githubusercontent.com/assets/3887694/10505489/508d5fc6-7351-11e5-8266-995f0bf24d96.png)

Isn't this going to be tied to Onename's blockchain ID? If so, then I guess we'll be circling back to this issue.

[2015-10-15 05:30] drwasho opened #52 "Error messages from commit"
@hoffmabc posted them in Slack and I was getting the same errors:

[code]

[2015-10-15 05:56] drwasho commented on #52
Don't know whether this is associated with the 'sell item' page not working at all.

[2015-10-15 11:32] hoffmabc commented on #51
Yes it is but this is a temporary hack-in for development so validation is fine being missing right now.

[2015-10-15 14:41] hoffmabc opened #53 "Country dropdown looks odd"
![image](https://cloud.githubusercontent.com/assets/45482/10517101/470049a0-7329-11e5-865a-d04c0b06c473.png)

[2015-10-15 14:43] morebrownies commented on #53
I've removed this in my branch. I can't think of a reason to set a location
in store creation since they already set a location during onboarding. It
seems redundant.

On Thu, Oct 15, 2015 at 9:41 AM, Brian Hoffman notifications@github.com
wrote:

[2015-10-15 14:44] hoffmabc commented on #53
ok

[2015-10-15 14:44] #53 closed, assigned to morebrownies

[2015-10-19 22:18] drwasho opened #59 "Create Store Modal: Height"
Could the height of this modal be expanded?

![image](https://cloud.githubusercontent.com/assets/3887694/10592959/02fb7b7a-7703-11e5-949e-2df2cc07a8f7.png)

[2015-10-19 22:20] morebrownies commented on #59
Yes. I actually already have this fixed in one of my branches. Just need to do some clean up and then I'll push it up.

[2015-10-19 22:22] drwasho commented on #59
![image](https://cloud.githubusercontent.com/assets/3887694/10593036/a6caac4e-7703-11e5-8e2b-b84b5057f335.png)

[2015-10-22 22:17] AronVanAmmers opened #68 "Clean install: won't connect, logs `failed user ssl` in console"
Latest from master. Reproduced on Windows 8.1 and Ubuntu 14.04.

Client shows:

[code]

Console repeats:

[code]

Disabling this check (https://github.com/OpenBazaar/OpenBazaar-Client/blob/7809242c61695e27888bfa1a05a47b063ea0aa70/js/app.js#L65) makes it skip through to the product view.

[2015-10-23 14:38] hoffmabc commented on #68
I believe this is just when you get nothing back an empty object it won't have the ssl property so it fails. This is when your server daemon is either not running, reachable or potentially a new bug @jjeffryes ?

[2015-10-23 14:40] hoffmabc opened #72 "Create store button is still showing after I make myself a vendor"
I use the Create Store button to make myself a vendor and it kicks me back to the main homepage. The Create Store button is still active until I refresh it. Looks like the view is not updating immediately.

[2015-10-23 14:41] hoffmabc opened #73 "Window chrome to close,max,min the window doesn't show if no API connection"
Can't close the window/application if stuck finding API in the beginning.

[2015-10-23 14:42] jjeffryes commented on #68
This was fixed in a commit yesterday, I removed the check on the settings API.

[2015-10-23 14:42] #68 closed, assigned to jjeffryes

[2015-10-23 14:42] jjeffryes commented on #72
Which create store button? The one on the homepage, or the one on the user page?

[2015-10-23 14:43] hoffmabc opened #74 "Style the loading widget"
This looks mighty horrible at the moment. Get to it when you can.

![image](https://cloud.githubusercontent.com/assets/45482/10695647/c4b5d8e8-7972-11e5-83cd-67944a867cf1.png)

[2015-10-23 14:43] jjeffryes commented on #74
Which OS is that on? It is aligned on Windows.

[2015-10-23 14:44] hoffmabc opened #75 "Add ability to move the header image around and pick the area you like"
This should work like Facebook and Twitter's functionality.

![image](https://cloud.githubusercontent.com/assets/45482/10695678/f15164b2-7972-11e5-844d-d15361d15011.png)

[2015-10-23 14:44] morebrownies commented on #74
It is aligned on my mac too

[2015-10-23 14:44] hoffmabc commented on #74
Both OSX and Linux it looks like this.

[2015-10-23 14:45] hoffmabc commented on #74
I'll check to make sure I have latest code.

[2015-10-23 14:46] hoffmabc opened #76 "Tokens don't get set if you don't hit return."
If user just types in one tag value and hits Next then it doesn't get set. When the input loses focus it should turn it into a token I would think.

![image](https://cloud.githubusercontent.com/assets/45482/10695710/2760202a-7973-11e5-8e84-bb2af3ac2225.png)

[2015-10-23 14:59] hoffmabc commented on #72
Homepage

[2015-10-23 15:00] jjeffryes commented on #75
The best way to do this would be to switch to base64 encoding of the images so we can crop and resize them.

[2015-10-23 15:48] hoffmabc commented on #74
Fixed.

[2015-10-23 15:48] #74 closed, assigned to morebrownies

[2015-10-23 15:49] hoffmabc opened #77 "Email address needs mailto: external link"
Self-explanatory.

This is on the user's profile page.

[2015-10-24 18:49] hoffmabc opened #82 "Unable to save new listing due to inputPrice error"
If I do something wrong I get an inputPrice error and then I cannot save the item ever after that.

[2015-10-24 18:58] hoffmabc opened #83 "Move home button over to the left of search input"
We talked about this already. Just a reminder.

[2015-10-24 20:41] jjeffryes commented on #82
I haven't been able to reproduce this, try again with the latest update.

[2015-10-24 22:05] morebrownies commented on #83
Yes, this is for me.

[2015-10-26 02:33] drwasho opened #85 "Font weirdness"
![font weirdness](https://cloud.githubusercontent.com/assets/3887694/10719950/7922ad3a-7bdd-11e5-8d6f-5083cc4bb472.gif)

Quote from Josh: "Font looks like anti-aliasing is turning on and off."

[2015-10-26 14:46] hoffmabc opened #86 "Customizing your page fails if you haven't set a store name yet"
I believe this will be resolved by the onboarding wizard?

[2015-10-26 14:49] hoffmabc opened #87 "Take user to their store page when they go through Create Store wizard"
Not sure if this is in the pipeline yet.

[2015-10-26 17:37] morebrownies opened #90 "If the user hasn't set a name, generate a name placeholder similar to "Anon83242"."
Not sure the best way to go about generating the numerical value, but it will help add a bit of diversity instead of showing an empty space or something generic like "No name set".

[2015-10-26 17:43] hoffmabc commented on #90
Would be nice to have a dedicated prefix like OB or something.

[2015-10-26 18:44] morebrownies opened #91 "Integrate keyboard shortcuts to quickly navigate to core pages"
Hitting the following keys should take you to the appropriate sections. We also need to output the hotkeys in the user navigation (like below) so it's apparent they exist. I tried to select keys that aren't already mapped to shortcuts like ⌘c for example.

![openbazaar-keyboard-shortcuts](https://cloud.githubusercontent.com/assets/13066886/10738717/b00b4c7c-7be6-11e5-9d4f-61eef8b8e10b.png)

In add

[2015-10-26 18:45] hoffmabc commented on #91
Can’t use those shortcut texts though. Going to make it OS specific?

[2015-10-26 18:47] morebrownies commented on #91
We should be able to. We'd have to check the user's OS and set the shortcut text based on what they're using.

[2015-10-26 20:17] hoffmabc opened #95 "No CountryCode value for other countries in Create Listing"
I just added Afghanistan to my shipping countries.

![image](https://cloud.githubusercontent.com/assets/45482/10741221/007e8bb8-7bfd-11e5-869b-f42c98f5abdb.png)

[2015-10-26 20:24] hoffmabc commented on #21
Can we close this?

[2015-10-26 20:26] jjeffryes commented on #95
Looks like Afghanistan is missing from countries.proto and countries.py.

[2015-10-26 20:27] jjeffryes commented on #21
Yes.

[2015-10-26 20:27] #21 closed, assigned to nobody

[2015-10-26 21:19] hoffmabc opened #96 "Multiple instances of same user showing in Followers and Following lists"
![image](https://cloud.githubusercontent.com/assets/45482/10742839/b0dfd2c0-7c05-11e5-98db-03521d7cbc6f.png)

[2015-10-26 22:26] drwasho opened #97 "GET Image Error on the Home Page and Store Page (Header Image)"
When I fired up the client on the home view, I get the following error:

![image](https://cloud.githubusercontent.com/assets/3887694/10744251/4a010ec8-7c84-11e5-952f-2f221b2297fd.png)

When I went to the Art Store (seed server), I received the following error:

![image](https://cloud.githubusercontent.com/assets/3887694/10744161/bd1d0a3e-7c83-11e5-8966-86ef05f82fba.png)

As you can see, for some r

[2015-10-26 22:27] drwasho commented on #97
Also, the image that won't load is from @hoffmabc 's node. :trollface:

[2015-10-26 22:37] #97 closed, assigned to nobody

[2015-10-27 02:22] hoffmabc opened #98 "If BTC is currency then we get redundant pricing"
If BTC we shouldn't show another BTC in parenthesis.

![image](https://cloud.githubusercontent.com/assets/45482/10747806/0596d564-7c30-11e5-87d1-3ad2565147ce.png)

[2015-10-27 02:25] hoffmabc opened #99 "Navbar Avatar doesn't update when changing it until refresh"
If used admin panel to update avatar and it changes in my page but not the main navbar.

![image](https://cloud.githubusercontent.com/assets/45482/10747850/765b7994-7c30-11e5-84cd-0ddd81f35775.png)

[2015-10-27 03:01] hoffmabc opened #101 "[Windows] Avatar looks odd"
![image](https://cloud.githubusercontent.com/assets/45482/10748339/786dcb10-7c35-11e5-8bf6-0e5862aed4fc.png)

[2015-10-27 14:38] drwasho opened #102 "[Startup] Header image error"
Not a bug exactly but if you start a fresh node and attempt to change the header image first, the client will give you an error saying that it needs a `name` and `location`, which are the constraints of the API. Something to be aware of in the future.

[2015-10-27 20:14] jjeffryes commented on #101
This is fixed.

[2015-10-27 20:14] #101 closed, assigned to jjeffryes

[2015-10-27 20:15] jjeffryes commented on #99
This is fixed in commit #105.

[2015-10-27 20:15] #99 closed, assigned to jjeffryes

[2015-10-27 20:18] hoffmabc opened #106 "URL Bar border doesn't reflect the theme"
Select the URL bar on a custom color page and it remains blue.

![image](https://cloud.githubusercontent.com/assets/45482/10771291/5611e042-7cc6-11e5-9413-3ffa45353314.png)

[2015-10-28 13:51] SamPatt opened #107 "Client stuck loading"
With server running client loads but is stuck here:

![screenshot from 2015-10-28 09 35 36](https://cloud.githubusercontent.com/assets/6955773/10790345/242195e4-7d59-11e5-8ce8-b435b217e531.png)

Nothing in console. Client log:

[code]

[2015-10-28 17:34] jjeffryes commented on #96
Solved in PR #108

[2015-10-28 17:34] #96 closed, assigned to nobody

[2015-10-28 18:50] jjeffryes commented on #107
I have found on situation that can cause this, if a module can't be found it can break things at the beginning of the current view file and lock you in this state.

If that happened, however, there would be a JavaScript error in the console (web dev tools and in the command window).

Just adding that to the record as a possible clue.

[2015-10-28 23:33] cpacia opened #110 "Text overlaps profile image"
This is when you scroll to the bottom and it shrinks the avatar image. (on ubuntu, don't know about others)

![image](https://cloud.githubusercontent.com/assets/4504708/10806296/af0bcab6-7daa-11e5-89f7-3b05ddd7e538.png)

[2015-10-29 01:36] morebrownies commented on #110
Fixed this is header2, will be merged soon.

[2015-10-29 01:39] morebrownies opened #111 "User page scroll is jumpy"
The header no longer falls back into place cleanly when going from the compressed slimmer header to the full header. I need to find out what caused this and resolve it.

[2015-10-29 03:22] drwasho commented on #82
I also can't add a float to the price... it has to be a whole number.

[2015-10-29 03:23] #51 closed, assigned to jjeffryes

[2015-10-29 14:48] morebrownies opened #113 "I'm seeing another nodes items on my store page"
This happened randomly. I went to Brian's page first and then back to my page. It doesn't happen every time.

http://i.imgur.com/13FPI8W.png

[2015-10-29 14:49] hoffmabc commented on #113
I think this can happen if you quickly go between stores. It's the asynchronous items loading in I think.

[2015-10-29 15:27] jjeffryes commented on #113
The store items come from get_listings, they aren't asynchronous. I've been trying to reproduce this, but haven't seen it so far.

If either of you see this again, can you look at your network tab to see if get_listings was called, what guid was on the call, and whether it returned the listings you're seeing?

[2015-10-29 16:30] jjeffryes commented on #82
Fixed in #114

[2015-10-29 16:30] #82 closed, assigned to jjeffryes

[2015-10-29 17:21] #106 closed, assigned to jjeffryes

[2015-10-29 17:22] jjeffryes commented on #110
Fixed and merged.

[2015-10-29 17:22] #110 closed, assigned to nobody

[2015-10-29 21:41] drwasho commented on #82
Kickass

[2015-10-30 01:02] drwasho opened #116 "Indicate that the minimum local or international shipping price is 0.01 BTC"
At the moment it just gives you an error without explanation.

[2015-10-30 01:04] drwasho opened #117 "Add a missing space in 'estimateddelivery'"
![image](https://cloud.githubusercontent.com/assets/3887694/10836162/fd1cae22-7ef5-11e5-8971-a670087f48ba.png)

[2015-10-30 01:05] drwasho commented on #117
Perhaps `(international)` under **International** is redundant.

[2015-10-30 01:07] drwasho opened #118 "'Terms and Conditions' absent when none, but not 'Returns'"
I actually suggest that if it is 'none', but you still see that T&C and Returns are none, rather than just hide them.

[2015-10-30 01:07] drwasho opened #119 "[Idea] Add `test` flag to contracts"
A lot of users will want to kick the tires on OpenBazaar when the start it up. What if we allowed users to create listings with a flag that said this was a test contract?

Additional thoughts:
- In these contracts, the `buy` button could be disabled.
- In the settings, there could be an option to display `test` listings or not

[2015-10-30 01:10] gubatron commented on #119
sort of like a `--dry-run` flag on some software?

[2015-10-30 01:11] drwasho commented on #119
Sorry @gubatron the issue was launched prematurely (I swear that never happens).

[2015-10-30 01:16] drwasho commented on #119
Kinda like this (I guess more like a ribbon):

![image](https://cloud.githubusercontent.com/assets/3887694/10836300/a1dd17de-7ef7-11e5-95ef-e87963ab275e.png)

[2015-10-30 01:18] drwasho commented on #119
The big reason for this is that we're just going to see a lot of supposedly _real_ with titles like 'Shoes [TEST]' all over the network. We can get ahead of this and just mark these listings as test listings and filter them out if the user wants.

[2015-10-30 01:23] drwasho opened #120 "Editing contracts - changes only visible after refresh"
Editing works amazingly well, however changes to the listing on the Store page aren't visible until refresh.

[2015-10-30 01:29] drwasho opened #121 "Minimum price, domestic & international fees are too high [when BTC is set as the currency]"
At the moment they're set at 0.01 BTC. If we ever see a significant price run up to $1,000, that means items less than $10 can't be sold. I suggest we lower the minimum to 0.0001 BTC, which is pretty close to the default minimum Bitcoin transaction fee.

[2015-10-30 01:30] gubatron commented on #119
makes sense +1.

I'd the visual rep a bit more obvious, took me a while to see the band there.

Something a bit less exagerated than this perhaps?
![test](https://cloud.githubusercontent.com/assets/163977/10836464/42a1d1a6-7e84-11e5-978f-eec6a6b0df4b.jpg)

I'm sure the design oriented contributors will have a good way to do it.

[2015-10-30 01:31] drwasho commented on #119
Haha, yeah. @morebrownies can take this on.

[2015-10-30 01:33] drwasho commented on #83
It used to be to the left, but now it's back on the right. I'm happy with it on the right actually, but whatever the consensus is.

[2015-10-30 01:33] gubatron commented on #121
how about the default fee is based on a US dollar amount and automatically converted to BTC...?
#VolatilityLife

[2015-10-30 01:35] drwasho commented on #121
Well it would be if you set your client to a particularly currency. If you choose to only transact in Bitcoin, then you're restricted in the way I described.

[2015-10-30 01:36] drwasho commented on #120
If you click the 'unedited' contract, it returns this (because it's not there of course):

![image](https://cloud.githubusercontent.com/assets/3887694/10836539/5fd001f0-7efa-11e5-90ef-2cd208083bb7.png)

[2015-10-30 01:42] drwasho opened #122 "Listing image improvements"
#### Example

![image](https://cloud.githubusercontent.com/assets/3887694/10836572/0cde7566-7efb-11e5-8adb-5941bae7b31b.png)
#### Suggestions
1. Selecting a smaller image changes the larger image to what has been selected.
2. Clicking on the larger image maximizes the image + zoom in/out functionality.

[2015-10-30 01:46] drwasho opened #123 "Create a shutdown button in the client"
Triggers the `/api/v1/shutdown` API.

[2015-10-30 02:42] morebrownies commented on #83
I think we have two options:

1) We could keep it as is (back, forward, refresh, address bar, home, notifications, user)
2) Or move the refresh button into the address bar (like Safari) and then move the home button to the left  (back, forward, home, address bar (with refresh), notifications, user) http://i.imgur.com/WQFubLp.png

I'm kind of leaning towards #2 because it preserves space in the hea

[2015-10-30 15:44] jjeffryes commented on #123
Closed in #124

[2015-10-30 15:44] #123 closed, assigned to nobody

[2015-10-30 16:15] morebrownies opened #125 "Reloading should re-render the current view, not everything."
I find it strange that reloading makes the the header reload too. If it could reload everything underneath the header, it should better match the expectations of a refresh action.

[2015-10-30 16:23] jjeffryes commented on #125
The reload button is a "stop the application, and restart it" button.

What you're describing is a reload view button, which is something different.

If we want that functionality, we should have 2 different buttons.

[2015-10-30 16:26] morebrownies commented on #125
Agreed.

The stop and restart button should be in settings or the user navigation and the reload view should be in the header. Now that I think about it, is there even a need for a reload view button?

[2015-10-30 16:28] morebrownies opened #126 "Add a confirmation to all delete actions."
It's too easy to accidentally delete things, adding a js confirmation will help.

[2015-10-30 16:29] jjeffryes commented on #125
A reload view button is the same as navigating away from a view and back again.

I could see the use of it if you think someone may have added or removed items if you've had their user page open for a long time. Or just for people that want to mash the button a bunch to make sure what they're looking at is up to date.

[2015-10-30 16:53] morebrownies commented on #125
Good point. We'll need both then.

[2015-10-30 17:53] gubatron commented on #126
+1 this is a must.

[2015-10-31 17:43] jjeffryes commented on #126
Closed in PR #128

[2015-10-31 17:43] #126 closed, assigned to nobody

[2015-11-02 16:53] morebrownies opened #129 "Enhancement to main screen browsing experience."
This has been brought up a few times and I wanted to suggest an idea on how to resolve the problem.

**Problem:** Clicking an item on the homepage takes you to the contract detail screen on the vendor's page and then clicking back to home refreshes the entire list of items. Once the items reload again, the ordering of the items no longer matches the prior order, which makes the user have to dig th

[2015-11-02 23:20] drwasho opened #131 "[Bug] When creating a listing, 'save changes' is replaced with 'customize'"
![image](https://cloud.githubusercontent.com/assets/3887694/10897336/f34d1436-820b-11e5-8b77-54e742bad9b9.png)

[2015-11-03 02:55] drwasho opened #132 "Listing title + avatar margin"
![image](https://cloud.githubusercontent.com/assets/3887694/10900332/243c8360-822a-11e5-99f6-b8c30220816f.png)

[2015-11-03 03:00] gubatron commented on #132
![eye_twitch](https://cloud.githubusercontent.com/assets/163977/10900388/1e8f1a22-81ad-11e5-90a5-7004f832a935.gif)

[2015-11-03 03:32] #132 closed, assigned to morebrownies

[2015-11-03 03:33] drwasho commented on #132
Kickass @jjeffryes

[2015-11-03 05:35] drwasho opened #135 "Client bricked when node is unreachable"
![image](https://cloud.githubusercontent.com/assets/3887694/10901775/6c122436-8240-11e5-93f1-77a440f0710a.png)

Esc or Ctrl+r doesn't get me out :/

[2015-11-03 19:05] hoffmabc opened #138 "Listings can have HTML embedded in them"
Put an HTML anchor tag in the title and the UI will render a link on the items page. Will test Javascript to see if that works as well.

We need to filter HTML out of form fields.

[2015-11-03 19:05] hoffmabc commented on #138
It can put you on another webpage with no way to get back.

![image](https://cloud.githubusercontent.com/assets/45482/10918497/fed79042-8233-11e5-91bd-9c5e090f7724.png)

[2015-11-03 19:15] hoffmabc commented on #138
Ok it's completely vulnerable to XSS and script injection.

[2015-11-03 20:33] hoffmabc opened #141 "Bump Electron to 0.34.x branch"
Upgrade electron

[2015-11-03 20:36] hoffmabc commented on #138
Looks like it has been resolved.

[2015-11-03 20:36] #138 closed, assigned to nobody

[2015-11-03 20:40] hoffmabc opened #142 "Profile Pages and where @username is shown should ensure valid structure"
Make sure inputs only allow @username format and not arbitrary content. The next step would be to validate against Onename API as well. This will need to happen on incoming content as well to prevent identity spoofing.

![image](https://cloud.githubusercontent.com/assets/45482/10920990/242d1f1c-8241-11e5-9c9a-ae74c51212bc.png)

[2015-11-03 20:41] hoffmabc opened #143 "If safely possible allow user-formated content on About section of Profile"
![image](https://cloud.githubusercontent.com/assets/45482/10921044/63c021a6-8241-11e5-926c-d3c16f6b6fc4.png)

[2015-11-04 03:43] drwasho commented on #135
I think this got fixed in the latest bunch of commits. Will reopen if encountered again.

[2015-11-04 03:43] #135 closed, assigned to jjeffryes

[2015-11-04 03:45] drwasho opened #146 "Display contract type in store"
Even though I have a physical, digital, and service contract in my store, they all look the same. I think we need to show these 3 different types in the listing view (for the homepage or store page) and when you open a listing and see the description.

[2015-11-04 03:46] drwasho commented on #143
Markdown support would be awesome.

[2015-11-04 13:55] jjeffryes commented on #135
Yes, I thought I had closed it in the PR.

[2015-11-04 15:15] morebrownies commented on #146
I added this to the contract detail screen, should be merged at some point today. I'll need to figure out a spot to work it into the main screen.

[2015-11-04 15:21] morebrownies commented on #86
Would it make sense to have the server automatically set a name upon guid creation? Ideally, it would generate something like Anon89234 (last 5 digits of the guid) and the user could override it at any point. I think it would be ideal for every node to have a name and not rely on the client application to generate one.

[2015-11-04 15:46] morebrownies opened #148 "Opacity on the back/forward buttons is incorrect"
When either button is clickable, it should have an opacity of .8

When inactive, opacity should be .3

[2015-11-04 15:48] morebrownies opened #149 "New contract inputs are being populated with text"
Title is set to "new item", sku is set to "0", etc... The inputs should be empty by default and display the placeholder text.

[2015-11-04 15:50] morebrownies opened #150 "Shipping is displaying for digital items and services"
<img width="623" alt="screenshot 2015-11-04 09 49 48" src="https://cloud.githubusercontent.com/assets/13066886/10943280/6b9fa26e-82d9-11e5-9d53-e38467fd3f2f.png">

[2015-11-04 15:50] jjeffryes commented on #149
You can update this if you want, just change the values in itemMd.js to "" instead of numbers.

[2015-11-04 15:51] morebrownies commented on #149
Will do

[2015-11-04 15:54] SamPatt opened #151 "npm start fail"
After git pull and 'sudo npm install' I now get this error when running 'npm start':

[code]

[2015-11-04 15:54] morebrownies opened #152 "What causes the spinner to display each time I view one of my contracts?"
Isn't this data already local? Could it be served up instantly? Seems like it takes a few seconds to display each one of contracts every time I view it and I wonder if this is necessary.

<img width="456" alt="screenshot 2015-11-04 09 52 28" src="https://cloud.githubusercontent.com/assets/13066886/10943374/c5e4fb0c-82d9-11e5-8200-1fa9726bb134.png">

[2015-11-04 15:55] jjeffryes commented on #152
Pulling data from the local server isn't instant.

[2015-11-04 16:03] morebrownies commented on #152
Could caching help? The experience just feels a bit off. I first see a giant spinner that overtakes the entire screen and then the smaller spinner displays and it takes a few seconds to render.

Clicking followers or following on my page loads instantly, wondering if it could work the same for contracts.

[2015-11-04 16:06] jjeffryes commented on #152
The followers, following, about and store all load when the page loads, since each of those is a single call to the server. Individual contracts don't load until someone clicks on one.

If a store had a lot of contracts, loading all of them when the page loads could take a while, since each one is a separate call to the server, especially if you're looking at someone else's store.

[2015-11-04 16:14] cpacia commented on #152
I would agree with Mike, I feel like spinners should only show if it's going to take a while. 1 or 2 seconds to load something doesn't seem like the place to use a spinner.

[2015-11-04 16:18] jjeffryes commented on #152
How do you tell how long it's going to take before you show the spinner?

We could delay showing the spinner, but it would seem weird to show nothing, wait, and then show the spinner.

[2015-11-04 16:19] morebrownies commented on #152
I think a spinner should still display if it's fetching content, but seeing two different types of spinners and having to wait to load something that I looked at a few seconds ago seems like there is some room for optimization.

[2015-11-04 19:11] hoffmabc opened #153 "Customize Profile from Menu does not go to the feature"
Self-explanatory.

[2015-11-04 19:13] jjeffryes commented on #153
Do we still want this in the menu? Or should you just go to your page and then click the customize button?

[2015-11-04 19:16] morebrownies commented on #153
Having it in two places is better than one
On Nov 4, 2015 1:13 PM, "Josh Jeffryes" notifications@github.com wrote:

[2015-11-04 21:54] #5 closed, assigned to nobody

[2015-11-04 22:18] drwasho commented on #153
![image](https://cloud.githubusercontent.com/assets/3887694/10953824/cb49d9d4-8395-11e5-8404-caef44354de8.png)

Color customization isn't saving either.

[2015-11-04 22:27] hoffmabc opened #158 "Cannot save Customization colors"

[2015-11-05 02:48] drwasho commented on #158
Fixed.

[2015-11-05 02:48] #158 closed, assigned to jjeffryes

[2015-11-05 02:49] drwasho commented on #146
Awesome @morebrownies

[2015-11-05 02:51] drwasho opened #160 "Inconsistency in listing capitalization of title"
On the store page (`not working`):

![image](https://cloud.githubusercontent.com/assets/3887694/10958612/d889f888-83bb-11e5-9b42-87d6d29efb99.png)

When you open a listing (`working`):

![image](https://cloud.githubusercontent.com/assets/3887694/10958605/bd6239c6-83bb-11e5-9a50-b27b6b9143cb.png)

[2015-11-05 03:02] drwasho opened #161 "Follow and unfollow button displays during loading a new store"
![image](https://cloud.githubusercontent.com/assets/3887694/10958766/652fb394-83bd-11e5-8f33-ae05d25e2447.png)

[2015-11-05 03:07] drwasho opened #162 "Multiple images do not display initially, reload required?"
Tested this twice... not sure if it's my bad connection. Can someone confirm?

[2015-11-05 03:18] unsystemizer opened #163 "Missing license file"

[2015-11-05 03:34] unsystemizer commented on #95
`ALLAND_ISLANDS` also has no country code

[2015-11-05 03:37] unsystemizer opened #164 "Add default expiration time to Create Listing page"
If I pick (say) Dec 31, 2015 as my expiration date, the time could be set to 00:00 or 23:59.

Right now it's `--:--` so although I don't care what's in there as long as I don't have to enter anything, it is not possible to use `--:--`. If that was set to anything acceptable to the validator, it'd save time.

[2015-11-05 03:59] hoffmabc commented on #163
Any more information here?

[2015-11-05 04:14] unsystemizer commented on #163
Well, I could have pasted from https://github.com/OpenBazaar/OpenBazaar-Server/blob/master/LICENSE, but I don't know who's the copyright holder and whether the license will be identical. But I'll paste that file now.

---

The MIT License (MIT)

Copyright (c) 2015 <NAME> <SURNAME>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated document

[2015-11-05 04:15] hoffmabc commented on #163
Sorry I was confusing. Was just asking where you want the LICENSE file to be included? In the main directory? Is that what you're missing?

[2015-11-05 04:16] unsystemizer commented on #163
NP. Yes, the same place in the repo as in Open Bazaar Server, I suppose.

[2015-11-05 14:45] SamPatt commented on #151
Solved by running:

[code]

[2015-11-05 14:45] #151 closed, assigned to nobody

[2015-11-05 14:47] unsystemizer opened #166 "Admin Panel > Set Profile > Handle needs a hint"
It's not obvious what should be entered there, maybe some hint on validation error, or error, or hover would be useful.

[2015-11-05 14:48] hoffmabc commented on #166
Admin panel is temporary and we will be using this to lock onto Blockchain IDs. Closing for now.

[2015-11-05 14:48] #166 closed, assigned to nobody

[2015-11-05 14:49] defijesus commented on #166
Wow, faster then the shadows

[2015-11-05 14:50] SamPatt commented on #107
@jjeffryes I now see this in console though it's likely unrelated:

[code]

[2015-11-05 14:52] hoffmabc commented on #107
I think it's in one of the modules. Didn't seem problematic.

[2015-11-05 14:53] SamPatt commented on #107
Is there any way to manually force a profile call?

[2015-11-05 14:54] jjeffryes commented on #107
Starting the client makes a profile call.

[2015-11-05 14:58] SamPatt commented on #107
Mine doesn't, that's the problem here. Didn't know if I could do that manually with the dev tools in client.

[2015-11-05 15:47] jjeffryes commented on #72
Is this bug still happening? I can't reproduce it.

[2015-11-05 15:48] jjeffryes commented on #75
Closed in #154

[2015-11-05 15:48] #75 closed, assigned to nobody

[2015-11-05 15:51] jjeffryes commented on #107
The app tries to load the profile 10 times when it starts up, and if all 10 fails, tries again with the default local server. If all of those fail, there is probably something wrong with your server or your installation.

[2015-11-05 16:11] jjeffryes commented on #162
Closed in PR #167

[2015-11-05 16:11] #162 closed, assigned to nobody

[2015-11-05 17:45] jjeffryes commented on #161
Closed in #168

[2015-11-05 17:45] #161 closed, assigned to morebrownies

[2015-11-05 21:28] drwasho commented on #164
For the love of God yes.

[2015-11-05 21:28] drwasho opened #170 "'Cancel' button doesn't work in Customizations"

[2015-11-05 21:33] drwasho commented on #116
Bump @morebrownies

[2015-11-05 21:36] drwasho commented on #121
That minimum definitely needs to be reduced to 0.0001 BTC @jjeffryes

[2015-11-05 21:38] jjeffryes commented on #170
Can you explain when the cancel button doesn't work?

I am trying it in master right now, and I can't reproduce this issue.

[2015-11-05 21:46] morebrownies commented on #116
This seems like a UX nightmare to me for a few reasons.

1) Most users will be setting prices in fiat, so displaying a min price of 0.01 BTC will just confuse them. If anything, we'll want to do the conversion and return back what the min price is in their local currency and not in bitcoin.

2) As of right now, 0.01 BTC = $4.06 USD. We're basically saying items under $5 aren't supported? Why?

3)

[2015-11-05 21:48] drwasho commented on #170
Hmm... couldn't reproduce it either. But I did run into this bug along the way (it's a YouTube video, click the image):

[![customization bugs](http://img.youtube.com/vi/yjq9tVr9oLA/0.jpg)](http://www.youtube.com/watch?v=yjq9tVr9oLA)

[2015-11-05 21:51] hoffmabc commented on #116
0.01 is too high I agree with @morebrownies

[2015-11-05 21:51] hoffmabc commented on #116
This isn't BitMarkets

[2015-11-05 21:52] drwasho commented on #116
I submitted issue #121 to decrease the minimum price.

[2015-11-05 21:54] hoffmabc commented on #116
Why not just amend this issue? Can you consolidate and close one?

[2015-11-05 22:15] morebrownies commented on #121
We're approaching this problem in the wrong way. Contracts that sit on the network for years can still eventually fall under the minimum miner fee. There's no protection on existing items.

Instead, what we need to do is display a warning during checkout or disable checkout all together on items that are under the minimum miner fee. That way, not only new items are protected against items under th

[2015-11-05 22:20] #170 closed, assigned to jjeffryes

[2015-11-05 22:29] SamPatt commented on #121
It would be good to have @cpacia's opinion since this will impact how a miner fee is paid out from the multisig. I expect we'll need to ensure there's at least a minimum amount in multisig or else payment won't release reliably.

That's probably a good idea.

[2015-11-05 23:12] drwasho opened #174 "Selecting 'Create Listing' from the Menu -> No 'save changes' button"
**Bug:**
1. Select 'Create Listing' from the menu
2. The two buttons are 'Create Listing' and 'Customize'.. there is no 'Save Changes'.
3. Whatever you fill in is lost because the listing can't be saved.

![image](https://cloud.githubusercontent.com/assets/3887694/10984629/657423f4-8466-11e5-8c6d-cbe318481edc.png)

[2015-11-05 23:13] drwasho commented on #121
+1

[2015-11-05 23:13] #116 closed, assigned to morebrownies

[2015-11-05 23:14] drwasho commented on #121
This issue should also address if and how we communicate the minimum bitcoin price (#116). Note that this is only relevant when items are priced in bitcoin.

[2015-11-05 23:37] jjeffryes commented on #174
I haven't been able to duplicate this.

[2015-11-05 23:42] jjeffryes commented on #141
Dependency was updated.

[2015-11-05 23:42] #141 closed, assigned to nobody

[2015-11-05 23:45] #164 closed, assigned to jjeffryes

[2015-11-06 00:00] drwasho commented on #174
It's reproducible for me.

[2015-11-06 00:16] jjeffryes commented on #174
What operating system are you on?

[2015-11-06 00:20] drwasho commented on #174
The 10th version of Windows.

[2015-11-06 00:54] drwasho commented on #164
Nice work.

[2015-11-06 02:24] cpacia commented on #119
This is what the test network is for. All contracts on the testnet are test. Main net is for real contracts.

[2015-11-06 02:53] jjeffryes commented on #95
@hoffmabc or @cpacia or @unsystemizer might be better for this one, it's a python file that needs to be changed.

[2015-11-06 02:54] hoffmabc commented on #95
@cpacia can you fix this one please?

[2015-11-06 03:05] cpacia commented on #95
I'll add them to the end of the list. It's too much of a pain to put them in their spot in alphabetical order and manually re-number everything. @jjeffryes your code might be missing them as well since I believe you just pasted what you had into the protobuf.

[2015-11-06 03:56] jjeffryes commented on #95
I'll check, but I think the error happens when a country that is in the client is sent to the server.

This probably happened because I missed a couple countries when I translated the code from the client to the server. I did a bunch of regex to reformat it, I may have accidentally erased something.

[2015-11-06 04:01] unsystemizer opened #176 ""Settings" can't be displayed"
Upgraded to Server and Client with commits from Nov 6, now in client Web UI "Settings" doesn't show up (Admin Panel, for example, does).
When I click on "Settings" it seems the code hits `fadeOut hide` and stops there.
It worked with Client/Server source from 2 days ago.

[2015-11-06 04:04] drwasho opened #177 "Long titles produce some weirdness"
![image](https://cloud.githubusercontent.com/assets/3887694/10989140/3668f0de-848f-11e5-9269-d5e1591e0f07.png)

[2015-11-06 13:36] jjeffryes commented on #176
The code for settings hasn't been committed yet, Hauxir is finishing it.

[2015-11-06 13:36] #176 closed, assigned to nobody

[2015-11-06 13:52] jjeffryes commented on #176
For more clarity, what do you mean by settings worked two days ago? Clicking on settings shouldn't have done anything.

[2015-11-06 13:55] jjeffryes commented on #120
I can't reproduce this, I think it was fixed a while ago.

[2015-11-06 13:55] #120 closed, assigned to jjeffryes

[2015-11-06 13:57] jjeffryes commented on #87
Closed in #173

[2015-11-06 13:57] #87 closed, assigned to jjeffryes

[2015-11-06 13:57] jjeffryes commented on #102
Duplicate of #90

[2015-11-06 13:57] #102 closed, assigned to nobody

[2015-11-06 13:58] jjeffryes commented on #86
Duplicate of #90

[2015-11-06 13:58] #86 closed, assigned to jjeffryes

[2015-11-06 14:00] #72 closed, assigned to jjeffryes

[2015-11-06 14:00] #59 closed, assigned to morebrownies

[2015-11-06 14:01] jjeffryes commented on #52
@drwasho are you still seeing this issue?

[2015-11-06 14:02] jjeffryes commented on #73
This has been fixed by the loading dialog having a close app button, and showing the nav bar after the reloading fails 10 times.

[2015-11-06 14:02] #73 closed, assigned to nobody

[2015-11-06 15:19] unsystemizer commented on #176
I thought Settings was working and I'm pretty sure more buttons were working than with the updated code. But now my OB Server can't start ("Finding NAT Type...") either, so I can't see any more what else does not work.
Okay let's leave this closed.

[2015-11-06 15:48] SamPatt opened #181 "How will Client code be updated for users?"
Brian mentioned that as an Electron app there might be the option for pushing updates automatically. Opening this up for discussion.

[2015-11-06 16:29] SamPatt opened #182 "Could updating a contract cause trade problems?"
Any updates to a contract will change the contract ID. What happens if the vendor updates a contract while a buyer has already begun the process of buying the product, or if funds are in multisig already?

I put this in Client repo but it affects both repos so we'll need @cpacia's opinion as well.

[2015-11-06 16:33] SamPatt opened #183 "How will users remove themselves as stores, and will their stores still be viewable?"
Vendors need to be able to make themselves non-vendors. If this happens, will other users be able to still view their store and any remaining listings?

This is in the Client repo but ideally this type of decision would be made at the server level.

[2015-11-06 20:52] gubatron commented on #181
I recommend Bittorrent. Saves us about $10k in bandwidth costs every month, and we have a 20mb installer, I think yours will be considerably larger, which would probably cost you +$100k/monthly in bw costs if you get growth.

[2015-11-06 21:56] cpacia commented on #182
The buying process is unaffected. It would only be a problem if the vendor changes the contract after the buyer clicks buy but before the purchase message is sent to the vendor. And all that would happen is the vendor would reject the purchase because the contract hash buyer is trying to purchase no longer exists. So the buyer would have to back out and try again.

But we don't want to put flags i

[2015-11-07 04:52] SamiLehtinen commented on #181
You could also publish chunked updates using OpenBazaars own Object Storage and Merkle tree and for users who aren't using BitTorrent, you could host the files on some really bandwidth cost efficient hosting. I don't want to put any 'adverts' here so I'll give the info personally if required.

[2015-11-08 11:46] unsystemizer commented on #183
In my opinion if someone has a listing, he's a store. If someone doesn't want to be a store, he can unlist his stuff and then stop being a store (if he doesn't plan to sell anything in the near future).
Then the question becomes is there a need for stealth listings (stealth stores).

[2015-11-08 13:11] hoffmabc commented on #183
I think people may put a lot of time and effort into their stores management and creating listings. Also what if they're preparing to bring out a bunch of new stuff and don't want to expose it until later. I think there are a bunch of use cases where people may want to "hide" their listings from the general network for a time.

[2015-11-08 13:32] unsystemizer commented on #183
Pre-launch preparations make sense. I thought a listing is a published offer and that the question is about those.
To me it seems it would be more practical to add another field to product listing (ex: `valid_from`) and not have the listing published until chosen time and date, than to have only one way to disable a listing (to un-store yourself, which isn't very granular and disables all listings

[2015-11-08 16:28] jjeffryes commented on #183
I think there are scenarios where it makes sense to mark an item as "Not For Sale" without deleting it. It would be simpler, and a better experience, if the item was still visible, just marked as not for sale and the buy button was disabled.

@cpacia could contracts have an Active boolean attribute? Then you could just set that when creating or editing the product, and the client would disable buy

[2015-11-08 16:34] cpacia commented on #183
Not without changing the contract hash. I could maybe put a boolean in the metadata but if the user goes straight to the product then it wouldn't show.

I feel like this is not something we should be stressing over for version one. Simply setting vendor=False and not showing listings for a node with vendor=False is probably good enough.

[2015-11-08 16:35] hoffmabc commented on #183
We can make a strong inventory management push for next release

[2015-11-08 17:34] morebrownies commented on #183
I agree that toggling your store on/off should be good enough for the initial release. We can add the toggle to the settings page for now.

On = My store is visible to everyone and my items display in search.

Off = My store is not visible to me or others, plus all my items are pulled from search. If someone has a direct url to one of my items, display "This listing no longer exists".

Moving forw

[2015-11-08 22:54] drwasho commented on #183
I mostly agree with @morebrownies

If Alice selects 'Off', their profile/social data is still accessible to other nodes but not their Vendor-related data like listings (they would remain private). So Alice's node would not serve that data when the `get_listings` call is made AND the WS `get_vendors` call would not show Alice as a Vendor. Also looking for specific contracts won't work either.

[2015-11-08 22:58] drwasho opened #187 "Private/hidden listings"
This is related to #183 but there is a use-case for supporting private/hidden listings.

The rationale is that I want to create a listing on my store (or even while not having an official store) that is only accessible to anyone or a specific user **provided** they have the correct contract hash (ID).

This would also mean that private listings would have their keywords disabled in order to preven

[2015-11-08 22:59] drwasho commented on #52
Nope, all fixed. Sorry should have closed this earlier.

[2015-11-08 22:59] #52 closed, assigned to jjeffryes

[2015-11-09 02:56] drwasho opened #188 "Following/Followers Avatar not updating"
Old avatars are being used when looking at nodes in the following/followers tabs.

[2015-11-09 03:06] SamPatt commented on #187
This is definitely a desirable feature. The contracting system lends itself well to invoicing, so you could craft an invoice as an item and then send the link along, but this wouldn't work if it's publicly listed.

Lots of use cases for this. If it's easy to implement it should be a v1 goal.

[2015-11-09 03:07] jjeffryes commented on #188
Can you tell if the problem is it's loading the wrong image hash and guid, or if the image hash and guid results in the wrong image?

[2015-11-09 03:08] drwasho commented on #188
![image](https://cloud.githubusercontent.com/assets/3887694/11025109/fbad61a4-86e2-11e5-921d-10aeb2917859.png)

[2015-11-09 03:21] jjeffryes commented on #188
Which ones are the old ones?

The avatars that have 404 errors should be showing the default avatar, which is that abstract blob thing.

[2015-11-09 03:23] drwasho commented on #188
Sam's avatar, which belongs to a node that no longer exists after he blew away his database.

[2015-11-09 03:24] drwasho commented on #188
Brian's node... of course :P

[2015-11-09 03:48] hoffmabc commented on #188
That's how I roll

[2015-11-09 13:21] cpacia commented on #188
It won't update the avatar. That would require querying everyone follower every time.

[2015-11-09 13:31] drwasho commented on #188
Don't we have the latest avatar in cache?

[2015-11-09 13:43] hoffmabc commented on #188
You still would have to do a profile call to see what is the latest avatar then check the cache.

[2015-11-09 13:49] drwasho commented on #188
So we don't have a place in the database for the last known avatar hash for users in our followers/following tab?

[2015-11-09 13:51] cpacia commented on #188
No.

[2015-11-09 13:53] drwasho commented on #188
Ok... so are we saying we're ok with this bug? What's the solution here?

[2015-11-09 13:55] hoffmabc commented on #188
I think for now yes

[2015-11-09 13:56] hoffmabc commented on #188
We could push it to the DHT at a small icon size right?

[2015-11-09 14:00] cpacia commented on #188
That's a bad idea. There isn't any way to get an updated image without querying everyone. If you unfollow and refollow it will update it, but that's it.

The follow data is signed so it can't be faked by node serving it. You can't just update it without another signature on the follow object.

[2015-11-09 14:03] hoffmabc commented on #188
But why is an avatar part of signed data it doesn't make much sense. I guess if they used blockchain id could mitigate this.

[2015-11-09 15:57] cpacia commented on #188
I signed it so that people don't put up fake avatars for other people. Like imagine you use some porn image for one of your competitors to try to deter people from going there.

[2015-11-10 14:06] jjeffryes commented on #177
Closed in #186

[2015-11-10 14:06] #177 closed, assigned to nobody

[2015-11-10 14:07] jjeffryes commented on #174
Are you still seeing this issue? Has anyone else been able to reproduce it?

[2015-11-10 14:08] jjeffryes commented on #107
@SamPatt, are you still running into this problem?

[2015-11-10 14:12] jjeffryes commented on #150
Processing time is a required field for all contracts. A digital product or a service can still have a processing time.

[2015-11-10 14:12] #150 closed, assigned to nobody

[2015-11-10 14:25] SamPatt commented on #107
On my local Ubuntu 12.04, yes, this is still a problem.

I upgraded my laptop to Ubuntu 14.04 and it isn't a problem on there.

[2015-11-11 05:11] drwasho opened #191 "Set server location"
I put the wrong address for my server location in the client and it had to go through 10 attempts before resetting to the default settings. It would be great if there was a button next to 'Close Application' that would reset to the default settings straight away.

[2015-11-11 05:13] drwasho commented on #174
All fixed.

[2015-11-11 05:13] #174 closed, assigned to jjeffryes

[2015-11-11 22:28] jjeffryes commented on #76
This was closed in #185

[2015-11-11 22:28] #76 closed, assigned to nobody

[2015-11-12 02:42] SamPatt opened #194 "Spinner overlay continues past error message"
When I try to navigate to a GUID that my client cannot reach, the spinner image shows until I eventually receive the message that I cannot reach the store. However, once I exit that message, the spinner still displays, and if I navigate to home it will load listings in the background but the spinner is still displayed. It only goes away once I click "My Page".

[2015-11-12 13:40] jjeffryes commented on #194
Closed in #196

[2015-11-12 13:40] #194 closed, assigned to jjeffryes

[2015-11-12 19:29] cpacia opened #200 "Scroll/small icon broken"
![image](https://cloud.githubusercontent.com/assets/4504708/11128731/a3682d6c-8949-11e5-9f9c-313500b3cbef.png)

Doesn't use the profile image when minimizing the avatar on scroll, then proceeds to scroll past it instead of stopping on it like it used to.

[2015-11-12 19:30] jjeffryes commented on #200
Maybe I spoke too soon about that being a smooth merge this time...

[2015-11-12 19:31] cpacia commented on #200
This was broken before the merge. Wasn't sure if you were aware of it.

[2015-11-12 19:31] jjeffryes commented on #200
I was not.

[2015-11-12 19:39] morebrownies commented on #200
Yeah it happened after the zindex changes so likely just a CSS issue
On Nov 12, 2015 1:31 PM, "Josh Jeffryes" notifications@github.com wrote:

[2015-11-12 20:41] z3ntu opened #202 "Uncaught SyntaxError: Unexpected end of input"
![openbazaar_006](https://cloud.githubusercontent.com/assets/3768500/11130579/0e03877a-8986-11e5-8c79-f5ffa97db8c5.png)
I actually don't know why this error occurs...

[2015-11-12 21:11] jjeffryes commented on #202
This can happen if you have an out of date version of the server. Try updating to the latest server and client, and deleting your database.

[2015-11-12 21:15] z3ntu commented on #202
How do you "delete your database"? Client & Server should be updated.

[2015-11-12 21:22] jjeffryes commented on #202
Find your OpenBazaar folder, and delete the OB-Testnet.db file. After that, the next time you start the server it should generate a new guid.

[2015-11-12 21:29] z3ntu commented on #202
Worked, thank you. Still very weird that the client shows an SyntaxError in the HTML file... :smiley:

[2015-11-12 21:29] #202 closed, assigned to nobody

[2015-11-12 21:30] jjeffryes commented on #202
It's not really in the HTML file, it happens when the main js file, which is loaded by index.html, has a problem with the data returned on the very first contact with the server.

[2015-11-12 21:59] drwasho commented on #188
I think for the time being we'll just have to live with this.

[2015-11-12 21:59] #188 closed, assigned to jjeffryes

[2015-11-12 22:01] drwasho opened #203 "Settings -> Currency Selection Issues"
1. Bitcoin is not in the drop-down list
2. Strange repeat when a search is done

![image](https://cloud.githubusercontent.com/assets/3887694/11132626/a121b5d0-89dc-11e5-9a4b-ff51f89569ea.png)

[2015-11-12 22:02] drwasho commented on #203
The second problem is due to multiple copies of a currency code in the drop-down list.

[2015-11-12 22:09] jjeffryes commented on #203
The currency list is pulled from the currencies in the country list, it needs to be de-duped before being added to the model, that must not have been done here.

[2015-11-12 23:15] drwasho opened #204 "Homepage - Follow button"
1. Following a store from the homepage shouldn't navigate you to that node's store.... where you have to press the follow button there in order to _actually_ follow the store.
2. When the user presses the follow button, you should immediately start following that node.
3. In the Pages tab, people you're already following shouldn't have a 'Follow' button, but an 'Unfollow' button.

I figure we're w

[2015-11-12 23:29] drwasho opened #205 "Listing - Select expiry date"
![image](https://cloud.githubusercontent.com/assets/3887694/11134500/ec334ce4-89e8-11e5-80e8-18555bcbca73.png)

I have to click the arrow (within the red square); all the space around the icon isn't selectable. It would be a great UX improvement if I could click anywhere in that square to toggle the calendar.

[2015-11-12 23:33] drwasho opened #206 "Homepage - Search bar is active when tab selected"
![image](https://cloud.githubusercontent.com/assets/3887694/11134564/815fc360-89e9-11e5-9d32-09b53929bd99.png)

From a UX perspective, it distracts the user from the listing grid below.

[2015-11-13 16:57] morebrownies opened #208 "Avatar quality is too low after compression"
We're probably going to want to double the quality on avatars, mine looks pretty bad.

<img width="118" alt="screenshot 2015-11-13 09 36 56" src="https://cloud.githubusercontent.com/assets/13066886/11151836/dbe25f4a-89f4-11e5-9630-061f20a44919.png">

[2015-11-13 16:59] hoffmabc commented on #208
you like an old man, the Godfather.

[2015-11-13 17:13] morebrownies commented on #206
I think it's helpful to auto focus the input so that he user doesn't have to manually do it. However, I think what you're pointing out is the focus state of an input is too bold. I'm toning it down and will push up a fix soon.

[2015-11-13 17:14] morebrownies commented on #204
100% agree on all points

[2015-11-13 17:36] jjeffryes commented on #208
What does quality mean? Currently the jpeg quality is 75%, which is pretty light compression.

We could increase the pixel size, right now it's at the size of the thumbnail, I could double it.

[2015-11-13 17:40] morebrownies commented on #208
I'm not sure what needs to be adjusted in the code, I'm mostly just pointing out that they visually don't look great.

[2015-11-15 20:09] jjeffryes commented on #191
Recommended Solution: duplicate the button at the bottom in index.html, change the text to "Use Default Values", and trigger the same code as what happens when reloadProfile's loadProfileCount is over 10.

[2015-11-15 20:11] #149 closed, assigned to morebrownies

[2015-11-15 20:17] jjeffryes commented on #125
Recommended Solution:
1. add a text link for "Restart Application" in the nav dropdown menu on the right side. Clicking that link should fire the ravRefreshClick function.
2. clicking the .js-navRefresh should instead trigger a new function with Backbone.history.loadUrl();

[2015-11-15 20:19] jjeffryes commented on #118
Recommended Solution:

In the userPage template, change the logic so that when when Terms and Conditions have no value, the value displayed in the template is "none". Do the same for Returns.

This logic should be in the template, no changes to the view should be required.

[2015-11-15 20:20] #107 closed, assigned to jjeffryes

[2015-11-15 20:24] morebrownies commented on #125
Perfect!
On Nov 15, 2015 2:17 PM, "Josh Jeffryes" notifications@github.com wrote:

[2015-11-15 20:32] jjeffryes commented on #98
Recommended solution: in the item short and item templates, add logic so that if the currency code is BTC the btc value is not shown.

[2015-11-15 20:33] #90 closed, assigned to nobody

[2015-11-15 20:38] hoffmabc commented on #98
Or list it in Dogecoin

[2015-11-15 22:29] jjeffryes commented on #121
Partially dealt with in #212

PR 212 does not address the issue of warning about prices being under the minimum miner fee.

[2015-11-16 17:33] jjeffryes opened #215 "Tooltips"
Add a tooltip system with the following features:
- an element with a tooltip class can be added to a button or link (preferably inside, as a sibling might work too).
- the tooltip element is hidden by default (either display: none or set to 0 height and width)
- on hover, the tooltip is shown

[2015-11-16 19:44] lcipciriuc commented on #183
tell me if i am right thinking that
1. once i am a Follower, my client stores the information about the Followed store, and i can browse it while the Followed is off-line?
2. once changes are made in the store Followed, a popup window will appear in my client, informing me about the changes occurred in that respective Followed store - say prices have changed, new arrivals, etc

[2015-11-16 19:46] jjeffryes commented on #183
Currently, no information about other stores is stored on the client or the server. If a store is off-line, you can't look at its information.

Notifications about changes to a store you follow may appear in your notifications section.

[2015-11-16 19:52] lcipciriuc commented on #183
jjefreyes
in that case i have to have the option to run a 'long' search, so to call it, that my client will search for the word 'honey' like for 48 hours or so to ping the whole net to give me back all the traders who offer honey. or, the seller needs to leave his client running non-stop, so that everybody can have access to it around the clock. i presume, if a seller is a small guy, who is using

[2015-11-16 19:55] jjeffryes commented on #183
@lcipciriuc we're working on solutions for that, I recommend discussing it in the slack general channel instead of on this github issue.

[2015-11-16 22:30] #208 closed, assigned to jjeffryes

[2015-11-16 22:34] HugeRoo opened #218 "NPM unable to launch client (OSX)"
Command: npm start

sh: electron: command not found

npm ERR! Darwin 15.0.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v5.0.0
npm ERR! npm  v3.3.6
npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! OpenBazaar@0.1.0 start: `electron main.js`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the OpenBazaar@0.1.0 start s

[2015-11-16 23:06] SamPatt commented on #218
Try:

[code]

Then try:

[code]

Then:

[code]

Let us know if you get errors.

[2015-11-16 23:13] SamPatt commented on #218
I've confirmed with @HugeRoo that installing electron-prebuilt fixed the issue.

[2015-11-16 23:13] #218 closed, assigned to nobody

[2015-11-17 06:21] drwasho opened #220 "Settings - Cancel Button"
When the cancel button is pressed, nothing happens. It should go back to the home page.

[2015-11-17 09:12] mattosborn opened #221 "git pre-commit hook tasks (valiquire and linting) failing"
Both failing on a clean checkout. Output below. Is this a known issue or a broken environment?
## Valiquire

[Error: Inside "/home/matt/work/OpenBazaar-Client/js/views/adminPanelVw.js"
Cannot resolve "remote" because:
Cannot find module 'remote']
[Error: Inside "/home/matt/work/OpenBazaar-Client/js/views/pageNavVw.js"
Cannot resolve "remote" because:
Cannot find module 'remote']
[Error: Inside "/h

[2015-11-17 09:33] z3ntu opened #223 "Why is there a capitalization of usernames?"
see title, I mean "Name" not the handle

[2015-11-17 13:21] morebrownies commented on #220
I'm going to change the buttons around a bit today. I don't like the
current placement of them; they seem out of place and should be integrated
into the bottom of the form instead of in the title bar. We may not even
need a cancel button, just a simple save may be all that's needed.

I'm going to change them around today and then we can circle back to see if
any other changes are needed.
On Nov 17

[2015-11-18 09:18] morebrownies opened #229 "Pre-select user language in onboarding and move line item to the top of the list"
In Javascript, we can get the user's language with the following command **window.navigator.language**, which would output something similar to *_"en-US"_.

It has been reported that **window.navigator.language** is not 100% accurate so I don't recommend we by pass the language step, but instead we can use **window.navigator.language** to autoselect the language that is likely true and move it to

[2015-11-18 09:19] morebrownies opened #230 "Pre-select user's country in onboarding and move line item to the top of the list"
Similar to #229 (see detailed instructions there), I believe we can get the user's country code from **window.navigator.language**. Now we probably don't want to try to map every single country since it's a lot of tedious work, but instead we could start simple by mapping the ten most populated countries to ensure that the majority of users have an easy onboarding experience.

[2015-11-18 09:25] morebrownies opened #231 "Pre-select user's currency in onboarding and move line item to the top of the list"
Once the user selects their country (see #230), we should have a good idea of what their currency is.

Trying to maintain a mapping of every country to currency is a lot of tedious work, but we could start by mapping the ten most populated countries to ensure that the majority of users have an easy onboarding experience.

For example:
[code]
[code]

[2015-11-18 09:30] morebrownies opened #232 "Pre-select user's timezone in onboarding and move line item to the top of the list"
Similar to #229  (see detailed instructions there), I believe we can get the user's time zone from **new Date().getTimezoneOffset()**, do some comparisons against GMT and preselect the user's timezone and move it to the top of the list.

Here's a helpful blog post for more information:
http://www.onlineaspect.com/2007/06/08/auto-detect-a-time-zone-with-javascript/

Edit, this seems to be more rele

[2015-11-18 13:27] jjeffryes commented on #229
This should be fairly easy to do, and would work well with how the language model already works.

[2015-11-18 13:28] jjeffryes commented on #229
Though I should point out it will only work for languages we have already added to the client.

[2015-11-18 13:30] jjeffryes commented on #230
As we add languages, we could probably add an assumed country.

[2015-11-18 13:33] jjeffryes commented on #231
We actually already have all of the countries and currencies mapped to each other in the countriesMd.js file. It should be relatively easy to make selecting a country also select the default currency for that country.

[2015-11-18 22:57] SamPatt opened #234 "User-input capitalization isn't saved for store names or product names"
Uppercase letters are ignored other than the first character on store titles and listing titles. So when I tried to put in "OB Comic Book Store" it shows "Ob" instead. Also, in the main listing page something that should show as "Rare She-Hulk Comic" displays as "Rare she-hulk comic'

[2015-11-18 23:18] #119 closed, assigned to nobody

[2015-11-18 23:19] drwasho commented on #234
Duplicate of #160

[2015-11-18 23:19] #234 closed, assigned to jjeffryes

[2015-11-18 23:26] jjeffryes commented on #160
The data is saved exactly how you typed it. @morebrownies put in a CSS class that forces the capitalization to be like that.

My suggestion is we should follow whatever capitalization the user put in, otherwise it looks like a bug.

[2015-11-18 23:36] SamPatt commented on #160
Yes you definitely need that. ALL CAPS listings would be annoying but not as annoying as not being able to capitalize words that genuinely need it.

[2015-11-19 00:47] jjeffryes commented on #221
This was fixed in #225

[2015-11-19 00:47] #221 closed, assigned to nobody

[2015-11-19 00:48] jjeffryes commented on #223
This is the same issue as #160

[2015-11-19 00:48] #223 closed, assigned to nobody

[2015-11-19 20:30] morebrownies commented on #160
I wonder if the inconsistency is actually appropriate here? We could display the title exactly as entered on the contract detail page, but in discovery opt on the side of avoiding all caps listings from taking over. I don't have a strong opinion, more so just a thought.

[2015-11-19 20:33] SamPatt commented on #160
I think people's listings should display in discovery as they display in their store, at least as much as possible.

[2015-11-19 20:38] morebrownies commented on #160
Ok, works for me. If it starts to get out of control with all caps listings everywhere, we may want to find a way to normalize it in the future. Hopefully that isn't the case though.

[2015-11-21 14:26] z3ntu opened #239 "Localize Countries & Time-Zones"

[2015-11-21 14:27] z3ntu opened #240 "Timezone doesn't get set correctly from initial configuration dialog"
Selected GMT+1, settings page now says GMT-12

[2015-11-21 14:28] z3ntu commented on #98
This is fixed/implemented?

[2015-11-21 14:29] z3ntu commented on #203
This is fixed?

[2015-11-21 14:30] z3ntu commented on #45
This is fixed?

[2015-11-21 16:46] jjeffryes commented on #98
Yes, this was resolved.

[2015-11-21 16:46] #98 closed, assigned to jjeffryes

[2015-11-21 16:46] jjeffryes commented on #203
This was resolved.

[2015-11-21 16:46] #203 closed, assigned to nobody

[2015-11-21 16:47] jjeffryes commented on #45
This was resolved.

[2015-11-21 16:47] #45 closed, assigned to nobody

[2015-11-21 19:38] z3ntu commented on #46
Fixed?

[2015-11-21 19:40] morebrownies commented on #46
Yes, users will select a theme during on boarding so the default shouldn't
really be relevant anymore. With that said, I did improve the default cover
photo too
On Nov 21, 2015 1:38 PM, "Luca Weiss" notifications@github.com wrote:

[2015-11-21 19:40] z3ntu commented on #95
bump, is it fixed?

[2015-11-21 19:45] z3ntu commented on #131
fixed

[2015-11-22 03:05] #46 closed, assigned to nobody

[2015-11-22 03:05] #131 closed, assigned to jjeffryes

[2015-12-01 14:39] SamPatt opened #247 "Ability to print shipping labels"
Vendors have asked for the ability to print out shipping labels with the buyer's information once they've received an order.

Possible third parties:

https://www.shipcoin.co/

https://shipnik.com/

[2015-12-01 15:38] gubatron commented on #247
shipnik doesn't seem to have an API (i might be wrong), so shipcoin looks like the way to go.

[2015-12-01 20:54] drwasho commented on #247
Actually we're good friends with Shippo (goshippo.com) and they have a great API. Plus they're eager to integrate with OB and Bitcoin.

[2015-12-01 20:56] SamPatt commented on #247
I believe shipcoin.co is run by Shippo.

[2015-12-01 22:17] drwasho commented on #247
That's correct, my bad I thought that was another group.

[2015-12-02 01:11] leonar15 commented on #247
Shipnik co-founder here,
We are definitely interested in what OpenBazaar support would look like from our end.

Is there a wishlist of shipping label features somewhere? Would the shipping label purchase be part of the original transaction?

Happy to discuss and help integrate.

[2015-12-02 02:12] drwasho opened #249 "Settings branch - Adding Moderators"
I get a couple of errors:
1. If I select myself as a Moderator from the list: `Non-hexadecimal digit found`
2. If I select another node as a Moderator: `Odd string length`

[2015-12-03 04:02] drwasho opened #252 "Question: should the chat sidebar be scrollable while minimized?"
![image](https://cloud.githubusercontent.com/assets/3887694/11551579/39be1754-99c6-11e5-9235-0c2d37b9ef87.png)

I have more chat bubbles that go down the page that I can't access. Obviously I can get them if I click a random bubble to expand the sidebar... but I'm wondering whether it can/should be scrollable? The only con is that have two scrollable elements so close to each other will get annoyi

[2015-12-03 04:16] morebrownies commented on #252
Yes doesn't hurt to make it scrollable. I'll add this to the branch I'm
working on.

On Wed, Dec 2, 2015 at 10:02 PM, Dr Washington Sanchez <
notifications@github.com> wrote:

[2015-12-03 15:35] jjeffryes opened #253 "Increase Quiet Zone around QR Code in buy flow."
The Quiet zone should be at least 4 times the width of the black squares in the QR code.

Increase the padding around the QR code to see if this improves the ability of phones to read the code.

This may also allow the code to be smaller.

[2015-12-03 15:36] jjeffryes commented on #253
Also, the padding should be forced to be white, instead of picking up the custom user colors.

[2015-12-03 15:36] hoffmabc commented on #253
I think 1x should be fine if the design necessitates. We can test.

[2015-12-03 16:20] hoffmabc opened #254 "Avatars in Followers/Following Tabs Don't Do Anything"
![screen shot 2015-12-03 at 10 14 48 am](https://cloud.githubusercontent.com/assets/45482/11566302/cbaaa8b0-99af-11e5-9644-0ccef477ac9e.png)

Clicking the avatar should go to a user's profile.
Follow should follow them.

[2015-12-03 16:21] hoffmabc opened #255 "Shipping and Return Tabs Content Issues"
Shipping  & Returns tab is showing: Ships From: UNITED_STATES. I think this is a translation issue maybe?

EstimatedDelivery no space.

![image](https://cloud.githubusercontent.com/assets/45482/11566343/f5856cec-99af-11e5-95c1-8a0643738b2d.png)

[2015-12-03 16:21] hoffmabc opened #256 "Payment Type Moderators List Styling Issues"
Formatting of Payment Type moderators is kind of ugly and on Windows it wraps around and looks bad.

![image](https://cloud.githubusercontent.com/assets/45482/11566357/02b76a5a-99b0-11e5-8dee-0e92e93f57cb.png)

[2015-12-03 16:22] hoffmabc opened #257 "Direct Payment Description Bad Grammar"
Direct option description says "Send fund directly to" which is horrible grammar.

![image](https://cloud.githubusercontent.com/assets/45482/11566389/1e630e8a-99b0-11e5-8935-55c5a5413ad7.png)

[2015-12-03 16:23] hoffmabc opened #258 "Order Details Screen Issues"
What is going on with that up or down UI control? They're non-functional and look odd.

Also Avatars get stretched with long addresses.

![image](https://cloud.githubusercontent.com/assets/45482/11566402/2d75d042-99b0-11e5-88d7-4d229497cea9.png)

[2015-12-03 16:23] hoffmabc opened #259 "Ship To screen should put unshippable addresses at bottom"
Just as described.

[2015-12-03 16:25] hoffmabc opened #260 "Preserve formatting for About tab on User Profiles; Item descriptions"
On About page for stores your description doesn't preserve formatting (i.e. line breaks)

![image](https://cloud.githubusercontent.com/assets/45482/11566450/7db2edce-99b0-11e5-9c00-efba6be9d61d.png)

[2015-12-03 16:25] hoffmabc opened #261 "Store Customization CSS Issues"
When you click Customize it hides your Store Name for some reason. It's a CSS bug I believe.

![image](https://cloud.githubusercontent.com/assets/45482/11566469/923a755a-99b0-11e5-9ad7-eb9db1552480.png)

[2015-12-03 16:26] hoffmabc opened #262 "Settings Page Issues"
- Page loads super slow not sure why.
- What does cancel do? Doesn't seem consistent.
- Avatar cropper shows nothing by default and gives impression no avatar is set.
- Bitcoin address has no validation (just length) so I can enter bullshit here.
- New Address should probably be at top because if I have a ton of addresses it will be hidden at the bottom of the page.

[2015-12-03 16:26] hoffmabc opened #263 "QR Screen Issues"
If Seller lists in currency other than Bitcoin the QR screen doesn't display how much Bitcoin to send. For users paying with a local wallet instead of scanning the QR code this is a problem.

[2015-12-03 16:27] hoffmabc commented on #47
Is this fixed yet @morebrownies ?

[2015-12-03 16:28] hoffmabc commented on #83
Looks like we're avoiding this one with the Discover button. I'm closing.

[2015-12-03 16:28] #83 closed, assigned to morebrownies

[2015-12-03 16:28] hoffmabc commented on #111
I think you resolved this correct @morebrownies ?

[2015-12-03 16:29] hoffmabc opened #264 "Address labels not appropriate for International"
In the Add Shipping Address forms (i.e. Buying) we say State when it should be State/Province/Region I believe. Same with zip code / postal code.
- Brian

[2015-12-03 16:30] morebrownies commented on #47
Yes, closing.

[2015-12-03 16:30] #47 closed, assigned to jjeffryes

[2015-12-03 16:30] morebrownies commented on #111
Yes, not sure it the branch made it in or not. If not, it should be in soon.

On Thu, Dec 3, 2015 at 10:28 AM, Brian Hoffman notifications@github.com
wrote:

[2015-12-03 16:30] #111 closed, assigned to nobody

[2015-12-03 16:32] morebrownies commented on #257
@SamPatt want to help with the language here?

[2015-12-03 16:33] morebrownies commented on #254
I fixed the avatar issues on one of my branches, should be integrated soon.

@jjeffryes is going to have to get the follow/unfollow buttons working there since that is over my head.

[2015-12-03 16:34] morebrownies commented on #254
Or @hoffmabc you could take a stab at it too.  If you're already following the user, it should display unfollow. I believe @drwasho had a bug open for this too.

[2015-12-03 16:50] SamPatt commented on #257
Sure thing.

[2015-12-03 17:33] cpacia opened #266 "Scroll bar too narrow for ubuntu"
When you try to move the mouse over to the scroll bar it changes to the 'resize window' mouse because the scroll bar is too close to the edge.

[2015-12-03 17:45] morebrownies commented on #266
Can you include a screenshot Chris? Will be easier to diagnose if I can see
what's going on.
On Dec 3, 2015 11:33 AM, "Chris Pacia" notifications@github.com wrote:

[2015-12-03 17:47] cpacia commented on #266
Print screen doesn't show the mouse. Basically it changes over to the 'resize window' mouse as soon as I move it over the scroll bar.

[2015-12-03 18:50] SamPatt commented on #257
#265 should fix this.

[2015-12-03 20:02] hoffmabc opened #267 "Placeholder doesn't go away on onboarding"
![image](https://cloud.githubusercontent.com/assets/45482/11572381/e9d3f3cc-99ce-11e5-9ff8-449527de926c.png)

[2015-12-03 22:59] #257 closed, assigned to nobody

[2015-12-04 17:53] hoffmabc opened #270 "Can't see country dropdown in address selection of Buy Now"
![image](https://cloud.githubusercontent.com/assets/45482/11596900/f02822ea-9a85-11e5-8920-955e143af717.png)

I'm not sure what the solution is other than maybe scroll down the window a bit when they focus on the dropdown.

[2015-12-04 18:10] hoffmabc opened #271 "Hover over items in your own store to get a Delete action"
This would be more intuitive and easy for users to figure out how to delete their listings.

[2015-12-04 18:11] hoffmabc opened #272 "Hover over user information in UI to access Block function"
This would be coupled with the server-side block API call.

[2015-12-04 18:41] jjeffryes commented on #258
I don't see the arrows being flipped on my branch. There's some slightly exotic chrome css going on there, is it possible this is an OSX issue?

[2015-12-04 18:41] hoffmabc commented on #258
Do others see it? @morebrownies ?

[2015-12-04 19:09] morebrownies commented on #258
I haven't looked at checkout yet. I'm planning on starting on that Monday.

[2015-12-04 20:50] gubatron commented on #270
that UI life... it never ends.

[2015-12-04 23:11] jjeffryes commented on #264
We are already using Postal Code, "Zip Code" doesn't appear anywhere.

[2015-12-04 23:14] #253 closed, assigned to jjeffryes

[2015-12-04 23:14] #259 closed, assigned to jjeffryes

[2015-12-04 23:14] #263 closed, assigned to jjeffryes

[2015-12-04 23:14] #264 closed, assigned to jjeffryes

[2015-12-04 23:14] #270 closed, assigned to jjeffryes

[2015-12-06 23:25] drwasho opened #282 "Chat Message Flashing"
The chat pane is flashing every time I receive a message. @morebrownies suggested this was the reason @hoffmabc

[2015-12-06 23:26] drwasho opened #283 "Chat pane randomly scrolls to the top"
The chat pane randomly scrolls to the top, and I haven't been able to isolate how or why... if I do I'll post it in the comments.

[2015-12-06 23:27] drwasho opened #284 "Chat message badges"
If I'm in the chat pane with someone and a new message comes in, I still get a numbered badge appearing (where technically it should only be seen if I haven't read the message).

Ping @jjeffryes and @cpacia

[2015-12-07 04:19] jjeffryes commented on #249
This has been fixed.

[2015-12-07 04:19] #249 closed, assigned to jjeffryes

[2015-12-07 04:21] hoffmabc opened #287 "Language Issues (Spanish)"
Showing HTML codes rather than the actual values. Is this a polyglot issue?

![image](https://cloud.githubusercontent.com/assets/45482/11618979/125e8188-9c70-11e5-9bc6-bb24b08f8a05.png)

[2015-12-07 04:21] #118 closed, assigned to jjeffryes

[2015-12-07 04:23] hoffmabc opened #288 "Grey Theme seems jacked up"
What's up with the grey theme?

![image](https://cloud.githubusercontent.com/assets/45482/11618995/513e38e4-9c70-11e5-8ae1-c1dc383d5f0d.png)

[2015-12-07 04:24] hoffmabc opened #289 "User Menu not accurate"
I'm a store and I still see Become a Store and Customize Page does not work.

![image](https://cloud.githubusercontent.com/assets/45482/11619005/6d2e9760-9c70-11e5-9561-cff38cd3897b.png)

[2015-12-07 04:26] SamPatt commented on #289
Can confirm both.

[2015-12-07 04:31] jjeffryes commented on #288
How did you get this result? I don't see it when I set any of the grey schemes in settings. Was it through onboarding?

[2015-12-07 04:39] hoffmabc commented on #288
Onboarding.

[2015-12-07 08:14] gubatron opened #290 "Implement Force-Quit handler"
<img width="420" alt="screen shot 2015-12-07 at 3 13 51 am" src="https://cloud.githubusercontent.com/assets/163977/11622097/a2ab5480-9c90-11e5-9680-dfcdfa17114f.png">

If someone tells me what should be done when force quitting I think I can take a stab at this one, it's annoying the hell out of me.

[2015-12-07 08:15] gubatron commented on #290
should it invoke some RPC comand on the OpenBazaar-Server? like shutdown or something?

[2015-12-07 12:25] hoffmabc commented on #290
I think the problem is its backward. It was supposed to prevent the shutdown code from occurring if the OS restarted or shut down.

[2015-12-07 12:26] hoffmabc commented on #290
Did you git pull though it shouldn't show the alert anymore but just hang at command prompt. Either way not working completely.

[2015-12-07 12:55] hoffmabc opened #292 "Changing Language in Settings does nothing"
I don't know if this is a bug or not implemented yet @jjeffryes but changing language in settings doesn't do anything.

[2015-12-07 16:55] #292 closed, assigned to nobody

[2015-12-07 16:55] hoffmabc commented on #287
Fixed by #294

[2015-12-07 16:55] #287 closed, assigned to nobody

[2015-12-07 16:56] hoffmabc opened #295 "Loading Window flashes when saving settings."
The loading window briefly flashes when saving settings. This may be a dupe but couldn't find it.

[2015-12-07 17:26] jjeffryes commented on #295
This is a general issue with any time we take the shortcut of reloading the whole app to apply changes. That's done any time we need a view to run it's initialize function before re-rendering.

I'll take a look, I think I've updated things to where that isn't needed any more on pageNav and settings.

[2015-12-07 17:44] z3ntu opened #296 ""Close this application" button in Admin panel does not work"
The console says "Closing Application", the window goes away, but the application still runs.

[2015-12-07 17:52] jjeffryes commented on #296
@hoffmabc you want to fix this, or should I take a look? I believe this is that shutdown code you worked on?

[2015-12-07 17:58] hoffmabc commented on #296
I am fixing

[2015-12-07 18:00] z3ntu commented on #296
Great! :+1:

[2015-12-07 19:12] hoffmabc opened #297 "Searching for currency not working properly"
![image](https://cloud.githubusercontent.com/assets/45482/11636910/883c4d0a-9cec-11e5-9f0f-1753f11799f7.png)

[2015-12-07 19:13] SamPatt commented on #297
Also doesn't find USD correctly.

[2015-12-07 19:34] cpacia opened #300 "Mark as unread called too much"
Looks like the UI sends the mark_as_read api call for every notification in the list. Wouldn't it be better to only send it for the one or two that are marked as unread?

[2015-12-07 20:37] #296 closed, assigned to hoffmabc

[2015-12-07 23:55] drwasho opened #303 "Suggestion: add Blockchain ID handle to chat (if they have one)"
![image](https://cloud.githubusercontent.com/assets/3887694/11643696/7687b5f4-9d91-11e5-8225-64b8597ab5dc.png)

Right now we can identity **who** we're talking to based on their avatar and GUID. I suggest we add the node's Name as the most prominent text identifier, with GUID minimized beneath it (or something like that).

Obviously a more permanent and memorable identifier would be better, from s

[2015-12-07 23:57] drwasho opened #304 "Default avatar image missing in chat for users"
For users who haven't set an avatar image, we're not seeing the default image in the chat pane:

![image](https://cloud.githubusercontent.com/assets/3887694/11643792/0b76466c-9d92-11e5-9d27-c044428c8104.png)

[2015-12-07 23:57] cpacia commented on #303
I think it should just be the handle. That is the only real thing that identify's you. Anyone can enter a name and avatar to impersonate you.

[2015-12-07 23:59] SamPatt commented on #303
Are we concerned about this leading to simple impersonation attempts? With GUID at least they're need to take some effort to check.

[2015-12-08 00:09] drwasho commented on #303
- @cpacia In principle I agree, but at the moment handles a user-generated and not registered via Blockchain ID so they're no different to Names. We shouldn't use handles at all until we can prevent collisions.
- @SamPatt That's why I suggest we keep the GUID

[2015-12-08 00:14] cpacia commented on #303
Blockchain id will work at launch. I don't see why we would change it just for time up to launch then change it back.

[2015-12-08 00:14] drwasho commented on #254
Fixed.

[2015-12-08 00:14] #254 closed, assigned to nobody

[2015-12-08 00:15] drwasho commented on #303
Ok, if that's the case then we'll do that. Editing the issue to reflect that.

[2015-12-08 00:27] drwasho opened #306 "Map doesn't load when you hit 'back' from 'Order Details'"
![image](https://cloud.githubusercontent.com/assets/3887694/11644253/34ca746c-9d96-11e5-8457-ebb5564433d1.png)

Can someone confirm?

[2015-12-08 00:32] drwasho opened #307 "Header image errors"
![image](https://cloud.githubusercontent.com/assets/3887694/11644331/c0dcc086-9d96-11e5-8144-0c69e83c7800.png)

This bug is triggered immediately after 'Following' or 'Unfollowing' someone and scrolling. Also, Following/Unfollowing takes 3 seconds to register in the DOM.

Edit: scrolling all the way down and then up fixes the rendering problem, but if you press 'follow/unfollow' and slowly scroll

[2015-12-08 00:33] drwasho commented on #307
Related: when the 'Follow/Unfollow' button is pressed, the listing disappears and reappears.

[2015-12-08 00:35] drwasho commented on #307
Same thing happens when I press 'My Page' and scroll.

[2015-12-08 00:38] SamPatt commented on #307
Cannot replicate on Ubuntu.

[2015-12-08 02:40] jjeffryes commented on #307
I can't replicate this on Windows either.

[2015-12-08 03:05] #306 closed, assigned to nobody

[2015-12-08 03:26] jjeffryes commented on #304
Either I can't reproduce this, or I'm not understanding the description. I'm seeing the default image normally in the chat pane for users with no avatar.

![image](https://cloud.githubusercontent.com/assets/1584275/11647030/96fc569c-9d31-11e5-8ab5-8d9617262fd3.png)

[2015-12-08 03:48] #304 closed, assigned to nobody

[2015-12-08 06:05] drwasho commented on #307
I love these types of bugs...

[2015-12-08 06:11] drwasho commented on #307
Video evidence: https://www.youtube.com/watch?v=O7xU3le-xEQ

[2015-12-08 13:32] jjeffryes commented on #307
Looks like a z-index problem of some sort. I think there were some changes to z-indexes in the recent merges.

[2015-12-08 13:37] morebrownies commented on #307
I have the same issue on Mac. I cleaned up the zindex issue on one of my branches (scrolling had been broken for weeks), but seems like it broke again on the merge.

[2015-12-08 13:53] jjeffryes commented on #307
I can't figure out why I'm not seeing it on my machine, on the latest copy of master. Z-index issues shouldn't be platform-specific, and @drwasho is on Windows like I am.

[2015-12-08 14:39] hoffmabc opened #311 "Doesn't Ship There Issue"
It says you ship there, but no.

![image](https://cloud.githubusercontent.com/assets/45482/11658241/9b59f65a-9d8f-11e5-8d8f-15b0a70bdf64.png)

[2015-12-08 14:41] hoffmabc opened #312 "Themes Screw Up Buy Forms Sometimes"
![image](https://cloud.githubusercontent.com/assets/45482/11658275/cb4d8e12-9d8f-11e5-80a1-3033ee14b6a4.png)

[2015-12-09 17:36] jjeffryes commented on #267
This appears to have been fixed.

[2015-12-09 17:36] #267 closed, assigned to nobody

[2015-12-09 21:04] #288 closed, assigned to jjeffryes

[2015-12-09 22:35] djbooth007 opened #326 "Outgoing chat messages fail with separate server/client config"
I have a Digital Ocean VPS droplet running the server and a separate virtual machine running the client off my laptop. Both server and client are Ubuntu 14.04 updated to latest git.

I can receive incoming chat messages. Server debug.log entry:
2015-12-09 17:15:20-0500 [MarketProtocol] [INFO] received a message from [redacted]

I **cannot** send any outgoing messages. There are no errors in server

[2015-12-09 22:57] jjeffryes commented on #311
This was fixed.

[2015-12-09 22:57] #311 closed, assigned to nobody

[2015-12-09 22:58] jjeffryes commented on #297
This was fixed

[2015-12-09 22:58] #297 closed, assigned to nobody

[2015-12-09 22:58] jjeffryes commented on #295
Closed in #298

[2015-12-09 22:58] #295 closed, assigned to nobody

[2015-12-10 01:55] drwasho opened #329 "Grey out 'Buy Now' button when viewing your own contracts"
As the title describes.

[2015-12-10 02:50] cpacia opened #330 "Invalid QR code"
![image](https://cloud.githubusercontent.com/assets/4504708/11705550/c726b5cc-9ebe-11e5-97e2-b4cd402dc69a.png)

Looks like he might have entered a title with invalid characters or something.

[2015-12-10 02:51] cpacia commented on #330
Actually it looks like the amount is displaying incorrectly. 0.01630000000000000000002 btc

[2015-12-10 02:52] cpacia commented on #330
Oh that's my end calculating the amount incorrectly. Doh

[2015-12-10 02:52] #330 closed, assigned to nobody

[2015-12-10 16:19] #258 closed, assigned to jjeffryes

[2015-12-10 16:19] #312 closed, assigned to jjeffryes

[2015-12-10 16:42] SamPatt opened #332 "Add message in chat letting user know their message will be delivered"
Currently if a user sends a chat message and the other user is offline, the message is stored in the DHT and will be delivered once the other user returns.

However, there's no indication to the sender that the other party isn't online and hasn't yet received the message. I suggest that if a message is sent to an offline user we display a little message saying "This message will be delivered once

[2015-12-10 16:52] SamPatt opened #333 "Chat notification doesn't display avatar or name"
When receiving a chat notification outside the client it doesn't display the users avatar or the name (it says "Undefined"):

![image](https://cloud.githubusercontent.com/assets/6955773/11721955/5b355ed8-9f34-11e5-965d-5468f54edb55.png)

[2015-12-10 17:38] SamPatt opened #334 "Using Tab key in "Become a Store" or onboarding sections causes error"
If you are on the "Description" section in the Become a Store section and hit the Tab key, it will display this:

![image](https://cloud.githubusercontent.com/assets/6955773/11723094/65309f14-9f3a-11e5-85d4-aa5567ba66e6.png)

Tab also causes similar errors in the onboarding process.

[2015-12-10 18:15] cpacia opened #336 "Notify user when libbitcoin server is down"
I updated the check_for_payment api call to return

[code]

when the libbitcoin server is down. We should probably put an error message in that top part of the order model telling them that the server is down, their coins aren't lost and the transaction will show when the server comes back online. Also point them to the settings if they want to change their libbitcoin server.

[2015-12-10 18:46] hoffmabc opened #337 "Negative Quantity Then Fix Leaves Negative Price"
![image](https://cloud.githubusercontent.com/assets/45482/11724828/6b12fd3c-9f44-11e5-801a-318e3b177d84.png)

[2015-12-10 18:55] SamPatt opened #338 "Fix message after purchase"
After purchase a user will see this text below the order summary.

With the GUID is looks poorly formatted; the GUID should probably be on it's own line.

It should also say how many days processing will take "The expected processing time for this order is X _days_."

![image](https://cloud.githubusercontent.com/assets/6955773/11724972/26f87824-9f45-11e5-949a-29c8b9bf0142.png)

[2015-12-10 18:58] jjeffryes commented on #338
The processing time field in the item edit is open ended, you could put "2 days", "20 hours", or "a ham sandwich" in that field, so in this interface we just dump in whatever was stored there.

If we want to make sure it is some kind of time unit, we should change the item edit field to force time units.

[2015-12-10 19:11] SamPatt commented on #338
Ahh didn't realize that. In that case I suggest we change the sample text in that field from "1-2 Business days" to "Time needed to process the order" or something similar.

[2015-12-10 19:12] SamPatt commented on #338
I'll try to take care of this one myself.

[2015-12-10 19:12] #338 closed, assigned to jjeffryes

[2015-12-10 21:37] jjeffryes commented on #336
Recommended solution:  inside js-buyWizardHero add a new section that is initially hidden with the hide class. When the offline message is received, show the hidden section with the offline message and a button with a link to #settings/advanced.

[2015-12-10 21:38] jjeffryes commented on #329
Recommended solution: when the user is looking at their own products, add the disabled class to the buy button. This should be done using only the template.

[2015-12-10 23:26] djbooth007 opened #341 "Cant view country selection on theme with white content background"
![ob-theme](https://cloud.githubusercontent.com/assets/16231886/11731586/7afa6a94-9ff0-11e5-81ea-4958659a28a7.jpg)

See title

[2015-12-10 23:34] drwasho commented on #307
These seem to be fixed now. Well done whoever did that.

[2015-12-10 23:34] #307 closed, assigned to nobody

[2015-12-10 23:36] drwasho commented on #252
Completed.

[2015-12-10 23:36] #252 closed, assigned to nobody

[2015-12-10 23:38] drwasho commented on #255
Fixed by @morebrownies

[2015-12-10 23:38] #255 closed, assigned to nobody

[2015-12-10 23:39] drwasho commented on #239
Unsure what this means. If you want to add some more detail and reopen, feel free.

[2015-12-10 23:39] #239 closed, assigned to nobody

[2015-12-10 23:40] drwasho commented on #240
Fixed.

[2015-12-10 23:40] #240 closed, assigned to nobody

[2015-12-10 23:42] drwasho commented on #256
Still an issue, and there is some inconsistency between onboarding and settings when showing data about Moderators.

![image](https://cloud.githubusercontent.com/assets/3887694/11731973/699c7ff8-9feb-11e5-9243-5e029e236c6a.png)

[2015-12-11 00:00] drwasho opened #342 "Chat: remove conversations on sidebar"
Could we have a button that clears conversations on the sidebar? Aside from being a nice feature, nodes will come and go and eventually we won't be able to pull their avatars, leading to this situation:

![image](https://cloud.githubusercontent.com/assets/3887694/11732237/e246a63e-9fed-11e5-867e-ecf08adcc394.png)

[2015-12-11 00:02] drwasho opened #343 "Onboarding: odd string length"
Disabled myself as a Vendor, re-enabled to go through onboarding. No matter what I do with the settings, I get the `odd string length` error.

[2015-12-11 00:05] drwasho commented on #261
Fixed.

[2015-12-11 00:05] #261 closed, assigned to nobody

[2015-12-11 00:10] drwasho commented on #262
- Page loads super slow not sure why. `still a issue`
- What does cancel do? Doesn't seem consistent. `still a issue`
- Avatar cropper shows nothing by default and gives impression no avatar is set. `still an issue`
- Bitcoin address has no validation (just length) so I can enter bullshit here. `limited validation`
- ~~New Address should probably be at top because if I have a ton of addresses it w

[2015-12-11 00:11] drwasho commented on #266
Ping @cpacia and @morebrownies ... is this still an issue?

[2015-12-11 00:12] SamPatt commented on #266
Yes.

[2015-12-11 00:15] drwasho commented on #333
Fixed.

[2015-12-11 00:15] #333 closed, assigned to nobody

[2015-12-11 00:17] drwasho commented on #300
Ping @jjeffryes

[2015-12-11 00:19] drwasho commented on #326
Ok the second error is because of the nodes you were talking to is not online and their avatar image was a default one (most likely). It's more or less a harmless bug.

First issue is resolved :D

[2015-12-11 00:19] #326 closed, assigned to nobody

[2015-12-11 00:25] djbooth007 commented on #326
Issue appears to be resolved with either recent changes (when running 'git pull') or when installing newer version of txaio:
pip install txaio==1.1.0

[2015-12-11 00:26] drwasho opened #344 "Chat scrollbars"
One area where the new scrollbars aren't showing:

![image](https://cloud.githubusercontent.com/assets/3887694/11732620/ac72406e-9ff1-11e5-893c-14b238a1490c.png)

[2015-12-11 00:27] drwasho commented on #290
Fixed.

[2015-12-11 00:27] #290 closed, assigned to nobody

[2015-12-11 00:30] drwasho commented on #121
I think this is good for now.

[2015-12-11 00:30] #121 closed, assigned to jjeffryes

[2015-12-11 00:31] drwasho commented on #122
Resolved in a different way by Wolf.

[2015-12-11 00:31] #122 closed, assigned to nobody

[2015-12-11 00:32] drwasho commented on #129
I like Wolf's proposal; it should enhance the UX.

[2015-12-11 00:34] drwasho commented on #142
Blockchain ID support should be its own issue.

[2015-12-11 00:34] #142 closed, assigned to jjeffryes

[2015-12-11 00:36] drwasho commented on #143
This will be really important. It's not a `showstopper` issue, but it is a higher than low priority :smile:

I'd prefer markdown here, but if we just did `html` for the time being that would be ok too. In either case, having a minimized formatting guide would be something to put on your list @morebrownies

[2015-12-11 00:37] djbooth007 opened #345 "Visual clarity when seller does not ship to buyer country"
![ob-buy](https://cloud.githubusercontent.com/assets/16231886/11732690/bb7ce59c-9ffa-11e5-9b52-f6d7ee42ee18.jpg)

'Greyed' out theme color hides information the buyer should see clearly when seller wont ship to their country.

'buyFlow.DoesNotShipHere' to be replaced with (suggestion) red X and also in the top header:

(bold, larger font size) **Vendor does not ship to your address.**
This vendor

[2015-12-11 00:39] drwasho commented on #146
@morebrownies can you put this somewhere near the top of your list of things to think about? In the individual listing page we have that awesome icon, but we don't have anything on the 'Listings' page in Discovery. Should we even do it etc.

Should we create a new issue for showing differences in the Discover page.

[2015-12-11 00:40] drwasho commented on #148
Fixed.

[2015-12-11 00:40] #148 closed, assigned to jjeffryes

[2015-12-11 00:41] djbooth007 commented on #341
![ob-settings](https://cloud.githubusercontent.com/assets/16231886/11732822/08313a2c-9ffc-11e5-9eb7-1a77b9696f35.jpg)

Same issue in Settings

[2015-12-11 00:41] drwasho commented on #152
Status @morebrownies ?

[2015-12-11 00:42] drwasho commented on #153
My issue is long resolved. Original issue is still outstanding. Ping @jjeffryes

Labeled this as `showstopper` as we really can't have an option that goes nowhere. Personally I'm happy to either delete it from the menu, as I think it's only something we should see in the store page, but that's just like my opinion man...

[2015-12-11 00:58] drwasho opened #347 "Editing contract weirdness"
![image](https://cloud.githubusercontent.com/assets/3887694/11733000/65146a18-9ff5-11e5-9aad-b54d697c0d55.png)

I haven't been able to isolate the cause of the issue yet.

[2015-12-11 01:01] drwasho commented on #289
- Customize page referenced in #153
- Become a store is still an outstanding issue

[2015-12-11 01:03] drwasho commented on #283
Seems to be fixed.

[2015-12-11 01:03] #283 closed, assigned to hoffmabc

[2015-12-11 01:04] drwasho commented on #282
Still an issue @hoffmabc

[2015-12-11 01:07] drwasho commented on #220
Pressing cancel just reloads the settings page. Do we still need a cancel button? I know
@hoffmabc had an issue with the name 'Cancel' if we keep it. I suggest we probably remove it... if people want to cancel stuff, they can go back home or refresh or something.

[2015-12-11 01:08] jjeffryes commented on #220
I could see switching it to be a restore button or something.

[2015-12-11 01:10] drwasho commented on #220
Yep that's a good idea.

[2015-12-11 01:11] jjeffryes commented on #215
Recommended solution (very basic, needs to look nicer than this):

<div class="tooltip" data-tooltip="text of tooltip">This has a tooltip</div>

.tooltip {
position: relative;
}

.tooltip:hover:before{
content: attr(data-tooltip);
position: absolute;
bottom: 10px;
display: block;
background: #ddd;
padding: 20px;
}

[2015-12-11 01:12] djbooth007 opened #348 "Default buyer address"
![ob-addresses](https://cloud.githubusercontent.com/assets/16231886/11733288/0bf13ece-a000-11e5-935b-2037b634ef20.jpg)

In Settings > Addresses, I suggest allowing user to set a default address. If only one address added, the first becomes default.

When making a purchase, the default address should be pre-selected for the user (especially if only one address has been added).

[2015-12-11 01:14] drwasho commented on #336
Nice work @cpacia

[2015-12-11 01:14] drwasho commented on #334
Can confirm this bug... it's been here for a while.

[2015-12-11 01:36] jjeffryes commented on #345
That should actually say something along those lines, it saying buyFlow.DoesNotShipHere is a bug in the language file.

[2015-12-11 01:47] djbooth007 commented on #341
Same problem found when creating new listing -> Country selection

[2015-12-11 01:50] djbooth007 opened #351 "Worldwide shipping"
Sellers willing to risk posting product _anywhere_ should be able to select 'Worldwide' from countries to ship to.

Edit: Also make worldwide shipping the default selection.

[2015-12-11 01:53] #206 closed, assigned to nobody

[2015-12-11 01:54] #113 closed, assigned to nobody

[2015-12-11 01:56] drwasho commented on #351
Just to add to this, we should include continents/regions:
1. Europe
2. Asia
3. Pacific (technically Australia, we could put Asia-Pacific/Australia)
4. Africa
5. North America
6. South America
7. Antarctica

[2015-12-11 01:59] #85 closed, assigned to morebrownies

[2015-12-11 02:01] drwasho commented on #95
Fixed.

[2015-12-11 02:01] #95 closed, assigned to hoffmabc

[2015-12-11 02:03] drwasho commented on #117
Fixed... because it isn't shown anymore :disappointed:

[2015-12-11 02:03] #117 closed, assigned to morebrownies

[2015-12-11 02:08] drwasho opened #352 "Show estimated delivery time on the listing"
Not sure where it should go, but probably the order modal.

[2015-12-11 02:09] drwasho commented on #146
I'll create a separate issue for showing contract type in Listings.

[2015-12-11 02:09] #146 closed, assigned to morebrownies

[2015-12-11 02:11] drwasho commented on #160
This hasn't been fixed yet; ping @morebrownies

[2015-12-11 02:12] #200 closed, assigned to nobody

[2015-12-11 02:46] cpacia commented on #351
needs to match this list https://github.com/OpenBazaar/OpenBazaar-Server/blob/master/protos/countries.proto

[2015-12-11 14:08] #341 closed, assigned to jjeffryes

[2015-12-11 14:08] #345 closed, assigned to jjeffryes

[2015-12-11 15:07] hoffmabc opened #354 "Sometimes chat avatars out of sync"
Sometimes chat avatars are off and out of sync.

![image](https://cloud.githubusercontent.com/assets/45482/11747019/f8dd4bea-9fee-11e5-82b5-55cb74c339c4.png)

[2015-12-11 16:41] hoffmabc opened #355 "Save/Cancel on Customize Page mis-aligned"
You guys might be aware of this already, but see screen on latest master.

![image](https://cloud.githubusercontent.com/assets/45482/11749501/26382a62-9ffc-11e5-8151-e97963424ef2.png)

[2015-12-11 20:39] #300 closed, assigned to cpacia

[2015-12-11 22:51] SamPatt opened #359 "Onboarding pops up randomly"
Client started normally, went into settings and the onboarding section popped up. It also was stuck; clicking next didn't do anything. There were some errors in the dev tools:

![image](https://cloud.githubusercontent.com/assets/6955773/11757486/bb358848-a02f-11e5-8ca0-1914a7dde63b.png)

[2015-12-11 22:54] jjeffryes commented on #359
Does this happen every time you restart the client, or only the time you set a new server in the loading screen?

[2015-12-11 23:03] SamPatt commented on #359
I can't replicate now.

[2015-12-12 05:01] djbooth007 opened #360 "Chat and notification options"
Currently, it's not possible to determine whether a user is available for chat, unless their server is offline and avatar goes default.

I propose an enhancement with the addition of a new tab in Settings called 'Messages'.

This section allows the user to configure options for both chat and also email notifications.

**CHAT**
1. enable/disable chat.
2. clear chat history
3. set idle time for away

[2015-12-12 06:09] jjeffryes commented on #359
This should have been fixed in the last commit I did to that branch.

Keep an eye out, if no one sees it again for a day or two I'll close this issue.

[2015-12-12 06:43] djbooth007 opened #361 "Viewing an offline store takes user to blank default page"
Usability enhancement, when user clicks on an offline store, a message is displayed 'Data could not be retrieved' and user is sent to a blank default page.

Ideally, the user would receive a more friendly message popup (perhaps "This store is currently unavailable.") and the user would not be taken to a default page. They will remain on the initial page.

[2015-12-12 16:04] yagoulas opened #362 "Chat history can appear multiple times"
If click rapidly on the icon of a store from the messages bar to open the chat history, sometimes the messages appear several times. This bug is more obvious when there are only one or two messages in a conversation.

[2015-12-12 16:10] JustinDrake opened #363 "[osx] "Close Application" behaves like Hide"
The "Close Application" button from the loading screen behaves like Hide. (It hides the window, but doesn't close the application.)

![screen shot 2015-12-12 at 16 09 26](https://cloud.githubusercontent.com/assets/731743/11762791/c055e212-a0ea-11e5-865a-1f2df99c64d7.png)

[2015-12-12 16:15] hoffmabc commented on #363
Just on OS X

[2015-12-12 16:34] JustinDrake opened #364 "Various errors and warnings in the console"
See screenshot

![screen shot 2015-12-12 at 16 32 37](https://cloud.githubusercontent.com/assets/731743/11762907/2da929c0-a0ee-11e5-9d26-a5e0dae892b9.png)

[2015-12-12 16:37] JustinDrake opened #365 "Hitting Tab on the "Description" input box brings to hidden search input"
In "Become a store", go to "Description", press Tab, and you'll get to the following buggy state:

![screen shot 2015-12-12 at 16 36 18](https://cloud.githubusercontent.com/assets/731743/11762924/ad0bfdbe-a0ee-11e5-95ba-f21ba5f0c58a.png)

[2015-12-12 16:46] JustinDrake opened #366 "[osx] Quantity arrows don't work"
The up/down arrows don't work here, at least on Mac.

![screen shot 2015-12-12 at 16 45 08](https://cloud.githubusercontent.com/assets/731743/11762953/d5cd5bfc-a0ef-11e5-9a34-d9d6ab1a9a25.png)

[2015-12-12 17:00] morebrownies commented on #360
I generally agree with everything you pointed out. In addition, users should also have privacy features integrated into chat:
1. Only people I follow can message me
2. Anyone can message me
3. Anyone can message me, but people I do not follow have to pay $X.XX to start a conversation with me (FB/Twitter have this, but the recipient doesn't make the money, FB does).

A lot of these features will li

[2015-12-12 17:01] morebrownies commented on #361
Agreed, the current experience is less than ideal. It's on my list to fix.

[2015-12-12 17:01] JustinDrake opened #367 "[osx] In full screen mode, clicking the top-left red circle to exit leaves a blank screen"
I would add a screenshot, but it'd be all black...

[2015-12-12 17:02] morebrownies commented on #365
Same as #334. Closing.

[2015-12-12 17:02] #365 closed, assigned to nobody

[2015-12-12 17:04] JustinDrake opened #368 "[osx] Hover state for 'close, minimise and maximise' circles does not appear"
In a proper Mac OS X app, the three circles go to the following on hover:

![imgres-1](https://cloud.githubusercontent.com/assets/731743/11763026/53053520-a0f2-11e5-9d38-6b6112ab248d.jpg)

With the client they stay in the default state:

![imgres](https://cloud.githubusercontent.com/assets/731743/11763028/5d294136-a0f2-11e5-9a47-30ef1b777267.jpg)

[2015-12-12 17:06] JustinDrake opened #369 "Help shows Electron help, not OB client help"
On Mac OS X, focus on the app, and go to 'Help > Documentation'. This brings the user to a somewhat irrelevant page:

https://github.com/atom/electron/tree/master/docs#readme

[2015-12-12 17:08] morebrownies commented on #352
Good call. Should probably be on the contract detail screen too as this helps a user determine if they want to purchase or not.

[2015-12-12 17:09] morebrownies commented on #347
Haven't run into this one yet. Let us know if you figure out how to replicate it.

[2015-12-12 17:10] morebrownies commented on #344
Need to fix the font in that textarea too. I'll fix next week.

[2015-12-12 17:14] morebrownies commented on #266
I'll have this fixed in my branch early next week.

[2015-12-12 17:16] JustinDrake opened #370 "Wrong drop-down arrow state"
In Settings > General > Language, click to bring the drop-down, then click again. Notice how the arrow state is wrong when the drop-down retracts. (Points up, instead of down.)

![screen shot 2015-12-12 at 17 15 51](https://cloud.githubusercontent.com/assets/731743/11763068/04a1275c-a0f4-11e5-9f71-b7c351da49f3.png)

[2015-12-12 17:16] morebrownies commented on #160
Fix coming in my next branch

[2015-12-12 17:26] morebrownies opened #372 "[Windows/Linux] Desktop icon badge should display number of unread notifications/messages"
<img width="354" alt="screenshot 2015-12-12 11 17 31" src="https://cloud.githubusercontent.com/assets/13066886/11763072/0dccaf5e-a0c2-11e5-9c4e-920ccf84983e.png">

[2015-12-12 17:27] morebrownies opened #373 "Add sound to all notification types"
Currently they are only working with inbound chat messages

[2015-12-13 00:04] hoffmabc commented on #368
I'm not sure Electron supports Full Screen mode yet in OSX.

EDIT: Looks like it might I'll check into it.

[2015-12-13 03:52] drwasho commented on #352
Great!

[2015-12-13 21:33] cpacia opened #375 "Homepage listings slow loading"
I think part of the reason the home page listings are slow to load is the bitcoin price conversion. Or at least that's what was mentioned before. The UI waits for the exchange rate to be returned before displaying a product.

We should probably make that so the product is shown immediately and the price is lazy loaded. That would make the loading seem much faster.

But it also seems there is some

[2015-12-13 21:36] cpacia commented on #375
~~I just timed it. It was a 12 second delay on the client side loading the second round of products.~~

One of the vendors went offline that's why there was such a long delay. I'm going to have to try to optimize that.

So maybe the only delay is the bitcoin price loading.

[2015-12-13 22:27] jjeffryes commented on #375
I just ran through some timing tests, in most cases the delay between each item being received over websockets was .001-.002 seconds, with a few of them jumping to 0.2-0.3 seconds, at least on my machine..

I tried putting in lazy loading, the new price was being set on each item before the websocket data for the next item arrived, which made no visual difference other than making it a few milisec

[2015-12-13 22:42] cpacia commented on #375
Then it must be vendors timing out that causes it to lag like that. Though I have seen on occasion a single product or two loads very late after the rest have loaded.

Here's an example in this video https://www.youtube.com/watch?v=zA6s4OiyJ2A&feature=youtu.be&hd=1

[2015-12-13 22:45] djbooth007 commented on #262
Additionally:
- Cover photo cropper shows nothing when one has been uploaded and gives impression no cover is set.
- With theme of white background, anything typed into 'About' field is invisible (text is white).

[2015-12-14 00:24] #343 closed, assigned to jjeffryes

[2015-12-14 00:56] djbooth007 opened #378 "When mouse over buttons on payment screen, elements dance around"
See video for demo.
https://www.youtube.com/watch?v=U_XHkaDv2j0

[2015-12-14 02:36] cpacia commented on #375
@jjeffryes I'm changing the server side code. It will not loop back around again now and load more products. This way if a vendor times out it doesn't look like the app is broke when items come in late.

That does mean that you will need to query the server again (using the same message ID) when the user scrolls to the bottom because no more items will be coming without an additional query.

Same

[2015-12-14 02:47] jjeffryes commented on #375
Understood.

[2015-12-14 11:40] leighman opened #380 "Remember window state"
Client doesn't remember window state on subsequent opening.

You can do something like this https://github.com/leighman/OpenBazaar-Client/commit/194bc0470e71ecefee2f5c12342fc06c73417aa8

Don't know if there are any other requirements.

[2015-12-14 11:42] leighman opened #381 "Don't use frameless window on Ubuntu"
main.js currently uses frame: false but this looks really out of place on Ubuntu.

Would be good to be able to enable system title bar easily but don't know what way you would want to do this.

[2015-12-14 12:25] hoffmabc commented on #381
So just to play devils advocate for a second...doesn't it look just as "out of place" on other OSs as well? I'm not a long time Ubuntu user or anything but maybe you can help me understand why this would be problematic? Or is it just an aesthetic critique?

[2015-12-14 12:27] hoffmabc commented on #380
I haven't tested this but I'll take a look. Also we welcome pull requests if you've got the chops to submit some patches or updates.

What do you mean by other requirements? Like beyond window location?

[2015-12-14 12:47] leighman commented on #381
It's pretty common on Windows and the existing style looks to cater to OS X. It is primarily an aesthetic critique and personally I would like to be able to easily use system window decorations but don't know what kind of patch you would be prepared to accept.

[2015-12-14 12:49] yagoulas commented on #381
Having the button to close the window on the left part of the title bar is definitely outlandish on windows. Other than that, it is quite usual for apps to have custom title bars.

[2015-12-14 12:50] leighman commented on #380
I am happy to submit a patch and the above works for me locally but it is literally my first time trying the client so I don't know if you have a preference not to add a random new dependency or about where config should be stored.

[2015-12-14 12:50] hoffmabc commented on #381
I believe the original plan was to make the custom chrome more system dependent but it sounds like you'd really like the default chrome period. I'd like @morebrownies to comment on this since its design.

[2015-12-14 12:56] hoffmabc commented on #380
I think it sounds compelling and we are not afraid to bring another dependency, but it will need testing. Let me get back to you on it.

[2015-12-14 14:39] morebrownies commented on #381
Let's hold off on changing this for now. There are a number of smaller improvements we can make across each platform instead of switching back to the default title bar.

[2015-12-14 14:39] #381 closed, assigned to nobody

[2015-12-14 14:42] gubatron commented on #381
looks like this kind of things could be a preference, some people will like it to be system independent, some won't. I say make it a UI Preference if possible, if not a config flag for the launcher.

[2015-12-14 15:07] #337 closed, assigned to jjeffryes

[2015-12-14 15:16] JustinDrake opened #382 "Purchases page does not appear"
I've purchased a wristband, and was told to go to my "purchases page". I tried clicking on my avatar, then going to "Purchases", but nothing happens.

![screen shot 2015-12-14 at 15 12 37](https://cloud.githubusercontent.com/assets/731743/11784644/5ed19c70-a275-11e5-8682-cdba2d81ba6f.png)

![screen shot 2015-12-14 at 15 15 49](https://cloud.githubusercontent.com/assets/731743/11784679/97346da4-a27

[2015-12-14 15:16] hoffmabc commented on #382
You have hit the end of the Internet. We have not pushed code beyond that point yet. Sorry!

[2015-12-14 15:17] #382 closed, assigned to nobody

[2015-12-14 15:17] hoffmabc commented on #382
Ping @jjeffryes just FYI

[2015-12-14 15:23] jjeffryes commented on #382
This is working as it should. The purchases page is in progress.

[2015-12-14 15:28] JustinDrake opened #383 "1px lines in on payment modal"
See the screenshots below. The first is the default with 1px blue lines on the left and right of the modal. The second screenshot is with the property `transform: translateX(-50%);` removed, which is causing artefacts.

![screen shot 2015-12-14 at 15 25 22](https://cloud.githubusercontent.com/assets/731743/11784982/45807e9c-a277-11e5-8ac8-cb1764b32bce.png)

![screen shot 2015-12-14 at 15 27 46](ht

[2015-12-14 17:42] morebrownies opened #384 "Short description should have a max char length of 160"
<img width="954" alt="screenshot 2015-12-14 11 39 06" src="https://cloud.githubusercontent.com/assets/13066886/11788564/5f7dee9e-a257-11e5-84f0-5272d47ac650.png">

Not sure if this needs to be done on the server or client.

[2015-12-14 17:56] jjeffryes commented on #384
We'd have to do it on both sides, since people can send data directly to the API and circumvent any limits we put in the entry fields.

[2015-12-14 18:20] jjeffryes commented on #384
In the meantime, I found a CSS way to do it. I'll put it in my next commit.

[2015-12-14 21:37] djbooth007 commented on #384
It also appears that my description got cut short at first  " double quote.

[2015-12-14 21:42] beatljuice opened #387 "Links not opening default browser."
I went to the "About Open Bazaar" page in the client and then clicked on the Slack channel link. I expected the link to open in my default browser (Firefox), but instead it opened in the OB client. The main problem with that is that I couldn't figure out a way to navigate away from the Slack page and had to restart the OB client.

[2015-12-14 21:49] SamPatt commented on #387
Can replicate; doesn't open links in external browser.

[2015-12-14 22:33] Psiloxyn opened #388 "Notifications do not appear until UI is refreshed"
The notification alarm shows the number of notifications but shows nothing when clicked. Once the page is refreshed the tray will show notifications, all of which are greyed out however they can be clicked.

[2015-12-14 22:51] morebrownies commented on #387
<img width="1209" alt="screenshot 2015-12-14 16 50 43" src="https://cloud.githubusercontent.com/assets/13066886/11796638/d905397c-a282-11e5-8a35-656c70007e82.png">

Ran into the same thing.

[2015-12-15 07:05] djbooth007 opened #390 "Some onboarding inputs not saved"
- Timezone not saved
- Handle inputted without @ should automatically add it for user (same goes for editing Settings > Page)

These issues turned up while recording a walkthrough:
https://youtu.be/Nmibz4o11hw

[2015-12-15 07:38] djbooth007 commented on #390
When becoming a store, there should be a reminder for vendor to input their bitcoin address in Settings.

Either during onboarding, or when creating first listing (?)

[2015-12-15 14:21] #375 closed, assigned to jjeffryes

[2015-12-15 14:21] #383 closed, assigned to jjeffryes

[2015-12-15 21:11] #359 closed, assigned to jjeffryes

[2015-12-15 21:12] #262 closed, assigned to nobody

[2015-12-15 21:12] #220 closed, assigned to morebrownies

[2015-12-15 21:13] #191 closed, assigned to jjeffryes

[2015-12-15 22:25] SamPatt commented on #388
Can replicate.

[2015-12-15 22:29] SamPatt opened #392 "Add "Create Another Listing" button"
When a store is finished adding one listing, it brings them to the page viewing that listing. If they want to add another listing, it's not clear how to do that. They would need to click the Store tab again, which isn't intuitive because it's already selected:

![image](https://cloud.githubusercontent.com/assets/6955773/11826111/3fa97d4a-a351-11e5-9245-632484617ce5.png)

I suggest that we add a bu

[2015-12-15 22:35] djbooth007 commented on #392
Agreed. For consistency, the button should read '+ New Listing' - same as the store page.

[2015-12-15 22:51] SamPatt opened #393 "Show Product Default Image Based on Category (make images optional)"
Right now a new listing won't save unless a user adds an image.

I don't think we should force this, or at the very least, I don't think that we should force digital goods or services to have an image (what does an image of a service look like?).

If a user is lazy enough that they don't want to put in proper images for their products then they'll probably just put in random garbage anyway, which

[2015-12-15 22:52] morebrownies commented on #393
I'm in agreement that photos should be optional.

[2015-12-15 23:27] Psiloxyn opened #394 "Allow duplication of existing item [Suggestion]"
Currently stock must be listed on an individual item basis, adding the ability to clone or duplicate listings for modification afterwards ensures quick listing of inventory.

[2015-12-16 00:07] djbooth007 commented on #393
+1 optional

... although, this will mess with search and listing layouts. May need a placeholder image when none is used.

[2015-12-16 00:22] SamPatt commented on #393
Yes I recommend placeholders for each contract type; I assume that's easy to do @jjeffryes?

Have a man at a desk for a service contract, some high-tech looking thing for digital goods, etc. I'm sure @morebrownies could think of better ones.

[2015-12-16 00:56] morebrownies commented on #393
Loading a different placeholder based on the contract type is pretty simple. Designing the placeholders would take more time. Actually, we could probably use the ionicons library to find icons that represent digital, service and physical item.

[2015-12-16 01:01] morebrownies commented on #393
These could probably work with an opacity of .5 with a 1px border around the entire placeholder div.

Physical item - ion-cube
Service - ion-wrench
Digital - ion-android-download

[2015-12-16 01:43] jjeffryes commented on #393
We've already got it set up to use the generic item image if no image is loaded, so that's easy enough.

Setting it to use placeholders based on category shouldn't be that hard.

[2015-12-16 02:21] jjeffryes commented on #393
One snag: currently the listings don't include the product type, so the home page and store page can't show a different icon based on type.

We'd need to modify the get_listings and get_homepage_listings APIs to provide the product type in order to show the right icon.

[2015-12-16 02:23] hoffmabc commented on #393
That should be trivial for @cpacia to add.

[2015-12-17 11:04] JustinDrake opened #405 "Translations do not apply to input placeholders"
See the screenshot below. The label 'Rue' is correctly translated in French, but the corresponding placeholder 'Street' is still in English.

![screen shot 2015-12-17 at 11 02 08](https://cloud.githubusercontent.com/assets/731743/11868143/bfd7154c-a4ad-11e5-8e8d-50609b14c33f.png)

[2015-12-17 14:47] JustinDrake opened #407 "Make various headings non-selectable"
See https://github.com/OpenBazaar/OpenBazaar-Client/pull/404

(Assigned to myself)

[2015-12-17 14:56] morebrownies opened #408 "Breadcrumb should be clickable to specific category"
<img width="384" alt="screenshot 2015-12-17 08 55 13" src="https://cloud.githubusercontent.com/assets/13066886/11872631/fb31ed0e-a49b-11e5-9ecd-e5353d6ade2b.png">

@cpacia @jjeffryes Now that the category drop down is in place (looks great btw), we also need the breadcrumb links to take the user to the correct category.

[2015-12-17 15:08] hoffmabc commented on #408
I thought these were there already. Am I misunderstanding?
![image](https://cloud.githubusercontent.com/assets/45482/11872946/0f69f258-a4a6-11e5-83bf-09634edb209b.png)

[2015-12-17 15:22] JustinDrake opened #410 "Truncated digit"
In the screenshot below, the digit '9' in the text '1 of 9' is truncated on the right by 1px or 2px.

![screen shot 2015-12-17 at 15 19 29](https://cloud.githubusercontent.com/assets/731743/11873360/f9736656-a4d1-11e5-9178-91d7e4a0a5b2.png)

[2015-12-17 15:23] JustinDrake commented on #410
Also, I find that the text in the modal is blurred. Am I the only one that sees text in modals as much less crisp than the rest?

[2015-12-17 15:29] morebrownies commented on #410
Which OS are you on @JustinDrake?

[2015-12-17 15:30] JustinDrake commented on #410
Mac OS 10.10.5

[2015-12-17 15:35] morebrownies commented on #344
Fixed in #400

[2015-12-17 15:35] morebrownies commented on #266
Fixed in #400

[2015-12-17 15:39] morebrownies commented on #160
Fixed in #400

[2015-12-17 16:00] morebrownies commented on #289
@jjeffryes I took a look into the issue with the `Become a Store` link displaying even after you've become a store and when I output `<%- JSON.stringify(ob) %>` it didn't seem we have access to the vendor boolean here.

[2015-12-17 16:11] jjeffryes commented on #289
It's probably looking in the wrong place, that code is fairly old, it needs to be updated.

[2015-12-17 17:43] #289 closed, assigned to jjeffryes

[2015-12-17 18:39] morebrownies commented on #405
@JustinDrake want to take this one on? Otherwise, I can fix when I get a chance.

[2015-12-17 18:53] JustinDrake commented on #405
@morebrownies: Sure. Can you assign the bug report to me?

[2015-12-17 20:06] #405 closed, assigned to nobody

[2015-12-17 22:02] moldcraft commented on #218
I executed `sh make_openbazaar.sh linux` and I get

[code]

I executed `npm install electron-prebuilt` and I get

[code]

[2015-12-17 22:07] ghost commented on #218
I executed `sh make_openbazaar.sh linux` and I get

[code]

`npm-debug.log`

[code]

---

I executed `npm install electron-prebuilt` and I get

[code]

`npm-debug.log`

[code]

[2015-12-17 22:09] hoffmabc commented on #218
You should not be running make_openbazaar.sh. That's for the installer and you're passing it linux which would be for Linux.

[2015-12-17 22:43] ghost commented on #218
I am on linux, I just don't want to create a new issue since the error message is similar.

Ok, I will try to install it by building the server and client manually.

Anyway, the installer should work.

Thanks

[2015-12-17 23:09] jjeffryes opened #415 "Input fields unselectable"
In the item edit view, after entering text in an input field and clicking away, the field itself can be clicked, selected, and typed in, but the text inside it is unselectable.

If you wait about 30 seconds it becomes selectable again.

[2015-12-18 15:01] #407 closed, assigned to nobody

[2015-12-18 19:33] #415 closed, assigned to jjeffryes

[2015-12-18 19:36] morebrownies commented on #410
The blurred text issue should be fixed in #400. We'll be deploying it to master at some point today.

[2015-12-18 20:50] #387 closed, assigned to jjeffryes

[2015-12-18 23:08] JustinDrake opened #420 "Split languagesMd.js per language"
I want to help with the French translation, but this huge languagesMd.js file put me off. (It's harder to edit and maintain.)

Can I go ahead and split languagesMd.js per language?

[2015-12-18 23:21] jjeffryes commented on #420
I find it a lot easier to add new words/phrases when it's a single file.

If you're comfortable rewriting the code that loads the languages in various places to dynamically load different language models, give it a shot and we'll see what it looks like.

Alternately, you could modify the language model to load the sub-models when it is instantiated.

[2015-12-19 17:40] morebrownies commented on #420
I tend to agree with @jjeffryes on this. I like the languages in the single file; it makes it easy to jump across all languages quickly without having to have 15 files open at once.

I see the benefits of splitting it up too, but there's probably more impactful tasks we could be spending our time on.

[2015-12-19 17:42] morebrownies commented on #91
@djbooth007 want to take a stab at this one?

[2015-12-19 17:43] morebrownies commented on #153
@jjeffryes fixed this.

[2015-12-19 17:43] #153 closed, assigned to jjeffryes

[2015-12-19 17:43] morebrownies commented on #160
@drwasho please confirm this is fixed

[2015-12-19 17:44] morebrownies commented on #204
@djbooth007 here's another good one to work on

[2015-12-19 17:45] morebrownies commented on #215
I'll take this one.

[2015-12-19 17:45] morebrownies commented on #229
@djbooth007

[2015-12-19 17:46] morebrownies commented on #230
@djbooth007

[2015-12-19 17:46] morebrownies commented on #266
@cpacia is this good in Ubuntu now?

[2015-12-19 17:49] morebrownies commented on #329
@drwasho How strongly do you feel about this task? The server rejects the sale downstream anyways.

It's also helpful to see what the checkout process looks like on my store. If we disable the button completely, I could never see what it looks like.

[2015-12-19 17:52] morebrownies opened #422 "When on a user page, I'd like to know if they're following me."
Twitter does the following:

<img width="282" alt="screenshot 2015-12-19 11 51 34" src="https://cloud.githubusercontent.com/assets/13066886/11914432/f21045de-a646-11e5-8def-e6700d603bbf.png">

We should do something similar.

[2015-12-20 11:36] drwasho commented on #329
Hmm.... good point. Happy to keep it for now in that case.

[2015-12-20 11:36] #329 closed, assigned to nobody

[2015-12-20 11:38] #344 closed, assigned to morebrownies

[2015-12-20 11:41] drwasho commented on #160
Fixed.

[2015-12-20 11:41] #160 closed, assigned to morebrownies

[2015-12-20 14:44] z3ntu opened #423 "Settings dialog should not appear on a new client (same server)"
When you use a new client on an existing (configured) server, you have to re-do the "Welcome" window with the initial settings dialog. The only thing that should be client-specific should be the language, I think.

[2015-12-20 22:15] jjeffryes commented on #364
These should be there while we're still developing the client, and are not considered issues.

[2015-12-20 22:15] #364 closed, assigned to nobody

[2015-12-20 22:19] jjeffryes commented on #390
Vendors send their bitcoin address when they confirm a purchase.

Buyers put in a return address (if they need a refund) in settings, or the first time they purchase an item.

Timezone is not actually used right now, it's not certain we'll keep it.

Handle is waiting for onename integration, it may be removed or moved, depending on changes onename is working on for their API.

[2015-12-20 22:19] #390 closed, assigned to nobody

[2015-12-20 22:28] jjeffryes commented on #384
The client side of this has been resolved. I'll open an issue in the server for the server-side part.

The quote mark issue may be a server problem as well.

[2015-12-20 22:28] #384 closed, assigned to nobody

[2015-12-20 22:33] jjeffryes commented on #378
This appears to have been resolved. @djbooth007 can you confirm whether you still see this on the latest copy of master?

[2015-12-20 23:49] djbooth007 commented on #378
I can confirm the issue has been resolved now. Latest payment flow looks good :)

[2015-12-21 16:29] morebrownies opened #426 "Short description is always null on followers/following tab"
Here's what I see when I output `<%- JSON.stringify(ob)  %>`

`{"avatar_hash":"ab55826a3843d73bf7e8776296a19d9ae4d64bd7","guid":"6a3efa536558f8192707b79d75dcf2b8cb52374d","handle":"@themes","name":"Themes","nsfw":false,"short_description":"","avatarURL":"http://localhost:18469/api/v1/get_image?hash=ab55826a3843d73bf7e8776296a19d9ae4d64bd7&guid=6a3efa536558f8192707b79d75dcf2b8cb52374d"}`

[2015-12-22 09:47] JustinDrake opened #428 "Suggest/request a moderator"
As a buyer, I may not be satisfied with the moderators the buyer has selected (if any, see screenshot below). Shouldn't the buyer be able to suggest a moderator to the seller?

![screen shot 2015-12-22 at 09 45 14](https://cloud.githubusercontent.com/assets/731743/11952548/0f2342b0-a891-11e5-8ae8-dffa95c0be57.png)

[2015-12-22 10:30] JustinDrake opened #429 "Pages or stores?"
In the screenshot below, there is a screen listing "Pages". At the same time, I'm prompted to search for "stores". What is the difference between pages and stores? Can a store have many pages? (It seems that on my personal store I only have one page, labelled "My Page".)

![screen shot 2015-12-22 at 10 27 52](https://cloud.githubusercontent.com/assets/731743/11953272/c4f644f2-a896-11e5-8924-32f6b7

[2015-12-22 11:04] drwasho commented on #428
Yes definitely, although this is something we'll have to work towards post the initial 1.0 release

[2015-12-22 14:52] cpacia commented on #429
I think the idea is to be able to view the pages of users besides just stores (ex buyers). Problem is there isn't any good way to get a list of everyone in the network. It would probably be better just being labeled stores IMO.

[2015-12-22 15:18] JustinDrake commented on #429
Agreed. Stores feel more semantically meaningful than pages.

[2015-12-22 16:23] morebrownies commented on #429
Some nodes will only offer "Moderator services", some will be "Stores", others will be "basic users" and some will be all 3. We need a single high level term that can reference all 3 different types. "Stores" doesn't work here because there are other pages in the network that need to be accessible in discover mode.

Also, "check out my Page on OpenBazaar" — is something a store, moderator or basic

[2015-12-22 16:47] JustinDrake commented on #429
@morebrownies: That makes sense. I imagine that, over time, clients will specialise to cater for one specific population: buyers, sellers or moderators. At this stage, having all three together is understandable, but somewhat awkward.

[2015-12-22 17:01] cpacia commented on #429
My thinking is that most users will not want to see other buyers (there's almost nothing there to look at and the list will be woefully incomplete and most will be offline anyway).

They might want to see moderators, but there are also other parts of the app where they can find moderators.

And they definitely want to see stores.

So the term pages lumps all three together whereas the weight of wh

[2015-12-22 17:05] morebrownies commented on #429
Agreed. I had the select dropdown defaulted to "stores" because of the same logic. If they do not care to see the other types, they could just ignore the dropdown. No harm in having them in there though.

[2015-12-22 21:56] drwasho commented on #429
We're also future proofing here because the role of users that have a permanent online presence but aren't stores will emerge as we roll out the Feed and other social features.

I agree with Wolf that defaulting to Stores is a **must** to fit with the most popular use case.

[2015-12-22 22:18] jjeffryes opened #430 "Only load Moderators in Settings view When Store Tab is Active"
Currently, the moderators are loaded and their profiles are called through the API when the view is loaded. Change this so the moderators are only loaded when the tab is activated, that way if the user never opens that tab the extra calls aren't made.

[2015-12-23 23:57] morebrownies opened #432 "Onboarding is broken"
Something is overriding accordion-child and setting the width on the first step in onboarding to 0. I changed the width in the DOM to 525px and then the next button didn't seem to work either.

@jjeffryes any ideas what is causing the issue? I'm not seeing any errors in the console and manually changing the DOM isn't fixing it locally... Possibly a JS issue?

[2015-12-24 00:29] Kirvx commented on #432
Same problem.

[2015-12-24 04:24] jjeffryes commented on #432
I made a change to the show/hide script, it's possible that stuck it at 0 width. I'll take a look.

[2015-12-24 04:58] jjeffryes commented on #432
Fixed.

There was a timing issue where the accordion code could run before the accordion parent element was unhidden, which set the width to zero.

[2015-12-24 04:58] #432 closed, assigned to nobody

[2015-12-24 21:37] #378 closed, assigned to nobody

[2015-12-25 11:46] nissimk opened #433 "Everything is too big on hi dpi screen [Linux]"
This behavior is observed under debian linux in the i3 window manager.  This is on a Lenovo Thinkpad T450s with 1920x1080 resolution on a 14 inch screen with xserver started with -dpi 157.  When loading the application for the first time, the onboarding screen "Next" button is below the bottom of the viewable area of the window so it cannot be pressed.

![screenshotmainwindow](https://cloud.github

[2015-12-26 03:59] #433 closed, assigned to nobody

[2015-12-27 16:33] #366 closed, assigned to jjeffryes

[2015-12-29 08:37] ghost opened #435 "Search for country"
At setup phase, "Search for country" in the "Select Your Country" (should be "Select your country") doesn't seem to be working.

Selecting a country by scrolling through works fine though.

[2015-12-31 22:24] #435 closed, assigned to nobody

[2016-01-02 18:07] JustinDrake opened #439 "Create listings priced in government currency"
When creating a listing, it is only possible to add a price in BTC. Having prices dynamically adjust to peg to a government currency is essential, as Bitcoin is not a widely used unit of account.

![screen shot 2016-01-02 at 18 06 21](https://cloud.githubusercontent.com/assets/731743/12075522/8d63c0da-b17b-11e5-9751-5acf3350009e.png)

[2016-01-02 18:13] hoffmabc commented on #439
This is possible if you change your preferred currency in settings to your govt currency.

[2016-01-02 19:48] JustinDrake commented on #439
@hoffmabc: Cheers. (Wasn't immediately obvious for me, but not many people should set 'Bitcoin' as their preferred currency.)

[2016-01-02 19:48] #439 closed, assigned to nobody

[2016-01-02 19:52] JustinDrake opened #440 "Denominate price in bits"
Bits (microBTC) are picking up versus BTC as a unit of account. It may make sense to add 'bits' as a option instead of 'BTC'.

[2016-01-03 19:22] JustinDrake opened #441 "Polish launch page"
See the screenshot below. Two nits:

1) The placeholder `http://serverIPorURL/api/v1/` uses an inconsistent font. (On Mac, `font-family: '.AppleSystemUIFont';`)
2) The button "Set New Server" is not properly vertically centered in the input box.

![screen shot 2016-01-03 at 19 20 05](https://cloud.githubusercontent.com/assets/731743/12080333/56f9ddc0-b24f-11e5-890b-021cbfd0cae6.png)

[2016-01-04 12:59] JustinDrake opened #443 "Remove focus on illegal activity"
Is the disclaimer a legal requirement? Can't we just remove it from the onboarding sequence?

Focusing on illegal activity in the very first paragraph sheds a bad light:

[code]

[2016-01-04 13:03] JustinDrake opened #444 "Slim down on-boarding process"
Is it necessary to have 9 steps in the on-boarding process?
1. Language -> OK
2. Disclaimer -> Is that necessary? See #443
3. Country -> Is that necessary? Does it affect the search results?
4. Currency -> OK
5. Timezone -> Is that necessary? How does it affect the user experience?
6. Optional
7. Optional
8. Optional
9. Optional

[2016-01-04 13:09] JustinDrake opened #445 "Background UI active during on-boarding sequence"
See the attached screenshot. I'm still in the on-boarding sequence, but the settings menu is active and clickable in the background.

![screen shot 2016-01-04 at 13 07 17](https://cloud.githubusercontent.com/assets/731743/12090181/5e8988b6-b2e4-11e5-84e8-b460e73e1120.png)

[2016-01-04 13:14] JustinDrake opened #446 "Cannot upload small avatar"
This following PNG, which is 120px by 120px, is not accepted as an avatar when I do "Upload Avatar" in the on-boarding sequence. No error is given (fails silently).

![120x120 1](https://cloud.githubusercontent.com/assets/731743/12090249/fc4bebe8-b2e4-11e5-86db-7e2a761808ea.png)

[2016-01-04 13:17] JustinDrake opened #447 "Updating avatar in the settings does not immediately update top-right avatar image"
Go to Settings -> Page -> Avatar, and Select New Avatar. Notice that the top-right avatar image does not update. Restarting the client works fine.

[2016-01-04 14:16] morebrownies commented on #445
This is intended. Onboarding is required.

[2016-01-04 14:25] JustinDrake commented on #445
@morebrownies: Sure. But why can I click "Discover", "Notifications", and "User" _during_ onboarding?

[2016-01-04 14:26] JustinDrake opened #448 "Client hangs for disconnected nodes"
Try browsing to the page of a disconnected node. The client will hang "loading" for a few seconds before displaying "Data could not be retrieved."

During the loading process, try clicking on the back arrow. Notice that it is unresponsive, and that I have to wait for the timeout to happen.

[2016-01-04 14:42] morebrownies commented on #445
We haven't disabled the click events, but the user isn't able to do anything within the menus. Super low priority imo.

[2016-01-04 14:48] morebrownies commented on #444
Country is needed for showing products that are within your region.
Timezone is needed to show you what time a notification, chat or order came through.
Disclaimer is helpful imo as well.

[2016-01-04 14:56] JustinDrake commented on #444
@morebrownies: It commonplace nowadays to use whatever timezone is used by the user on his OS. No need to set a different one for OpenBazaar specifically.

How can I search for products within my region? (In which part of the UI is it, or will it be?)

[2016-01-04 14:59] JustinDrake opened #449 "Item or Listing?"
The client is inconsistent regarding 'Item' or 'Listing':
- Links use 'item' (e.g. `e28ffb09eaadb541d5a294f0ffc70dd448f5227d/item/c9f5ee8a25f9668be1dea60e6dbf105286de8a4c`)
- In a store, there is a 'All Listings' link.
- In 'Discover', there is also an 'All Listings' link

[2016-01-04 15:00] morebrownies commented on #443
@SamPatt

[2016-01-04 15:02] morebrownies commented on #444
Agreed. The goal is to move up the timezone we think is correct to the top of the list. However, if people are using 3rd party servers or a VPN, our suggestion for their timezone will likely be incorrect and the user will need the ability to override it.

Search is still a WIP.

[2016-01-04 15:03] morebrownies commented on #449
Good catch. @jjeffryes can you change the url structure to use 'listing' instead of 'item'? Item doesn't work for services, so we moved to a more generic term.

[2016-01-04 16:59] JustinDrake commented on #444
OpenBazaar is a _native_ app, not a web app. You don't have to derive timezone from IP address. Just use the OS time!

[2016-01-04 17:02] JustinDrake commented on #449
I recommend using the GitHub search for 'item' and remove all instances, including variable names.

[2016-01-04 17:31] JustinDrake opened #450 "Set a handle outside of the onboarding process"
A user that doesn't set a handle in the onboarding process cannot set one in the settings, and is stuck without a handle.

[2016-01-04 17:34] #429 closed, assigned to nobody

[2016-01-04 17:41] morebrownies commented on #266
I'm closing for now.

[2016-01-04 17:41] #266 closed, assigned to morebrownies

[2016-01-04 17:45] morebrownies commented on #370
Fixed in 'misc' branch.

[2016-01-04 17:45] #370 closed, assigned to morebrownies

[2016-01-04 17:51] morebrownies commented on #373
Fixed in misc branch

[2016-01-04 17:51] #373 closed, assigned to morebrownies

[2016-01-04 18:16] morebrownies commented on #368
Fixed in misc

[2016-01-04 18:16] #368 closed, assigned to nobody

[2016-01-04 18:17] morebrownies commented on #367
I cannot replicate this. Is it still happening for you @JustinDrake?

[2016-01-04 18:21] morebrownies commented on #363
Yeah, that's just how it works in OSX, not sure we can change it. Closing for now.

[2016-01-04 18:21] #363 closed, assigned to nobody

[2016-01-04 18:22] hoffmabc commented on #363
On OSX applications do not close fully, they hide. I've made sure it obeys that on OSX, but acts like a native app on others.

[2016-01-04 18:24] morebrownies commented on #448
Duplicate, see #361

[2016-01-04 18:24] #448 closed, assigned to nobody

[2016-01-04 22:04] JustinDrake commented on #367
Yes, I can still replicate on master. Exact steps:
1. Open the client
2. Go full screen (Ctrl + Cmd + F)
3. Click on the top-left red circle
4. Observe a completely black screen (I think it's a blank Mac OS X 'desktop')

[2016-01-04 22:11] hoffmabc commented on #367
How are you even getting it full screen?

[2016-01-04 22:11] hoffmabc commented on #367
Oh probably because it isn't supported yet. I'll take a look.

[2016-01-04 22:23] JustinDrake commented on #367
@hoffmabc: I go full screen via View > Toggle Full Screen. Also, you can use the shortcut Ctrl + Cmd + F.

[2016-01-04 22:41] JustinDrake opened #452 "Zoom not disabled"
On Mac OS, two-finger pinch zooms in. Zoom should be disabled on a native app.

![screen shot 2016-01-04 at 22 39 27](https://cloud.githubusercontent.com/assets/731743/12102645/0fb3d1a6-b334-11e5-992c-c2d84f7daf16.png)

[2016-01-04 23:04] drwasho commented on #450
This issue is related to Blockchain ID integration, which hasn't been started. Feel free to reopen after this feature has been supported.

[2016-01-04 23:04] #450 closed, assigned to nobody

[2016-01-04 23:10] drwasho commented on #452
I disagree. 2 finger pinch is very useful for me when I use it.

[2016-01-04 23:15] drwasho commented on #449
@jjeffryes I've introduced a new milestone here called 'Low Priority'. It may be a little redundant with the label, but the purpose of this milestone is for you to put this at the bottom pile of things to do for v1.0 (as in this issue shouldn't interrupt your progress towards 'Feature Complete'). At the same time, this will be important for v1.0 to have, so it will need to be done at some point by

[2016-01-04 23:16] drwasho commented on #447
Yep this is an annoying bug. Ideally I'd like it so that we can change the Avatar when we press the `Customisations` button.

[2016-01-04 23:29] JustinDrake commented on #450
Is Blockchain ID integration scheduled for the initial release?

[2016-01-04 23:40] JustinDrake opened #453 "Navigation arrows shown in "unclickable" state"
Navigation arrows usually have two states: clickable and non-clickable (e.g. greyed out). See Chrome arrows below:

![screen shot 2016-01-04 at 23 38 51](https://cloud.githubusercontent.com/assets/731743/12103695/5464e4d6-b33c-11e5-9a4e-181b137e5503.png)

In the OB client, the arrows always seem to be greyed out (unclickable). They don't change state depending on whether or not there is history to

[2016-01-04 23:43] drwasho commented on #450
Yes!

[2016-01-04 23:47] JustinDrake opened #454 "Message dismiss arrow not clickable within bounds"
Open an individual message conversation, and notice that the X is not clickable between the X and the bounds:

![cursor2](https://cloud.githubusercontent.com/assets/731743/12103797/7aa502e2-b33d-11e5-835f-e906f59eaf68.png)

Compare this to the "Messages" X which works properly.

[2016-01-05 01:01] jjeffryes commented on #449
@drwasho makes sense to me.

[2016-01-05 03:53] #215 closed, assigned to morebrownies

[2016-01-05 03:53] #410 closed, assigned to morebrownies

[2016-01-05 03:53] morebrownies commented on #410
Fixed

[2016-01-05 03:53] morebrownies commented on #215
Added tooltips

[2016-01-05 03:56] morebrownies commented on #452
The only problem with keeping it enabled is it messes up the navigation bar when you zoom. If we could modify it to only zoom the main content then I agree with @drwasho that it's helpful.

[2016-01-05 04:03] drwasho commented on #443
I tend to agree. Let's keep working on this paragraph.

[2016-01-05 04:28] morebrownies commented on #454
Fixed

[2016-01-05 04:28] #454 closed, assigned to nobody

[2016-01-05 06:26] drwasho commented on #453
Have you checked this on the `misc` branch of the client?

[2016-01-05 06:30] drwasho commented on #440
We should give flexibility to the user to denominate in BTC, mBTC, bits, satoshis etc.

[2016-01-05 06:34] drwasho commented on #444
This is still a WIP and I'm going to close this issue until we feel that we've finished. Please resubmit or reopen once we go into testing.

[2016-01-05 06:34] #444 closed, assigned to nobody

[2016-01-05 06:35] drwasho commented on #362
I think this has been fixed.

[2016-01-05 06:35] #362 closed, assigned to nobody

[2016-01-05 06:37] drwasho commented on #380
Done.

[2016-01-05 06:37] #380 closed, assigned to nobody

[2016-01-05 06:38] drwasho commented on #388
I think this is fixed. Reopen if it's not.

[2016-01-05 06:38] #388 closed, assigned to nobody

[2016-01-05 06:39] drwasho commented on #392
Fixed.

[2016-01-05 06:39] #392 closed, assigned to nobody

[2016-01-05 06:47] drwasho commented on #394
Yes definitely. This will be for a version post 1.0.

[2016-01-05 06:48] drwasho commented on #422
Hell yeah.

[2016-01-05 06:50] drwasho commented on #426
I think this has been fixed @morebrownies and @jjeffryes ? Reopen if not.

[2016-01-05 06:56] drwasho commented on #360
I don't think email is necessary as chat messages that are sent to a user that is offline will still make it to their intended target (stored in the DHT).

I agree with the top list though. While we're at it, I'm gonna suggest OTR as an optional security/privacy feature in chat.

[2016-01-05 06:57] drwasho commented on #355
Fixed.

[2016-01-05 06:57] #355 closed, assigned to morebrownies

[2016-01-05 06:57] drwasho commented on #354
Fixed.

[2016-01-05 06:57] #354 closed, assigned to nobody

[2016-01-05 06:59] drwasho commented on #347
Seems to be fixed.

[2016-01-05 06:59] #347 closed, assigned to nobody

[2016-01-05 07:00] drwasho commented on #336
This is quite important as users will be confused as to why their transactions aren't being processed.

[2016-01-05 07:04] drwasho commented on #334
This is still a big problem that needs to be solved sooner rather than later.

[2016-01-05 07:06] drwasho commented on #282
Seems to be fixed.

[2016-01-05 07:06] #282 closed, assigned to hoffmabc

[2016-01-05 07:09] drwasho commented on #230
Where are we on this @morebrownies

[2016-01-05 07:10] #182 closed, assigned to nobody

[2016-01-05 07:11] drwasho commented on #181
Work on this is currently underway by @hoffmabc , please close when ready.

[2016-01-05 07:13] drwasho commented on #163
@unsystemizer or @hoffmabc can you make a PR to do this?

[2016-01-05 07:14] drwasho commented on #152
Just gonna say this is fixed.

[2016-01-05 07:14] #152 closed, assigned to nobody

[2016-01-05 07:15] drwasho commented on #143
Bumped up the priority on this... @jjeffryes can you please farm out to someone else.

[2016-01-05 07:16] drwasho commented on #77
Bump @morebrownies

[2016-01-05 07:17] drwasho commented on #29
In progress in more detail on issue #181 ; gonna close this.

[2016-01-05 07:17] #29 closed, assigned to nobody

[2016-01-05 09:40] JustinDrake commented on #453
@drwasho: No. What is the intent of the `misc` branch? When should I use it?

[2016-01-05 11:42] morebrownies commented on #453
This hasn't been resolved in _misc_. Going to need @jjeffryes help on this one.

[2016-01-05 11:47] morebrownies commented on #230
I was hoping someone in the community could help with these smaller enhancements. They're definitely low priority, but would make onboarding a bit more seamless.  Not required for launch.

[2016-01-05 16:15] JustinDrake opened #456 "Vendor or seller?"
The source code uses both vendor and seller to refer to the same thing. I thought the nomenclature for the three parties is "buyer, seller and moderator".

[2016-01-05 17:30] jjeffryes commented on #426
This is still an issue, it appears to be a problem in get_following and get_followers, neither one returns the short description data.

@cpacia can that be added to those calls? If not, we can remove it from the UI so it doesn't show the placeholder, but that wouldn't be ideal.

[2016-01-05 18:26] cpacia commented on #426
updated the server code

[2016-01-05 18:43] jjeffryes commented on #426
@cpacia I see the short_description key in the data from the API, but it's blank for everyone.

[2016-01-05 21:12] morebrownies commented on #143
I'll take a stab at this one later this week.

[2016-01-05 21:17] morebrownies commented on #441
On my list. Might be a week or so before I get around to it.

[2016-01-05 21:50] morebrownies commented on #205
Difficult to do exactly what you're asking for since the arrow is a part of the input, however I did manage to make the click area larger, which should help.

[2016-01-05 21:50] #205 closed, assigned to morebrownies

[2016-01-05 21:52] morebrownies commented on #77
Fixed

[2016-01-05 21:52] #77 closed, assigned to morebrownies

[2016-01-05 21:56] morebrownies commented on #271
I'll take this one

[2016-01-05 23:49] #426 closed, assigned to jjeffryes

[2016-01-06 00:02] jjeffryes commented on #143
Add the same html sanitizer used in chat to both the user page when it displays the about text, and to the settings where you enter new about text. That way they don't enter invalid text, and users are also protected from someone with their own client putting in malicious text.

[2016-01-06 11:40] drwasho opened #460 "When editing a contract, pressing 'cancel' will navigate you to a blank store screen"
As the title suggests.

[2016-01-06 15:41] #460 closed, assigned to jjeffryes

[2016-01-06 17:28] morebrownies opened #462 "If you search for something and then scroll down, it starts to lazy load in unrelated listings"
<img width="1199" alt="screenshot 2016-01-06 11 27 37" src="https://cloud.githubusercontent.com/assets/13066886/12149279/858ccfe2-b468-11e5-881b-34a4587c6ab0.png">

[2016-01-06 19:45] #462 closed, assigned to jjeffryes

[2016-01-06 20:37] jjeffryes commented on #447
This re-broke when I fixed the issue with the onboarding lists not being searchable.

[2016-01-07 05:24] drwasho commented on #456
Vendor, not seller. Where exactly does it have 'seller'?

[2016-01-07 06:50] drwasho opened #467 "Search within Pages"
For tracking purposes.

We have a search bar for various pages that is yet to be wired up. We can track progress here and close the issue once it's done.

**Discover Page**
- [x] Search listings
- [x] Search pages

**Chat**
- [ ] ~~Search messages~~ `defer for v1.1`

**User Page**
- [x] Search user page listings on store tab
- [x] Search followers/following list

**Orders Page**
- [x] Search purch

[2016-01-07 06:58] drwasho opened #468 "Notifications critical for v1.0 release"
From a list that @morebrownies put together, I've identified three notifications we need to wire up that are absolutely critical for v1.0 to be considered 'feature complete':
- [x] New case to review (for moderators)
- [x] Dispute opened on a transaction
- [x] New message on a dispute
- [ ] Nudge buyer to release funds on a transaction (x days after order date)
- [ ] Moderator revoked their servic

[2016-01-07 07:01] drwasho opened #469 "Non-critical notifications to integrate into the client"
List of notifications that are left to implement into the client. I consider them non-critical for v1.0 (feel free to disagree/discuss):
- @themes added you as Moderator
- Moderator rate changes (send to all vendors using their service)

Are there any others?

[2016-01-07 07:06] drwasho opened #470 "Moderator functions"
Track the following functions that need to be available to Moderator for v1.0:
- [x] Build "Become a moderator flow"
- [x] Turn off Moderator services
- [x] Change transaction fee
- [x] Set minimum fee
- [x] Add Moderation tab to user page and output offered services

To be deferred to future iterations:
- [ ] View all vendors that are using your service
- [ ] Revoke services from specific vendors

[2016-01-07 07:12] drwasho opened #471 "Transaction Flow"
We've already made substantial progress on this, but we have some more things to do for us to be feature complete:
- [x] Build Order Management Modal
  - [x] Will be activated when the order is clicked in the Purchases, Sales, and Cases pages
  - [x] **Release of funds from multisig escrow address**
- [x] Build in Cases list view
- [x] Build Dispute resolution controls for the Moderator
- [x] Buil

[2016-01-07 07:15] drwasho commented on #471
**Top priority** above everything else is the release of funds from multisig escrow @jjeffryes. I will _naively/cautiously_ say drop anything else you're working on to finish this asap.

Minimum functions:
- [x] Refund back to the Buyer
- [x] Payout to the Vendor
- [x] Moderated settlement

[2016-01-07 07:24] drwasho opened #472 "Reputation functions for v1.0"
The following needs to be in place for v1.0:
- [x] Design documents for showing reputation data
- [ ] Display the raw reputation summary of the user based off all _trade summaries_
- [x] Show each individual rating + written feedback for all transactions

This will require a REST API to pull the _trade summaries_ from the Vendor and potentially a WS API to find _trade summaries_ from anyone on the

[2016-01-07 07:27] drwasho opened #473 "Integrate Blockchain ID to register handles and connect IDs"
Let's track our progress and tasks in this issue.

[2016-01-07 09:18] JustinDrake commented on #456
@drwasho: If you look at [What is OpenBazaar?](https://blog.openbazaar.org/what-is-openbazaar/), the word 'seller' appears 8 times. So is the official ruling on **buyer**, **vendor** and **moderator**?

[2016-01-07 10:08] drwasho commented on #456
I believe that article was written just before we decided the terminology would be switched to Vendor.

[2016-01-07 10:10] drwasho commented on #456
@JustinDrake is there anything in the client where we haven't been consistent?

[2016-01-07 10:12] drwasho commented on #447
Fixed.

[2016-01-07 10:19] drwasho commented on #204
Here comes @jjeffryes kicking ass and taking names... done.

[2016-01-07 10:19] #204 closed, assigned to jjeffryes

[2016-01-07 10:20] drwasho commented on #256
Update on this @morebrownies ?

[2016-01-07 10:34] JustinDrake commented on #456
@drwasho: Yes, there's [one small inconsistency](https://github.com/OpenBazaar/OpenBazaar-Client/blob/440d0f917b4afa525a0d91856b6b4cced8c0f625/js/models/languagesMd.js#L248).

BTW, when you say "we decided the terminology", is there a written document with the agreed upon terminology you can link to?

[2016-01-07 12:43] JustinDrake opened #474 "Minimum Bitcoin price"
In Bitcoin, the OpenBazaar minimum price is 0.0001 BTC. For Euros, the minimum price is 0.01 EUR.

These minimums are:
- Inconsistent (0.0001 BTC != 0.01 EUR)
- Somewhat arbitrary
- Not future proof (what if the price of Bitcoin balloons?)
- Not microtransaction-friendly

Bitcoin has a natural minimum price (namely, one satoshi). Why have a Bitcoin minimum price?

[2016-01-07 13:01] drwasho commented on #456
Lost in Slack's memory hole.

[2016-01-07 13:05] drwasho commented on #474
Yep, we should fix that @jjeffryes (low priority).

No, it's targeted to be close to the miner's fee (Bitcoin one at least).

If so, we'll update the client.

If the Bitcoin price is less than the miner's fee, then the chance of having a transaction in limbo is too high. Microtransactions in OpenBazaar (like micropayment channels) need to be connected to a wallet built into the client, which is no

[2016-01-07 13:13] drwasho opened #475 "v1.0 - Required Features [Tracking]"
This issue will be used to track subordinate issues required to get us to a finished v1.0 client.
- [x] #272 - Block node ... or @SamPatt will kill someone.
- [x] #467 - Search within Pages
- [x] #468 - Notifications (what's left)
- [x] #470 - Moderator functions
- [x] #471 - Transaction flow
- [x] #472 - Reputation functions
- [x] #473 - Blockchain ID

I think this captures all of them, and these

[2016-01-07 13:16] drwasho commented on #475
In terms of priority, we absolutely need to finish #471 **asap**, which will enable some basic _alpha_-level testing. Please @jjeffryes make this your top priority.

My own personal feeling is that moderator functions would be a close second, followed by search and reputation. Blockchain ID, notifications and block node being the last three in descending importance.

[2016-01-07 16:08] morebrownies commented on #256
I'll take a spin back through the store creation process in a few days. I know there's another detail or two to polish up there as well.

[2016-01-07 16:59] jjeffryes commented on #256
I just fixed the issue where the text is on a separate line from the thumbnail, it'll be in the PR for the branch that works with Chris's changes to the server's handling of moderators.

[2016-01-08 03:49] sir-pinecone opened #477 "User nav is inaccurate after becoming a store"
Related: #289. After becoming a store I continued to see the "Become a Store" link in the user nav. This option persisted until I restarted the client app.

[2016-01-08 04:15] sir-pinecone opened #478 "Problems with creating a new listing via user menu"
Found some bugs:
- Click `New` in the user menu. The URL becomes `<hash>/item/undefined`
- The top sticky menu continues to show `New Listing` and `Customize` buttons. There is no `Cancel` or `Save Changes` button, however those show at the bottom of the page.
- Bottom of the page `Cancel` button doesn't work. Clicking it initiates an animation to close the listing but the new listing remains open

[2016-01-08 04:20] sir-pinecone opened #479 "Unable to make a new listing via user menu while viewing a previously created listing"
This bug only seems to happen if you create a listing via the `New` link in the user menu. I tried to replicate it with the `New Listing` button in my store and was unable to do so.

Problem:
After making a listing and viewing it, the `New` link doesn't do anything.

Steps:
1. Click `New` in user menu
2. Fill out the required fields and then save
3. You're now viewing the new listing. Click `New`

[2016-01-08 04:33] sir-pinecone opened #480 "Some required listing fields are not in the on save validation error message"
### Problem 1:

If I leave the item's description blank, the field name is not included in the missing fields list.

Steps:
1. Create new listing then click save (doesn't matter if you fill in fields or not): the description is not included in the error
2. Fill all required fields except description then save: the missing fields list is now empty
### Problem 2:

The missing photos error is not dis

[2016-01-08 05:48] jjeffryes commented on #480
We will be allowing users to create items with no images, the code to inject a placeholder image hasn't been created yet.

[2016-01-08 05:59] #478 closed, assigned to jjeffryes

[2016-01-08 05:59] #479 closed, assigned to jjeffryes

[2016-01-08 05:59] jjeffryes commented on #477
I can't replicate this issue. Can up get the latest code and check it again?

[2016-01-08 06:00] jjeffryes commented on #480
Part 1 is still a bug, reopening.

[2016-01-08 06:20] sir-pinecone commented on #477
I tried it again. It still shows it after becoming a store, but I was wrong about the persistence. It goes away after I reload the page.

[2016-01-08 14:18] jjeffryes commented on #477
Is anyone else experiencing this?

[2016-01-08 16:39] hoffmabc opened #485 "Template Variable Not Populated [Payment Confirmation Screen]"
Your payment has been sent to _%{recipient}_ @nima. The expected processing time for this order is 1 day. You can check the status of your order on your purchases page.

![image](https://cloud.githubusercontent.com/assets/45482/12203356/73137650-b5fc-11e5-9d37-f798f91bab39.png)

[2016-01-08 16:40] JustinDrake opened #486 "Free shipping"
The minimum shipping fee is 0.0001. What not have free shipping as an option? Free shipping is especially relevant for digital goods.

![screen shot 2016-01-08 at 16 39 28](https://cloud.githubusercontent.com/assets/731743/12203365/70c275c0-b626-11e5-92e8-c21c73ecdb0c.png)

[2016-01-08 16:43] JustinDrake opened #487 "'Clear Expiration Date' button"
The 'Clear Expiration Date' button, with the default theme, is very hard to see.

![screen shot 2016-01-08 at 16 42 07](https://cloud.githubusercontent.com/assets/731743/12203434/e2e0d412-b626-11e5-902a-c59f8b12f7c0.png)

[2016-01-08 16:44] JustinDrake opened #488 "Remove 'United States of America (The)' default"
OpenBazaar is global. Having localised defaults seems wrong.

![screen shot 2016-01-08 at 16 44 32](https://cloud.githubusercontent.com/assets/731743/12203478/1c90b1a0-b627-11e5-842a-dfd237406cab.png)

[2016-01-08 16:46] JustinDrake opened #489 "Expiration dropdown cannot be dropped back up"
In the 'New listing' page, there is a drop-down that shows the button 'Clear Expiration Date'. When trying to make the drop-down go back up, I keep hitting the date-picker instead.

![screen shot 2016-01-08 at 16 45 34](https://cloud.githubusercontent.com/assets/731743/12203519/4fa6ad42-b627-11e5-8015-04b1727f87a7.png)

[2016-01-08 16:53] jjeffryes commented on #488
It has to be something, since that is required data.

[2016-01-08 16:53] #488 closed, assigned to nobody

[2016-01-08 16:53] jjeffryes commented on #486
Free Shipping is an option, right above those two fields.

[2016-01-08 16:53] #486 closed, assigned to nobody

[2016-01-08 16:54] morebrownies commented on #487
I'll fix this on my branch

[2016-01-08 16:55] morebrownies commented on #489
You can click away from the calendar for it to go away. Maybe I'm missing something?

[2016-01-08 16:56] JustinDrake commented on #489
@morebrownies I'm not talking about the calendar date-picker. I'm talking about the original drop-down. Try clicking that little triangle pointing downwards.

[2016-01-08 16:58] JustinDrake commented on #488
I respectfully disagree. The 'Title' field is also required data and isn't profiled with anything (like 'Tasty American chewing gum').

:)

[2016-01-08 17:01] JustinDrake opened #490 "Missing notification"
Brian just followed me (I got a Mac OS X notification). This event doesn't appear in the notifications:

![screen shot 2016-01-08 at 16 59 54](https://cloud.githubusercontent.com/assets/731743/12203932/5f194346-b629-11e5-94bd-e9cb2cab8c30.png)

(BTW, notice the padding for 'No notifications' is unpleasant to the eye.)

[2016-01-08 17:03] JustinDrake commented on #486
@jjeffryes: The UI/logic is still broken. What if I want to do free domestic shipping, but charge for international shipping?

I don't understand the point of the "Free Shipping" line. (Also, I didn't notice it first time round.)

[2016-01-08 17:09] jjeffryes commented on #488
The point is that it must be a country. One must be picked by default, so no matter what someone is going to say "but that's not the right one!"

So we picked the one were most of our user base currently is.

[2016-01-08 17:10] jjeffryes commented on #486
"I don't like it" != "broken".

[2016-01-08 17:13] JustinDrake commented on #488
@jjeffryes: Still not convinced. [This issue](https://github.com/OpenBazaar/OpenBazaar-Client/issues/351) recommends adding 'Worldwide' as a shipping option.

'Worldwide' is the canonical option for a global project such as OpenBazaar.

[2016-01-08 17:14] JustinDrake commented on #486
@jjeffryes: How can I do free domestic shipping, but charge for international shipping?

[2016-01-08 17:14] jjeffryes commented on #485
fixed

[2016-01-08 17:14] #485 closed, assigned to nobody

[2016-01-08 18:26] SamPatt commented on #477
Cannot replicate. Closing and if anyone else has the problem they can re-open.

[2016-01-08 18:26] #477 closed, assigned to nobody

[2016-01-08 19:16] morebrownies commented on #490
I fixed the padding in my branch.

[2016-01-09 18:41] morebrownies commented on #272
I'll build in the ui elements this upcoming week and then someone can trail behind me and wire them up to the API.

[2016-01-09 18:42] morebrownies commented on #472
I'll have documentation ready in the next week or so. This should be the last of the documentation, yay!  :)

[2016-01-09 18:42] morebrownies commented on #472
At least for v1 hehe

[2016-01-10 00:00] raullenchai opened #495 "Error: OpenBazaar@0.1.0 start: `electron main.js`"
npm ERR! Linux 3.19.0-33-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "start"
npm ERR! node v0.12.9
npm ERR! npm  v2.14.9
npm ERR! code ELIFECYCLE
npm ERR! OpenBazaar@0.1.0 start: `electron main.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the OpenBazaar@0.1.0 start script 'electron main.js'.
npm ERR! This is most likely a problem with the OpenBazaar package,
npm ERR! not with np

[2016-01-10 00:19] hoffmabc commented on #495
Are you running npm install first?

[2016-01-10 23:31] drwasho opened #496 "Selected Moderators aren't being saved during store creation (edited)"
@SamPatt confirmed this bug.

[2016-01-10 23:36] drwasho commented on #495
Hi @raullenchai ,

Thanks for posting and we're really keen on helping you out. Could you please join our [Slack group](https://openbazaar-slackin-drwasho.herokuapp.com/) for support? There are 3 channels where we handle technical support: #support-linux, #support-mac, & #support-windows

We're trying to keep Issues for fixing and requesting features in the client rather than technical support.

[2016-01-10 23:36] #495 closed, assigned to nobody

[2016-01-10 23:48] jjeffryes commented on #496
When do you select moderators during onboarding?

Do you mean when creating a store?

[2016-01-10 23:52] drwasho commented on #496
Sorry yes.

[2016-01-10 23:53] drwasho commented on #496
One day I'll learn how to spell before pressing 'enter'.

[2016-01-11 00:35] jjeffryes commented on #496
I can't reproduce this. How were you getting it to happen?

[2016-01-11 00:39] drwasho commented on #472
Lol

[2016-01-11 00:47] drwasho commented on #496
Josh suggested the problem is due to a typical API response delay + bad connection. Will reopen if it's a widespread issue.

[2016-01-11 00:47] #496 closed, assigned to jjeffryes

[2016-01-11 00:53] jjeffryes commented on #496
No, that was about the issue with following people and them not being marked as followed.

Are you still seeing a problem with selecting moderators and then not seeing the same moderators saved in your settings view?

[2016-01-11 00:54] jjeffryes commented on #496
Sorry about being unclear as to what issue I was talking about in the Slack channel.

[2016-01-11 16:58] lunokhod opened #497 "Formatting of user text in client"
As far as I can tell, it is not possible to format text that a user enters for their store or items. It would be great to be able to use standard markup or html formatting commands.

[2016-01-11 17:03] jjeffryes commented on #497
This is currently turned off to prevent malicious or annoying content (such as huge images, spam links, etc.). We have the addition of markdown and/or safe html formatting on the roadmap for future iterations.

Duplicate of #143

[2016-01-11 17:03] #497 closed, assigned to nobody

[2016-01-11 20:15] JustinDrake opened #500 "Error opening app"
I can no longer open the app on Mac OS X. It fails with the following error:

![screen shot 2016-01-11 at 20 14 56](https://cloud.githubusercontent.com/assets/731743/12245378/0c26a560-b8a0-11e5-9605-556601df0908.png)

[2016-01-11 20:18] morebrownies commented on #500
Try npm install

[2016-01-11 20:21] hoffmabc commented on #500
you need to upgrade electron @JustinDrake .

[code]

[2016-01-11 20:25] JustinDrake commented on #500
Cheers guys.

[2016-01-11 20:25] #500 closed, assigned to nobody

[2016-01-11 20:38] JustinDrake opened #501 "Free domestic shipping and paid-for international shipping"
The shipping fee logic does not allow for free domestic shipping and paid-for international shipping. (Can only do both free, or both paid-for.)

![screen shot 2016-01-11 at 20 33 26](https://cloud.githubusercontent.com/assets/731743/12245875/29a84258-b8a3-11e5-800e-1a51f75969cf.png)

[2016-01-11 20:41] JustinDrake opened #502 "Change "Ships to" default to Worldwide"
As a follow-up to #351, a more appropriate default for the default "Ships to" field would be Worldwide, instead of the US. (More global, more neutral.)

![screen shot 2016-01-11 at 20 40 05](https://cloud.githubusercontent.com/assets/731743/12245979/b6c767f4-b8a3-11e5-85fd-a460c5db6051.png)

[2016-01-11 20:43] morebrownies commented on #489
@JustinDrake we're using the standard HTML5 datetime input. You can see it in action here: http://www.aquim.com/web-article-240.html Not much we can do at this point to change the behavior of the input other than ditching it and going with something entirely new.

I'm going to close this for now since this doesn't really seem to be a bug, but more so a suggestion on how the standard html input beh

[2016-01-11 20:43] #489 closed, assigned to morebrownies

[2016-01-11 20:46] morebrownies commented on #502
It would probably be best to default to the vendor's country instead of worldwide.

[2016-01-11 20:47] #487 closed, assigned to morebrownies

[2016-01-11 20:52] JustinDrake commented on #502
@morebrownies: :+1:

[2016-01-11 20:53] JustinDrake commented on #489
@morebrownies: I think you've misunderstood me. Maybe it's something only on Mac OS X. There's definitely a bug here.

[2016-01-11 20:54] JustinDrake commented on #489
@morebrownies: Here's a way to understand the bug:
1. Get the button "Clear Expiration Date" to appear.
2. Now try to hide the button again. Notice you can't.

[2016-01-11 20:58] morebrownies commented on #489
Ok, so the "Clear Expiration Date" button doesn't hide on click? Is that the only issue?

[2016-01-11 21:03] trashMeNow opened #503 "Discover (Optional) -> Keywords impossible to delete when is too long"
When inserted a long keyword, i'm no more able to delete it, because the "x" is not showed.
check red ellipse.
![image](https://cloud.githubusercontent.com/assets/9824947/12246498/a2b416d0-b863-11e5-81c1-76fa784b0dfb.png)

[2016-01-11 21:08] JustinDrake commented on #489
Not only does the "Clean Expiration Date" button not hide when the white triangle is clicked, the date picker opens instead!

[2016-01-11 21:12] morebrownies commented on #489
Wait hang on... The triangle is intended to open the datepicker. That's how it comes by default in html5. You may want to post a screen recording to show me what is going on...

[2016-01-11 21:17] JustinDrake commented on #489
I'm referring to the OpenBazaar triangle, not the two native html5 triangles. See the screenshot below for the triangle I am referring to:

![screen shot 2016-01-11 at 21 14 29](https://cloud.githubusercontent.com/assets/731743/12246812/8293b014-b8a8-11e5-8873-2e7f3e8f7a6f.png)

[2016-01-11 21:18] morebrownies commented on #489
That triangle is part of the input. Again, see how it works here: http://www.aquim.com/web-article-240.html

[2016-01-11 21:25] JustinDrake commented on #489
It seems you are right. My bad!

[2016-01-11 21:29] morebrownies commented on #489
No worries, I agree they could have designed the input much better.

[2016-01-12 05:32] drwasho commented on #503
Thanks for flagging this.

[2016-01-12 05:34] drwasho commented on #501
Great point. Makes sense.

[2016-01-12 05:34] drwasho commented on #490
This has been fixed.

[2016-01-12 05:34] #490 closed, assigned to nobody

[2016-01-12 14:01] #503 closed, assigned to jjeffryes

[2016-01-13 00:55] jjeffryes opened #508 "Prices Can be Below 0.0001 In other currencies"
When the user is using a currency with a low value compared to bitcoin, the minimum of 0.01 in that currency can be lower than the minimum btc value of 0.001.

The item editing view should change the minimum price of any item in non-btc currencies to be equivalent to 0.005 btc (five times the minimum), which allows some padding in case the price fluctuates while they are posting the item.

[2016-01-13 02:16] drwasho opened #510 "Placeholder help text in top search bar"
After interacting with a user, there was some confusion when they were trying to find my node by GUID. They were entering the GUID in the wrong search bar... and I suspect visa versa could happen.

I suggest we add 'Type in GUID or Handle...' or some placeholder text in that search bar so that users know what to do.

[2016-01-13 07:50] drwasho opened #511 "Search is essentially limited to 1 keyword"
I tried search for multiple keywords attached to my listings (e.g. `dress vintage`), but a space between the words does not delimit the terms I'm searching for (i.e. the client looks for `dress vintage` instead of `dress` `vintage`) and therefore fails.

I suggest that adding search terms behaves like adding keywords to a contract in terms of UI/UX.

[2016-01-13 14:02] hoffmabc commented on #511
Can you clarify here? Your description is too vague. So you enter dress, hit enter and it tokenizes, then you enter vintage, and it tokenizes and you can only find it by searching for "dress vintage" all one search term?

[2016-01-13 14:06] jjeffryes commented on #511
This is a limitation of the API, it only accepts a single term.

[2016-01-13 15:10] morebrownies commented on #510
Fix coming in my next branch

[2016-01-13 16:09] BazaarBay commented on #511
External search services can give more advanced listing search options. And, or, not, from specified vendor, not from specified vendor, using specified moderator, shipping to or from and so on.

[2016-01-13 16:10] hoffmabc commented on #511
Oh yeah?? Like who? :)

[2016-01-13 18:10] jjeffryes commented on #430
This was done.

[2016-01-13 18:10] #430 closed, assigned to jjeffryes

[2016-01-13 19:24] jjeffryes commented on #467
Are the two bullet points for searching chat and searching messages both referring to the same thing?

[2016-01-14 01:22] drwasho commented on #467
Fixed.

[2016-01-14 18:49] rmisio commented on #467
The two User Page bullet points are complete and ready for QA.

[2016-01-14 19:53] cpacia opened #516 "Notifications issues."
For my screen the "read" notifications are way too dark. Unreadable unless there is no light in my room except the monitor.

Also, the "unread" notifications are not highlighted when you first click the icon. It looks like it might set them to read before loading the list?

[2016-01-14 20:12] morebrownies commented on #516
Agreed. This is something I need to circle around to at some point and clean up.

[2016-01-14 22:16] jjeffryes commented on #408
Closed in #518

[2016-01-14 22:16] #408 closed, assigned to nobody

[2016-01-14 23:52] jjeffryes commented on #467
For clarification, what should search messages in chat do?

Currently, the get_chat_conversations API doesn't return anything that can be searched against, other than guid.

Does the search filter the conversation you're looking at?

[2016-01-15 00:37] hoffmabc commented on #467
I thought I already implemented the search for chat which is just by GUID.

[2016-01-15 00:38] jjeffryes commented on #467
Right, is it listed here because there should be more to search by than guid?

[2016-01-15 00:40] hoffmabc commented on #467
I mean it would be nice if we could search conversations but that's not a 1.0. Should probably just consider this completed and defer full search until later.

[2016-01-15 07:36] zhuol commented on #232
I can help on this recently.

[2016-01-15 10:18] ghost opened #521 "It's possible to start the client on a remote machine (or docker) and access it from browser?"

[2016-01-15 14:10] morebrownies commented on #467
<img width="701" alt="screenshot 2016-01-15 08 10 19" src="https://cloud.githubusercontent.com/assets/13066886/12355021/76480b98-bb5f-11e5-9851-baec8b3ccb6e.png">

[2016-01-15 15:22] jjeffryes opened #523 "Transactions Improvements"
The Purchases, Sales, and Cases tabs in the transactions view should be sortable by date and status.

The next action step (such as confirm order) should be visible on the orderShort subview, not only in the modal.

[2016-01-15 16:21] SamPatt opened #524 "Private / Unlisted stores and items"
We need to allow users to be able to list items that aren't immediately accessible to the rest of the network.

I think the easiest approach for listings will be the "unlisted" approach, where a listing it's visible unless you have a link and navigate directly to the product. But there are other approaches possible to achieve this.

Not sure how to approach unlisted stores.

This is largely a clie

[2016-01-15 18:01] jjeffryes opened #525 "Discover Tooltip Sometimes Opens When Saving Settings"
On a new install, sometimes when saving one of the settings tabs, the discover tooltip appears.

[2016-01-15 18:04] #334 closed, assigned to jjeffryes

[2016-01-15 20:56] zhuol commented on #232
Actually which part we should show timezone? Can you point me to the right place?

[2016-01-15 20:59] jjeffryes commented on #232
The onboarding code is in pageNavVw.js and pageNav.html. To see the onboarding modal, go to the Admin Panel using the upper right corner menu, and click the Clear Local Storage button. That will cause the onboarding to start again.

[2016-01-15 21:03] zhuol commented on #232
cool, I will check it.

[2016-01-15 21:43] zhuol commented on #232
So I am gonna add a timezoneListVw.js, and put timezone detection logic there which will be used in render method of  pageNavVm.js, right?

[2016-01-15 21:48] jjeffryes commented on #232
You can either leave the timezones hard coded (which is ok, because timezones are very unlikely to change), or you can build them the same way they are in settingsVw.js.

The logic for pre-selecting the user's timezone should happen in pageNavVw.js, in the accordionReady function.

[2016-01-15 22:15] morebrownies commented on #510
Fixed in misc3

[2016-01-15 22:15] #510 closed, assigned to morebrownies

[2016-01-15 22:16] morebrownies commented on #272
The design elements are ready, needs to be wired to the API now.

[2016-01-15 22:16] morebrownies commented on #271
Done

[2016-01-15 22:16] #271 closed, assigned to morebrownies

[2016-01-15 22:18] morebrownies commented on #524
Very similar to #187, can probably close one of these.

[2016-01-15 22:21] morebrownies commented on #342
Do we have an API for clearing out all of the messages in a conversation? If so I can add a line item for "Clear conversation" to the new menu I just added to the conversation window.

<img width="253" alt="screenshot 2016-01-15 16 20 44" src="https://cloud.githubusercontent.com/assets/13066886/12366928/fc3108ce-bba3-11e5-9a48-41ffa0045974.png">

[2016-01-15 23:13] SamPatt opened #531 "Vendor needs ability to label items "Out of Stock" or "Inactive""
Right now you can either display an item or delete an item, with nothing in between, but that's going to be a major problem for someone who runs out of stock temporarily.

@morebrownies suggests:

[2016-01-15 23:21] SamPatt commented on #187
Updating with some more thoughts:

Right now you can either display an item or delete an item, with nothing in between, but that's going to be a major problem for someone who runs out of stock temporarily.

@morebrownies suggests:

[2016-01-15 23:21] SamPatt commented on #524
Good catch Wolf. I'll close this.

[2016-01-15 23:21] #524 closed, assigned to nobody

[2016-01-15 23:23] jjeffryes opened #532 "Changes to loadTemplate broke Taggle in item edit view"
The recent changes to loadTemplate are causing taggle to read the size of it's container as 0, which makes the input area for text very small.

Reverting the changes breaks the list.js on the rest of the user view.

[2016-01-16 00:44] Kirvx commented on #187
Private/hidden listings/stores is definitely a good idea and should even be a requirement for many people when they start the creation of a store.

[2016-01-16 07:06] zhuol commented on #232
I find another issue, that the timezone we selected if not really kept.
After onboarding, if we go to settings page to check what we just selected, we can see that the timezone is not the one we picked.

[2016-01-16 07:38] zhuol commented on #232
Here is what I am going to fix the issue for pre-select timezone:
      // pre-select timezone
      var offset = new Date().getTimezoneOffset();
      offset = '(GMT ' + (offset<0? '+':'-')+parseInt(Math.abs(offset/60)) + ':00)';
      $("[id*='"+offset+"']").prop('checked', true);

[2016-01-16 21:50] jjeffryes commented on #232
@zhuol do you want to tackle the other part of this issue next?

After changing the state of the user's timezone to checked, it would be ideal to scroll the js-homeModal-timeZoneList ul element so the checked timezone is at the top of the scroll area.

[2016-01-17 02:06] zhuol commented on #232
Sure thing, I'd like to handle that as well.

[2016-01-17 02:11] zhuol commented on #232
So it will be preferred to scroll the li inside ul instead of just putting the selected one to the top, right?

[2016-01-17 03:06] jjeffryes commented on #232
Yes. I think that's better than changing the order of the timezones, and it achieves the same effect.

[2016-01-17 03:24] zhuol commented on #232
Definitely, 've made the change using scrolling logic.

[2016-01-18 01:57] jjeffryes commented on #508
Currently assigned to opencitizen (I'm marking this here because they aren't an option in the Assignee control)

[2016-01-18 01:58] #232 closed, assigned to nobody

[2016-01-18 04:57] drwasho commented on #511
@cpacia can you make search API search multiple keyword?

[2016-01-18 04:59] drwasho commented on #521
You are able to start the server component on a remote machine or docker and access the API controls. We built a web interface to interact with those APIs [here](https://drwasho.github.io/openbazaar-restapi-ui/), but it hasn't been updated in a while and parts of it are broken.

[2016-01-18 04:59] #521 closed, assigned to nobody

[2016-01-18 05:02] drwasho commented on #467
Happy to see 'search by conversation' bounce to post-v1.

Search by handle to find an open conversation would be great for v1, but probably a `stretch goal`.

[2016-01-18 05:05] drwasho commented on #467
Searching a store page doesn't seem to be working. Can someone confirm?

[2016-01-18 05:06] drwasho commented on #342
Paging @cpacia and @jjeffryes

[2016-01-18 06:16] jjeffryes commented on #532
This is fixed, though I'm not entirely happy with the way I fixed it.

[2016-01-18 06:16] #532 closed, assigned to jjeffryes

[2016-01-18 06:19] jjeffryes commented on #467
It's working normally for me in the master branch.

[2016-01-18 06:21] drwasho commented on #467
I'm on `master`, and I can't search for any keywords when I go to a store page; Discover tab is working just fine for search.

[2016-01-18 09:17] morebrownies commented on #511
@drwasho would this be an AND or an OR search?

AND = If I search `dress` and `pink` I would only see listings that have both `dress` or `pink` tagged.
OR = If I search `dress` and `pink` I would see listings that have either `dress` or `pink` tagged, but not necessarily both.

[2016-01-18 11:25] drwasho commented on #511
![why not both](https://cloud.githubusercontent.com/assets/3887694/12390235/f1709552-be29-11e5-808c-4a7368c5207f.jpg)

[2016-01-18 12:43] JustinDrake opened #539 "npm start script"
I'm helping a friend get setup with the client (for some reason electron is crashing), and I realise I don't understand how the npm start script works. The `package.json` file has:

[code]

but when I type `electron main.js` directly in the command line I get:

[code]

How can I load electron from the command line without npm?

[2016-01-18 13:15] JustinDrake commented on #539
Ok, figured it out. `electron` is not installed globally, so I need to run

[code]

[2016-01-18 13:15] #539 closed, assigned to nobody

[2016-01-18 17:00] morebrownies commented on #361
Here are designs for the desired experience.

1) When the connection is trying to be established, display some text showing who you're trying to connect to and provide a cancel button if the user wants to cancel the request because it's taking too long.

![openbazaar-failed-connection](https://cloud.githubusercontent.com/assets/13066886/12397338/31bf0740-bdd2-11e5-8463-d6ea23ef11c9.png)

2) When/i

[2016-01-18 17:04] morebrownies commented on #511
Does that mean AND? lol

[2016-01-18 17:20] hoffmabc commented on #511
If you do OR then you will catch all three conditions. A, B and those that have both A and B.

[2016-01-18 17:30] morebrownies commented on #511
Sure, but it would return a different set of results. For example, if I first search for `dress`, I see a bunch of dresses. If I add `pink` as a second keyword, I now see a bunch of dresses and pink things, but not necessarily pink dresses.

AND helps filter down the search more where as OR broadens the search more.

[2016-01-18 18:41] BazaarBay commented on #511
BazaarBay defaults to AND and also allows NOT using -word syntax like Google.

[2016-01-19 02:49] morebrownies opened #541 "Drag and dropping a file into the client locks up your client"
If you accidentally drag a file into OpenBazaar, the file overtakes the entire application and leaves you stuck on this screen.
<img width="1280" alt="screenshot 2016-01-18 20 46 26" src="https://cloud.githubusercontent.com/assets/13066886/12408291/99b08462-be24-11e5-90e1-fb577ea95274.png">

[2016-01-19 03:21] hoffmabc commented on #541
Wow that's odd. Maybe because it's just a chromium browser window....

[2016-01-19 06:32] drwasho commented on #511
For v1 I suggest we go with `AND`; we can add more complex search capabilities later.

[2016-01-19 12:17] morebrownies commented on #143
Completed in misc4

[2016-01-19 12:17] #143 closed, assigned to morebrownies

[2016-01-19 14:55] jjeffryes commented on #523
Add a section to look at the JSON version of the contract.

Cases will show whether contract is valid or not. Show the reason.

Add open dispute button.

[2016-01-19 16:00] jjeffryes commented on #541
Closed in #542

[2016-01-19 16:00] #541 closed, assigned to nobody

[2016-01-19 17:21] jjeffryes commented on #342
We would need an API for this. How do we want it to work?
1. Never show the conversation again to the user (either delete it from their database, or mark it "do not show" in the database).
2. Don't show conversations past a certain age. This option should include a button to show older conversations.

[2016-01-19 17:25] hoffmabc commented on #342
I thought we had a delete messages API already...

[2016-01-19 17:31] jjeffryes commented on #342
We have mark as read, I don't think we have delete.

[2016-01-19 17:41] jjeffryes commented on #445
This was fixed a while ago.

[2016-01-19 17:41] #445 closed, assigned to nobody

[2016-01-19 17:59] Kirvx opened #543 "Enter button outside of the background"
![capture du 2016-01-19 09-41-58](https://cloud.githubusercontent.com/assets/6627786/12427260/8e58a062-bede-11e5-91d3-9288828dddbe.png)

[2016-01-19 18:02] morebrownies commented on #543
Good catch. I need to remove the fixed height on that, my fault.

[2016-01-19 18:05] Kirvx commented on #543
Very nice UI :thumbsup:

[2016-01-19 18:18] morebrownies commented on #543
ty :+1:

[2016-01-19 19:44] morebrownies commented on #260
Finished

[2016-01-19 19:44] #260 closed, assigned to jjeffryes

[2016-01-19 19:56] morebrownies opened #545 "There's no way to unfollow someone that is permanently offline"
This is fine for people that temporarily go offline because I can unfollow them when they come back online, but for those that never come back online, it's basically impossible for me to remove them from my following list.

[2016-01-20 05:00] drwasho commented on #342
Can't this be a front end trick? Ideally I'd like to keep the message history, but clear the conversations from the client.

[2016-01-20 14:21] jjeffryes commented on #508
Closed in #547

[2016-01-20 14:21] #508 closed, assigned to nobody

[2016-01-20 15:08] jjeffryes commented on #342
If we just want to hide notifications older than X, we can do that in the client. We'll just have to decide what X is, and add a button to show older notifications, possibly with paging or some other way to manage it when there are hundreds of old notifications.

[2016-01-20 15:15] #446 closed, assigned to jjeffryes

[2016-01-20 19:12] jjeffryes opened #552 "Don't load last app state if launching with an inbound link"
If someone uses a ob: external link to launch the app, use that link instead of loading the last app state in app.js.

[2016-01-20 21:16] jjeffryes opened #554 "In Discover listings view, if user has no handle, empty grey tooltip is shown"
When looking at listings on the Discover view, if a user does not have a handle, an empty grey tooltip is shown when you hover over their user icon.

The tooltip should either not be shown, or have their guid in it.

[2016-01-20 21:25] morebrownies commented on #554
Let's fall back to the guid.

Also is there any way to get short_description in here? It would be really helpful to do the following on hover:

handle/guid — short_description.

I'd be very happy if we could do that. :)

[2016-01-20 23:49] drwasho opened #555 "Change 'Funds Waiting' to 'Funds in Escrow'"
A bit more clear as to what is happening with purchases and sales.

[2016-01-21 10:21] morebrownies opened #560 "Clicking 'My Page' directs me to guid/store, even though I'm not a store."
If a user is not a store, clicking their page should bring you to their About tab by default.

[2016-01-21 11:37] morebrownies commented on #361
@jjeffryes can we give this one to Rob?

[2016-01-21 13:30] jjeffryes commented on #361
@morebrownies probably.Depends on other critical things getting done.

[2016-01-21 16:49] morebrownies opened #562 "Prevent new follower notification spam"
I can hit the follow/unfollow button as many times as I want and it will trigger both a notification and sound on the recipients end, which can become very annoying, especially if it is abused.

We should do something clever and check the timestamp of the new follower notification, if a notification already exists from the same user, and it came within a few days of today's date, do not alert the

[2016-01-21 18:17] hoffmabc commented on #562
At some point we should probably have more fine-grained access to controlling notifications.

[2016-01-22 15:05] ripper234 opened #569 "Theme selection shouldn't be in the wizard"
The wizard is already 10 steps long, removing steps will help conversion.

Start with a default theme and let the user switch themes after.

[2016-01-22 15:18] morebrownies commented on #569
There are few things to consider here:

1) The user's GUID is generating in the background while they're working on onboarding. So if we focus purely eliminating steps for the sake of eliminating steps, the user will still have to wait on a loading screen. I'd much rather they be productive during this time, while they're motivated and excited about trying the application for the first time.

2) I

[2016-01-22 15:21] ripper234 commented on #569
Most users will be buyers, no stores/sellers.
Why does a buyer care about a theme for his page?

[2016-01-22 15:26] morebrownies commented on #569
We're planning on introducing features in the future that will enable buyers to become curators on the network. So basically anyone will be able to share / like items, build an audience, chat with others and drive viewers to their page.

[2016-01-22 15:26] hoffmabc commented on #569
I think best course of action for now is to leave as is and we can adjust as necessary later on as we get feedback on the themes etc.

[2016-01-22 15:28] hoffmabc commented on #569
Is one of them preselected @morebrownies? Maybe at a minimum we do that if not already?

[2016-01-22 15:29] morebrownies commented on #569
One use to be preselected, but I think it may have been removed. Not sure why.

[2016-01-22 19:59] #560 closed, assigned to jjeffryes

[2016-01-22 20:09] morebrownies commented on #229
Completed

[2016-01-22 20:09] #229 closed, assigned to nobody

[2016-01-22 20:09] morebrownies commented on #230
Completed

[2016-01-22 20:10] morebrownies commented on #231
Completed

[2016-01-22 20:24] jjeffryes commented on #230
The preselect for country isn't ready yet, just the scroll part.

[2016-01-22 20:24] jjeffryes commented on #231
Pre-selecting the user currency isn't ready yet, just the part that scrolls to the currency that is selected.

[2016-01-22 20:53] morebrownies commented on #231
My bad.

[2016-01-23 12:39] PolyDeveloper opened #572 "Timestamp for Listings"
A proposal to enhance listings by adding a timestamp. It could be optional to show or hide. It's a piece of relevant information for buyers.

[2016-01-23 12:41] hoffmabc commented on #572
A time stamp for creation of the listing, expiration or something else?

[2016-01-23 13:03] PolyDeveloper commented on #572
Originally for creation date. That way, as a buyer, you get a sense for how long an item has been in the market. Any other time-related enhancements are welcomed too.

[2016-01-23 13:14] PolyDeveloper commented on #572
In the case of ebay, they ad it in the Description tab, and refreshes with any updates. Also particularly important for service offerings or when sourcing.

[2016-01-23 22:20] JustinDrake commented on #511
As an outsider looking onto OpenBazaar, and I mean no offence to the developpers, the OpenBazaar team may be moving in a wrong direction regarding search.

The bulk of an OpenBazaar client can be built to a high standard by an enthusiastic, well-rounded and talented team of developers because it's "easy". DHTs, listings, reviews, Bitcoin multisig, store customisation, etc. are fairly simple. On th

[2016-01-23 22:35] drwasho commented on #511
Justin, the number of features and enhancements we have yet to implement is staggering. But, the completion deadline we have set for ourselves is finite. The resources we have are finite. The funding we have is finite.

The perfect product will not be shipped. Accept this. Some features will have limited capability. Accept this. We are noting down what we need to improve in the future so we can ci

[2016-01-23 22:51] hoffmabc commented on #511
Let's not make broad sweeping generalizations here. Search is not easy, agreed. I still don't see what the problem is with the basic search. Let's move past the fact that all the things that Justin mentioned take a pretty advanced level of expertise. I'll assume it was meant as no ill will considering no team has yet built anything like what we are building. Search across p2p has been notoriously

[2016-01-23 23:46] JustinDrake commented on #511
As it stands, the presence of the top bar is a strong visual invitation to use the search functionality provided. From a user interface perspective, you are implicitly vouching for basic search.

Time is limited, P2P search is shitty, and the reference client is about great user experience. So why not drop search? Should search be someone else's problem?

[2016-01-23 23:53] drwasho commented on #511
Basic search with iterating functionality is what we decided to go for. If you find someone with expertise and time willing to help in that effort, please refer them to this issue. Otherwise, we'll iterate as we go.

[2016-01-24 03:18] cpacia commented on #511
The big question this brings up going forward is do we need keyword search at all? If not, it pretty radically changes the networking code as we probably don't need our own dht and could use ipfs for everything.

[2016-01-24 03:34] hoffmabc commented on #511
We need search. At this point in time there are not enough good discoverability options to not have it. Let's put a lid on this until we get the release out and start addressing it later.

[2016-01-24 03:34] #511 closed, assigned to cpacia

[2016-01-25 15:51] SamPatt opened #574 "Better reporting of timeouts on User Page"
I haven't figured out how to replicate consistently, but I've seen this several times on updated client and server.

This particular time it happened when I tried to follow a store from the store's page itself.

![screenshot from 2016-01-25 10 47 56](https://cloud.githubusercontent.com/assets/6955773/12555894/5260e66a-c351-11e5-8e0d-afc82df31bf5.png)

[2016-01-25 16:03] jjeffryes commented on #574
For some users, one or more call on the user page is timing out. For any of the tab calls, instead of popping up the error modal, if the call fails we should put a message in the tab area saying data could not be retrieved.

The calls are:
get_following
get_followers
get_listings