[2016-01-25 16:21] hoffmabc opened #575 "Allow cosmetic link name in About profile page"
As you can see a complex URL will make the link look bad. We should allow users to maybe put a pretty print name with possibly a hover over for the real URL?

![image](https://cloud.githubusercontent.com/assets/45482/12556792/a81e99b8-c355-11e5-963e-a2fc219686f8.png)

[2016-01-25 16:22] jjeffryes commented on #575
We'd just need to add a separate field in the API for the display name, and then add it to the template and to the settings page.

[2016-01-26 01:04] morebrownies commented on #441
New designs here:
https://projects.invisionapp.com/share/S55QO4KND#/screens/130236262/comments
https://projects.invisionapp.com/share/AJ5QO42BW#/screens/130236261/comments

[2016-01-26 16:44] cpacia commented on #447
Looks like this might be back?

Started with the default icon and didn't change when I uploaded my own. It showed correctly after restarting the client.

[2016-01-26 17:12] jjeffryes commented on #447
I can't reproduce this. It didn't change when you clicked the save button?

[2016-01-26 17:24] cpacia commented on #447
No it was on a new profile though. Skipped the onboarding.

[2016-01-26 18:43] jjeffryes commented on #447
I tried the same thing, and it worked normally. Did you see any error messages?

[2016-01-26 19:20] SamPatt commented on #272
Congrats on this @morebrownies @jjeffryes and @rmisio. I'm closing.

[2016-01-26 19:20] #272 closed, assigned to hoffmabc

[2016-01-26 19:20] SamPatt commented on #467
I'm closing, @morebrownies or @jjeffryes feel free to re-open if it's premature.

[2016-01-26 19:20] #467 closed, assigned to jjeffryes

[2016-01-26 19:21] morebrownies commented on #272
:fireworks:

[2016-01-26 19:36] jjeffryes opened #584 "Links added to about section don't open in external browser"
The user view doesn't open links in the about view (added with the HTML editor in settings) in an external browser.

[2016-01-26 19:38] jjeffryes opened #585 "Twitter is missing on the About Page"
The Twitter section on the About Page is missing, probably due to a bad merge. We're saving the Twitter handle in Settings, it should be shown on the About Page (or removed from Settings).

[2016-01-26 19:41] jjeffryes opened #586 "Search in the Moderators step of the Store Wizard is not wired up"
List.js hasn't been added to the store wizard view, add it so search works when picking moderators.

[2016-01-26 23:16] drwasho commented on #447
Didn't see an error message, but I can confirm this bug is back.

[2016-01-26 23:20] drwasho commented on #467
Thanks Sam!

[2016-01-26 23:22] drwasho commented on #447
Update: seems to be only present during on-boarding. After on-boarding, switching avatars updates straight away.

[2016-01-27 07:12] drwasho commented on #473
Nearly there with this one. If you have a registered an OpenBazaar GUID to your Blockchain ID, you can navigate to their node according to their handle!

~~What's left~~ Deferred to future releases:
- [ ]  Register or connect to a Blockchain ID within the client
- [ ]  Register a new OpenBazaar handle within the client (if possible)

[2016-01-27 14:17] jjeffryes opened #592 "Wire up filter in following/followers tab of User View"
The select box that allows filtering followers/following by type should be coded on the following/followers tab of the User View

[2016-01-27 19:16] Kirvx opened #595 ""Description" should be selected by default"
![sans titre](https://cloud.githubusercontent.com/assets/6627786/12625154/cb94b0a6-c532-11e5-8e63-f042d90ddfe8.jpg)

[2016-01-27 21:17] jjeffryes commented on #595
This was fixed.

[2016-01-27 21:17] #595 closed, assigned to nobody

[2016-01-27 21:23] Kirvx commented on #595
Thanks :)

[2016-01-27 22:11] SamPatt opened #597 "Add new listing type: "Requests" or "Wanted""
The peer to peer and social nature of OB lends itself to more than just one-way trade (vendor to buyer).

Users should be able to post requests or wanted ads. These requests could be for any of the existing three listing types.

I'm not sure how best for the person fulfilling the request should respond. Ideally it would be some type of private listing such as #187 suggests.

Opening this issue to

[2016-01-27 22:43] jjeffryes commented on #592
This requires changes to the get_following and get_followers API calls, currently neither one returns the data needed to filter the follower or following lists.

[2016-01-27 22:44] jjeffryes commented on #592
If the API isn't updated before launch, the select boxes for filtering should be hidden.

[2016-01-28 02:45] drwasho commented on #597
This is a good request, and it's been on my mind since the early days. Some quick thoughts:
- This is the 'invitation to tender' feature that I have written about in the past
- I think we need a different type of interface to submit, search and filter tenders that come in to a user's request (and we certainly need better language)
- I think this is also going to be related to curation of certain p

[2016-01-28 03:33] drwasho opened #599 "Show Moderators attached to a listing"
Applies for:
1. Creating a listing
2. Editing a listing
3. Browsing a listing after clicking it on the Store page or Discovery page

[2016-01-28 03:34] drwasho commented on #599
This occurred to me when I was trying to purchase a contract and none of the new Moderators I had selected were attached to the listing. I realised I had to go into that listing and edit it in order to add the new Moderators I had selected.

[2016-01-28 04:19] jjeffryes commented on #599
The tricky thing here is this would have to create a new contract, since any change to a contract creates a new one.

I think what we'd need to do is every time you add (or remove) a moderator, we'd have to loop through all your contracts to change the moderators and then save them as new contracts.

If we did that, I think it would be best as a backend operation that happens invisibly.

[2016-01-28 06:03] drwasho commented on #599
Yep I agree.

On the front end side we'd need to see what Moderators are attached to individual listings.

[2016-01-28 13:30] JustinDrake opened #600 "Extraneous punctuation"
Notice the `.:`

[code]

![screen shot 2016-01-28 at 14 28 58](https://cloud.githubusercontent.com/assets/731743/12645623/98fa5378-c5cb-11e5-8104-cc3bf93440ec.png)

[2016-01-28 13:32] JustinDrake opened #601 "Cannot set refund address"
I've been trying to buy stuff but it always fails on the refund address

![screen shot 2016-01-28 at 14 31 59](https://cloud.githubusercontent.com/assets/731743/12645665/e6ea40b6-c5cb-11e5-8707-c637a3a0faf7.png)

[2016-01-28 13:34] JustinDrake opened #602 "Tooltip hidden by error message"
See screenshot. The "Discover" tooltip in the top-right corner is truncated by the error message.

![screen shot 2016-01-28 at 14 32 43](https://cloud.githubusercontent.com/assets/731743/12645723/31ecaaf4-c5cc-11e5-8bf5-474d4a034c98.png)

[2016-01-28 13:39] JustinDrake opened #603 "Moderator min service fee not respected"
The client has

[code]

But when I put `0` service fee it is accepted.

![screen shot 2016-01-28 at 14 39 18](https://cloud.githubusercontent.com/assets/731743/12645833/f04dd572-c5cc-11e5-8f87-12a945d7f9e8.png)

[2016-01-28 13:45] JustinDrake opened #604 "Keyword search not working"
The following item has tag #teapot:

b1fa3cd831ed7b4d7335a8408238b9902991ee5b/item/acb22bc158731182fede69459324b8c4c018e4fa

However, when I search for #teapot I get

[code]

![screen shot 2016-01-28 at 14 45 03](https://cloud.githubusercontent.com/assets/731743/12645973/bb160e5a-c5cd-11e5-8d00-37f92a1f31bc.png)

![screen shot 2016-01-28 at 14 45 32](https://cloud.githubusercontent.com/assets/7317

[2016-01-28 13:49] JustinDrake opened #605 "activate-with-no-open-windows event is deprecated"
In the bash console I get the following message

[code]

![screen shot 2016-01-28 at 14 50 02](https://cloud.githubusercontent.com/assets/731743/12646116/6efa463e-c5ce-11e5-8183-b3d51d8c25de.png)

[2016-01-28 13:52] JustinDrake opened #606 "Stale menu list"
Even after I have become a store, the menu still has "Become a Store".

![screen shot 2016-01-28 at 14 52 15](https://cloud.githubusercontent.com/assets/731743/12646181/cac26bcc-c5ce-11e5-9c03-3060284da2b9.png)

[2016-01-28 13:55] JustinDrake opened #607 "Wrong app icon on Mac OS"
On Mac OS, the app icon is that of Electron, not OpenBazaar:

![screen shot 2016-01-28 at 14 54 27](https://cloud.githubusercontent.com/assets/731743/12646242/1bd6e1a0-c5cf-11e5-860a-4153f1b915dd.png)

[2016-01-28 13:59] hoffmabc commented on #607
This will only show properly when installed through the .app distribution.

[2016-01-28 13:59] #607 closed, assigned to nobody

[2016-01-28 14:00] hoffmabc commented on #605
Already fixing this @jjeffryes

[2016-01-28 14:00] JustinDrake opened #608 "Padding missing for "No results found""
Top and left padding missing for the text "No results found". See screenshot.

![screen shot 2016-01-28 at 14 57 47](https://cloud.githubusercontent.com/assets/731743/12646365/cb10758c-c5cf-11e5-9c69-9172bbea5929.png)

[2016-01-28 14:03] JustinDrake opened #609 "OpenBazaar ID or GUID?"
The user interface has both "OpenBazaar ID" and "GUID". To me, "GUID" is too technical for the user interface, and I would stick with just "OpenBazaar ID", which is much clearer for the average Joe.

![screen shot 2016-01-28 at 15 02 35](https://cloud.githubusercontent.com/assets/731743/12646427/52a8ffb4-c5d0-11e5-8649-af93b9e723e1.png)

[2016-01-28 14:06] JustinDrake opened #610 "'No results found' does not collapse cleanly"
When the messages slider is collapse, the text "No results found" is not cleanly collapsed.

![screen shot 2016-01-28 at 15 06 21](https://cloud.githubusercontent.com/assets/731743/12646491/b5a39494-c5d0-11e5-9243-bba329de4765.png)

[2016-01-28 14:38] SamPatt commented on #609
I tend to agree. End users will understand OpenBazaar ID (or OpenBazaar Address) or OB ID better than GUID.

[2016-01-28 14:44] SamPatt commented on #601
This is likely because the address entered isn't a valid one. Could be because it's not a testnet address and you're running on the testnet.

This does bring up a good issue though @jjeffryes. Right now in settings if you try to change one setting, such as language, and save it without entering a valid refund address, it won't let you save. Since the buying process forces users to put in a valid a

[2016-01-28 14:49] JustinDrake commented on #601
@SamPatt: I used a testnet address, and I'm running on testnet.

[2016-01-28 14:59] morebrownies commented on #609
Agreed, OpenBazaar ID is probably best
On Jan 28, 2016 8:38 AM, "Sam Patterson" notifications@github.com wrote:

[2016-01-28 15:02] #470 closed, assigned to jjeffryes

[2016-01-28 15:29] jjeffryes commented on #601
@JustinDrake can you post the address you used? I haven't been able to reproduce this issue.

@SamPatt I agree, I'll set the refund address in settings to be non-required.

[2016-01-28 15:38] jjeffryes commented on #604
It takes a few seconds for the item to be searchable. If you try again, you will find the teapot.

[2016-01-28 15:42] jjeffryes commented on #602
This is correct behavior, if the tooltip is still open when a modal appears, it should be covered by the modal.

[2016-01-28 15:42] #602 closed, assigned to morebrownies

[2016-01-28 15:45] morebrownies commented on #602
We're going to change these error modals in the future too, so best to just hold off on this for now.

[2016-01-28 15:48] morebrownies commented on #569
I'm going to close this for now. The positives of having this step in onboarding should outweigh the negatives. We can revisit at a later time if we notice users aren't completing the configuration process.

[2016-01-28 15:48] #569 closed, assigned to nobody

[2016-01-28 16:02] morebrownies commented on #604
I'm experiencing a similar issue. Washington has some items tagged as 'retro', but when I search, none of them come up.

[2016-01-28 16:07] wmpedersen opened #612 "Chat Message Avatar routes to who you're chatting with"
Any avatar you click in chat routes to that user's page even if you click on your own. The goToUserProfile() in chatAppVw overrides the same code in chatMessageVw avatarClick().

I found that the first step to getting the proper GUID of the user you clicked on is to set the GUID of an outgoing chatMessage when retrieving the chat. The second step would probably be deferring goToUserProfile to avat

[2016-01-28 16:08] jjeffryes commented on #604
Ok, I can reproduce this with Wash's listings.

The search request appears to be correct, but no listings are returned. I'll close this and repost it as a server issue.

[2016-01-28 16:08] #604 closed, assigned to jjeffryes

[2016-01-28 16:16] SamPatt commented on #516
Also a user should be able to click on an incoming notification regarding the status of an order or case (a new order, or funded, or shipped, etc) and be taken right into the modal in purchases, sales, or cases.

[2016-01-28 16:16] jjeffryes commented on #586
I removed the search field from the moderator list in the store wizard.

Moderators are delivered by web socket, the search library we're using (list.js) has difficulty with asynchronously added DOM elements.

Later we should find a more robust search library, or create our own, and re-add search here and in the settings section for assigning moderators.

[2016-01-28 16:16] #586 closed, assigned to nobody

[2016-01-28 16:17] SamPatt commented on #468
Also please add the requests in #516 (and comments) when fixing notifications.

[2016-01-28 16:22] #584 closed, assigned to jjeffryes

[2016-01-28 16:22] #585 closed, assigned to jjeffryes

[2016-01-28 16:22] #600 closed, assigned to jjeffryes

[2016-01-28 16:22] #605 closed, assigned to jjeffryes

[2016-01-28 16:22] #606 closed, assigned to jjeffryes

[2016-01-28 16:22] #608 closed, assigned to jjeffryes

[2016-01-28 16:22] #609 closed, assigned to jjeffryes

[2016-01-28 16:22] #610 closed, assigned to jjeffryes

[2016-01-28 16:32] JustinDrake opened #614 "What is SKU?"
Never encountered SKU. Sounds cryptic.

![screen shot 2016-01-28 at 17 32 19](https://cloud.githubusercontent.com/assets/731743/12650952/1b735016-c5e5-11e5-8bbe-7a64f7c49447.png)

[2016-01-28 16:33] morebrownies commented on #614
https://en.wikipedia.org/wiki/Stock_keeping_unit

[2016-01-28 16:33] #614 closed, assigned to nobody

[2016-01-28 16:36] JustinDrake opened #615 "Is 'reload' necessary in production?"
The reload button is a bit confusing. Do we need it?

![screen shot 2016-01-28 at 17 35 36](https://cloud.githubusercontent.com/assets/731743/12651122/995f67f8-c5e5-11e5-9b06-122fdc67c1a3.png)

[2016-01-28 16:38] morebrownies commented on #615
See #125

[2016-01-28 16:38] #615 closed, assigned to nobody

[2016-01-28 16:39] JustinDrake commented on #125
What's the point of "Restart Application"?

[2016-01-28 16:40] jjeffryes commented on #125
It restarts the application.

[2016-01-28 16:41] JustinDrake commented on #125
@jjeffryes: Lol. Why would the user be interested in restarting the application? Is that a feature other applications have? (Just checked my top apps, Spotify, Chrome, Xcode, Sublime, Skype, etc. None have a "Restart Application" button.)

[2016-01-28 16:44] jjeffryes commented on #125
A better phrase would be "reload the page". It is equivalent to the Chrome refresh button.

There may be situations where you want to do that.

[2016-01-28 21:52] SamPatt opened #617 "Automatically send digital goods when payment received"
Right now a vendor selling digital goods receives payment and then manually enters a link and (optionally) a password when they confirm they've received payment.

Ideally we could automate the sending of the link and password as soon as payment is received (though probably after one or two confirmations). The vendor would obviously need to put in the link and password at the time of the listing.

[2016-01-29 00:08] drwasho commented on #471
Tracking updated @jjeffryes

[2016-01-29 01:08] drwasho commented on #473
For v1 we won't support registering a Blockchain ID or a handle to a blockchain ID. If we have time we'll launch a link to the browser or something.

[2016-01-29 01:10] drwasho commented on #552
@jjeffryes is this still in progress?

[2016-01-29 03:26] jjeffryes commented on #552
Yes.

[2016-01-29 03:32] drwasho commented on #603
I would argue that Moderators should be allowed to charge nothing for their services if they feel so altruistically inclined.

[2016-01-29 04:10] jjeffryes commented on #603
This was closed the other day, zero fees are allowed, the language just needed to be updated.

[2016-01-29 04:10] #603 closed, assigned to jjeffryes

[2016-01-29 04:24] jjeffryes commented on #601
So far this bug can't be reproduced, I am closing it, reopen it with a testnet address that doesn't work if it happens again.

[2016-01-29 04:24] #601 closed, assigned to jjeffryes

[2016-01-29 07:25] JustinDrake commented on #603
@jjeffryes Was the language updated? Please link the to commit.

[2016-01-29 11:28] JustinDrake opened #621 "Stale 'block' label on blocked user"
On a blocked user, the action label "block" should become "unblock".

![screen shot 2016-01-29 at 12 27 34](https://cloud.githubusercontent.com/assets/731743/12674515/cfba153e-c683-11e5-9604-9508461fd630.png)

[2016-01-29 11:31] JustinDrake opened #622 "Message notification doesn't clear on unblocked user"
See the screenshot. I've unblocked a user, read the messages, and the messages notification (7 in an orange circle) is still there.

![screen shot 2016-01-29 at 12 30 01](https://cloud.githubusercontent.com/assets/731743/12674561/2947cbd2-c684-11e5-8cb7-8e9e166ae0c0.png)

[2016-01-29 13:48] JustinDrake opened #623 "Chat user without tooltip"
See screenshot. The little black rectangle is an empty tooltip when I hover my mouse on the chat 3rd user. I think this third user is a bug, somehow created it when having a discussion with a real user.

![screen shot 2016-01-29 at 14 46 17](https://cloud.githubusercontent.com/assets/731743/12677389/f06bd640-c698-11e5-97d1-aff1d1eca9b3.png)

[2016-01-29 13:49] hoffmabc commented on #623
No screenshot

[2016-01-29 13:51] JustinDrake opened #624 "Inconsistent Tags placeholder"
The Tags placeholder (which reads 'Enter tags...') behaves inconsistently relative to the others:

1) The font size is smaller than other placeholders
2) The placeholder disappears on focus
3) The placeholder does not reappear on blur

![screen shot 2016-01-29 at 14 49 50](https://cloud.githubusercontent.com/assets/731743/12677225/b5401df2-c697-11e5-996d-f2a932bfceaa.png)

[2016-01-29 13:55] JustinDrake opened #625 "Moderator fee rounding"
Something's gone wrong with the rounding. JavaScript to blame?

![screen shot 2016-01-29 at 14 54 44](https://cloud.githubusercontent.com/assets/731743/12677309/537f992a-c698-11e5-9793-538d57b08c0d.png)

[2016-01-29 13:56] JustinDrake opened #626 "GUI restarts when pressing Enter on moderator fee page"
To repro:

1) Open the moderator fee modal
2) Focus the service input box
3) Change the amount
4) Press Enter (do not click 'Save')
5) Notice the GUI restarts

[2016-01-29 13:57] hoffmabc commented on #625
This one we are aware of and Chris is fixing on the server side.

[2016-01-29 13:57] #625 closed, assigned to nobody

[2016-01-29 13:58] JustinDrake commented on #625
@hoffmabc Cool. If possible, linking to dupes would be great.

[2016-01-29 14:00] JustinDrake commented on #623
@hoffmabc Ooops. Fixed.

[2016-01-29 14:00] jjeffryes commented on #626
I can't reproduce this on Windows.

@JustinDrake what is the moderator fee page? Is it the Moderator Tab in Settings, or the Moderator Modal in the User view?

Were elements in focus when you hit enter?

[2016-01-29 14:01] JustinDrake commented on #626
@jjeffryes It's the modal titled "Moderator Settings".

Yes, the input box is focused when I hit enter.

[2016-01-29 14:05] JustinDrake opened #627 "[Mac OS] Top-left tooltips appear in two stages"
The top-left tooltips for 'Close', 'Minimize' and 'Maximize' display in two steps with a glitch. A first part of the tooltip appears immediately. The rest appears about 0.5seconds later.

[2016-01-29 14:13] JustinDrake opened #628 "Client unresponsive with error"
The client will no longer show. (Don't know how I got it in this state.) I keep getting the following error modal:

![screen shot 2016-01-29 at 15 10 03](https://cloud.githubusercontent.com/assets/731743/12677658/d13cf1c6-c69a-11e5-8897-f80c227d7991.png)

[2016-01-29 15:48] morebrownies commented on #628
On a mac, if you hit CMD + W you can replicate this.

[2016-01-29 16:02] hoffmabc commented on #628
Ok it's because the app doesn't handle closing subwondows.

[2016-01-29 16:59] morebrownies commented on #531
It would be helpful if we could start adding screenshots of people asking for certain features so that when we take on the work we have a good idea of how important it is and what they're trying to accomplish.

<img width="963" alt="screenshot 2016-01-29 10 58 25" src="https://cloud.githubusercontent.com/assets/13066886/12682056/3be531f6-c677-11e5-969e-78bbf95ebfeb.png">

[2016-01-31 21:56] drwasho commented on #628
Please update @JustinDrake if this is still an issue.

[2016-01-31 21:58] JustinDrake commented on #628
Yes, still an issue. To repro, do CMD + W and then click on the Electron icon in the dock (on Mac).

[2016-01-31 21:58] drwasho commented on #628
Awesome, thanks.

[2016-01-31 22:03] drwasho commented on #626
I can confirm this bug on Windows.

[2016-01-31 22:03] Jzarecta opened #632 "Populate my shop from the CLI"
Anyway to get this done? I am looking for a way to maybe process a store in a VPS and update it programmatically with new listings, update prices, and descriptions.

[2016-01-31 22:35] SamPatt opened #633 "Option to backup data"
Both the database itself and all the data in the folder need to be able to be backed up easily.

For extra credit we could optionally let the user sync their data to an online service, such as Dropbox or SpiderOak.

This issue is also opened on the server side:

https://github.com/OpenBazaar/OpenBazaar-Server/issues/186

[2016-01-31 22:47] drwasho commented on #621
Gonna flag this for post v1 release.

[2016-01-31 22:53] drwasho commented on #342
@jjeffryes I noticed that when a user is blocked then their chat conversation disappears. What I'm really after from this issue is the ability to remove a conversation without blocking them. The option can appear here:

![image](https://cloud.githubusercontent.com/assets/3887694/12705640/273a3a2a-c8c1-11e5-92a8-777b1b6df1c8.png)

Maybe this is something for @rmisio ?

[2016-01-31 22:57] drwasho commented on #632
For the moment you may have to build your own using [docopt](https://github.com/docopt/docopt) and the [REST/WS APIs](https://github.com/OpenBazaar/OpenBazaar-Server/tree/master/api).

[2016-01-31 22:58] drwasho commented on #632
Apart from that you can host the server remotely on a VPS (like I do) and connect to it remotely with the client. Let me know if you want help with that.

[2016-01-31 22:58] #632 closed, assigned to nobody

[2016-02-01 00:00] drwasho commented on #468
@rmisio is working on this?

[2016-02-01 00:14] drwasho commented on #475
### Week of 1st of February, 2016

The team has accomplished a lot the past week with the purchase flow functioning reliably and cleanly, which is a huge achievement considering how user friendly the whole process is. We've also got all the design documentation lined up to wire up the reputation functions.

We have the following tasks to complete to reach `feature complete` status:

**Notification

[2016-02-01 00:45] drwasho commented on #183
Update on this issue.

If you deselect yourself as a Vendor in the admin panel:
- Users can still visit your node if they know your GUID, but
- Users cannot see the `Store` page when they visit your node
- Users can still see your node in the `Pages` tab (irrespective of whether you're following them or not)
- Users **still see your listings** on the `Discovery` tab

[2016-02-01 00:51] #256 closed, assigned to morebrownies

[2016-02-01 00:57] drwasho commented on #336
Updated @jjeffryes ?

[2016-02-01 01:01] #361 closed, assigned to jjeffryes

[2016-02-01 01:02] drwasho commented on #367
Update @JustinDrake

[2016-02-01 01:03] drwasho commented on #369
Update @JustinDrake

[2016-02-01 01:05] drwasho commented on #423
Update @jjeffryes ?

[2016-02-01 01:08] drwasho opened #635 "Save remote server addresses and auth details in Settings"
If I want to quickly switch between remote OB servers, I'd rather not type in the IP address and auth (when it comes) every time. It would be cool if I can save those settings in the client and click a button to switch.

[2016-02-01 01:16] drwasho commented on #453
Bump @morebrownies

[2016-02-01 01:17] drwasho commented on #452
2 finger pinch is disabled in Windows, which actually annoys me a lot.

@jjeffryes your thoughts?

[2016-02-01 01:17] jjeffryes commented on #468
No one is assigned to this yet, we're waiting for the backend to send these notifications.

[2016-02-01 01:19] jjeffryes commented on #336
@drwasho this hasn't been added yet

[2016-02-01 01:20] drwasho commented on #525
Seems to be fixed. Reopen if we see it.

[2016-02-01 01:20] #525 closed, assigned to nobody

[2016-02-01 01:22] drwasho commented on #468
Ping @cpacia

[2016-02-01 01:23] drwasho commented on #543
Update @morebrownies ?

[2016-02-01 01:24] drwasho commented on #545
On the REST API side you can do it, but it's not built into the client.

[2016-02-01 01:24] jjeffryes commented on #342
The trick here is if you want to mark a specific conversation as hidden, we need to save something on the server so the client knows which conversations to hide. Currently there's no api for that.

If we only want to hide conversations based on date (ie: older than X days) we can do that just on the client.

[2016-02-01 01:25] jjeffryes commented on #423
This will be changed with the new startup process Rob is working on.

[2016-02-01 01:26] drwasho commented on #342
Could you hide the conversation according to the chat's subject line?

[2016-02-01 01:30] drwasho commented on #555
PR for this is #620

[2016-02-01 01:30] drwasho commented on #562
Is this factored into the ban score @cpacia ?

[2016-02-01 01:33] jjeffryes commented on #474
This is set this way because (for example), the smallest denomination of USD currency is 0.01. There is no such thing as less than 0.01 USD in common usage (yes, for banks and financial institutions you can have fractions of a penny, but not in normal eCommerce).

The simple solution is if you want prices in BTC, you should switch your currency to BTC.

[2016-02-01 01:33] drwasho commented on #574
I've seen this type of error from chat conversations where the node has been deleted or is offline. This is why I've been pushing for #342, apart from being a nice UX feature.

[2016-02-01 01:33] drwasho commented on #423
:+1:

[2016-02-01 01:34] drwasho commented on #474
Boom

[2016-02-01 01:34] #474 closed, assigned to jjeffryes

[2016-02-01 01:39] jjeffryes commented on #453
I'm removing the bug label, since this isn't really a bug, it's a request for an enhancement.

Rob and I discussed this at some length, neither Backbone nor the Chromium browser provides easy access to the data we'd need.

We can add our own code to keep track of all the route changes, and were you are on that list, but it's a bit of work.

[2016-02-01 01:42] jjeffryes commented on #452
Touch screens are becoming more common on Windows computers, we should account for that.

That said, I have a touchscreen Windows computer (Surface 3), I don't think I've ever used pinch zoom for anything on it, so I didn't notice it was disabled.

I'll have to look into what is disabling it. I don't recall purposely turning it off. It may be a system setting.

[2016-02-01 01:43] jjeffryes commented on #545
I don't believe that's correct. The unfollow doesn't complete until it receives a message back from the other user, or it did the last time Chris and I talked about it. Has that changed?

[2016-02-01 01:45] jjeffryes commented on #342
We could hide them based on anything we want, but they would reappear the next time you started the client unless we save that data somewhere.

We could save it to localstorage, but that means it would only work on that client, not on other clients using the same server.

[2016-02-01 01:47] drwasho commented on #452
Ok. In that case I'll close this issue, which requests disabling it.

[2016-02-01 01:47] #452 closed, assigned to nobody

[2016-02-01 01:48] jjeffryes commented on #183
Listings appearing in the discovery tab if the seller isn't a vendor would be a backend bug, I believe it's supposed to only show vendor items.

[2016-02-01 01:52] drwasho commented on #342
I could live with that :P

[2016-02-01 01:54] drwasho commented on #545
Nope I'm wrong, you can't unfollow them unless they're online. That's odd, but I'm sure there's a good reason @cpacia?

[2016-02-01 01:56] #163 closed, assigned to nobody

[2016-02-01 02:00] jjeffryes commented on #545
The reason is that if they are only temporarily offline, when they come back online there's no method of storing unfollows they've gotten while they were offline and applying them.

[2016-02-01 02:03] jjeffryes commented on #555
Closed in #620

[2016-02-01 02:03] #555 closed, assigned to nobody

[2016-02-01 03:50] SamPatt commented on #475
Also need to implement the NSFW filter. Neither stores nor individual listings tagged NSFW should be displayed unless the user has turned NFSW on in settings.

[2016-02-01 04:09] jjeffryes commented on #475
We'll need DisplayNSFW: true/false added to the settings API.

^ @cpacia

[2016-02-01 04:24] SamPatt opened #636 "Create different prices for different moderation services"
Right now if a moderator is called in for a dispute they have a single price they charge regardless of the difficulty of the task.

For a full dispute where the moderator needs to determine which party is at fault, the full fee should be charged.

However, it's likely that moderators will be called on to release funds from unresponsive buyers. If this occurs the vendor likely would be upset paying

[2016-02-01 06:04] drwasho commented on #636
Sam also wrote in Slack worth repeating here:

[2016-02-01 06:14] drwasho commented on #545
We'll probably have to circle back on how to make this process better after v1 release.

[2016-02-01 07:50] JustinDrake commented on #369
Still the same. All menu items are Electron.

[2016-02-01 07:52] JustinDrake commented on #474
@drwasho What does 'Boom' mean? Has anything changed? If so, can you link to a commit?

[2016-02-01 07:53] JustinDrake commented on #452
@drwasho Still not disabled for me on Mac. Please reopen.

[2016-02-01 08:38] drwasho commented on #452
Actually we want to keep the pinch zoom.

[2016-02-01 14:38] hoffmabc commented on #369
This needs to get changed in main.js and has not been yet. Has nothing to do with @justindrake.

[2016-02-01 14:50] JustinDrake opened #637 "Filter search for digital items only"
Filtering by item type would be useful.

[2016-02-01 14:54] JustinDrake opened #638 "Window size shown during resize"
Look at the top-right corner in the following screenshot.

![screen shot 2016-02-01 at 15 53 08](https://cloud.githubusercontent.com/assets/731743/12720639/0bfbe37c-c8fc-11e5-9c30-628b1cbdd587.png)

[2016-02-01 14:56] JustinDrake opened #639 "Blocked user does not appear in the blocked list"
I just blocked someone. He doesn't appear in the blocked list...

![screen shot 2016-02-01 at 15 55 27](https://cloud.githubusercontent.com/assets/731743/12720709/49a09ace-c8fc-11e5-931f-2bb22d6bde54.png)

[2016-02-01 14:57] morebrownies commented on #623
This isn't a HTML/CSS issue. That conversation doesn't have a GUID, which seems like it should be impossible so something goofy is likely going on with the JS or API. Josh/Rob will need to take a look at this one.

[2016-02-01 14:58] JustinDrake opened #640 "Purchase QR disappears"
The purchase QR code disappears if I don't pay first time round.

![screen shot 2016-02-01 at 15 57 45](https://cloud.githubusercontent.com/assets/731743/12720779/a0b0a93a-c8fc-11e5-9675-c70419a8ff14.png)

[2016-02-01 15:05] morebrownies commented on #361
Was this task completed @drwasho? I haven't seen it in action yet.

[2016-02-01 15:06] hoffmabc commented on #638
OSX? I don't recall ever seeing that.

[2016-02-01 15:08] morebrownies commented on #638
This happens sometimes when you open Developer tools and then close it. It's a Chrome thing.

[2016-02-01 15:08] #638 closed, assigned to nobody

[2016-02-01 15:10] hoffmabc commented on #638
Can I close this as developer debug info? We won't be enabling dev tools by default and if users do it they should expect that data.

[2016-02-01 15:11] hoffmabc commented on #638
Nvm already closed.

[2016-02-01 15:30] JustinDrake opened #641 "Payment countdown"
A purchase quote has no countdown, which means the user may pay 30 minutes later, and the price could be significantly different.

![screen shot 2016-02-01 at 16 30 17](https://cloud.githubusercontent.com/assets/731743/12721643/1c4f593e-c901-11e5-8997-4330a63da754.png)

[2016-02-01 15:38] JustinDrake opened #642 "Padding missing on "1 blocked item not shown""
See screenshot. A bit tight.

![screen shot 2016-02-01 at 16 38 02](https://cloud.githubusercontent.com/assets/731743/12721878/3f294fae-c902-11e5-9c18-6cb105817edf.png)

[2016-02-01 15:46] morebrownies commented on #642
I'm going to remove this as I don't think it is needed.

[2016-02-01 15:52] JustinDrake commented on #642
@morebrownies I was pleasantly surprised when I saw it!

[2016-02-01 15:53] morebrownies commented on #642
Yeah, same. I'll remove it today

[2016-02-01 16:01] jjeffryes commented on #642
I think it's useful to show the number of items blocked.

[2016-02-01 16:23] morebrownies commented on #642
I wouldn't mind it displaying in the Blocked Settings tab, but having it always display in the top of Discover seems a bit distracting to what the user is trying to accomplish.

[2016-02-01 17:20] shayanb opened #643 "OP interface translation"
[Feature request]

Is there any plans to have a string json or any other methods to have translation of OP interface to other languages?

[2016-02-01 17:57] jjeffryes commented on #643
We currently have this feature. Was there a specific language you're looking for?

[2016-02-01 17:57] #643 closed, assigned to nobody

[2016-02-01 17:59] morebrownies commented on #643
I think this question may have been geared more towards translations on Listings and any user entered text in the client.

[2016-02-01 18:02] jjeffryes commented on #643
Having translations in a listing would be handy, but that may get complicated, both interface and code wise. Let's remember this for a later iteration.

[2016-02-01 18:02] shayanb commented on #643
@jjeffryes I couldn't find it by skimming the source code, where is this feature? is it automated on a set of pre-defined languages or it's possible to add more?

@morebrownies That'd be an interesting thing to add, although I was talking about the default UI.

[2016-02-01 18:09] jjeffryes commented on #643
@shayanb you can find the language model in models/languagesMd.js.

It currently has several translations, to create a new one copy an existing language object, translate it, and add it to the model with the BCP 47 language tag as the langCode value.

[2016-02-01 18:11] shayanb commented on #643
cool. thanks, will add it to my day-job-procrastination-to-do-list :)

[2016-02-01 19:49] jjeffryes commented on #361
This has been updated so it takes the user back to the view they were on before trying to reach the offline instead of showing them the error message.

[2016-02-01 19:52] jjeffryes opened #645 "Chat sent messages go into a new conversation"
![image](https://cloud.githubusercontent.com/assets/1584275/12729120/26d80418-c8f3-11e5-9ed3-c49fd53f1d7b.png)

Sometimes when sending a chat message the new message becomes part of a new conversation with an undefined other participant rather than the original conversation.

[2016-02-01 19:54] SamPatt commented on #645
Can replicate.

[2016-02-01 21:24] cpacia commented on #645
Was this happening before the latest changes to the server code?

[2016-02-01 21:39] jjeffryes commented on #645
I'm not sure. I haven't seen it before today.

[2016-02-02 14:44] jjeffryes opened #648 "Sanitize All Inputs"
We should add code to globally sanitize all inputs, rather than applying it on each input.

[2016-02-03 22:42] morebrownies opened #650 "Auto select random theme during onboarding"
Reminder for myself.

[2016-02-03 22:56] morebrownies commented on #639
I can't replicate. When you log these issues can you also say how to replicate them, if possible. Ty

[2016-02-04 01:06] morebrownies commented on #516
The visual part of this issue is finished.

[2016-02-04 04:28] #543 closed, assigned to morebrownies

[2016-02-04 13:58] JustinDrake commented on #639
To reproduce:

1) Go the the "Blocked" page, and remember the list.
2) Find someone who is not blocked.
3) Block that person.
4) Go to the "Blocked" page, and notice the list hasn't changed.

[2016-02-04 14:03] morebrownies commented on #639
Seems to be working for me. @SamPatt @drwasho want to play around with this some more to see if you can replicate?

[2016-02-04 15:42] JustinDrake opened #652 "Maximum number of concurrent chat discussions"
Duo Money is looking to have hundreds of concurrent encrypted chat discussions with buyers. How many concurrent encrypted chat discussions can the client handle?

[2016-02-04 15:47] morebrownies commented on #642
I removed in the branch that went live yesterday, we can revisit later on if needed.

[2016-02-04 15:47] #642 closed, assigned to nobody

[2016-02-04 15:50] morebrownies commented on #599
Yes, agreed with @jjeffryes. The vendor is not going to want to have to manually check and update each contract every time time they add a new moderator, it should instead happen automatically behind the scenes.

Can we close this issue @drwasho or move it to the server?

[2016-02-04 15:53] hoffmabc commented on #652
Do you mean in a performance type of way?

[2016-02-04 15:55] SamPatt commented on #639
@morebrownies I can't replicate; when I block from discover it works fine.

However the block feature on a user's page itself doesn't seem to work.

[2016-02-04 16:00] JustinDrake commented on #652
I mean from a feasibility point of view. Can a single node realistically handle hundreds of concurrent discussions within the reference client? I expect large eBay stores have many concurrent discussions with their buyers, and wondered if OpenBazaar is designing the encrypted chat UI for these large sellers.

Things that from the top of my head could break when there are hundreds of chats:
- Bad p

[2016-02-04 16:02] JustinDrake commented on #639
Aha, I'm blocking from the user's page.

[2016-02-04 16:05] hoffmabc commented on #652
We can probably test that fairly easily.

[2016-02-04 16:20] morebrownies commented on #652
From purely an interface point of view, I've designed Chat so that you can safely manage about 10 concurrent conversations at a given time. Anything beyond 10 active conversations typically is unmanageable by a single person anyways and will require a team of customer service reps to distribute the load to.

There are limitations within the reference client. We simply cannot build one app to solve

[2016-02-04 16:27] hoffmabc commented on #652
At some point a dedicated view for chat conversations will probably be necessary and we have discussed this before.

[2016-02-04 16:41] morebrownies commented on #652
Agreed, it could be useful. However, having a dedicated Chat view doesn't solve the distribution problems for mid to large size businesses though. If you have hundreds of inbound messages coming in every few minutes, you need many people to distribute the load to, a single person can't keep up with it. Simply adding a dedicated view doesn't solve any of the underlying problems for big businesses.

[2016-02-04 17:03] morebrownies commented on #639
Ah, yeah that one hasn't been wired yet.

[2016-02-04 17:07] morebrownies commented on #575
I wonder if we can solve this with regular expressions so that only website.extension displays at all times? If we can strip out 'http://www.' and anything after the trailing slash (if one exists), then it should be as pretty as possible at that point. @hoffmabc @jjeffryes thoughts?

[2016-02-04 17:09] morebrownies commented on #554
@jjeffryes I can take this one. Do I have access to the short_description here?

[2016-02-04 17:10] morebrownies commented on #523
I updated the sections to sort by most recent about a week back, so we should be good there, but we'll need to get it working with Cases too.

[2016-02-04 17:48] jjeffryes commented on #554
The data we have for each listing is this:

"contract_hash": "",
        "origin": "",
        "handle": "",
        "price": ,
        "nsfw": ,
        "thumbnail_hash": "",
        "guid": "",
        "category": "",
        "title": "",
        "ships_to": [
            ""
        ],
        "avatar_hash": "",
        "currency_code": ""

[2016-02-04 20:08] Kirvx opened #654 "Foreign language not saved"
- Change the language of Openbazaar-Client to French
- Close Openbazaar-Client
- Open Openbazaar-Client npm start
- Openbazaar-Client is displayed in English
- Go to Settings
- Now Openbazaar-Client appears in French

[2016-02-04 20:29] #654 closed, assigned to nobody

[2016-02-04 20:31] jjeffryes commented on #575
I accidentally answered this in the Slack channel.

Yes, we could make this a bit better with Regex, we'd remove the protocol and www, and any queries, from the displayed name.

That could be done either in the model or the template.

[2016-02-04 21:54] morebrownies commented on #554
Ok we'll have to add the description later, fix coming for the missing handle.

[2016-02-04 22:32] morebrownies commented on #650
Fix coming soon

[2016-02-04 22:32] #650 closed, assigned to morebrownies

[2016-02-05 01:52] drwasho commented on #552
Revisit issue when we have an updated Windows installer.

[2016-02-05 02:00] drwasho commented on #599
No problem.

[2016-02-05 02:00] #599 closed, assigned to nobody

[2016-02-05 22:11] SamPatt opened #657 "Add visual indicator that client is not completed"
As we get close to feature complete status we're going to have people who want to use it for real trade, but may run into problems. They should be aware that it's not tested and we aren't calling it ready for real trade yet. We should add something visually that establishes this in the client, then remove it right before full release.

I don't know how best to do this, @jjeffryes and @morebrownies

[2016-02-05 22:39] SamPatt opened #658 "Move options out of admin panel and into settings"
This has slowly happened in an ad hoc fashion but wanted to make an issue so we didn't forget to transition them all out of the admin panel before v1 is out.

[2016-02-06 04:35] #554 closed, assigned to morebrownies

[2016-02-07 18:22] Deku-shrub opened #664 "Allow override of merchant shop styling for usability and aesthetic preference"
Currently merchants can use the templating system to pick from a variety of key colours for background, font etc.

This has the potential for merchants to pick poorly contrasting colours (e.g. black text on a black background) or simply something aesthetically displeasing for the user. (e.g all pink and magenta).

This is common challenge featured on Reddit with regards to subreddit styling. Mostl

[2016-02-07 18:27] hoffmabc commented on #664
I'm torn on this one because the merchant should have control of their branding. If they choose shitty colors then it's their loss. More customization is probably better but it's also important that merchants understand how their customers are viewing their marketplace.

[2016-02-07 18:29] jjeffryes commented on #664
If the suggestion is to allow users to ignore vendor themes, and see everything in the default style, then I think that invalidates the purpose of allowing custom themes.

[2016-02-07 19:17] hoffmabc opened #667 "Transparent GIF Images Get Black Background"
![image](https://cloud.githubusercontent.com/assets/45482/12874646/732f6afc-cda5-11e5-9038-a067eedba90d.png)

[2016-02-07 19:21] hoffmabc opened #668 "User Can Follow/Block Self (Seemingly) Through Search Results"
If you search for a keyword in a product you list (i.e. #ebook) then you get the About | Follow | Block controls and you can Follow yourself with no error. It seems as though it's rejected by the backend as you don't show in your list of Following, but it's misleading in the UI.

Blocking does however add you to the list of blocked users and hides all your content. Not detrimental, but odd nonethe

[2016-02-07 19:30] jjeffryes commented on #667
We could have transparent backgrounds by switching from saving images as jpeg to saving as png. But there are some consequences:
1. the files would be bigger
2. they might look bad on some backgrounds
3. currently, we handle images that 404 by having 2 background images, the second one is the default and is "under" the user's image. If the user's image has transparency, the default image shows thr

[2016-02-07 19:31] jjeffryes commented on #668
We will want to fix this on both the client and the server, so you can't accidentally block yourself through a script or a custom client.

[2016-02-07 19:56] #668 closed, assigned to nobody

[2016-02-08 18:01] Kirvx opened #672 "Transparent tooltip problem"
![sans titre2](https://cloud.githubusercontent.com/assets/6627786/12894301/2c96f24e-ce96-11e5-909b-2b0996970c5b.jpg)

[2016-02-08 18:20] morebrownies commented on #672
I'll fix.

[2016-02-09 07:32] drwasho commented on #475
### Week of 8th of February, 2016

A lot of positive progress has been made in the past week. A lot of features were added that weren't listed in the previous update (e.g. on-boarding and authentication) and existing components were polished, creating a much smoother experience. Now that we're closer to reaching `feature complete` status, the revised items left to do are:

**Notifications**
- [x]

[2016-02-09 13:03] hoffmabc opened #678 "Menu Intermittently Not Working"
I have noticed from time to time the menu button (avatar) does not activate the drop down. It can be resolved by refreshing the app window.

[2016-02-09 13:14] jjeffryes commented on #678
I've noticed this too. It's been happening for quite a while, I haven't been able to track it down or reliably reproduce it.

[2016-02-09 21:10] morebrownies opened #683 "Entering my handle into the address bar redirects me to my page and then displays the GUID in the address bar"
When I enter my handle into the address and hit enter it takes me to my page correctly, but the address bar changes to the GUID instead of the handle. It should display the handle whenever possible.

<img width="691" alt="screenshot 2016-02-09 15 08 58" src="https://cloud.githubusercontent.com/assets/13066886/12930655/2fff7bd2-cf3f-11e5-9101-bfb365c19585.png">

[2016-02-09 21:29] jjeffryes commented on #683
Check and make sure your profile is saved in settings.

If a handle maps to a guid on OneName, but isn't stored in your profile, the user page will use the guid instead.

[2016-02-09 21:50] morebrownies commented on #683
Yeah it is there

[2016-02-09 21:51] jjeffryes commented on #683
Nuts. Then I don't know why it isn't showing up.

[2016-02-10 03:36] drwasho opened #690 "Change the maximum number of images per contract to 10"
This used to be at 10 but is recently limited to 5. This should go back to the original value.

[2016-02-10 03:40] drwasho commented on #690
Clarification: I've found that the maximum number I can upload at one time is 5. Not sure whether this is arbitrarily set or if there is some technical basis for this limitation.

Upon further inspection, I was able to add at least 22 images to a contract. So we should enforce a limit to the number of images per contract; I suggest 10 based on my chats with Vendors on eBay and other platforms.

[2016-02-10 03:42] jjeffryes commented on #690
Can you put this in as an issue on the server side too? We'll want to limit it on both sides.

[2016-02-10 04:13] drwasho commented on #690
Server issue: https://github.com/OpenBazaar/OpenBazaar-Server/issues/214

[2016-02-10 23:47] ghost opened #695 "Trying to delete an image from a listing deletes wrong one"
Video: http://screencast.com/t/wDaItYawnB

I had two images and when trying to delete the second one it deleted the first. I tried many times with different images and different numbers of images, and about 95% of the time it deletes the wrong one.

[2016-02-11 02:02] drwasho opened #698 "Enable remote server switching"
Necessary for folks running multiple local and remote nodes.

Temporary hack is to edit the value of `server_ip` in the `_serverConfig-1` row.

![image](https://cloud.githubusercontent.com/assets/3887694/12967939/2d8163ba-d0b7-11e5-9733-d8ef78c57d89.png)

@jjeffryes to assign.

[2016-02-11 02:34] drwasho commented on #698
And this was added in one the most recent commits. It's in the settings lol. Great job team :+1:

[2016-02-11 02:34] #698 closed, assigned to nobody

[2016-02-11 04:04] drwasho opened #699 "Moderators aren't saved during on-boarding or in settings"
Tested in Linux (remote) and Windows (local). Delete your `db` and start with a fresh node. Moderators fail to be saved in the `Store` tab, irrespective of whether they're added during on-boarding or in settings.

[2016-02-11 04:26] drwasho opened #700 "Messages not being delivered by participants in the discussion tab"
| Sender => | Vendor | Buyer | Moderator |
| --- | --- | --- | --- |
| Vendor | - | Yes | Yes |
| Buyer | No | - | No |
| Moderator | No | No* |  |
- \- the dispute message is sent, but nothing after that

[2016-02-11 04:27] drwasho commented on #700
Just for clarification, the table is saying:
1. If the Vendor is the sender of the message, the Buyer and Moderator **won't** receive the message
2. If the Buyer sends a message, the Vendor receives it but the Moderator doesn't
3. If the Moderator sends a message, the Vendor receives it but the Buyer doesn't

Basically the Vendor sees everything; everyone only sees their own messages.

[2016-02-11 04:35] drwasho opened #701 "Moderation of dispute failing and causing other order problems"
I managed to replicate this bug twice, with fresh nodes from the Buyer and Moderator. I couldn't use a fresh node for the Vendor because of issue #699

**Steps:**
1. Vendor adds the Moderator node in the settings.
2. Vendor creates a new listing (physical item)
3. Buyer purchases the listing
4. Vendor confirms the order
5. Buyer files a dispute
6. Moderator attempts to close the dispute
- Adds a m

[2016-02-11 13:45] jjeffryes commented on #699
The data is being sent to the settings API correctly, but it doesn't appear that the backend is saving it. I think this is a server issue.

[2016-02-11 14:47] hoffmabc opened #702 "CSS Issue with long address"
![image](https://cloud.githubusercontent.com/assets/45482/12979346/6fec3c74-d0a4-11e5-8b47-a00c8421d018.png)

[2016-02-11 15:12] jjeffryes opened #703 "Store SSL setting in Client, show in Server Config"
The SSL setting in the advanced tab of the settings view doesn't need to be saved to the database, as it is only used on the client.

Change it to store in local storage, and add a SSL yes/no control to the server config modal.

[2016-02-11 21:43] morebrownies commented on #627
This seems to be fixed now

[2016-02-11 21:43] #627 closed, assigned to morebrownies

[2016-02-12 00:24] Kirvx commented on #420
I think this one need to be reopened.
It can be boring to work on a file with almost 7000 lines of code for a new translator, and it does not give a quick overview of what needs to be translated for a particular language.
Also, and because of the size of the file, there is a small lag of 1-2 seconds for me with the github web editor when editing a phrase (it wastes a little time and obliges to use

[2016-02-12 01:42] drwasho commented on #699
This issue was fixed by Chris, but it required me to blow my database away.

[2016-02-12 01:42] #699 closed, assigned to jjeffryes

[2016-02-12 01:45] drwasho commented on #700
Reopened as there is still an bug for the Vendor:

http://im2.ezgif.com/tmp/ezgif-3033272206.gif

[2016-02-12 02:17] morebrownies opened #706 "Is it possible to have CMD + N trigger a new version of the client to open?"
I find myself wanting to do this often so that I can look at multiple listings at once or have different sections open simultaneously.

[2016-02-12 14:30] hoffmabc opened #708 "Saved Settings Modal Message Windows is Bland"
![image](https://cloud.githubusercontent.com/assets/45482/13009584/3a38391c-d16b-11e5-9686-44bcc6c00544.png)

It looks kind of random.

[2016-02-12 15:31] Kirvx commented on #708
+1

[2016-02-12 15:51] JustinDrake commented on #420
I agree the current setup is not ideal. One big file will only worsen as more languages are translated.

[2016-02-12 16:11] dsmurrell opened #709 "Criteria for centralised search engine inclusion"
I am working on a centralised search engine for OpenBazaar which will include filtering of 'undesired' listings such as illegal listings and listings with high scam probability. I will be using a manual approach to strike off listings initially. When we get data from the manual approach, I will train a machine learning model (using skills acquired during my applied machine learning PhD) to automat

[2016-02-12 16:14] JustinDrake commented on #709
+1 Decentralised search's user experience is sub-standard. Some torrent clients have integrated centralised search. This is an important discussion to be had.

[2016-02-12 17:46] morebrownies commented on #709
+1 Offering additional search sources within the client seems extremely valuable to me. There are a few things that stand out to me that we'll need to consider to ensure we nail the experience:
1. It should be opt-in and not pre-selected. The first time a user performs a search, we could trigger a modal to open and ask them which provider they would prefer to use. If they choose to stick with the

[2016-02-12 17:48] morebrownies commented on #708
Agreed. I'll make it pretty when I get a chance.

[2016-02-12 20:32] Kirvx commented on #709
I think this one should be a required features for the v1.0, with a **strong** recommendation for the user.
Without that, we could see extremely disturbing things in the "Discover" menu...

It should be deactivated by default with a warning if the user activates it in the settings.

You can rate providers with a number of stars:

1 star  : Does not contain pornographic content.
2 stars: Does not c

[2016-02-12 22:23] #701 closed, assigned to jjeffryes

[2016-02-12 22:24] jjeffryes commented on #701
The error message, it turned out, was just a timeout issue. That was fixed.

[2016-02-13 21:53] hoffmabc opened #715 "Link to info about Blockchain ID in Settings Page tab"

[2016-02-14 00:32] MajorPaynei86 opened #716 "Font Color Issue in Order Details"
Unable to set font color in the order details window where it doesn't default to the default font color

![screenshot from 2016-02-13 18 29 59](https://cloud.githubusercontent.com/assets/17226562/13030932/7df070fc-d288-11e5-85a1-ef4620babe39.png)

[2016-02-15 03:38] drwasho commented on #700
Fixed, great work @jjeffryes

[2016-02-15 03:38] #700 closed, assigned to jjeffryes

[2016-02-15 05:52] drwasho opened #718 "Disable notification for being followed by a node more than once"
If a node follows you more than once (accidentally or as a part of a nag/spam attack), we should disable the follow notification.

[2016-02-15 05:53] drwasho opened #719 "Block node buttons don't appear to be working"
Not sure if this is a server or client issue. This potential bug requires confirmation.

[2016-02-15 14:23] jjeffryes commented on #690
This was done.

[2016-02-15 14:23] #690 closed, assigned to nobody

[2016-02-15 16:42] morebrownies commented on #719
Duplicate #639

[2016-02-15 16:42] #719 closed, assigned to nobody

[2016-02-15 16:42] morebrownies commented on #718
Duplicate #562

[2016-02-15 16:42] #718 closed, assigned to nobody

[2016-02-15 16:43] morebrownies commented on #716
Fix coming soon

[2016-02-15 17:07] BazaarBay commented on #709
Sounds like a good list and exactly the stuff we've been talking and thinking about. I'm happy to hear more suggestions and comments.

[2016-02-15 17:29] hoffmabc opened #722 "Display Store Location in the World on User Page (optional)"

[2016-02-15 19:35] ac225519 commented on #722
Why is OpenBazaar using Google Maps ?
The functionality that is used is available from OpenStreetMaps / openlayers too.
http://openlayers.org/en/v3.13.1/examples/geolocation.html
http://openlayers.org/en/v3.13.1/examples/

[2016-02-15 20:35] #639 closed, assigned to jjeffryes

[2016-02-15 23:13] morebrownies commented on #722
We're not set on Google Maps. If someone wants to submit a pr with OpenMaps, I'm sure we would accept it, assuming it's working well of course.

[2016-02-15 23:36] jjeffryes commented on #703
This is done.

[2016-02-15 23:36] #703 closed, assigned to nobody

[2016-02-16 17:16] jjeffryes commented on #657
This was completed.

[2016-02-16 17:16] #657 closed, assigned to jjeffryes

[2016-02-16 17:19] jjeffryes commented on #480
This was fixed.

[2016-02-16 17:19] #480 closed, assigned to nobody

[2016-02-16 17:23] jjeffryes commented on #695
This has been fixed.

[2016-02-16 17:23] #695 closed, assigned to nobody

[2016-02-17 01:11] saltduck opened #727 "Cannot start application"
While I run `npm start`, a dialog like following opened. After I press the OK button, the dialog disappered and the application hanged. I have to press CTRL+C to quit it.

The error is: BrowserWindow is not a function

![2016-02-17 09 07 55](https://cloud.githubusercontent.com/assets/1237249/13096680/0f997736-d556-11e5-9066-424675033488.png)

I'm on the master branch, updated to newest commit.

[2016-02-17 04:28] ac225519 commented on #727
Hong what is your running environment ?
OS / version ?
Language / charset ?

[2016-02-17 04:56] hoffmabc commented on #727
Did you run npm install?

[2016-02-17 05:09] saltduck commented on #727
OS: Ubuntu 15.10 64bit Simplified Chinese(zh_CN) @ac225519

Yes, I ran `npm install` before `npm start` @hoffmabc

[2016-02-17 05:14] ac225519 commented on #727
Please try my portable no-install build:
https://www.mediafire.com/folder/mpjxf3cocpof7/OpenBazaar_Test_LINUX_Builds

[2016-02-17 06:40] saltduck commented on #727
I delete node_modules subdir and reinstall npm packages. It works.

[2016-02-17 06:40] #727 closed, assigned to nobody

[2016-02-17 21:00] rmisio commented on #648
Wouldn't it be better to do the sanitization on the server? Any type of sanitization on the client can be bypassed and potentially result in malicious code making it's way into the DB. Even if the other OB clients are cleaning that up before rendering the UI, we still have crap in the DB.

What do you think @cpacia ?

[2016-02-17 22:35] ghost commented on #648
IMO the server needs to sanitize and validate everything, no question. But I think the client should do as much as it reasonably can before sending to the server.

[2016-02-18 05:52] jjeffryes commented on #648
Yes.

The plan is to sanitize outgoing data from the client, incoming data on the server, outgoing data on the server, and incoming data on the client.

Which might be overkill, but if it's not a huge amount of effort seems worth it.

Sanitizing outgoing data on the client is also beneficial because it should allow us to flag it before it's sent, and show the user how their data will be changed, w

[2016-02-18 16:41] hoffmabc opened #734 "Ampersand in Item Title Shows as &amp;"
![image](https://cloud.githubusercontent.com/assets/45482/13150624/d50fb0e6-d666-11e5-88a7-6d6ba8d2b1e3.png)

[2016-02-18 17:55] rmisio commented on #648
Not sure if it's a huge effort to accomplish this, but it's definitely not trivial and there are some drawbacks that concern me.

I think to satisfy the req's you mentioned, a couple of things would be needed on the client:

1.) In the base view's render method, put a change handler on all inputs, which will sanitize the content. This will require all views to be updated to extend the base view an

[2016-02-19 10:22] #672 closed, assigned to morebrownies

[2016-02-19 18:03] JustinDrake opened #737 "Different image for chat"
The Duo Money store (66e1f65cb122df9f1a7295ec37ddf2c289a91fa4/about) has a single image (the logo) for the store.

In the store's main page, the logo looks good. In chat mode, the logo is really small and a different image is required.

Can we have two separate images, one for the storefront, and one for the chat?

[2016-02-19 18:20] JustinDrake opened #738 "Need to click "Discover" twice"
The "Discover" pane is acting a little funny. It's very reproducible for me:
- Click "Discover"
- Click on any listing
- Click "Discover" -> Notice no results show up
- Click "Discover" -> Notice listings show up properly

[2016-02-19 18:23] JustinDrake opened #739 "Same listing listed twice"
On the "Discover" pane, the listing titled `5` from the Duo Money store is listed twice (at very different places).

[2016-02-19 18:26] JustinDrake opened #740 "Back button logic broken"
Steps to reproduce:
- Click "Buy" on any item
- Answer "Do you have a Bitcoin wallet?" with "Yes"
- Click "Back"
- Notice you are now (incorrectly) on the "Create a wallet" page

[2016-02-19 18:29] JustinDrake opened #741 "Clarify refund address"
I find the pane "Enter your Bitcoin Address" confusingly titled. Two issues:
- it's not clear from the title that a refund address is required
- one does not have a unique Bitcoin address

I suggest changing the title to "Refund Address".

![screen shot 2016-02-19 at 19 28 47](https://cloud.githubusercontent.com/assets/731743/13184953/07e950ca-d73f-11e5-97c1-afbd1dfdb765.png)

Same goes in the Set

[2016-02-19 18:30] JustinDrake opened #742 "URL bookmark tooltip broken"
Please see screenshot. The tooltip is visibly broken (e.g. the black background).

![screen shot 2016-02-19 at 19 29 51](https://cloud.githubusercontent.com/assets/731743/13184997/43a8280c-d73f-11e5-81f2-ac5744acffad.png)

[2016-02-19 18:33] JustinDrake opened #743 "Message counter reappears after a search"
Steps to reproduce:
- Pick a chat conversation with a counter
- Clear the counter
- Type something in the search bar
- Clear the search bar
- Notice the chat conversation counter reappears (see "27" in screenshot)

![screen shot 2016-02-19 at 19 32 02](https://cloud.githubusercontent.com/assets/731743/13185088/9ddd8b3c-d73f-11e5-8532-3de9830baa4f.png)

[2016-02-19 18:55] JustinDrake opened #744 "Black on black"
The texts "Type a name..." and "Enter message..." are black on a black background, making them hard to read.

![screen shot 2016-02-19 at 19 54 38](https://cloud.githubusercontent.com/assets/731743/13185686/bee1d218-d742-11e5-9829-b049168fc00a.png)

[2016-02-19 18:58] JustinDrake opened #745 "Image displays with a glitch"
Steps to reproduce:
- Go to b68b2252c74d0e68e4a9e6c5d7219076559ca98f/item/af9442b7586b79b83d2102dc8be695301d8496ab
- Click the wallpaper image
- Notice it appears in two fast and glitchy steps

![screen shot 2016-02-19 at 19 58 09](https://cloud.githubusercontent.com/assets/731743/13185768/21e03b02-d743-11e5-846a-fd2dbba22a19.png)

[2016-02-19 18:59] JustinDrake opened #746 "Duplicate hashes"
Check out here: b68b2252c74d0e68e4a9e6c5d7219076559ca98f/item/af9442b7586b79b83d2102dc8be695301d8496ab

The item's tags have two hashes:

![screen shot 2016-02-19 at 19 59 35](https://cloud.githubusercontent.com/assets/731743/13185802/52bb24ee-d743-11e5-89c0-579558db93fa.png)

[2016-02-19 19:01] JustinDrake opened #747 ""Notifications" and "Menu" stopped working for me"
I don't know how I got into this state (I've been doing a bit of UI testing) but the "Notifications" and "Menu" buttons have stopped working for me.

[2016-02-19 19:03] JustinDrake opened #748 "'Enter' key to attempt connection"
In the welcome pane, where I enter my username and password, the 'Enter' key does nothing.

After I enter my credentials I expect the 'Enter' to be the equivalent of clicking 'Retry connection'.

![screen shot 2016-02-19 at 20 03 29](https://cloud.githubusercontent.com/assets/731743/13185906/da6cc604-d743-11e5-8c87-6598cb7cb0f5.png)

[2016-02-19 19:06] JustinDrake opened #749 "Wobbly loading icon"
If you look carefully, the loading icon (with two arrows in a circle) is not rotating on its centre, and is wobbly.

Interestingly, I took a screenshot (see below) and also noticed whitespace around the icon.

![screen shot 2016-02-19 at 20 04 06](https://cloud.githubusercontent.com/assets/731743/13185992/3098ca32-d744-11e5-9d9e-e4de0e38217d.png)

[2016-02-19 19:09] JustinDrake opened #750 "Visual glitch"
To repro go to: eed93b940f260e87ae59d5d05dd57daa81ca9563/following

Click on "All types" and select it. Notice an extraneous gray line:

![screen shot 2016-02-19 at 20 08 24](https://cloud.githubusercontent.com/assets/731743/13186093/b19d4ff4-d744-11e5-9944-0224eaac20ff.png)

[2016-02-19 19:11] JustinDrake opened #751 "Wording issue"
The "Licensing" pane has the following text:

[code]

I believe it's standard to write "under the MIT license" not "using the MIT license".

[2016-02-19 19:12] JustinDrake opened #752 "Copyright 2016"
In the "Licensing" pane, only 2015 is mentioned in the license.

[code]

What about 2016?

[2016-02-19 19:15] JustinDrake opened #753 "Client within a client (meta client?)"
Fun challenge for you: reproduce the following situation where an OpenBazaar client is within a client. (Solution below.)

![screen shot 2016-02-19 at 20 13 33](https://cloud.githubusercontent.com/assets/731743/13186199/5df53dd4-d745-11e5-99d6-da35b3ad3df0.png)

*
*
*
*
*

To reproduce:
- Go to the "About" pane
- Click on 'Tutorial' in the sentence "OpenBazaar version 1.0 Tutorial"

[2016-02-19 19:16] JustinDrake opened #754 "Don't know why I get this "Caution" message"
Randomly got this:

![screen shot 2016-02-19 at 20 16 20](https://cloud.githubusercontent.com/assets/731743/13186260/b607e206-d745-11e5-9548-4177d950237b.png)

[2016-02-19 19:20] JustinDrake opened #755 "Confusing edit email address experience"
To repro:
- Click "Menu" > "My page"
- Next to "Email" click the "Edit" button
- You're unexpectedly redirected to "Page" under "Settings"

This is really confusing. Can't the editing happen directly in "My page"?

[2016-02-19 19:23] JustinDrake opened #756 "Hide "Store" under Settings when not a store"
When not a store, the "Store" pane in Settings is still shown. This is somewhat confusing, and not explained.

Can the "Store" pane simply be hidden away for non-store nodes?

![screen shot 2016-02-19 at 20 23 03](https://cloud.githubusercontent.com/assets/731743/13186457/9d064972-d746-11e5-9c84-311a800a8e85.png)

[2016-02-19 19:34] JustinDrake opened #757 "Pressing "Tab" brings you to a strange place"
To repro:
- To go "Become a store"
- Press the Tab key twice
- Notice you're in a funny place (see screenshot)

![screen shot 2016-02-19 at 20 33 05](https://cloud.githubusercontent.com/assets/731743/13186803/25ce7b52-d748-11e5-85ce-1a59ea4e0c4b.png)

[2016-02-19 19:40] ac225519 commented on #744
Preventing the same text/background colour (and add a minimum diff. to make it at least visible or refuse loading at all) should be part of the theme loading code.

[2016-02-19 19:48] JustinDrake opened #758 "Remove mock "Feed" page"
In anticipation of the Testnet release on March 1st, should the mock "Feed" page be removed?

![screen shot 2016-02-19 at 20 47 32](https://cloud.githubusercontent.com/assets/731743/13187204/1de5982e-d74a-11e5-8d2a-912635edb6e3.png)

[2016-02-19 19:52] JustinDrake opened #759 "Remove Admin Panel"
In anticipation of the March 1st testnet release, should the Admin Panel be removed?

![screen shot 2016-02-19 at 20 49 10](https://cloud.githubusercontent.com/assets/731743/13187292/a5ec0528-d74a-11e5-9740-e08edfb13c25.png)

[2016-02-19 19:55] JustinDrake opened #760 "Change the placeholder if no listings found"
See screenshot. I pressed the "Discover" button, and it interpreted the search as a tag search:

![screen shot 2016-02-19 at 20 54 19](https://cloud.githubusercontent.com/assets/731743/13187399/15fd635c-d74b-11e5-8adc-08196e74df25.png)

[2016-02-20 15:32] pryds opened #761 "Internationalization (translation) using e.g. gettext"
Internationalization ought to be done using proper i18n methods. The current practice of adding to a huge file of more or less static strings has several downsides, although it may seem to work for some languages -- especially languages that resemble English a lot.

One of the oldest and most widely used systems for i18n in the open source world is GNU Gettext. It has support for even languages wi

[2016-02-21 01:10] hoffmabc commented on #761
I think this is an interesting suggestion, but we are already at present using polyglot which pretty much does the same thing and is supported by Airbnb.

[2016-02-21 09:57] ac225519 opened #763 "Change currency in create listing dialogue is broken"
Operating System: Linux Mint LMDE2
OpenBazzar version:
    OpenBazaar-Client: git ID:f618035 downloaded 2016-Feb-19 18:36:47 UTC
    OpenBazaar-Server: git ID:922cc80 downloaded 2016-Feb-14 20:20:38 UTC
Reproducible: Always
Steps to reproduce:
1. Click Discover
2. Click Create Listing
3. Click "Change currency"
4. Change from "BitCoin" to "Australian Dollar"
5. Click "Save Changes"

Observed Behav

[2016-02-21 10:43] pryds commented on #761
Ok, that sounds good. Guess I didn't realize since honestly (no offence intended), the practice of adding a lot of lines to an already large file containing all translations seems a bit unstructured to me. But maybe that's just how polyglot works (I'm not familiar with it).

I would still suggest to actually use polyglot's features for proper plural strings, string variables (instead of concatenat

[2016-02-21 11:35] hoffmabc commented on #761
I think these are great suggestions and I totally agree. I would say we put rather modest effort in to implement the i8n capability and most work done by translators submitting PRs so there is a lot of work to be done to improve it. I think that very soon as we get closer to release we can put some more attention on it and we would love more assistance if you or anyone else has experience here.

[2016-02-21 12:18] hoffmabc opened #764 "Moderators show up twice sometimes for selection in Settings"
![image](https://cloud.githubusercontent.com/assets/45482/13202509/5cf71228-d86b-11e5-9b3e-75769528c9e9.png)

[2016-02-21 12:22] hoffmabc opened #765 "Chat unusable while modal is on screen"
After using the application for a while there are times when I'm having a conversation with someone (perhaps the merchant) and I'm also say purchasing an item. If I receive a message from anyone I am required to finish or exit the modal flow before I can respond. This is going to be annoying because then I can't actually ask someone for help or if I have questions participate in a chat about it wi

[2016-02-21 12:32] hoffmabc opened #766 "When reviewing purchase the textarea has existing spaces in the box already"
![image](https://cloud.githubusercontent.com/assets/45482/13202574/44072378-d86d-11e5-8522-d2953db60abe.png)

The green bar denotes where spaces are already in the text area when selecting it the first time. So this makes your text pre-indented.

[2016-02-21 14:31] jjeffryes commented on #761
We do use string variables in several places, and concatenating strings should have been mostly removed, that's was something that was done by mistake early in the project.

We haven't used plural functions that polyglot provides yet, this is mostly because our translators aren't all also developers, and it's a little complicated to set up. We definitely intend to put it in place in the future.

[2016-02-21 14:32] jjeffryes commented on #763
If your database is locked, that's probably not specific to changing currency. We've seen this a few times, we're working on updates to the server that will prevent this.

[2016-02-22 00:16] ac225519 opened #767 "Refunds ?"
How does it work ?
- A item is bought
- The buyer opens a dispute to stop funds from being released ?
- The buyer ask for a refund of a not processed and not delivered item.
  Is it a good or bad idea to open a dispute for refund ?
  What is/will be the recommended procedure ?
  ![screenshot dispute](https://cloud.githubusercontent.com/assets/16848241/13186589/c6086494-d7ab-11e5-8f53-eebefff5e0be.

[2016-02-22 00:37] hoffmabc commented on #767
I would think that is a good idea to dispute. I would recommend trying to work with the merchant to resolve first via chat before dispute but if it's not fixable I would raise the dispute.@sampatt wrote some moderator guidelines he can share.

[2016-02-22 01:53] drwasho commented on #767
The full refund mechanics aren't complete yet. Going to close this for now until Josh, Rob and Chris have finished putting this together.

[2016-02-22 01:53] #767 closed, assigned to nobody

[2016-02-22 12:00] hoffmabc opened #768 "Going back at Payment screen will generate a new multisig address"
Brief Description: If a user pays for an item and does not receive a confirmation that it was paid and hits the Back button and then goes to the Payment screen again they will get a fresh multisig address and potentially double-pay or worse if they keep doing it in confusion.

Operating System (OS and version): OSX 10.11
OpenBazaar version (shown on `About OpenBazaar` page in menu): 0.9
Hardware:

[2016-02-22 12:13] hoffmabc opened #769 "[Digital Goods] URL for good scrolled off the modal window"
![image](https://cloud.githubusercontent.com/assets/45482/13217870/a81904aa-d933-11e5-8494-8d44370c1be3.png)

[2016-02-22 15:32] jjeffryes commented on #759
It will be removed when testing is completed, and the vendor true/false code has been added to settings.

[2016-02-22 15:32] #761 closed, assigned to nobody

[2016-02-22 15:33] #763 closed, assigned to nobody

[2016-02-22 15:40] #766 closed, assigned to jjeffryes

[2016-02-22 15:40] #768 closed, assigned to jjeffryes

[2016-02-22 16:11] hoffmabc opened #771 "Cannot search UTF-8 Tags"
Brief Description: Can't search UTF-8 tags.

Operating System (OS and version): OSX 10.11
OpenBazaar version (shown on `About OpenBazaar` page in menu): 0.9

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Create listing with UTF-8 tag
2. Search for the tag

Observed Behavior:
No listing results

Expected Behavior:
Find results.

Addi

[2016-02-22 19:55] ac225519 commented on #763
And closing this issue is helping being reminded to check that the fix in the server code also fixing this reproducible issue ? @hoffmabc @jjeffryes

[2016-02-22 20:00] jjeffryes commented on #763
I can't reproduce it on the client, and I believe we've already fixed the issue in the server.

[2016-02-22 21:28] morebrownies commented on #765
+1

z-index issue

[2016-02-22 21:30] morebrownies opened #773 "Discover call out no longer displaying after completing onboarding"

[2016-02-22 21:31] morebrownies opened #774 "Selecting random theme during onboarding no longer working"

[2016-02-22 21:32] morebrownies opened #775 "When selecting a theme during onboarding the header image does not display correctly on your page"
We discussed this before.

[2016-02-22 23:19] drwasho opened #779 "Include a store's listings in the Discover Tab"
As the title suggests. These listings should been seen when the 'All Stores' pull-down is selected.

Stretch features: remove the 'Follow/Unfollow' and 'Block' tabs when hovering over... or grey them out?

[2016-02-22 23:24] morebrownies commented on #779
@drwasho  It would be nice to hover and see edit/clone/delete on your own items (like it currently works on your store page)

[2016-02-22 23:25] drwasho commented on #779
@morebrownies yeah definitely!

[2016-02-23 00:04] morebrownies commented on #741
The thing is if you're unsure what "refund address" means and you google "Bitcoin refund address" it doesn't point you in the right direction. The user at this point is entering a bitcoin address that so happens to be used for refunds, so I think the current language is accurate. We had exactly what you're suggesting before and it was confusing people. We'll have to keep an eye on this once we lau

[2016-02-23 00:05] morebrownies commented on #645
@rmisio did your latest branch fix this?

[2016-02-23 00:11] rmisio commented on #645
@morebrownies there's a good chance, it was a complete refactor. I wasn't aware of this issue, so I can't say I've tested it, but I've definitely not had it come up. I guess we'll need to keep an eye out for it. Let me know if it does come up.

[2016-02-23 00:12] morebrownies commented on #664
If you don't care for the branding/aesthetics of a company you probably wouldn't care to purchase from them. Hiding their branding so that you could purchase from them without seeing what they stand for seems a bit odd to me.

I tried to design it so that vendors have to see their own color palette choices throughout their transactions and settings sections. I'm hoping this will motivate them to u

[2016-02-23 00:12] #664 closed, assigned to nobody

[2016-02-23 00:14] morebrownies commented on #652
@JustinDrake This should be answered.

[2016-02-23 00:14] #652 closed, assigned to nobody

[2016-02-23 00:15] morebrownies commented on #759
Duplicate #658

[2016-02-23 00:15] #759 closed, assigned to nobody

[2016-02-23 00:27] morebrownies commented on #640
I'm not a fan of the unfunded purchases displaying in your Transactions section for a number of reasons:

1) The Purchases/Sales tabs imply finalized orders to me.
2) I'm not sure this matches the user's expectations. When they're checking out and abandon the checkout modal, the idea of that unfunded transaction living on forever seems odd to me.
3) I'm not sure anyone would think to check their t

[2016-02-23 00:30] morebrownies commented on #667
Maybe we should just prevent the user from uploading GIFs? I mean they're not animated anyways due to the base64 conversion so I don't see the value in allowing them to be uploaded in the first place.

[2016-02-23 00:31] morebrownies commented on #747
Duplicate #678

[2016-02-23 00:31] #747 closed, assigned to nobody

[2016-02-23 00:35] jjeffryes commented on #640
I don't think we have a way to delete the transaction. Until we do, we'll need to give the user a way to complete an order, especially since they may think they're done before they send any bitcoins.

[2016-02-23 00:36] jjeffryes commented on #640
Also, this was fixed a while ago.

[2016-02-23 00:36] #640 closed, assigned to nobody

[2016-02-23 00:37] jjeffryes commented on #667
GIFs that don't have transparent backgrounds would work fine. Though I don't think anyone uses GIFs anymore for anything but animation, so restricting them would be fine.

[2016-02-23 00:37] morebrownies commented on #738
Not happening for me. @SamPatt @drwasho please test and close if you cannot replicate

[2016-02-23 00:41] morebrownies commented on #737
This seems like it has the potential to really confuse users. If I choose an image for chat that is completely different than what I use as my avatar on my page, users will not be able to easily identify who they're talking to.

[2016-02-23 00:41] #737 closed, assigned to nobody

[2016-02-23 00:41] #741 closed, assigned to nobody

[2016-02-23 00:42] morebrownies commented on #742
@jjeffryes any idea what broke this?

[2016-02-23 00:42] morebrownies commented on #743
@rmisio we should make sure this is fixed too

[2016-02-23 00:44] morebrownies commented on #755
Inline editing will come in future releases. This is a temporary solution to point users in the right direction.

[2016-02-23 00:44] #755 closed, assigned to nobody

[2016-02-23 00:46] morebrownies commented on #758
Ok. I think i'm convinced to remove this for now

[2016-02-23 00:47] hoffmabc commented on #667
Why aren't we using png anyways? It would preserve transparency.

[2016-02-23 00:48] morebrownies commented on #743
Actually this is related to #284

[2016-02-23 00:48] #743 closed, assigned to nobody

[2016-02-23 00:54] morebrownies commented on #754
We're going to have to circle back and clean this up after launch. The modal was put in place to give the user a chance to write down their credentials. Both Josh and I agree the UX is bad, but there's not a simple work around at the moment.

[2016-02-23 00:54] #754 closed, assigned to nobody

[2016-02-23 00:56] morebrownies commented on #752
fixed

[2016-02-23 00:56] #752 closed, assigned to morebrownies

[2016-02-23 00:57] #758 closed, assigned to morebrownies

[2016-02-23 00:57] morebrownies commented on #751
@SamPatt

[2016-02-23 01:28] morebrownies commented on #744
Fixed

[2016-02-23 01:28] #744 closed, assigned to morebrownies

[2016-02-23 01:31] morebrownies commented on #753
@SamPatt where would you like the tutorial link to link to? It's currently set to a href="" target=\"_blank\">Tutorial</a which is why the issue is happening

[2016-02-23 01:35] morebrownies commented on #621
Blocked users no longer display in chat

[2016-02-23 01:35] #621 closed, assigned to nobody

[2016-02-23 01:48] morebrownies commented on #441
Finished

[2016-02-23 01:48] #441 closed, assigned to morebrownies

[2016-02-23 01:48] morebrownies commented on #443
@SamPatt did you want to change anything with this?

[2016-02-23 01:49] morebrownies commented on #423
@jjeffryes i think this is fixed, yeah?

[2016-02-23 01:50] morebrownies commented on #623
@rmisio another one to make sure is fixed with the refactor

[2016-02-23 01:56] morebrownies commented on #716
Fixed

[2016-02-23 01:56] #716 closed, assigned to morebrownies

[2016-02-23 02:01] jjeffryes commented on #423
Yes.

[2016-02-23 02:01] #423 closed, assigned to nobody

[2016-02-23 02:13] morebrownies commented on #597
My quick thought on this feature is it touches almost every part of the application and there's a lot we need to consider to ensure we do not confuse the user:

1) We would need to reconsider how requests vs listings display on a user page, e.g. it wouldn't really make sense to have them in your "store" tab so we may have to introduce a new tab for them.
2) How does discover change to display both

[2016-02-23 02:54] drwasho commented on #597
I'll flesh out this concept and post some thoughts here @morebrownies to help you with the design sprint.

I'll try for later today or tomorrow.

[2016-02-23 02:56] morebrownies commented on #597
No rush

[2016-02-23 09:56] JustinDrake commented on #741
@morebrownies Very interesting comment. I'll definitely keep an eye on user behaviour.

[2016-02-23 12:38] drwasho commented on #738
I think any problems 4 days ago related to this issue have been fixed.

[2016-02-23 12:38] #738 closed, assigned to nobody

[2016-02-23 12:45] drwasho commented on #475
### Week of 23rd of February, 2016

We were in Amsterdam last week, so most of the team was out of action (but it was totally worth meeting with each other in person).

Despite this, we managed to knock of a pretty important milestone related to reputation. Now when users visit a particular listing offered by the Vendor, you will be able to see the rating left by previous Buyers.

Rest of the issu

[2016-02-23 12:46] drwasho commented on #181
All done!

[2016-02-23 12:46] #181 closed, assigned to hoffmabc

[2016-02-23 12:47] drwasho commented on #523
Done

[2016-02-23 12:47] #523 closed, assigned to jjeffryes

[2016-02-23 12:52] ac225519 commented on #181
How can I force a update to test it ?

[2016-02-23 12:54] gubatron commented on #181
where is it downloading the updates from? I'm thinking about central point of failure, security and costs.

is there any checksum done before starting an update?

[2016-02-23 12:58] hoffmabc commented on #181
The only way to force an update is to post a new release to GitHub. Next the Squirrel (nuts) server running at updates.openbazaar.org will monitor that and when you start your app it will ping the nuts server seeing if an update is available. If you comply within the OpenBazaar app it will download, install and restart the application. It's exactly how Spotify does it. All releases must be signed

[2016-02-23 13:00] drwasho commented on #181
![image](https://media.giphy.com/media/veL6DyCLYL3Fu/giphy.gif)

[2016-02-23 13:01] gubatron commented on #181
Awesome! Signed and all.
Is it served off-of a CDN?

[2016-02-23 13:02] hoffmabc commented on #181
GitHub uses AWS

[2016-02-23 13:05] gubatron commented on #181
sweet, let's see how long until they come'a knocking.

I got confused with the updates.openbazaar.org, I suppose that only points metadata about a new update with URLs on github.

Where can I find this in the code? tried looking for a related commit message on the 3 repos but didn't find anything mentioning it, also on this repo didn't find any file with _update_ in its name. I'm rusty.

[2016-02-23 14:26] jjeffryes commented on #742
Fixed in the last PR.

[2016-02-23 14:26] #742 closed, assigned to nobody

[2016-02-23 19:59] SamPatt commented on #443
It's one line among many and I think it's important to keep. Same with disclaimers on Bittorrent clients and the like.

[2016-02-23 19:59] #443 closed, assigned to SamPatt

[2016-02-23 20:16] gubatron commented on #181
FYI, so you don't plan on relying this for too long, I think they'll come knocking soon,

"If your bandwidth usage significantly exceeds the average bandwidth usage (as determined solely by GitHub) of other GitHub customers, we reserve the right to immediately disable your account or throttle your file hosting until you can reduce your bandwidth consumption."
https://help.github.com/articles/githu

[2016-02-23 20:23] SamPatt commented on #181
@gubatron If only there was a way to distribute files that wasn't dependent on a central location!

Do you have a recommendation on a simple way to automatically torrent these installers?

[2016-02-23 20:24] SamPatt commented on #753
I'll send the link along soon.

[2016-02-23 20:25] gubatron commented on #181
the initial one, I already have a version of jlibtorrent for JS that might be good enough for this. I've to see if I have binary builds for all the OSes.

[2016-02-23 20:26] gubatron commented on #181
Here's sample code on JS on how to download a .torrent
https://github.com/frostwire/frostwire-jlibtorrent/blob/master/node/download_torrent_test.js

It's a JS wrapper to the all powerful libtorrent.

I'd love to help with this on my free time, would love to have OpenBazaar using this library.

[2016-02-23 21:09] hoffmabc opened #784 "Double Hyperlink Lines"
Brief Description: I'm seeing double underlines in hyperlinks throughout the application.

Operating System (OS and version): OSX 10.11
OpenBazaar version (shown on `About OpenBazaar` page in menu): 0.9

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Go somewhere and hover over a link

Observed Behavior: It double underlines

Expecte

[2016-02-23 21:13] jjeffryes commented on #784
Looks like a new bug in the tooltips.

[2016-02-23 21:44] jjeffryes commented on #784
Not a bug in tooltips per-se, it's a collision between the noOverflow and tooltip class. You can't use them together. I'm not sure why those elements have a tooltip, the tooltip just shows the same data.

It's fixed in my branch, I'll submit it with everything else.

[2016-02-23 22:19] #784 closed, assigned to nobody

[2016-02-23 23:25] ac225519 commented on #181
I have a recommendation, at least how to torrent the best way.
A statically linked aria2 binary is the best way to multi-platform torrent / http(s) / (S)FTP.
All protocols concurrent at the same time from multiple sources. Beat that.
For Linux/Unix, OSX/iOS, Windows, Android.
https://aria2.github.io/

[2016-02-24 01:31] gubatron commented on #181
the best way?
last time I heard libtorrent moves easily 30% of all internet traffic, over 10mm DHT node count at all times...

[2016-02-24 01:34] hoffmabc commented on #181
Ok guys take it easy you can have your nerd fight on Twitter where all the mud slinging occurs

[2016-02-24 02:07] ac225519 commented on #181
Hahaha,
A "quantity" argument is so low, its not even in the [hierarchy of disagreement](https://en.wikipedia.org/wiki/Paul_Graham_%28computer_programmer%29#Graham.27s_hierarchy_of_disagreement)

[2016-02-24 03:24] gubatron commented on #181
ha. Well you made me curious, I took a look, but I was very disappointed by what I saw in the github repo, it also has way too many features unnecessary for what's needed, just a torrent download with the lightest, heavily battle tested and optimized bittorrent library there is.  :)

[2016-02-24 14:53] SamPatt commented on #475
- [x] NSFW filter works. Requires both @jjeffryes and @cpacia

[2016-02-24 14:54] jjeffryes opened #788 "Clicking on Top Avatar in Conversation Doesn't Open User Page"
Brief Description: when the chat sidebar is open and a conversation is active, clicking on the topmost avatar (in the grey header bar) doesn't do anything. It should navigate to that user's user view (the same as clicking on a user avatar in the body of the conversation below the grey bar).

Operating System (OS and version): Win 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 0.

[2016-02-24 14:58] drwasho commented on #475
@rmisio @cpacia @jjeffryes There are some bits of data that need to be displayed in the individual ratings for a listing, which I believe can pull from the rating message:
1. GUID (no avatar; link out to try and reach their node when clicked)
2. TXID or the Bitcoin multisignature address from that transaction (links out to Blockchain.info)

Reasons:
- **GUID** so users can try visit the purchaser

[2016-02-24 16:53] rmisio commented on #475
@cpacia Please let me know when the endpoint is updated to provide the data @drwasho is requesting and I'll update the UI.

[2016-02-24 19:36] hoffmabc opened #789 "Accept underscores in Blockchain ID"
accept underscore for Blockchain ID usernames

[2016-02-24 21:33] hoffmabc opened #791 "Bitcoin Prices Need thousands separator"
Bitcoin prices don't have separators in large numbers.

![image](https://cloud.githubusercontent.com/assets/45482/13301715/4c682aae-db14-11e5-88f4-012c1779534c.png)

[2016-02-24 22:07] morebrownies commented on #791
Also probably do not need to display four decimal places if it's a whole number.

[2016-02-24 22:57] jjeffryes commented on #775
Currently onboarding only sets the colors of the theme. To set the images, they would need to either be loaded, encoded as base64 and saved, or pre-encoded as base64 and the pre-encoded versions saved.

I think pre-encoding them would be the better solution.

[2016-02-24 22:59] jjeffryes commented on #739
This is probably a result of testing the new clone listing feature, and they are two different listings with the same name.

[2016-02-24 22:59] #739 closed, assigned to nobody

[2016-02-25 01:08] morebrownies opened #793 "Modals should close when hitting the esc key or clicking the transparent background behind the modal"
Currently the only way to close a modal is by hitting the small X icon. We should support the esc key and background click to close as well.

[2016-02-25 06:52] drwasho opened #795 "Allow spaces for tags"
We used to support it, but now can only attack 1 word tags without spaces.

[2016-02-25 06:52] drwasho commented on #788
Fixed

[2016-02-25 06:52] #788 closed, assigned to nobody

[2016-02-25 06:53] drwasho commented on #779
Bumping this to a feature-complete requirement. I can see users thinking that they're node is offline because they can't see their listings in the Discover tab.

[2016-02-25 06:54] drwasho commented on #774
Fixed

[2016-02-25 06:54] #774 closed, assigned to nobody

[2016-02-25 06:55] drwasho commented on #773
Can someone confirm if this is still a problem?

[2016-02-25 07:10] drwasho opened #796 "Placeholder text in the Order Modal"
**Brief Description:**

![image](https://cloud.githubusercontent.com/assets/3887694/13312439/465286cc-dbe2-11e5-8419-d0eebfadb544.png)

Replace the placeholder with something more descriptive for the user.

*_Operating System (OS and version): *_

Win10

**OpenBazaar version:**

0.9

**Reproducible:**

Always

**Steps to reproduce:**
Check any sales by your node.

**Expected Behavior:**

Plaintext

[2016-02-25 07:12] drwasho commented on #769
Confirmed

![image](https://cloud.githubusercontent.com/assets/3887694/13312503/e63fbd44-dbe2-11e5-8674-5a6e11143f81.png)

[2016-02-25 07:18] drwasho commented on #764
Definitely still a problem

![image](https://cloud.githubusercontent.com/assets/3887694/13312608/ce47aebc-dbe3-11e5-9f57-16d8f8a0acf0.png)

[2016-02-25 07:20] drwasho commented on #760
You must have lost connectivity.

[2016-02-25 07:20] drwasho commented on #757
Can you see if this has been fixed with the latest code commits?

[2016-02-25 07:21] drwasho commented on #756
Chatting with Josh last night and he mentioned that he's already set this occur once we're ready for production release.

[2016-02-25 07:21] #756 closed, assigned to nobody

[2016-02-25 07:22] drwasho commented on #753
LOL!

[2016-02-25 07:23] drwasho commented on #751
@SamPatt

[2016-02-25 07:24] drwasho commented on #750
Can't reproduce. Please reopen if you see the bug again.

[2016-02-25 07:24] #750 closed, assigned to nobody

[2016-02-25 07:27] drwasho commented on #748
That's because the Enter key could equally trigger the `Retry connection` or `Save Changes` button... so it does neither.

But, maybe if we moved the `Retry connection` button above the _Server Configuration_ header, then connecting the Enter button to `Save Changes` may work.

What are your thoughts @morebrownies ?

[2016-02-25 07:27] drwasho commented on #746
Feature, not a bug.

[2016-02-25 07:28] drwasho commented on #745
Please recheck to see if this bug is still a problem.

[2016-02-25 07:29] drwasho commented on #740
95% sure @jjeffryes fixed this recently. Please reopen if it isn't.

[2016-02-25 07:29] #740 closed, assigned to nobody

[2016-02-25 07:33] drwasho commented on #722
There's nothing wrong with Google maps, it's probably the best and most consumer friendly mapping system out there.

Anyway, the original issue was about displaying the Store Location in the User page, which I'm 100% behind... otherwise the user will find out via a failed order.

@morebrownies @jjeffryes @rmisio

[2016-02-25 07:35] drwasho commented on #628
Has this been fixed @hoffmabc or @rmisio ?

[2016-02-25 07:38] drwasho commented on #715
Misread, apologies.

[2016-02-25 12:08] hoffmabc commented on #746
This would be if someone actually typed the hash marks though correct? Is that confusing @drwasho?

[2016-02-25 12:09] hoffmabc commented on #628
I'll test today.

[2016-02-25 12:37] dsmurrell opened #797 "Select your language dialog remains visible when switching to a configured server."
I made a new server with a new database and pointed the client there. The very first setup dialog showed 'select your language'. Then I started an old configured server and pointed the same client there and the dialog was still showing.

[2016-02-25 13:22] drwasho commented on #746
Yep, they'd have to type in the extra hash to make that happen. I was being facetious, we should auto remove the extra hash.

[2016-02-25 13:29] jjeffryes commented on #796
This is fixed in the branch I'm working on.

[2016-02-25 16:56] rmisio commented on #628
@drwasho Yes, it's been fixed. Cmd + W is the command to close a window. Since our app is a one window app, upon cmd + w, I set it to quit the app.

[2016-02-25 19:02] jjeffryes opened #798 "Add ob: to the address bar uri"

[2016-02-25 23:18] jjeffryes commented on #779
I think this is a server issue, not a client issue. The client doesn't do anything to stop you from seeing your own items in discover, they're just never sent from the server.

I will open an issue on the server.

[2016-02-25 23:18] #779 closed, assigned to jjeffryes

[2016-02-26 00:37] #796 closed, assigned to nobody

[2016-02-26 00:37] #628 closed, assigned to hoffmabc

[2016-02-26 02:11] #746 closed, assigned to nobody

[2016-02-26 02:11] #757 closed, assigned to jjeffryes

[2016-02-26 02:11] #764 closed, assigned to jjeffryes

[2016-02-26 02:11] #773 closed, assigned to jjeffryes

[2016-02-26 02:11] #795 closed, assigned to jjeffryes

[2016-02-26 06:50] drwasho commented on #284
Fixed

[2016-02-26 06:50] #284 closed, assigned to nobody

[2016-02-26 06:50] ac225519 opened #803 "3 letter ISO 4217 codes are not used"
USD, AUD, EUR, etc not used.

Operating System (OS and version):
Linux LMDE2

OpenBazaar version (shown on `About OpenBazaar` page in menu):
Client git ID:cd6c316 downloaded 2016-Feb-26 06:05:09 UTC

Hardware:  Intel
Reproducible: Always

Steps to reproduce:
1. Menu -> Settings -> Local currency: "Australian Dollar" -> Save Changes
2. Click Discover
3. Example: Rock 0.0010 BTC (A$0.59)

Observed B

[2016-02-26 06:56] drwasho commented on #367
Is this still a problem @JustinDrake or @morebrownies ?

[2016-02-26 07:00] drwasho commented on #422
Kickass

[2016-02-26 07:00] #422 closed, assigned to nobody

[2016-02-26 07:15] drwasho commented on #394
Done

[2016-02-26 07:15] #394 closed, assigned to nobody

[2016-02-26 07:17] drwasho commented on #447
I believe this has been fixed.

[2016-02-26 07:17] #447 closed, assigned to jjeffryes

[2016-02-26 07:22] drwasho commented on #453
Thoughts on whether we really need this @morebrownies @jjeffryes @rmisio ?

[2016-02-26 07:24] drwasho commented on #468
Remaining tasks will be moved into a separate issue as a stretch goal.

[2016-02-26 07:24] #468 closed, assigned to jjeffryes

[2016-02-26 07:26] drwasho opened #804 "Notifications to add for v1 as a stretch goal or follow-up"
- [ ]  Nudge buyer to release funds on a transaction (x days after order date)
- [ ]  Moderator revoked their service from your store
- [ ]  A user added you as Moderator
- [ ]  Moderator rate changes (send to all vendors using their service)

[2016-02-26 07:27] drwasho commented on #469
Migrated to issue #804

[2016-02-26 07:27] #469 closed, assigned to nobody

[2016-02-26 07:33] drwasho commented on #516
Done

[2016-02-26 07:33] #516 closed, assigned to morebrownies

[2016-02-26 07:35] drwasho commented on #552
@jjeffryes What's the update on this?

[2016-02-26 07:39] drwasho commented on #612
Fixed

[2016-02-26 07:39] #612 closed, assigned to jjeffryes

[2016-02-26 07:41] drwasho commented on #658
All done; Admin panel will be removed prior to release.

[2016-02-26 07:41] #658 closed, assigned to jjeffryes

[2016-02-26 07:49] drwasho commented on #622
Fixed

[2016-02-26 07:49] #622 closed, assigned to jjeffryes

[2016-02-26 07:51] drwasho commented on #623
Fixed

[2016-02-26 07:51] #623 closed, assigned to nobody

[2016-02-26 07:53] drwasho commented on #641
The order essentially expires in 10 minutes if no transaction is submitted to the Bitcoin network (doesn't need to be in the block, just submitted). Handling of the unfunded order still needs work, which will probably require its own dedicated issue.

[2016-02-26 07:53] #641 closed, assigned to nobody

[2016-02-26 07:54] drwasho commented on #645
Fixed

[2016-02-26 07:54] #645 closed, assigned to nobody

[2016-02-26 07:55] drwasho commented on #648
Where are we on this?

[2016-02-26 11:43] JustinDrake commented on #641
@drwasho

[code]

How is this communicated to the user? Would it help to have a timer?

[2016-02-26 11:44] JustinDrake commented on #740
@drwasho I don't have reopen rights.

[2016-02-26 11:46] JustinDrake commented on #750
@drwasho: Please don't do this. I don't have reopen rights.

[2016-02-26 11:48] JustinDrake commented on #760
The bug here is the sentence abruptly ends with "tagged with" (see screenshot). Please reopen.

[2016-02-26 11:54] drwasho commented on #760
Ok, that wasn't clear from the issue description so we discussed fixing another problem.

[2016-02-26 11:56] drwasho commented on #750
Is the bug still there?

[2016-02-26 12:04] JustinDrake commented on #745
Yes, still an issue, on all images.

[2016-02-26 12:08] dsmurrell opened #805 "Default following list on client doesn't get applied."
On setup, there are three nodes in the default following list (@OB1, @Themes, @OpenBazaar). They are all checked by default. When the setup completes, your node is not following any of these.

Will this be working for the 1st March?
Will the default be checked boxes? (i.e. opt out)

[2016-02-26 12:09] JustinDrake commented on #367
Full screen functionality has been removed so I cannot trigger this bug. But then full screen seems essential.

[2016-02-26 14:00] jjeffryes commented on #715
Just to clarify, the request here is to change the text of the link so instead of Check Status it is clear you can click on it to learn more about Blockchain ID?

Or should we have a 2nd link that opens a FAQ article about your handle?

[2016-02-26 14:02] morebrownies commented on #453
Yes we need this fixed. Not a big deal if it doesn't make it into v1.

[2016-02-26 14:04] morebrownies commented on #805
Yes, this needs to be wired up still.

[2016-02-26 14:05] morebrownies commented on #658
yay!

[2016-02-26 15:57] JustinDrake opened #807 "Remove @themes from the suggestions to follow?"
During signup, it's suggested to follow @themes. Should this be removed for the March 1 release?

[2016-02-26 15:58] JustinDrake commented on #805
@morebrownies: Just to make sure I understand, the suggestions to follow are opt-out, not opt-in?

[2016-02-26 15:58] morebrownies commented on #805
opt-out

[2016-02-26 16:00] morebrownies commented on #807
My vote is keep it. Getting high quality themes is going to be important so that the network isnt filled with horribly designed pages. People can uncheck if they do not care for it.

[2016-02-26 16:02] morebrownies commented on #805
Twitter does something similar: https://www.useronboard.com/how-twitter-onboards-new-users/?slide=41

[2016-02-26 16:04] hoffmabc commented on #807
I think it's fine as long as that store actually is up and exist

[2016-02-26 16:04] JustinDrake commented on #805
@morebrownies :+1: Thanks for the added info.

[2016-02-26 16:06] JustinDrake commented on #807
@morebrownies I can't seem to access the @themes store. How can users get high quality themes? Are they listings on the @themes store that one can buy?

[2016-02-26 16:08] morebrownies commented on #807
Yes for purchase. Eventually if we add the ability for free listings, there could be a bunch more free ones too. Node will be up this weekend.

[2016-02-26 16:11] JustinDrake commented on #807
Cool. :)

Please close this issue when the node is up.

[2016-02-26 16:14] morebrownies commented on #807
Will do

[2016-02-26 16:27] morebrownies opened #808 "Address bar placeholder text only displays when in Discover section"
Go to transactions or settings and you'll see that it disappears.

<img width="1201" alt="screenshot 2016-02-26 10 26 59" src="https://cloud.githubusercontent.com/assets/13066886/13358161/81ad3dfc-dc73-11e5-9ed6-9cbf8aeaf49e.png">

[2016-02-26 16:45] morebrownies opened #809 "Notifications tray lost the placeholder text"
I don't have any notifications and this is what I see now
<img width="500" alt="screenshot 2016-02-26 10 44 42" src="https://cloud.githubusercontent.com/assets/13066886/13358673/187e4e7c-dc76-11e5-9c44-841cf80ba213.png">

[2016-02-26 16:49] morebrownies opened #810 "If user does not have avatar display default avatar in all places"
As @hoffmabc brought up, onboarding looks strange with the empty box on the onboarding step. The same problem exists in settings as well:

<img width="898" alt="screenshot 2016-02-26 10 49 02" src="https://cloud.githubusercontent.com/assets/13066886/13358774/8fe23f50-dc76-11e5-93d4-149340f963c1.png">

Let's display the default avatar in both instances instead of the empty div.

[2016-02-26 16:51] jjeffryes commented on #552
@drwasho Brian is working on it.

[2016-02-26 16:51] jjeffryes commented on #648
We've decided not to sanitize all inputs on the client side, since they are already sanitized on the server, and it can cause bugs in some cases.

[2016-02-26 16:51] #648 closed, assigned to nobody

[2016-02-26 16:59] jjeffryes commented on #805
One thing to note, following a node only works if the node is online. We will be hard-coding the handles for these nodes (that will allow us to change the guids, but keep the same handles), so both of the following will need to be true:
1. each of these nodes is always online.
2. the handle is up to date, and points at a valid online guid

If either of the above is false, following will not work f

[2016-02-26 17:01] jjeffryes commented on #809
@rmisio take a look at this when you have a chance.

[2016-02-26 17:04] jjeffryes commented on #810
Something to be aware of:

if we use the obvious solution of injecting the default image into that square, if they don't change it they will save that image and it will get a hash. The visual effect will be the same as when we show the default image for users that haven't uploaded anything, but instead of using the local default image, the client will think it's a real avatar and download it from

[2016-02-26 17:30] morebrownies commented on #810
Agreed

[2016-02-26 17:38] rmisio commented on #809
@morebrownies If you pull latest, this should be fixed.

[2016-02-26 18:32] jjeffryes opened #812 "Deal with Listings that have Below Minimum Prices"
Brief Description:

Listings that have a price below the minimum are blocked by the server. This should be prevented from happening in the client.

Prices can become too low in two ways. The minimum can change on the server, or a price pinned to a fiat currency can drop below the minimum when the value of BTC to the fiat currency changes.
- pull the minimum price from an API call
- when creating o

[2016-02-26 19:11] morebrownies opened #814 "When clicking the Message button on a page or clicking an existing conversation, the "Enter message" input should auto focus."
Seemed to have stopped working recently. Also the active state border is no longer showing anymore on the active conversation (see screenshot below on how it use to look)

<img width="1203" alt="screenshot 2015-12-06 14 51 50" src="https://cloud.githubusercontent.com/assets/13066886/13362477/6bf6afa4-dc8a-11e5-8785-9c7d56467ea1.png">

[2016-02-26 19:38] morebrownies opened #815 "Clicking reviews should display the Review tab and scroll you to the section"
Currently not clickable, but would be nice to click and take you to the tab.

<img width="291" alt="screenshot 2016-02-26 13 35 38" src="https://cloud.githubusercontent.com/assets/13066886/13363224/f1e9f1b8-dc8d-11e5-9403-636cbc8b85cc.png">

[2016-02-26 19:40] morebrownies commented on #809
I wasn't able to confirm since I have notifications now. @drwasho can you test and close if you can confirm it is working?

[2016-02-26 19:45] morebrownies opened #816 "If an item does not have any reviews, display a placeholder for "No reviews""
Similar to how we do it on the followers/following tab

<img width="1049" alt="screenshot 2016-02-26 13 43 57" src="https://cloud.githubusercontent.com/assets/13066886/13363449/18a57a06-dc8f-11e5-81c6-1651c19a0d1c.png">
<img width="1018" alt="screenshot 2016-02-26 13 44 27" src="https://cloud.githubusercontent.com/assets/13066886/13363450/18b2bb9e-dc8f-11e5-99a4-5006f0640aef.png">

[2016-02-26 20:01] JustinDrake opened #817 "Timestamp completely off"
In the chat, my timestamp shows as Mar 6 (today is Feb 26). See the screenshot for a live discussion.

Using Mac OS X, system time is correct, never had an issue with time on my computer.

![screen shot 2016-02-26 at 19 59 45](https://cloud.githubusercontent.com/assets/731743/13363853/95ef48d2-dcc3-11e5-940f-3863e4fc64fa.png)

[2016-02-26 20:02] JustinDrake opened #818 "Pressing 'Enter' in chat returns to new line before sending message"
In OB encrypted chat, 'Enter' sends the message. It also seems to return to a new line, which creates a temporary visual glitch.

[2016-02-26 20:04] JustinDrake commented on #817
Ok, time seems to be progressing _very_ fast on my machine. Went from Mar 6 to Mar 8 and Mar 9 in just a few minutes.

![screen shot 2016-02-26 at 20 03 42](https://cloud.githubusercontent.com/assets/731743/13363966/2cc41fda-dcc4-11e5-83e2-9be00cfcacdd.png)

[2016-02-26 20:06] hoffmabc commented on #817
Sounds like a timestamp formatting issue.

[2016-02-26 20:07] JustinDrake commented on #817
My chat buddy, also on a Mac, is not having the same issue.

[2016-02-27 16:53] jjeffryes opened #825 "Load Avatar in Onboarding Fails Sometimes"
Brief Description: when trying to upload an avatar in onboarding, sometimes nothing happens

Operating System (OS and version): Win10
Hardware: HP Desktop
Reproducible Sometimes

Steps to reproduce:
1. Go through onboarding
2. Attempt to upload an avatar

Observed Behavior: after selecting an image, the image does not appear in the avatar window, and is not uploaded to the server.

Sometimes this

[2016-02-27 16:56] jjeffryes commented on #825
Addendum: sometimes when getting into this state, the JS error stops completion of onboarding from working, and the user has to close the client and start again.

[2016-02-27 16:57] hoffmabc commented on #825
Have you tried different types of images and sizes? Or is this with same image?

[2016-02-27 16:59] jjeffryes commented on #825
I always use a new image when going through onboarding. I haven't tracked it yet to see if a specific image or image type triggers the bug.

[2016-02-27 18:05] jjeffryes commented on #825
I've tested this, and it doesn't appear to depend on the image.

[2016-02-27 20:27] morebrownies commented on #372
@jjeffryes @rmisio If either of you have extra time, this could be a good one to try to squeeze in. If I walk away from my computer for a few moments and a notification comes in while I'm away, I won't have any indicator to know to check OpenBazaar. If we can't get it in before Tuesday, we should definitely try to get it in before the main net launch.

[2016-02-27 20:38] hoffmabc commented on #372
I don't think this is a huge lift if we can do it. I'll check to see if there's anything os specific about it.

[2016-02-27 20:54] hoffmabc opened #826 "Improvements to Dispute"
![image](https://cloud.githubusercontent.com/assets/45482/13375345/53872f9e-dd6a-11e5-8572-37a2844531a4.png)

Can we improve this so that users can submit the message using a keyboard shortcut rather than having to click the button? Similar to chat?

[2016-02-28 15:34] redfacedquark commented on #495
Tried slack. Silence.

[2016-02-28 15:38] hoffmabc commented on #495
We are actually working through this in #installation-issues

[2016-02-28 16:28] trashMeNow opened #829 "Error adding/saving item to store."
Brief Description:

Operating System (OS and version): windows 7 64bit
OpenBazaar version (shown on `About OpenBazaar` page in menu): latest (28/02/2016)
Hardware: intel i7

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):

Steps to reproduce:
1. Create listing
2. fill all fields
3. save changesd

Observed Behavior:
i get the error "the items could not be saved", bu

[2016-02-28 16:33] trashMeNow opened #830 "Description text box don't scroll down."
Brief Description: the textbox "description if filled with more than 10 lines, do not scroll down

Operating System (OS and version): windows 7 64bit
OpenBazaar version (shown on `About OpenBazaar` page in menu): latest (20/02/2016)
Hardware: intel i7

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):

Steps to reproduce:
1. Create listing
2. fill Description text bo

[2016-02-28 16:36] hoffmabc commented on #829
Are there any fields with a red border? Time to process?

[2016-02-28 19:01] leethax666 opened #831 "PGP key field not saving"
Brief Description: Input key fingerprint/whole key. Click save. Doesn't save.

Operating System (OS and version): Linux Mint 17.3 Rosa
OpenBazaar version (shown on `About OpenBazaar` page in menu): Version 0.9

Reproducible: Always

Steps to reproduce:
1. Input key fingerprint/whole key
2. Click save
3.

Observed Behavior: Doesn't save

Expected Behavior: Saves key

Additional info (links, images,

[2016-02-28 20:25] jjeffryes commented on #825
I believe this is fixed.

[2016-02-28 20:25] #825 closed, assigned to nobody

[2016-02-28 20:26] #830 closed, assigned to jjeffryes

[2016-02-29 00:20] #831 closed, assigned to jjeffryes

[2016-02-29 02:19] drwasho opened #838 "Remove 'accept dispute payout' for losing party"
![image](https://cloud.githubusercontent.com/assets/3887694/13384140/8656a06a-dede-11e5-867f-a0aaa19560d8.png)

The party that doesn't press the 'Accept Payout' button still has this button available after the counterparty presses the button transfers funds out of multisig escrow.

[2016-02-29 02:20] drwasho commented on #838
Pressing the button doesn't do anything of course... it's more of a cleanup issue.

[2016-02-29 04:03] drwasho opened #839 "Refund request from the Buyer shouldn't involve the Moderator"
Currently, to trigger a refund before the Vendor has 'Confirmed/Shipped', the Buyer has to launch a dispute in order to trigger a refund. This means the Moderator needs to be involved to trigger the refund, where they pick up a fee.

This is unnecessary. The Buyer should be able to request a refund, which the Vendor can consent to. If the Vendor has a problem, then they should be able to trigger a

[2016-02-29 04:05] drwasho commented on #303
Changing this to a stretch goal. We can launch the v1 test without this feature and try and incorporate it before going live on mainnet.

[2016-02-29 04:07] drwasho commented on #351
Can launch the test release without this, but should be targeted for completion before mainnet launch.

[2016-02-29 04:09] drwasho commented on #472
Spinning off the remaining task into a separate issue for us to address before mainnet launch.

[2016-02-29 04:09] #472 closed, assigned to jjeffryes

[2016-02-29 04:10] morebrownies commented on #769
Fixed

[2016-02-29 04:10] #769 closed, assigned to morebrownies

[2016-02-29 04:10] morebrownies commented on #753
Fixed

[2016-02-29 04:10] #753 closed, assigned to morebrownies

[2016-02-29 04:14] drwasho opened #840 "Reputation functions to add before v1 mainnet launch"
Unfinished sub-task from #472
- [x] Display additional rating detail on the listing's `Reviews` tab
  - **OPTIONAL**
    - GUID of the node who rated the tx (active link to their store, if they're available)
    - Button to show JSON backend of the rating data (aka _transaction summary_)
  - **MANDATORY**
    - Display either a URL or button that links to the escrow transaction on Blockcypher
- [

[2016-02-29 04:18] drwasho commented on #734
Fixed.

[2016-02-29 04:18] #734 closed, assigned to jjeffryes

[2016-02-29 04:25] drwasho commented on #475
### Week of the 29th of February

We have a target release date for v1 on the testnet for March 1. After a big push this past week, the team has placed the finishing touches on the refund and dispute resolution controls. There are a couple of things we're going to try and finish before v1 is released on the mainnet (which we don't have a hard date for thus far).

If you want to help test out the r

[2016-02-29 04:28] drwasho commented on #750
I can't reproduce this error so I'm going to leave it closed.

[2016-02-29 04:29] drwasho commented on #745
Can you describe exactly what the glitch is? I'm not sure what I should be seeing.

[2016-02-29 04:30] drwasho commented on #367
@morebrownies can you check on this?

[2016-02-29 04:36] drwasho commented on #715
From our discussion with @shea256, the button will encode information that pre-fills the 'App settings' fields with `openbazaar` + `GUID` so when a user clicks the link, it opens a onename.com page, then the user clicks “save".

@morebrownies will also add something like 'Powered by Blockchain ID' underneath the `Handle` in the Settings. Perhaps 'Blockchain ID' could also link to http://blog.onena

[2016-02-29 04:36] morebrownies commented on #367
As Justin said, it seems full screen has been disabled so the problem is kind of fixed, but now the question is do people want full screen support on mac? I would think yes, but definitely seems low priority at this point.

[2016-02-29 04:37] morebrownies commented on #715
Very nice. I'll plan on working this in during the test phase.

[2016-02-29 04:39] drwasho commented on #809
Definitely fixed.

[2016-02-29 04:39] #809 closed, assigned to nobody

[2016-02-29 04:40] morebrownies commented on #678
I've noticed this seems to happen mostly or primarily when using remote servers. After I make the initial connection to a remote server, the user nav doesn't seem to work.

[2016-02-29 04:40] drwasho commented on #753
@morebrownies is the fix in one your branches, because I still get this bug in `master`?

[2016-02-29 04:42] morebrownies commented on #753
Yeah misc103, should be merged tomorrow.

[2016-02-29 04:42] drwasho commented on #367
Ok no problem. I can go full screen in Windows, so enabling full screen for OSX makes a lot of sense. We can target a fix before v1 mainnet release.

[2016-02-29 04:43] drwasho commented on #753
No problem.

[2016-02-29 04:49] drwasho commented on #751
@SamPatt and @morebrownies

[2016-02-29 04:52] drwasho commented on #592
@jjeffryes don't forget about this one... probably should remove the filter dropdown and add the `v1 mainnet requirement` tag.

[2016-02-29 04:52] #562 closed, assigned to nobody

[2016-02-29 04:54] drwasho commented on #369
@hoffmabc don't forget this one

[2016-02-29 04:56] drwasho commented on #230
Ready to close @jjeffryes ?

[2016-02-29 07:43] trashMeNow commented on #829
no redbox fields...
ty for answering.

2016-02-28 17:36 GMT+01:00 Brian Hoffman notifications@github.com:

[2016-02-29 07:55] JustinDrake commented on #745
(I can't seem to connect to the OB network now.) The glitch occurs when clicking a listing image to enlarge it. When doing so, the image appears in two steps where the first step lasts a fraction of a second and is just a few pixels off from the second step.

It's possible that this is related to the way the scrollbars disappear in Mac OS X, and hence only reproducible on Mac OS X.

[2016-02-29 09:59] drwasho commented on #745
Make sure you `git checkout v0.1.0-rc2` for the server.

[2016-02-29 13:32] bazaarbroz opened #841 "Full size product images"
Hi there!

I've been experimenting with the test version and have found that when uploading a larger image, the images are resized/compressed -  so a large pic loses all of its finer detail - is there a way that a user can click to see a larger size (or ideally, the original size?)

Also, the aspect ratio/orientation of the product image preview thumbnail seems to be fixed - I was trying to upload

[2016-02-29 13:39] jjeffryes commented on #678
This may have been fixed. The main content div sometimes overlapped the nav bar when it loaded, despite it having a lower z-index, which was fixable by hitting the refresh button.

I changed the order of the divs, and haven't seen the problem since, so keep an eye out for it to see if that did it or not.

[2016-02-29 13:43] jjeffryes commented on #841
Currently, only a single image version is saved for each image, so to conserve bandwidth it is saved at a relatively low size.

In future iterations we will save multiple sizes, so thumbnails and preview images are different files from the full size images. That will allow the full size images to be higher resolution.

[2016-02-29 13:55] morebrownies commented on #751
I'm happy to change this. @SamPatt just let me know what you want me to change.

[2016-02-29 14:18] morebrownies opened #842 "Hovering an avatar in the chat panel is no longer displaying the tooltip with their guid/handle in it."

[2016-02-29 14:30] morebrownies commented on #807
It's live here: 2dab3d9de6da4efface672a3e33a37c5e29c0d89 @themes

[2016-02-29 14:30] #807 closed, assigned to morebrownies

[2016-02-29 14:38] morebrownies opened #843 "Create listing button no longer working in discover"
<img width="1236" alt="screenshot 2016-02-29 08 38 30" src="https://cloud.githubusercontent.com/assets/13066886/13397487/d50f519e-debf-11e5-9f95-f7f84ffd6f39.png">

[2016-02-29 14:39] jjeffryes commented on #230
I don't think we're doing this in v1, we'll need to do a IP lookup against a database of IPs use an online geolocation service.

We can't do it the same way we do with language, since some languages are used in multiple countries.

[2016-02-29 15:14] hoffmabc commented on #789
Is this really problematic enough to make it a stretch goal? Seems like it might happen very quickly @jjeffryes

[2016-02-29 15:15] hoffmabc commented on #473
Actually no...I'll open a new issue.

[2016-02-29 15:15] #473 closed, assigned to jjeffryes

[2016-02-29 15:16] jjeffryes commented on #843
What does this mean?

Both the listings tab and the Create Listing link in the nav menu work on master when I try them?

[2016-02-29 15:18] morebrownies commented on #843
<img width="238" alt="screenshot 2016-02-29 09 17 51" src="https://cloud.githubusercontent.com/assets/13066886/13398749/5b6313d4-dec5-11e5-8ab9-5468ddf50c29.png">

Try the one in Discover, it doesn't seem to do anything when clicked now

[2016-02-29 15:18] hoffmabc opened #844 "Blockchain ID Validation Error"
Brief Description: Set your Blockchain ID in Settings before it has validated on Onename.com and it will never validate until you set it and save it in Settings again.

Operating System (OS and version): OSX
OpenBazaar version (shown on `About OpenBazaar` page in menu): 0.9

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. In Settings

[2016-02-29 15:20] #789 closed, assigned to jjeffryes

[2016-02-29 15:27] Kirvx commented on #843
I confirm the bug

[2016-02-29 15:29] hoffmabc opened #846 "When clicking Message button on user profile put focus on message box"
Self-explanatory.

[2016-02-29 15:30] morebrownies commented on #846
Duplicate #814

[2016-02-29 15:30] #846 closed, assigned to morebrownies

[2016-02-29 15:32] hoffmabc commented on #846
fail...

[2016-02-29 15:38] morebrownies opened #847 "Chat panel conversations not being reordered by most recent"
<img width="155" alt="screenshot 2016-02-29 09 37 13" src="https://cloud.githubusercontent.com/assets/13066886/13399266/11298bba-dec8-11e5-9beb-33ce08842088.png">

The conversation with the notification should be at the top since it is the most recent

[2016-02-29 15:43] SamPatt commented on #751
@morebrownies That's fine to change it to:

[2016-02-29 16:13] jjeffryes commented on #839
There is a refund order button right next to the confirm order button. No moderator involved.

[2016-02-29 16:13] #839 closed, assigned to nobody

[2016-02-29 16:21] jjeffryes commented on #303
I've filed an issue on the server side, get_chat_conversations doesn't return a value for avatar_hash and doesn't return handle at all, we'll need that for this feature.

[2016-02-29 17:52] morebrownies commented on #683
Seems to be working correctly now

[2016-02-29 17:52] #683 closed, assigned to nobody

[2016-02-29 17:54] morebrownies opened #848 "Clicking a non-store page takes me to @handle/store, even though they do not have a store."
To reproduce, got to @themes and click the "Following" tab and click "OpenBazaar Helpdesk"

<img width="1248" alt="screenshot 2016-02-29 11 53 57" src="https://cloud.githubusercontent.com/assets/13066886/13403541/2045612e-dedb-11e5-920c-cab70eac02db.png">

It should take the user to @handle/about if a store does not exist.

[2016-02-29 18:00] jjeffryes commented on #842
I removed the tooltips, because it caused the layout to break.

[2016-02-29 18:03] morebrownies commented on #842
Ok. Let's keep this open. We don't need to figure it out right now, but the tooltips are helpful.

[2016-02-29 18:11] morebrownies commented on #751
Fixed

[2016-02-29 18:11] #751 closed, assigned to SamPatt

[2016-02-29 18:47] rmisio commented on #842
Here' what's happening: in order for the chat heads to be scrollable an overflow-y is being set on .chatConversationHeads. This essentially prevents overflow-x from being visible (even though you can set it to be so, it is ignored by the browser). It would need to be visible otherwise it prevents the tooltip from being visible.

So, with the current implementation of the tooltip, you basically hav

[2016-02-29 19:02] morebrownies opened #849 "Payment pending transactions do not seem to open"
When I click the top order, the modal never opens and the console spits out the following error:

<img width="1245" alt="screenshot 2016-02-29 13 01 29" src="https://cloud.githubusercontent.com/assets/13066886/13405560/a4aa4a0c-dee4-11e5-84ba-03b9a4cdd32c.png">

[2016-02-29 19:07] gubatron opened #850 "Not remembering NSFW preference in same session"
Brief Description:

I opened the `@spammer/followers` page, I get the "This user is hidden because their page is listed as NSFW" dialog, I click on "Show this user's page, and all NSFW listings", but every time I come back to the page I get the same dialog again.

Operating System (OS and version):
MacOSX 10.10.5

OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware: Macbook Pro

[2016-02-29 19:15] jjeffryes commented on #849
This was fixed earlier today.

[2016-02-29 19:15] #849 closed, assigned to nobody

[2016-02-29 20:10] jjeffryes commented on #850
This isn't a bug, it's working as intended. I'm re-categorizing as an enhancement.

Clicking on an item reloads the page, which triggers the warning. We should add code to handle that circumstance.

Adding code to remember NSFW pages that you've said it was ok to look at is a bigger issue, since we would also need to add a way to re-hide them if you change your mind later.

[2016-02-29 20:11] jjeffryes commented on #843
Oh, that button. There are so many of them...

[2016-02-29 20:27] #775 closed, assigned to nobody

[2016-02-29 20:32] #814 closed, assigned to nobody

[2016-02-29 20:44] jjeffryes commented on #847
Closed in #851

[2016-02-29 20:44] #847 closed, assigned to nobody

[2016-02-29 20:45] jjeffryes commented on #818
closed in #851

[2016-02-29 20:45] #818 closed, assigned to nobody

[2016-02-29 20:46] morebrownies opened #853 "Chat panel is now covering user menu and tooltip"
<img width="480" alt="screenshot 2016-02-29 14 45 16" src="https://cloud.githubusercontent.com/assets/13066886/13408373/1f46ccfa-def3-11e5-81e3-ab25afaf3bb5.png">

[2016-02-29 21:07] jjeffryes commented on #853
And that's why we don't set z-indexes to 999...

[2016-02-29 21:10] rmisio commented on #853
yeah, there's always this kind of a game with z-index's. So, obviously, we need to set it to something above all the modals but under the nav menu's. I'll look into it.

[2016-02-29 21:10] jjeffryes commented on #853
Don't worry about it, I'm fixing it.

[2016-02-29 21:11] #853 closed, assigned to nobody

[2016-02-29 21:11] rmisio commented on #853
groovy, another issue you might want to look at while you're at it is that when a modal is up, the menus go behind the modal overlay.

[2016-02-29 21:11] jjeffryes commented on #853
I fixed that too.

[2016-02-29 21:12] rmisio commented on #853
+1

[2016-02-29 21:35] dsmurrell opened #854 "Avatar's top and bottom borders get lost on page listing."
I put a faint dark red border around my avatar. It looks like the top and bottom borders are getting lost.

![screen shot 2016-02-29 at 21 33 22](https://cloud.githubusercontent.com/assets/4035854/13409764/4f903e26-df2c-11e5-9225-c193b5942ee5.png)

[2016-02-29 22:03] jjeffryes commented on #826
This was done.

[2016-02-29 22:03] #826 closed, assigned to jjeffryes

[2016-02-29 22:24] gubatron commented on #850
I thought I told it to just show me everything and not nag me again, maybe you're joking or you're serious, I'm lost. It's clearly a bug, although coders tend to joke like that as "unintended features"

[2016-02-29 22:27] morebrownies opened #856 "Conversation message order and timestamping is off"
The latest message is displaying at the top of the conversation instead of the bottom (notice the timestamps)

<img width="254" alt="screenshot 2016-02-29 16 25 46" src="https://cloud.githubusercontent.com/assets/13066886/13411140/335dfff2-df01-11e5-942f-8b5157bb23c9.png">

[2016-02-29 22:34] gubatron commented on #501
not sure if this is the same issue, but If I'm only shipping for a single country only (my country), it shouldn't give me an error if I don't add a price on international shipping
<img width="557" alt="screen shot 2016-02-29 at 5 32 44 pm" src="https://cloud.githubusercontent.com/assets/163977/13411344/99a622c2-df0a-11e5-909e-874e38e9ac4b.png">

[2016-02-29 22:59] jjeffryes commented on #850
No joking here.

We do plan to make this feature better, but a planned enhancement is not the same as a bug.

Currently the feature lets you decide to see a page that is NSFW, if you have set your account to not view NSFW content. That choice to view an individual page isn't saved anywhere.

So, within the limits of the current feature, it is working as intended. Though maybe we're not clearly com

[2016-02-29 23:38] #626 closed, assigned to jjeffryes

[2016-03-01 00:38] #848 closed, assigned to jjeffryes

[2016-03-01 00:47] #843 closed, assigned to nobody

[2016-03-01 00:48] jjeffryes commented on #841
I'm going to close this, as it's already on our roadmap.

[2016-03-01 00:48] #841 closed, assigned to nobody

[2016-03-01 00:51] jjeffryes commented on #552
This has been completed.

[2016-03-01 00:51] #552 closed, assigned to jjeffryes

[2016-03-01 00:53] jjeffryes commented on #456
I'm closing this, the terminology in the source code doesn't have any connection to phrases used in documentation and marketing.

[2016-03-01 01:16] drwasho commented on #838
According to Josh, the server isn't sending a message to the losing party that the dispute resolution was accepted by the winning party and funds released. This isn't a showstopper, but it would be good to clean this up later. Tagging as a v1 mainnet requirement.

[2016-03-01 01:17] jjeffryes commented on #808
I can't reproduce this. It was either a fluke or was fixed.

[2016-03-01 01:19] drwasho opened #860 "Enable Buyer ratings if they win a disputed transaction"
Buyers who have won a dispute transaction (i.e. not a refund) need to be able to leave a rating for the Vendor.

[2016-03-01 01:25] jjeffryes commented on #860
Make this an issue on the server side too, we'll need a new API or changes to the existing API.

[2016-03-01 01:27] #449 closed, assigned to jjeffryes

[2016-03-01 01:27] #798 closed, assigned to nobody

[2016-03-01 02:01] morebrownies opened #862 "Do we need to show ob:// all the time in the address bar?"
What I'd suggest we do instead is sho @themes/store and when/if the user copies the url in the address bar, auto prepend ob://@themes/store into the clipboard.

<img width="304" alt="screenshot 2016-02-29 19 58 08" src="https://cloud.githubusercontent.com/assets/13066886/13415239/d143a2a4-df1e-11e5-9def-be73fd7bb37a.png">

[2016-03-01 02:01] drwasho commented on #745
Please retest @JustinDrake

[2016-03-01 02:01] morebrownies commented on #808
I'm still running into the same issue. @drwasho want to test?

[2016-03-01 02:02] drwasho commented on #501
Yep that's important. We'll have to fix it after the testnet release.

[2016-03-01 02:05] morebrownies opened #863 "New chat conversations still displaying at the bottom"
@drwasho just sent me a message and his conversation displayed at the bottom of the side panel

<img width="209" alt="screenshot 2016-02-29 20 04 20" src="https://cloud.githubusercontent.com/assets/13066886/13415354/aef5ac00-df1f-11e5-81b0-867196e892cf.png">

[2016-03-01 02:05] drwasho commented on #808
Yep, can confirm.

[2016-03-01 02:08] drwasho commented on #856
![image](https://cloud.githubusercontent.com/assets/3887694/13415409/3a21af8c-dfa6-11e5-8d77-1454eb4aade4.png)

Timestamping is going crazy.

[2016-03-01 02:15] jjeffryes commented on #808
Interesting. This only happens if you use a default theme and don't customize your page.

[2016-03-01 02:26] jjeffryes commented on #862
I think that would be confusing.

You don't have to put the ob:// in the address bar if you don't want to, it works without it.

[2016-03-01 02:28] morebrownies commented on #862
Right, but if it works without it then why show it?

[2016-03-01 02:29] morebrownies commented on #862
It's really needed to share with people outside of the app, but within the app it adds zero value.

[2016-03-01 02:36] jjeffryes commented on #862
It also subtracts zero value.

[2016-03-01 02:38] #808 closed, assigned to jjeffryes

[2016-03-01 02:38] hoffmabc commented on #862
The idea should be that you can copy paste these elsewhere. If they see the links without ob:// then they will get no advantage of other apps expanding those links

[2016-03-01 02:39] hoffmabc commented on #862
Try copying a Spotify: link into the Slack for instance

[2016-03-01 02:41] morebrownies commented on #862
Ok we can keep them

[2016-03-01 02:41] #862 closed, assigned to nobody

[2016-03-01 02:42] hoffmabc commented on #862
Thanks dad :) let's use the testing period to see how it goes

[2016-03-01 03:43] drwasho opened #865 "Clicking Bitcoin transaction links goes to a Testnet explorer"
Currently the links go to Blockchain.info and don't work.

[2016-03-01 05:10] hoffmabc opened #868 "Links in About/Support Modals Open in Electron Browser Not Native Browser"
![image](https://cloud.githubusercontent.com/assets/45482/13418288/f098af00-df41-11e5-9e89-d89e6137692b.png)

[2016-03-01 05:27] morebrownies opened #869 "When on my store page and I hit refresh it goes to @themes/state"
<img width="673" alt="screenshot 2016-02-29 23 25 43" src="https://cloud.githubusercontent.com/assets/13066886/13418540/ec92b366-df3b-11e5-8c84-0fc251e82ef9.png">

[2016-03-01 06:22] gubatron commented on #850
oh I get it now, thanks for the clarification :)

[2016-03-01 11:05] JustinDrake commented on #456
The phrasing in the client is wrong for [one of the messages](https://github.com/OpenBazaar/OpenBazaar-Client/blob/440d0f917b4afa525a0d91856b6b4cced8c0f625/js/models/languagesMd.js#L248):

[code]

Please reopen.

[2016-03-01 14:22] #869 closed, assigned to jjeffryes

[2016-03-01 14:46] #868 closed, assigned to jjeffryes

[2016-03-01 14:46] jjeffryes commented on #456
What is wrong with that message?

[2016-03-01 14:49] drwasho commented on #456
Vendor vs Seller terminology

[2016-03-01 15:01] morebrownies opened #874 "When an Order Changes Status, and it's Read Property is False, Indicate that In the UI"
We discussed this today. Add whenever convenient.

<img width="1280" alt="screenshot 2016-03-01 08 59 27" src="https://cloud.githubusercontent.com/assets/13066886/13430791/175d41ec-df8c-11e5-9ab0-aeed1315158f.png">

[2016-03-01 15:05] jjeffryes commented on #456
We use synonyms for a variety of words in the language file.

[2016-03-01 15:37] JustinDrake commented on #456
@jjeffryes: Consistency is key for clear communication of core concepts to the public.

[2016-03-01 15:47] jjeffryes commented on #805
Closed in #866

[2016-03-01 15:47] #805 closed, assigned to nobody

[2016-03-01 15:47] #765 closed, assigned to jjeffryes

[2016-03-01 15:47] jjeffryes commented on #678
I believe this has been fixed now.

[2016-03-01 15:47] #678 closed, assigned to nobody

[2016-03-01 16:06] #863 closed, assigned to nobody

[2016-03-01 16:07] jjeffryes commented on #856
The ordering is fixed.

[2016-03-01 17:03] hoffmabc opened #875 "Become a Store Shows HTML markup"
![image](https://cloud.githubusercontent.com/assets/45482/13434894/a4985060-dfa5-11e5-8637-9f58fc5295c7.png)

[2016-03-01 17:17] rmisio commented on #805
This is fixed, but with some caveats... please see the description in the PR:
https://github.com/OpenBazaar/OpenBazaar-Client/pull/866

[2016-03-01 18:42] jjeffryes commented on #875
Did you type that into the field? How did the h2 tags get in there?

[2016-03-01 18:48] morebrownies opened #878 "Notification sound issues on Mac"
Two sounds are triggering at once: our custom notification sound and what appears to be a default Mac sound.  @hoffmabc can you confirm you're hearing this too?

[2016-03-01 18:53] hoffmabc commented on #878
I have not heard this but I'll listen for it specifically now.

[2016-03-01 19:06] #875 closed, assigned to jjeffryes

[2016-03-01 19:25] #817 closed, assigned to nobody

[2016-03-01 19:25] #856 closed, assigned to nobody

[2016-03-01 19:51] morebrownies opened #881 "Avatar not displaying correctly in chat"
Notice @drwasho's avatar displays in the conversation but not in the title of the conversation

<img width="152" alt="screenshot 2016-03-01 13 50 59" src="https://cloud.githubusercontent.com/assets/13066886/13439795/b7b375c6-dfb4-11e5-9af9-e59aa7e3edb2.png">

[2016-03-01 20:48] rmisio commented on #881
This is ultimately a server-side issue. The chat message and chat heads come from different API's and the avatar hash is not being provided consistently.
@cpacia

[2016-03-01 21:33] rmisio commented on #797
Were the two servers were on the same machine? Currently, this isn't supported since (afaik) the database path is not configurable, so your two servers share the same DB. When you blew away the DB for the new server, you essentially blew it away for the old one. So, if you didn't complete onboarding on the new server, the old one (using the same db) expects you to.

[2016-03-01 21:49] dsmurrell commented on #797
No, different machines.

I'll try and be more specific. I run a fresh server on localhost, then I part way complete the onboarding process, then I stop the server. The client detects this and asks for new connection details. Then I enter in the ip address for an openbazaar server running in the cloud (that has already completed onboarding and has been set up with graphics etc). It connects and I c

[2016-03-01 21:51] rmisio commented on #797
ah, good catch. we'll get that taken care of.

[2016-03-01 21:53] dsmurrell commented on #797
Thanks.

[2016-03-01 22:13] drwasho commented on #475
We're ready.

[2016-03-01 22:13] #475 closed, assigned to drwasho

[2016-03-01 22:13] #471 closed, assigned to jjeffryes

[2016-03-01 22:16] morebrownies opened #884 "After I create a new listing, the page shows a spinner and nothing else."
It appears the listing is created correctly, but it doesn't redirect me to the page afterwards.

[2016-03-01 22:18] jjeffryes commented on #884
Missed one with the switch from item to listing

[2016-03-01 22:19] jjeffryes commented on #884
Fixed in master.

[2016-03-01 22:19] #884 closed, assigned to nobody

[2016-03-01 22:22] morebrownies opened #885 "Handle not displaying correctly to users"
When I view my own page it displays fine in the address bar and in the hero section.
<img width="1280" alt="screenshot 2016-03-01 16 19 59" src="https://cloud.githubusercontent.com/assets/13066886/13444014/7e137e6e-dfc9-11e5-88de-99b6281cffac.png">

However, when I view my page from another node it does not display.
![screen_shot_2016-03-01_at_4 19 50_pm_1024](https://cloud.githubusercontent.com/a

[2016-03-01 22:25] morebrownies commented on #878
I'm hearing it on both of my computers now. Seems like it just recently started happening, possibly after installing from the dmg

[2016-03-01 22:31] jjeffryes commented on #885
How are you getting to your store from the other node? When I enter your handle or click on any link to your store, I see the handle.

[2016-03-01 22:32] morebrownies commented on #885
From chat

[2016-03-01 22:32] morebrownies commented on #885
I click their big avatar in the conversation bar

[2016-03-01 22:32] jjeffryes commented on #885
When I click on your avatar in chat, it shows your handle in the address bar.

[2016-03-01 22:32] morebrownies commented on #885
But it also seems to happen when I click an item in discover

[2016-03-01 22:33] drwasho commented on #865
:clap: @jjeffryes

[2016-03-01 22:33] #865 closed, assigned to jjeffryes

[2016-03-01 22:33] jjeffryes commented on #885
This is on rc1.04? I can't duplicate it in master.

[2016-03-01 22:33] morebrownies commented on #885
Yup

[2016-03-01 22:34] morebrownies commented on #885
I just tried refreshing the client and I see the same problem

[2016-03-01 22:34] morebrownies commented on #885
Maybe it is just me, not sure, but we should keep an eye on it.

[2016-03-01 22:36] morebrownies opened #887 "Clicking tabs in the about OpenBazaar modal causes new windows to open in my browser"

[2016-03-01 22:39] #887 closed, assigned to nobody

[2016-03-01 22:41] jjeffryes commented on #885
It's possible we updated something in master this afternoon that inadvertently fixed it.

[2016-03-01 22:41] morebrownies opened #888 "Sidebar cuts off at a strange point"
Notice the bottom conversation gets cut off

<img width="144" alt="screenshot 2016-03-01 16 41 08" src="https://cloud.githubusercontent.com/assets/13066886/13444536/72e1932a-dfcc-11e5-9eba-c1f7736a64e7.png">

[2016-03-01 22:42] jjeffryes opened #889 "Loop initial call to server on startup"
Brief Description: when first installing, the client is started, then the server starts. This can cause the client to show the server config modal because the server isn't available yet.

Solution: loop a few times before showing the config modal to give the server time to start.

[2016-03-01 22:48] morebrownies opened #890 "Search URL only displays in the address bar if you search from the input on the discover page"
If you enter a tag directly into the address bar, the search URL does not display in the address bar.

[2016-03-01 22:51] morebrownies commented on #890
Also If you click a tag on a listing page it does not populate the address bar with the search url

[2016-03-01 22:53] dsmurrell commented on #797
Just went through the zombie onboarding on the already configured server... it resets all the configuration to whatever you put into the zombie onboarding dialogs.

[2016-03-01 22:55] rmisio commented on #797
did you pull latest from pr #886? That has the fix in it to remove the zombie, so the last comment should be a moot point.

[2016-03-01 23:08] #890 closed, assigned to nobody

[2016-03-01 23:11] morebrownies opened #891 "Payment received notification should not be sent to the buyer"
I just bought this item and received a notification that my payment was received.

<img width="524" alt="screenshot 2016-03-01 17 10 08" src="https://cloud.githubusercontent.com/assets/13066886/13445206/8800432e-dfd0-11e5-938b-7cdea1fd99c1.png">

[2016-03-01 23:12] jjeffryes commented on #891
This is a server issue, not a client issue.

[2016-03-01 23:14] jjeffryes commented on #891
It might be good to tell the buyer their payment has gone through, in case they leave the buying flow while the spinner is still going, but currently the message from the server is identical for the buyer and seller, which makes it confusing.

[2016-03-01 23:14] dsmurrell commented on #797
Ok, no problem. I've not pulled the latest yet. You are right. It is moot.

[2016-03-01 23:15] morebrownies commented on #891
Chris told me it was a client issue yesterday :(

[2016-03-01 23:17] jjeffryes commented on #891
Hmm. I suppose we can check the guid to see if it's yours, and format the message differently.

You'd still get it though.

[2016-03-01 23:17] Kirvx opened #892 "[Minor] Text overflow / line break"
![sans titre](https://cloud.githubusercontent.com/assets/6627786/13445404/280f9d02-e00c-11e5-9a50-8857e8ebc543.png)

[2016-03-01 23:56] rmisio commented on #771
@cpacia

I believe this is a server issue. The client is making the socket request for utf8 tags the same as with non-utf8 tags. But, in the former, the server is not sending anything back.

![image](https://cloud.githubusercontent.com/assets/794517/13446172/0311ea78-dfc6-11e5-9b45-cb74cbd837fd.png)

(and yes, my item with the utf-8 tag is being returned in the general (non-tagged) search, it's ju

[2016-03-02 00:09] jjeffryes commented on #891
It turns out this is only sent to the buyer, and what it means is your payment has completed. I put in a patch that changes the language to match that.

[2016-03-02 00:09] #891 closed, assigned to nobody

[2016-03-02 01:35] jjeffryes opened #898 "Opening Debug File from System Tray Gets Error"
Brief Description:

Operating System (OS and version): Windows 10
OpenBazaar version 1.0.6
Hardware: HP desktop

Reproducible: Always

Steps to reproduce:
1. right click on OpenBazaar icon in system tray
2. click View Debug Log
3. Error window appears on screen

Observed Behavior: error window

Expected Behavior: should show debug log

Additional info:
![image](https://cloud.githubusercontent.com/

[2016-03-02 03:02] ghost opened #899 "Clicking on a "New Review" notification doesn't take you to the rating"
Brief Description: I received a notification for a new review. When clicking on the notification it just closed the notifications window instead of taking me to see the review.

Operating System (OS and version): OSX 10.10.5 (14F1021)
OpenBazaar version (shown on `About OpenBazaar` page in menu): Version 1.0.4 (tag v0.1.0 for Server and v1.0.4 for Client)

Hardware: Macbook Pro Retina

Reproducibl

[2016-03-02 03:20] miller46 opened #900 ""Enter your Bitcoin Address" input marked invalid even for valid Bitcoin addresses"
Brief Description: When trying to buy an item, I can't get past the Enter your Bitcoin Address screen.  No matter what Bitcoin address I put in the screen shows the address as invalid.  Examples of attempts are 3MXYUBLWNETa5HTewZp1xMTt7AW9kbFNqs and 1NWSPwLHwquY4dwVBJZYnYHF26rERVKrUh

Operating System (OS and version): Ubuntu 14.04 LTS 64 bit
OpenBazaar version (shown on `About OpenBazaar` page in

[2016-03-02 03:22] drwasho commented on #900
Hey @miller46 ,

Currently OpenBazaar is on the Testnet, which means you need testnet coins. Ping me if you need some, but you can pick them up for free from a few faucets.

[2016-03-02 03:22] #900 closed, assigned to nobody

[2016-03-02 05:29] JustinDrake commented on #900
Might make sense to add "Testnet" for the testnet client.

[2016-03-02 07:51] tanner37 opened #903 "Creating listing with short description causes buggy listing"
Brief Description: If you create a new listing and save it a short description, it will cause a bugged listing. When you go to edit the bugged listing, all the fields are blank.

Operating System (OS and version): Debian stretch/sid x64
OpenBazaar version (shown on `About OpenBazaar` page in menu): Version 1.0.6
Hardware: i5-4670K desktop

Reproducible (Always / Almost Always / Sometimes / Rarely

[2016-03-02 08:08] TheButterZone opened #904 "Item quantity - enhancements label"
Currently, buyer can change quantity even if you're selling a 1-of-a-kind physical good. Suggest adding this field to Create Listing, and default at 1, then limit buyers to whatever number hasn't been sold.

[2016-03-02 08:13] TheButterZone opened #905 "Shipping rate limbo"
I have a large product inventory, widely varied; there are only a few multiple units of the same thing... here's a cleaned up version of my messages in the #openbazaar IRC:

So... shipping settings are going to be difficult for me, I wonder if anybody else too.

https://blog.openbazaar.org/wp-content/uploads/2016/02/createlistingshipping.png

In the US, usually the cheapest shipping carrier is USP

[2016-03-02 08:56] goodc0re opened #906 "Enum CountryCode has no value defined for name GREENLAND"
When trying to add a new product and when the country in question is added as a possible shipping destination, this error occurs.

Enum CountryCode has no value defined for name GREENLAND
Enum CountryCode has no value defined for name VIET NAM
Enum CountryCode has no value defined for name northern marina islands

Reproducible Always

Steps to reproduce:
1. Try to add new product
2. enter one of t

[2016-03-02 09:05] goodc0re opened #907 "PGP key not being saved in profile"
Brief Description:
PGP key is not being saved in user profile.

Operating System (OS and version): OS X System Version: OS X 10.10.5 (14F1605)
OpenBazaar version : Version 1.0.6

Reproducible Always

Steps to reproduce:
1. Edit user profile
2. Add PGP Key and save
3. Visit user profile again, PGP key not there

[2016-03-02 09:09] Head opened #908 "Windows UI (minimize, maximize and close)"
It would now be great if it managed to follow the most basic Windows UI guideline for the Windows Version, which is the app-window minimize, maximize and close buttons being on the right side.

[2016-03-02 09:10] ghost opened #909 "Step 2 is empty in Romanian"
Operating System (OS and version): Ubuntu 14.04
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware:

Reproducible: Always

Steps to reproduce:
1. Install OpenBazaar
2. On step 2 it will be empty (no text)

Expected Behavior:
There must be some text

Additional info (links, images, etc go here):

![screenshot from 2016-03-02 10 38 52](https://cloud.githubusercontent.com/a

[2016-03-02 09:23] AvatarX001 commented on #908
Ditto. I don't even care if you disregard the windows UI-style for the buttons. Just put them on the right side where they belong. It is super annoying to use the app otherwise. Also, you do really want me to have to bring this up for the foreseeable future?

[2016-03-02 12:20] JustinDrake opened #910 ".dmg file is almost 74 MB"
The file OpenBazaar-1.0.6.dmg is 73.9 MB which seems excessively large. (74 Bitcoin blocks, guys!)

Can some fat be trimmed?

[2016-03-02 12:24] hoffmabc commented on #910
Most of that TBH is electron packing the Chromium browser in there. I'm not sure how much we can improve this but we can re assess.

[2016-03-02 13:15] nanomo opened #911 "Empty Screens"
The identified screens with empty data are:

The Startup Wizzard "Introduction"
The "About" screen in Menu->About

Operating System : Windows 7 64bits updated
OpenBazaar version: 1.0.6
Language: Spanish

Reproducible: Always

[2016-03-02 13:15] Dekker3D opened #912 "Preview and set price in multiple currencies"
Brief Description: It would be nice if you could preview a store item's price in multiple currencies, like eur/usd/btc so you know what they look like. Many ordinary stores already price items just below round numbers, because $99,99 looks cheaper than $100,00, for example.

OpenBazaar version: 1.0.6

Observed Behavior: You only see and edit a store item's price in your currency of choice.

Expect

[2016-03-02 13:27] Dekker3D opened #913 "@handle field lets you delete the @ but considers it mandatory anyway."
Brief Description: The Handle field in Settings -> Page lets you enter a handle without an @, but marks it as invalid because it lacks the @.

OpenBazaar version: 1.0.6

Observed Behavior: See description.

Expected Behavior: The @ should be next to the actual text field, so it can't be deleted. Or if symbols other than @ can be used, a clear explanation should be given to the user if no such symb

[2016-03-02 13:33] Dekker3D opened #914 "Moderator fee not shown in moderator selection screen."
Brief Description: When selecting moderators for your store, you can't see the fees they use unless they add it to their description.

OpenBazaar version: 1.0.6

Expected Behavior: Fees should be clearly visible anywhere a moderator can be selected, regardless of description.

[2016-03-02 13:35] Dekker3D opened #915 "Can't re-arrange store listing photos"
Brief Description: You can't currently re-arrange the photos on a store listing, to change the main picture. At best, you can delete them and re-add them in the right order.

OpenBazaar version: 1.0.6

Expected Behavior: You should be able to drag and drop the photos to be in the right order. And being able to drag photos onto openbazaar to add them to a listing would be very nice.

[2016-03-02 13:38] JustinDrake opened #916 "Mac OS: Unidentified developer"
I'm running the .dmg for the first time (normally use the Git repos). I got this message when opening:

![screen shot 2016-03-02 at 14 36 48](https://cloud.githubusercontent.com/assets/731743/13461837/5b94b34c-e084-11e5-881d-31505b026b82.png)

[2016-03-02 13:40] JustinDrake opened #917 "Different logos used in chat"
The @helpdesk changed logo from white to red. The individual chat messages still use the old white logo, while the new logo is use as the cover image. See screenshot for discrepancy.

![screen shot 2016-03-02 at 14 39 26](https://cloud.githubusercontent.com/assets/731743/13461896/b8d7ed4e-e084-11e5-8722-a6995bb18763.png)

[2016-03-02 14:01] jjeffryes commented on #917
This is a duplicate of #881

[2016-03-02 14:01] #917 closed, assigned to nobody

[2016-03-02 14:02] #889 closed, assigned to nobody

[2016-03-02 14:02] #888 closed, assigned to nobody

[2016-03-02 14:32] sabotrax opened #919 "Can't add Bitcoin address"
Brief Description:  Can't save Bitcoin address under settings -> general.

Operating System (OS and version):  Windows 7 Pro 74 bit
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware: PC

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Go to "Settings"
2. Under "General" enter a valid Bitcoin address
3. Clic

[2016-03-02 15:01] jjeffryes opened #920 "Add Local Read of Username/Password to Reset Defaults"
If a user has a local server, when they reset to the local default settings in the server config modal if possible read the username and password from the config file and populate them in the modal.

[2016-03-02 15:09] jjeffryes opened #921 "Check validity of get_order data to show error in object/object failures"
Check the return data from get_order and show a better error when an html error is returned.

[2016-03-02 15:20] jjeffryes opened #922 "Default Listing Image is Blank"
When listing images 404, the default listing image is just a transparent pixel, which leaves a blank space in the image listing.

We should change that to either a solid color, or an image similar to the default user.

Optional: also put in a offline image like we do for user avatars.

![image](https://cloud.githubusercontent.com/assets/1584275/13464727/82f25760-e060-11e5-9476-cb18dd8d71cb.png)

[2016-03-02 15:23] hoffmabc opened #923 "Blocked User Warning is off-center with chat open"
![image](https://cloud.githubusercontent.com/assets/45482/13464798/c1d1f684-e060-11e5-96fd-c3e9816d5c7f.png)

[2016-03-02 16:15] #906 closed, assigned to nobody

[2016-03-02 16:28] #810 closed, assigned to nobody

[2016-03-02 16:30] jjeffryes commented on #919
@sabotrax did you use a testnet address when you tried this?

We are currently on the testnet, and only testnet bitcoin addresses are usable.

[2016-03-02 16:31] jjeffryes commented on #911
The Spanish translation, along with most of our other translations, is not complete, and is missing some content.

We are actively seeking volunteers to complete our existing translation files, or create new ones.

[2016-03-02 16:31] #911 closed, assigned to nobody

[2016-03-02 17:22] cpacia opened #926 "Some messages displayed in wrong order."
I think what happened is I shutdown in the middle of a conversation causing the other person's messages to hit the DHT. But I started back up before they were fully saved so it didn't download them from the DHT until an hour later when it made the next attempt to fetch messages from the DHT.

When that happened the messages got pushed to the UI, which displayed them out of order relative to the ti

[2016-03-02 17:29] rmisio commented on #920
On multiple levels what you are proposing sounds scary!

The config file is a server file and controlled by the server. The client would need to know the path and if the server adjusts the path, the client would need to know about it. What if the server decides to make the path a configurable option?

Furthermore, we would need to parse a file the server controls and can change at any time. If the

[2016-03-02 17:40] rmisio commented on #910
Off the top of my head, one area where we could do some pruning is for the default theme images. They are 1900 px wide and consequently some of them are close to 2MB, and there's 6 of them in total.

@morebrownies @jjeffryes Do they need to be that large?

[2016-03-02 17:43] rmisio commented on #916
This is an OS security feature that, by default, is turned on on OSX. It's not anything for us to handle. If you google the warning, you can find ways to by-pass it, be it on a one-off basis or globally.

[2016-03-02 17:47] JustinDrake commented on #916
[code]

What about signing the app?

[2016-03-02 17:47] hoffmabc commented on #916
I will verify the signature and update if necessary.

[2016-03-02 17:50] rmisio commented on #916
ah, @JustinDrake . Wasn't even aware of that. Good to know!

[2016-03-02 17:58] hoffmabc commented on #916
Hey @JustinDrake which OSX are you using btw?

[2016-03-02 17:58] JustinDrake commented on #916
@hoffmabc Version 10.10.5 (14F1605)

[2016-03-02 17:59] hoffmabc commented on #916
I used an Apple cert and it seems it's getting a non-trusted issuer error so I'll see what's up.

[2016-03-02 18:04] jjeffryes commented on #920
The client controls the server, so it already knows the path, it's in main.js.

@cpacia will have to answer about the config file.

The goal is to have a way to rescue the user if they are using a local server, and the username and password gets set but the client doesn't have it.

Right now the only way to repair that is to delete the database and start again, which isn't ideal.

[2016-03-02 18:06] jjeffryes commented on #926
Refresh the client and check this conversation again. If it's using the REST call, they should be in order.

If it's using a combination of the REST and the websockets, then it might get out of order.

If you still see it like this after a refresh, there may be an issue with how we're sorting the timestamps.

[2016-03-02 18:13] hoffmabc opened #928 "Filter Clears on Transactions After Completing an Order"
Brief Description: If I have filtered purchases by Confirmed/Shipped and then complete an order, when i close the modal it shows all Purchases instead of the filtered list but the dropdown stays the same.

Operating System (OS and version): OSX 10.11
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't

[2016-03-02 18:14] morebrownies opened #929 "I'm on a new IP and my client no longer connects to my server (it stays stuck on the loading screen with no way to change my server settings)"
![Uploading Screen Shot 2016-03-02 at 12.12.05 PM.png…]()

[2016-03-02 18:14] hoffmabc commented on #929
ooh that's a good screenshot

[2016-03-02 18:23] rmisio commented on #920
~~That's the path where the server lives and is started, not where the config file lives. We'd need some type of API or some way of the client knowing that path. Alternatively, maybe the server can make that path configurable as a command line option, so then the client can provide that path.~~

But, in general parsing the server config file sounds really hacky.

I totally agree the problem we're

[2016-03-02 18:31] bdunbar commented on #920
I should experiment with this first but .. if you edit user/pass values in ob.cfg and restart does it not update the database with the new values?

[2016-03-02 18:34] rmisio commented on #920
We're talking about a scenario with a user using the desktop app who will never touch (or even know about) the .cfg file.

[2016-03-02 18:54] bdunbar commented on #920
Sure.
1. That is the way it works?
2. If they find themselves locked out, a work instruction stating 'do this, do that, restart' would be sufficient, while someone codes a workaround, no?

[2016-03-02 19:42] jjeffryes commented on #929
What do you mean by new IP? Is your server local, or remote?

[2016-03-02 19:43] jjeffryes commented on #910
I believe they only need to be 950 x 400.

[2016-03-02 20:21] Avery3R commented on #456
Shows up as seller in dispute resolution, http://i.imgur.com/pkgoiKa.png

[2016-03-02 20:30] Avery3R opened #932 "Moderator cannot see dispute resolution."
Brief Description: After closing a dispute a moderator can not see the message they sent with the dispute resolution.

Operating System (OS and version): Windows Server 2012 R2 Build 9600
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware: Dell R320

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Purchase a

[2016-03-02 20:49] pryds opened #933 "Enum CountryCode has no value defined for name GREENLAND"
Brief Description: During creation of a listing, when selecting Greenland as shipping destination, the following error is given: "Enum CountryCode has no value defined for name GREENLAND"

Operating System (OS and version): Ubuntu 14.04
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Al

[2016-03-02 20:50] rmisio commented on #920
@bdunbar

1.) Yes, by default the credentials are commented out in the cfg file. If you don't uncomment them and set them there (which a binary user won't), the server will generate them for you.

2.) It probably wouldn't be sufficient, because the only work-around at this moment if you are locked out is to delete your DB and re-start the server (or entire app if you are using the binary). That's

[2016-03-02 21:08] bdunbar commented on #920
Thanks for patiently explaining the issue, @rmisio .

[2016-03-02 22:08] jjeffryes commented on #933
Thank you for reporting this, @pryds, we've fixed this in master, it'll be in the next release.

[2016-03-02 22:08] #933 closed, assigned to nobody

[2016-03-02 22:45] JustinDrake commented on #916
@rmisio Are you working on an OpenBazaar project? When did you get involved with OB?

[2016-03-02 22:51] rmisio commented on #916
Are you questioning my authority!?

Just Kidding :) I started back in January and I work mainly on the client.

[2016-03-02 22:53] brookemallers opened #934 "Payment released, Order Details screen still says "Completed (Payment released) - In Escrow""
Brief Description:
Transaction completed. Payment was released and appears on testnet blockchain. But when I click on the listing's "Order Details" a popup screen appears that says "Completed (Payment released) - in Escrow"  (but it's no longer in escrow).

Operating System (OS and version): OSX 10.11.3
OpenBazaar version (shown on `About OpenBazaar` page in menu): Testnet
Hardware:

Reproducible

[2016-03-02 22:53] JustinDrake commented on #916
@rmisio Cool. Are you paid by OB1? Volunteer?

[2016-03-02 22:56] rmisio commented on #916
I am paid.

[2016-03-02 23:59] seandotau opened #936 "OSX install of 1.0.6.dmg hangs with Javascript Uncaught Exception"
Brief Description: Tried to install OpenBazaar-1.0.6.dmg. Hangs at the personal keys and OpenBazaar screen.

Operating System (OS and version): OSX 10.11.2
OpenBazaar version (shown on `About OpenBazaar` page in menu): OpenBazaar-1.0.6.dmg
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):

Steps to reproduce:
1. Double click on OpenBazaar-1.0.6.dmg
2.
3.

[2016-03-03 00:37] ghost opened #938 ""Licensing" and "Support" links open invalid URLs"
Brief Description: Clicking the "Licensing" or "Support" links in the "About OpenBazaar" panel opens Chrome to the url "http://undefined/"

Operating System (OS and version): OSX 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware: Macbook pro

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Open the "Abou

[2016-03-03 00:51] rssalerno opened #939 "Single sale appears as multiple orders from different buyers"
Brief Description:

Operating System (OS and version): Buyer: Windows 10  Seller: OSX 10.10.5
OpenBazaar version (shown on `About OpenBazaar` page in menu): Version 1.0.6
Hardware: Buyer: ASUS VivoBook   Seller: iMac Retina 5K

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Did not attempt.

Steps to reproduce:
1.
2.
3.

Observed Behavior:
After a single purchase

[2016-03-03 01:14] jjeffryes commented on #939
Are you certain this isn't 6 different orders from different people? They all happened at different times, and appear to be from different users.

There is no limit to the number of times an item can be purchased, or the number of people that can purchase it.

[2016-03-03 01:21] jjeffryes commented on #912
This might create confusion, as the value of currencies changes relative to each other. If you price something at USD 0.99, the price that translates to in Australian dollars will be different tomorrow than it is today.

[2016-03-03 01:24] jjeffryes commented on #909
Most of our translations are currently incomplete, they were originally created by volunteers, not all of whom have continued to add new phrases as the amount of text in the app increased.

If you're interested in helping with translations, let us know, we'd love to have your help.

[2016-03-03 01:24] #909 closed, assigned to nobody

[2016-03-03 01:25] jjeffryes commented on #907
Did you also enter a signature?

[2016-03-03 03:14] nanomo opened #940 "Expected string or buffer"
Brief Description: After setting my Bitcoin wallet to recieve founds and setting the description for a pending item to be sold and i recieve the message "expected string or buffer" after a few tries the plataform accepts the pending sale.

Windows 7, updated.

[2016-03-03 07:20] ac225519 opened #941 "Notify Buyer if Insufficient Funds are Sent"
If one pays (accidentally, inexperienced with BTC) the "labeled" BTC price instead of the ​exact​ amount in the "pay" dialogue, the payment get complete ignored by OpenBazaar.

Operating System (OS and version): All
OpenBazaar version: 1.0.6 git ID:5dbca08 downloaded 2016-Mar-02 02:27:02 U
Hardware: All

Reproducible: Always

Steps to reproduce:
1.  Click on "BUY NOW" on a item.
2.  Transfer the *

[2016-03-03 07:25] ghost commented on #909
If a phrase is not translated the original/english version should be used.

[2016-03-03 07:38] drwasho opened #942 "Rating descriptions need to be added"
In the original design we intended for the ratings page to have a 1 sentence description to add a standard context/meaning to each rating. It would be great if we could somehow add this during the testnet phase.

Reference: http://www.slideshare.net/drwasho/openbazaar-ratings-reviews-and-reputation (slides 31-39)

[2016-03-03 07:51] ac225519 commented on #942
![rate](https://cloud.githubusercontent.com/assets/16848241/13487803/9c44ee40-e181-11e5-9c22-e47cbd26509c.png)
This is what we have so far.
Huge help: http://image.slidesharecdn.com/ratingsreviewsandreputationv5-150709113059-lva1-app6892/95/openbazaar-ratings-reviews-and-reputation-33-638.jpg?cb=1442809187

[2016-03-03 08:13] ac225519 opened #943 "Shop item location get derived from Settings:Addresses. Not edible."
Brief Description: The location of a shop item get derived from Settings:Addresses not Settings:General and is not edible.

Operating System (OS and version): Linux LMDE2
OpenBazaar version: 1.0.6 git ID:5dbca08 downloaded 2016-Mar-02 02:27:02 UTC
Hardware: Intel

Reproducible: Always

Steps to reproduce:
1. Change your Addresses country
2. Create a shop item

Observed Behaviour:
Shop item get the

[2016-03-03 08:28] Dekker3D commented on #912
You could add a checkbox, to set which currency the price will be based on. It could default to the last currency you actually used to set the price. I'm sure OpenBazaar already does this internally anyway, with the preferred currency.

As for the confusion: by default it would only use your one preferred currency, and hide the checkbox since it's not needed. A "show other currencies" button would

[2016-03-03 11:16] drwasho commented on #919
@sabotrax need to use a testnet address. Let me know if you need some testnet coins.

[2016-03-03 11:16] #919 closed, assigned to nobody

[2016-03-03 11:50] rssalerno commented on #939
It does indeed appear that multiple sales were made by different buyers.  I didn't realize this was possible.

[2016-03-03 11:50] #939 closed, assigned to nobody

[2016-03-03 12:55] rssalerno commented on #904
+1 Imperative IMO for sellers to be able to control avail qty of items for sale.

[2016-03-03 14:05] goodc0re commented on #907
No I did not, it was not obvious that it is required.

[2016-03-03 14:25] jjeffryes opened #944 "Show Network Errors in Status Bar"
Brief Description:

When bad profiles or listings fail, show something in the status bar so what happened is clear, instead of just kicking the client back to the last history state, so the user understands what just happened.

[2016-03-03 14:47] jjeffryes opened #945 "Add TestNet Warning to Bitcoin Address fields"
On all bitcoin fields, add warning that the address must be valid for testnet, until we switch to the mainnet.

[2016-03-03 14:52] jjeffryes commented on #903
This has been fixed on master, and will be included in release 1.0.7

[2016-03-03 14:52] #903 closed, assigned to jjeffryes

[2016-03-03 15:09] jjeffryes commented on #907
Just checking to make sure what the issue was. We'll add something to make it more obvious, and to throw an error if you enter one without the other.

[2016-03-03 15:20] cystic opened #946 "Accept Dispute Payout - Data could not be saved. P2SH inner scriptPubKey returned false"
Brief Description: When attempting to Accept Dispute Payout, it give the error: Data could not be saved. P2SH inner scriptPubKey returned false

Operating System (OS and version): Windows 8
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
This is the first time I have gotten the error, b

[2016-03-03 16:27] jjeffryes commented on #946
@cpacia any thoughts on what that error means?

[2016-03-03 17:27] hoffmabc commented on #562
Is this closed because it's done?

[2016-03-03 17:32] jjeffryes commented on #940
@cpacia any thoughts on what this error message indicates? Possibly related to unexpected characters in the description?

[2016-03-03 17:39] jjeffryes commented on #939
This is an area we're working to make more clear.

[2016-03-03 17:43] morebrownies commented on #939
This is why we really need the buyer's avatar here to show some differentiation between orders. Otherwise they all look the same and it's difficult to know where you left off

[2016-03-03 18:08] rssalerno commented on #939
Please have a look at issue/enhancement request #904.  Need a way to specify available quantity of an item.  If only x of an item is available, and x has been bought, no further purchases should be accepted.

[2016-03-03 18:12] jjeffryes commented on #904
Inventory control is on our roadmap, and will be added in a future release.

[2016-03-03 18:12] #904 closed, assigned to nobody

[2016-03-03 19:18] pryds opened #948 "Questions regarding translation of OpenBazaar"
In translating OpenBazaar, I have come over some strings that I need more info about in order to make a better translation (I hope it is not too confusing that I copy/paste from the strings that I have already (partially) translated):

Is this a verb or a noun, i.e. as in "a change" or "to change"?

What's the context of this?

What's the context of this? Also, is "handle" a verb or a noun here, i

[2016-03-03 19:42] jjeffryes commented on #948
Thank you for asking for clarification, and for stepping in to help with a translation.

Change: a verb, to change something. This is used on buttons.

Enter: this is used on a button in a tooltip asking if users want to look at the Discover section. In this context it means "Go inside" or "Go to this place"

HandleResolver: This is related to the Handle phrase. A Handle is a unique name that star

[2016-03-03 19:42] #948 closed, assigned to nobody

[2016-03-03 20:35] Nogreedy opened #953 "Add an automatic installation for RPi2 (Raspberry Pi) with Raspbian, please"
Add an automatic installation for RPi (Linux raspberry Pi2-ARMv7) with Raspbian, please.
Is it possible to use Linux .deb automatic installation?

[2016-03-03 20:58] Nogreedy commented on #953
Sorry for the mistake... it concerns OpenBazaar-Server...

[2016-03-03 21:07] pryds commented on #948
@jjeffryes Thank you for the clarification. I found out that my initial translations were wrong at several places because I assumed context wrongly. Is there a way to show context descriptions like the ones you give above to translators by default?

[2016-03-03 21:09] trashMeNow opened #954 "Best image fitting / aspect ratio"
Brief Description: when insert image not squared, this is displayed with a not "perfect" aspect ratio

Operating System (OS and version): windows 7 64bit SP1
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware: intel i7

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):

Steps to reproduce:
1. insert image on auction

Observed Behavior:it is cutte

[2016-03-03 21:25] jjeffryes commented on #948
@pryds we could put in comments on every value in the language file explaining what it means, though that might take a while. It's a good best practice going forward.

[2016-03-03 21:30] jjeffryes commented on #953
@Nogreedy can you re-submit this in the installer repo?

[2016-03-03 21:30] #953 closed, assigned to nobody

[2016-03-03 21:34] jjeffryes commented on #954
The current code centers the image and cuts off the overlap, since there's no automatic way to tell what the "best" place to crop an image is. For any given image, the important parts could be anywhere.

Our roadmap includes adding a more advanced image editor, with user controlled cropping and other tools. That will be included eventually in a future release.

[2016-03-03 21:34] #954 closed, assigned to nobody

[2016-03-03 22:30] #907 closed, assigned to nobody

[2016-03-03 22:30] #915 closed, assigned to nobody

[2016-03-03 22:37] rmisio commented on #929
@morebrownies If you are trying to connect to a remote server, there is a known issue where you need to start the client _after_ guid generation is complete.

I just created a server ticket for this. For security reasons, the server was updated to stop sending certain information to the client during guid gen on remote servers. However, the way it's done, the client really has no idea what's going

[2016-03-03 22:43] jjeffryes commented on #943
I've tested this, and on my own system the shipping_origin of a listing is always taken from the value in Settings/General/Country.

Is that what you're describing?

[2016-03-03 23:44] drwasho opened #959 "Change the 'Saved' modal"
If something is changed in the 'Saved' modal we see this:

![image](https://cloud.githubusercontent.com/assets/3887694/13513559/7c7404cc-e1ed-11e5-952b-8843ba7a1ed4.png)

It's kind of annoying that I need to manually close the modal every time. Instead, could we have something like this popup at the bottom of the window for 3 seconds and then fade out?

![image](https://cloud.githubusercontent.com

[2016-03-04 01:23] rmisio commented on #367
@drwasho Are you sure you were going into fullscreen mode on Windows or just in a maximized window state? They are two different things, with the former being "chrome-less" (i.e. minimize, maximize and close buttons disappear... at least on OSX). (Please pardon me if you totally knew that :)

Anyhow, I've got a PR in for this issue:
https://github.com/OpenBazaar/OpenBazaar-Client/pull/960

[2016-03-04 01:32] drwasho commented on #367
Oh right, I was referring to maximised. No I can't go F11 full screen.

[2016-03-04 01:47] TheButterZone commented on #945
Concur.

[2016-03-04 01:47] TheButterZone commented on #959
Concur.

[2016-03-04 02:22] M45t3rJC opened #961 "PGP/GnuPG Key not saving"
Brief Description: When saving after adding GnuPG key and signature an error occurs..
Data could not be saved.
GnuPG is not installed!

Operating System (OSX 10.10.5):
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware:

Reproducible (Always):

Steps to reproduce:
1. add GnuPG key and signature
2. click save changes
3.

Observed Behavior:
doesn't save data

Expected Behavior:

[2016-03-04 02:23] RedPillTalk opened #962 "Ability to Sell Legal Documents"
Hello Tech Team,
I work independently in teaching others about their Political Status, and have developed very important documents that I sell as a result of my 40 years of studying. I was wondering if OpenBazaar can have the ability to host securely these documents on their server. I need to have complete control over who gets to buy these documents, because education is strongly needed before th

[2016-03-04 02:59] jjeffryes commented on #961
Thank you for reporting this issue, @M45t3rJC. This is a known server issue, we will be adding a PGP library to our installation package in a future release.

[2016-03-04 02:59] #961 closed, assigned to nobody

[2016-03-04 07:11] drwasho commented on #502
Combining this with #351

[2016-03-04 07:11] #502 closed, assigned to nobody

[2016-03-04 07:39] drwasho opened #963 "Show number of nodes in the network"
We can estimate this data from the seed server, and it's a nice non-essential feature that makes the user feel they're part of  something big. Not sure what technical requirements are necessary for that.

[2016-03-04 07:43] drwasho commented on #921
Have you done this @jjeffryes , I can't remember based off the last couple of commits.

[2016-03-04 07:44] drwasho commented on #926
This got fixed AFAIK.

[2016-03-04 07:44] #926 closed, assigned to nobody

[2016-03-04 07:47] drwasho opened #964 "Discussion Tab notifications for messages"
Right now, any messages sent between parties in the Discussion Tab don't trigger a notification, leading to a poorer UX.

[2016-03-04 07:48] drwasho opened #965 "[Tracker] v1 Mainnet Release Requirements"
These are the following issues, group according to categories, that need to be resolved before we can make officially launch v1 on the mainnet.

---
### Priority Ranking

:star: :star: :star: **High priority**
- _Primary issues to commit and test asap_
- Mainnet release will not occur without these issues resolved

:star: :star: **Medium priority**
- _Secondary issues to fix and test_
- Mainnet re

[2016-03-04 07:50] drwasho commented on #771
@cpacia was this fixed with your recent commits? Can we close this?

[2016-03-04 07:58] drwasho opened #966 "Auto update listings to include a newly added moderator"
When the user selects another moderator to add in the settings, any of their existing listings don't have that new moderator included in the contract. What the user has to do is edit the contract in order for the new moderators to be added. The more contracts they have, the worse this UX problem is.

Ideally when new moderators are selected in Settings, all of the listings should auto updated to i

[2016-03-04 07:59] ac225519 commented on #962
Red are you from Nigeria ?

[2016-03-04 14:04] jjeffryes commented on #963
Adding an issue on the server for this.

[2016-03-04 14:40] jjeffryes opened #967 "Close button for Modal isn't visible for some themes"
In the screenshot, the theme sets text to #545454, which blends into the overlay grey color. This makes the close icon for the modal blend into the background.

![image](https://cloud.githubusercontent.com/assets/1584275/13529708/893f0992-e1eb-11e5-8b7a-03c7fabf84b7.png)

[2016-03-04 15:28] #921 closed, assigned to jjeffryes

[2016-03-04 17:33] rmisio commented on #342
@drwasho @jjeffryes Doing this via localstorage is, at best, a band-aid solution. I've created a server side issue for this (which we could prioritize appropriately), which would allow us to implement a much more robust solution.

https://github.com/OpenBazaar/OpenBazaar-Server/issues/265

[2016-03-04 17:38] rmisio opened #971 "Add a "Clear conversation" function to chat."
Breaking this out of another issue, since that issue deals with something slightly different.
https://github.com/OpenBazaar/OpenBazaar-Client/issues/342

Also, an API is already in place for this, so we could do this one when we get to it.

Anyhow, the idea is to add a "Clear conversation" line item to the Chat conversation sub-menu which would delete all the messages from a conversation:
![image]

[2016-03-04 17:39] jjeffryes commented on #342
There's actually a new api for deleting conversations we can use now.

[2016-03-04 17:40] rmisio commented on #342
@morebrownies I've broken out the "Clear conversation" function into a separate issue, since that is a different thing than removing a conversation from the side bar.
https://github.com/OpenBazaar/OpenBazaar-Client/issues/971

[2016-03-04 17:40] JustVic commented on #945
What bitcoin addresses is valid for test net?

[2016-03-04 17:41] rmisio commented on #342
@jjeffryes No, that is something different. That allows us to delete all the messages from a conversation. Removing a conversation from the sidebar would just remove the convo (and the chat head) from the UI, but upon the next message it would come back and the message history would be in tact. That's how most of the chat apps I've used work.

[2016-03-04 17:43] jjeffryes commented on #342
@cpacia does the delete conversation api keep the old messages, or does it completely remove them?

[2016-03-04 18:01] rmisio commented on #971
@morebrownies FWIW, are we sure we want this functionality? If the user clears their conversation, they will never be able to recover that history.

[2016-03-04 18:37] rmisio commented on #926
@jjeffryes @drwasho This is a legitimate not-yet-solved bug. It's very much an edge case though. The client code assumes that a message coming in via the web socket is the most recent and just adds it to the bottom of the list. If there's a case as Chris describes, where the server could crash and then the socket messages could be delayed (up to an hour), while I presume new ones are coming throug

[2016-03-04 18:39] rmisio commented on #926
@jjeffryes Ok, I misread your comment. You did seem to grasp the situation and I guess it's not soooo huge of a deal, because it's such an edge case.

[2016-03-04 18:39] jjeffryes commented on #926
Np

[2016-03-04 18:59] #920 closed, assigned to nobody

[2016-03-04 18:59] #923 closed, assigned to nobody

[2016-03-04 19:22] morebrownies commented on #971
Yeah that is the entire point of the feature @rmisio :)

We've had a lot of people ask for this

[2016-03-04 20:51] pryds opened #975 "One BTC amount field not updated when adjusting item amount"
Brief Description: In the ordering process, in the "Order details" window, if you click item amount up and down, not all fund amounts are updated. The same thing happens for the shipping amount. Local currency amount is updated, BTC amount is not.

![openbazaar-amounts](https://cloud.githubusercontent.com/assets/4420584/13539744/863955f6-e252-11e5-9958-55bf9246c97b.png)

Operating System (OS and v

[2016-03-04 22:14] jjeffryes commented on #945
@JustVic any address from a testnet wallet. CoPay is one that's easy to set up for the testnet.

[2016-03-04 22:43] RedPillTalk commented on #962
United States

[2016-03-04 23:07] hoffmabc commented on #962
I'm gonna drop this issue as its out of scope for the product.

[2016-03-04 23:07] #962 closed, assigned to nobody

[2016-03-04 23:19] ac225519 commented on #971
+1

[2016-03-05 01:02] rmisio commented on #944
This is kind of done. On network errors (bad profiles, bad handles, etc...), the user won't just be kicked back to the previous page. A modal will show up with a message indicating the problem first, and then the user is kicked back.

If we want, we can put these errors in the status bar. But, is this really what we want? @morebrownies
You may want to wait until https://github.com/OpenBazaar/OpenB

[2016-03-05 06:53] pryds opened #979 "Seemingly mandatory order comment is suggested as optional"
Brief Description: When as a seller you are confirming an order, in the screen where you also paste your Bitcoin-address, the placeholder text for the comment field suggests that a comment is optional, though the field seems to be mandatory, really.

OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce)

[2016-03-05 07:08] pryds opened #980 "No newlines in listing description"
Brief Description: It is not possible to add a newline in the description of a listing. Since it is possible to format text as e.g. h2 and h3 headlines, it doesn't make sense that you cannot also have text that's not formatted a headline.

Operating System (OS and version): Ubuntu 14.04 LTS
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6

Reproducible (Always / Almost Always /

[2016-03-05 07:28] pryds commented on #908
Low priority, agreed, but if something is done, I would think having native buttons would be the best option, since opinions differ, end everyone probably wants what they are used to. These coloured buttons without any symbols on them, until you hover the mouse over them, look like Mac inspired ones, and they are totally strange to me, and I'll never remember which colour does what (let alone tell

[2016-03-05 07:57] pryds opened #981 "A long description text clutters layout"
Brief Description: In creating a listing, if you add a long description text, the layout is rendered too wide and becomes close to unusable.

Operating System (OS and version): Ubuntu 14.04 LTS
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Add a new listing.
2. Ty

[2016-03-05 08:16] pryds commented on #981
It seems that the reason was very long "words", i.e. many characters between spaces. Changing the random characters into a long Lorem Ipsum text solved the problem. This might still be a problem for users who want to include long URL's or similar in their descriptions, though.

[2016-03-05 08:37] pryds opened #982 "Many shipping destinations clutter layout for buyer"
Brief Description: When buying a listing that ships to many locations, the window that shows these locations is formatted in a way that not all locations can be seen.

Operating System (OS and version): Ubuntu 14.04 LTS
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.6

Steps to reproduce:
1. Create a listing with many shipping destinations, or find one in the market.
2. Start t

[2016-03-05 11:18] Dekker3D opened #983 "Exception on undoing too much in text field."
Brief Description: When you press ctrl-z to undo, in a text field, while there's nothing to undo, you get an exception. It doesn't seem to break anything, but it should probably be fixed at some point.

Operating System (OS and version): Windows 7
OpenBazaar version: 1.0.7

Reproducible: Always

Steps to reproduce:
1. Click any text field
2. Press ctrl-z (or whatever undo is on your system) until

[2016-03-05 16:02] #928 closed, assigned to jjeffryes

[2016-03-05 16:02] #945 closed, assigned to jjeffryes

[2016-03-05 16:02] #975 closed, assigned to jjeffryes

[2016-03-05 17:59] JustinDrake opened #986 "Tags for stores"
This is a feature request. At the moment tags are for listings. I think having store tags would be useful for store search.

[2016-03-05 20:19] bangers89 opened #989 "Can't edit a previously saved service fee in Settings > Moderator"
Brief Description: Can't edit a previously saved service fee in  Settings > Moderator

Operating System (OS and version): OSX Yosemite v 10.10.4
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.7
Hardware: MacBook Pro (Retina, 13-inch, Late 2013)

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Go to Settings > Moder

[2016-03-05 23:29] drwasho commented on #840
Server link https://github.com/OpenBazaar/OpenBazaar-Server/issues/270

[2016-03-06 00:11] jonathancross commented on #473
FYI: Blockchain ID was moved to #303 and #715.

[2016-03-06 00:20] vassilichacal opened #990 "I can buy my own product"
Brief Description: You can buy your own products

Operating System (OS and version): Debian 64bits
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):

Steps to reproduce:
1.
2.
3.

Observed Behavior:

Expected Behavior: Buying button shouldn't be even visible if you are at your own store

Additi

[2016-03-06 01:42] ghost opened #993 "Languages spoken by user are not shown"
There should be an option to see what languages are spoken by user/store's owner.

Support "additional languages spoken" would also be a nice feature.

[2016-03-06 01:53] ac225519 commented on #993
+1

[2016-03-06 04:45] DonGateley opened #994 "Back Button Behavior"
Brief Description: Back Buttton always goes back to top of page

Operating System (OS and version): Windows 7

OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.7

Hardware: Lenovo Y570 Laptop

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. From any page scroll down a few screens full and select something
2. From the

[2016-03-06 16:42] hoffmabc opened #995 "Code Length Overflow for QR"
Brief Description: I tried to purchase this item (ob://9a791e0e2e4936754b103a6cc3cf22e77c8e507b/listing/913f8d10a9213102a5d1e730b3febff4cdc97486) and got a blank QR code.

Operating System (OS and version): OSX 10.11
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.7
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to repro

[2016-03-06 16:44] hoffmabc commented on #990
I was not able to get to a payment QR though just as a caveat @jjeffryes most likely because of networking trying to connect to myself.

[2016-03-06 16:46] hoffmabc commented on #989
There is something wrong with setting the value to 0%. This might be a server side thing @cpacia .

[2016-03-06 16:47] hoffmabc commented on #989
Other values seem to work properly.

[2016-03-06 16:47] hoffmabc commented on #989
Actually @bangers89 you can set it properly from your User Page Moderator Settinsg to get around this for now.

[2016-03-06 16:54] PolyDeveloper opened #996 "Last item listed should be shown first (enhancement)"
Brief Description:
A proposal to improve sorting of items allowing to show the last item you list as the first one on your store page. That way store always looks fresh with renewed items.
Additionally, it would be great to have extra sorting features, such as: Featured or Top Seller items.
Operating System (OS and version): All

[2016-03-06 17:22] morebrownies commented on #990
I agree that you shouldn't be able to purchase your own items. However, I do think that vendors should be able to see their checkout flow on their own store. By being able to see it they may realize their colors choices don't render well in the modal and can also review the moderators that are servicing their store. So basically I think what we have now works well.

[2016-03-06 20:20] AdamISZ opened #999 "Unreadable text in Order after dispute"
Brief Description:
Text shows up with a black/very dark gray background (my theme has a white overall background) in the chat for a disputed order, for text written by the moderator, in the message which contains "DISPUTE CLOSED". See imgur link at bottom

Operating System (OS and version): Ubuntu 14.10

OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.0.7
Hardware: n/a

Reproducib

[2016-03-07 00:23] seandotau commented on #936
Upgraded to 1.0.7 and tried again with success.

[2016-03-07 00:23] #936 closed, assigned to nobody

[2016-03-07 01:28] jjeffryes commented on #989
This appears to be a server issue. It's being sent to the API, but the original value is returned regardless of where you save it.

I'll file a server issue.

[2016-03-07 14:31] morebrownies commented on #986
These actually already exist, you enter them when you first "Become a store". We need to also add them in Settings > Store.

[2016-03-07 14:33] JustinDrake commented on #986
@morebrownies: Cheers!

[2016-03-07 14:37] jjeffryes commented on #986
It should be noted that you can enter tags for a store, but they currently don't do anything, as search for stores doesn't exist yet.

[2016-03-07 16:25] morebrownies commented on #999
I'll fix this one. I need to spend some time cleaning up the dispute experience.

[2016-03-07 16:26] morebrownies commented on #996
+1

[2016-03-07 16:37] morebrownies commented on #982
Outputting a list of all the available countries does not feel like the best experience here. It's basically leaving the work on the user to dig through that giant list and figure out if they can have the item shipped to their country or not.

Ideally, as a user, I'd like to know before the checkout experience if an item can be shipped to me or not. I'd suggest we remove the list in the modal and

[2016-03-07 16:38] morebrownies commented on #981
Good catch. It seems like we need to force word warp in the Description field.

[2016-03-07 16:44] morebrownies commented on #993
This seems helpful. I'd suggest we add it to the about page below the OpenBazaar ID

Speaks:
English

<img width="490" alt="screenshot 2016-03-07 10 39 32" src="https://cloud.githubusercontent.com/assets/13066886/13575969/f743a684-e450-11e5-9076-bacfe59cd5ad.png">

[2016-03-07 17:28] morebrownies commented on #944
The save settings experience is so minimal that it becomes easy to miss. When I hit save in my client, it takes about 20 seconds to complete the request and there isn't a loading indicator on the save button (when the request is processing).

As far as displaying error messages into the status bar goes, I think that may be a bit aggressive to present that amount of information in such a tight spac

[2016-03-07 17:38] SamPatt opened #1001 "Improving Moderator Selection"
Currently moderator selection - both for vendor and buyer - takes place by selecting moderators from a list.

Unfortunately there is no other information presented about the moderator but the name and avatar. Clicking on the list selects them instead of taking you to their page. The current design creates an incentive for the user to select a moderator more or less at random, or to forego the mode

[2016-03-07 17:40] #456 closed, assigned to nobody

[2016-03-07 17:45] rmisio commented on #944
ok.. the save settings behavior was updated based on a suggestion initiated by @drwasho :
https://github.com/OpenBazaar/OpenBazaar-Client/issues/959

I'm not sure what we want here... Should I leave the status bar message and add in a loading spinner on the button? Should I revert back to the modal error message (although that didn't include the loading spinner either)? Should I revert back to the

[2016-03-07 18:02] morebrownies commented on #942
We should display the description on hover of a star. So for example, If I'm hovering 5 star rating for Quality, it should display "I was very happy with the quality...".

@drwasho can we try to shorten the descriptions? People aren't going to spend the time reading a block of text that long for each and every star. For example, something like "I was very happy with the quality of the item/content

[2016-03-07 18:04] morebrownies commented on #944
For now, I'd say we definitely need a spinner on the save button(s). I'm also going to play around with the styling of the status bar to see if I can make it a bit more prominent when it displays.

Error messages I still think we're going to need to do something that is much more in your face and doesn't auto dismiss. Still trying to find the screenshot I was referencing, hold tight...

[2016-03-07 18:22] morebrownies commented on #944
Here's the design for a failed connection I put together a while back. Currently, when you try to connect to an offline store there are a few UX problems that arise.

1) I can't stop the request once it has started. If it's hanging for a while, I'm stuck looking at a spinner. Ideally, the user would have a way to Stop/Cancel the request and immediately return back to where they were.
![openbazaar-

[2016-03-07 18:24] morebrownies commented on #1001
I can put together better designs for this experience, but I'll need to know from @cpacia what kind of data I'll have access to. Otherwise I'll be guessing or making assumptions that may not be feasible.

[2016-03-07 18:46] morebrownies commented on #910
We need the higher resolution images for retina screens. We could maybe compress them a bit more, but the savings would likely only be a mb or two.

[2016-03-07 18:46] #910 closed, assigned to nobody

[2016-03-07 18:50] hoffmabc commented on #910
I think this is not a huge issue personally. Our application is really not that huge in relation to other apps of this caliber.

[2016-03-07 19:34] SamPatt opened #1002 "Moderators Need Option to Refuse Moderation"
If a moderator is selected for a transaction that is illegal or they don't want to moderate for other reasons, a moderator needs the ability to formally reject the transaction.

This likely means that vendors and buyers also need the ability to switch moderators; I'll open another issue for that.

[2016-03-07 19:37] morebrownies commented on #1002
At a higher level, a moderator should have the ability to accept/decline new vendor(s) before they're included on transactions.

[2016-03-07 19:38] SamPatt opened #1003 "Vendor and Buyer Need ability to Switch Moderators"
If a moderator is unresponsive, or if a moderator refuses to moderate per #1002 then the buyer and vendor need the ability to agree upon a new moderator. This would create a 2-of-3 transaction and send to a new 2-of-3 address and automatically open a new dispute.

Pinging @cpacia since this would require a lot of server work as well.

[2016-03-07 19:47] #934 closed, assigned to jjeffryes

[2016-03-07 20:05] #964 closed, assigned to jjeffryes

[2016-03-07 20:18] jjeffryes commented on #999
I believe this was fixed after 1.0.7. It currently shows the correct color in master.

![image](https://cloud.githubusercontent.com/assets/1584275/13582023/cb5b28e0-e477-11e5-86b2-d99f2ca133fc.png)

[2016-03-07 20:18] #999 closed, assigned to morebrownies

[2016-03-07 20:33] AdamISZ commented on #999
The scenario was in the 'END DISPUTE' message, not 'START DISPUTE'. Not sure if that matters.