[2016-04-21 18:21] jjeffryes commented on #1406
Ridiculous answer: the theme module was setting the placeholder text to be white on a white background.

[2016-04-21 18:24] jjeffryes commented on #1406
Fixed in 842209581becda2dae9820789c33d2b0eb0fce0a

[2016-04-21 18:24] #1406 closed, assigned to nobody

[2016-04-21 20:17] gndgnd opened #1427 "Feature request: OpenBazaar-client proxy support"
Hi,

i would be interested to use the client together with a proxy. If the server is not on the same machine and is remote, OpenBazaar client should have an option to configure a proxy server.

This is useful for several situation:
**1.** Increased server security: if the proxy server has a fixed IP, only that IP can be allowed to connect to OpenBazaar server, whereas the client might roam around

[2016-04-21 21:41] jjeffryes commented on #1247
@More-decentral are you using the installer, or did you manually install the client?

This problem is caused by an outdated Python library on your Mac. Try the following steps:
- Open the terminal and type: xcode-select --install
- ruby -e "($curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
- brew update
- brew doctor
- brew install openssl
- brew install libffi
- bre

[2016-04-21 22:53] rmisio commented on #1335
This should be fixed, at least for the contracts endpoint. In the near future, the fix will be applied to all endpoint returning JSON to the client.

[2016-04-21 23:42] drwasho opened #1429 "Moderators Approve Vendors for Service"
## Overview

**Summary: Mods have a choice of restricting service to Vendors that they have approved.**

This is very important as mods are being added to listings they don't want to be associated with. There's a potential for legal misunderstanding, as well as the fact that some moderators do not want to be associated with certain listings. Plus we've had more serious potential mods avoid this ro

[2016-04-22 00:16] morebrownies commented on #1429
Adding to my queue.

[2016-04-22 00:17] morebrownies commented on #1415
The design should be all set on this, but I may have to spend a bit time touching it up after Rob finishes his work.

[2016-04-22 00:27] morebrownies commented on #1402
Yeah CMD + R is much more user friendly

[2016-04-22 07:52] mariodian commented on #1401
I'm working on this.

[2016-04-22 10:52] More-decentral commented on #1247
@jjeffryes,  I downloaded the client from the OB website directly.  How to use the installer?

I did update Python library on Mac.  Now no more "NaN BTC" on the listings.   Thank you.

[2016-04-22 13:42] jjeffryes commented on #1247
@More-decentral you should be able to double click on the installer after downloading it. But it sounds like you won't need to.

[2016-04-22 21:21] lunokhod opened #1433 "Moderator should be allowed to charge a fee that is lower than what was agreed upon"
In moderating my first dispute with a vendor, I wanted to do this for zero fee. When clicking on the button to close the dispute, however, I was only given the option to split the funds between the vendor and buyer: the moderator fee was already removed. In my opinion, the moderator should be able to charge a fee that is lower than what was agreed upon (but not higher).

Client: OSX commit 0303040

[2016-04-23 09:03] lunokhod opened #1435 "Moderator fee should included an (optional) minimum fee in addition to a percentage"
**Brief Description:**
In some cases, it will not be worth the time of a moderator to investigate disputes for items that have low prices: If an item costs 1$ and the moderator has a 1% fee, they will get 1 cent. The risk is that the moderator will not respond to disputes that fall below a certain amount.

**Solution:**
To resolve this, the moderator should be able to set a minimum moderator fee (

[2016-04-23 19:19] JustinDrake opened #1439 "Don't show 0 followers when loading the follower list"
See the screenshot for @openbazaar. Showing "0 followers" is wrong.

![screen shot 2016-04-23 at 20 17 46](https://cloud.githubusercontent.com/assets/731743/14763554/a24c6dcc-0990-11e6-9b4d-033272ff251c.png)

[2016-04-24 21:12] jonasbits commented on #1402
CMD + H to hide would also be nice ( CMD + M to minimize is working )

[2016-04-24 22:08] jonasbits commented on #706
me to

[2016-04-25 20:42] Kirvx opened #1441 "[UI] Menu problem in French"
Version 1.1.4

The long phrases breaks the shape of the menu:

![1](https://cloud.githubusercontent.com/assets/6627786/14798172/92523b2a-0b36-11e6-99f4-e17aa7d9ae7f.png)

And generates an overflow:

![2](https://cloud.githubusercontent.com/assets/6627786/14798210/c1f45ce6-0b36-11e6-8ff2-af4b75146fd7.png)

[2016-04-25 22:45] ghost opened #1442 "Invisible text on server settings"
OB 1.1.4 win 7 64bits

![adv server options](https://cloud.githubusercontent.com/assets/10789865/14801254/455e6036-0b1e-11e6-89b2-8ed96a4e6b11.png)

[2016-04-26 05:07] drwasho opened #1443 "Delayed load of listings"
**Overview**
Listings fail to load when navigating from Home to Discover under certain conditions. Tested on the latest version of the client and server; Windows 10.

**Steps to replicate**
- Select 'Personalised' in the Discover page
- Click 'My Page'
- Click the 'Discover' icon

Most times the page will hang, failing to load listings.

[2016-04-26 06:43] drwasho commented on #1415
## Requirements

- [ ] As a user, I need to add many server configurations (#1)
- [ ] As a user, I need to delete an existing server configuration (#2)
- [ ] As a user, I need to edit an existing server configuration (#3)
- [ ] As a user, I need to be alerted if/when a server fails to connect (#4)
- [ ] As a first time user, I should automatically connect to my local server (#5)
- [ ] As a user, I

[2016-04-26 06:49] drwasho opened #1444 "Show an indicator that items can be shipped to one of your addresses."
## Overview

A visual indicator on listings to determine whether the item can or can't ship to your location.
## Requirements
- [ ] Items in Discover and Store page have a marking that they can be shipped to the user's location (or not)
- [ ] The match can be with the country of any of the user's saved addresses
## Implementation

@morebrownies will need to pick out an icon/graphic to show on the

[2016-04-26 06:50] drwasho commented on #1028
We're going to approach this in a slightly different way: https://github.com/OpenBazaar/OpenBazaar-Client/issues/1444

Future versions (post-IPFS) and channels can allow for more sophisticated filtering.

[2016-04-26 06:50] #1028 closed, assigned to jjeffryes

[2016-04-26 06:58] drwasho opened #1445 "Apply Rob's json sanitization fix to get listings, get moderators, etc."
## Overview

Should harden the application against shenanigan use of the APIs.
## Requirements

@rmisio is already working on this
@jjeffryes to review

[2016-04-26 12:51] jjeffryes commented on #1445
Issue moved to [OpenBazaar/OpenBazaar-Server #374](https://github.com/OpenBazaar/OpenBazaar-Server/issues/374) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-04-26 12:51] #1445 closed, assigned to jjeffryes

[2016-04-26 12:51] jjeffryes commented on #1445
I moved this to the server repo, since this is a server only task.

[2016-04-26 18:08] jjeffryes commented on #1443
I can't replicate this on my Windows install. Has anyone else seen this issue?

[2016-04-26 19:49] morebrownies opened #1449 "UI issue: overlay background gradient blocks window management controls"
On this screen there isn't a way to close, minimize or maximize the window because the overlay background is covering them. We should ensure that these controls are always accessible throughout the experience.

<img width="1220" alt="screenshot 2016-04-26 12 47 53" src="https://cloud.githubusercontent.com/assets/13066886/14832097/5368d622-0bad-11e6-823e-e980763d025b.png">

[2016-04-26 19:52] morebrownies opened #1450 "UI issue: overlay background gradient is covering side chat panel when an order modal is open"
This is preventing users to multi-task between general chat and an order discussion.

![screenshot 2016-04-26 12 50 39](https://cloud.githubusercontent.com/assets/13066886/14832175/b2ffac5a-0bad-11e6-8b25-31754d3faaa5.png)

[2016-04-26 20:04] jjeffryes commented on #1449
That could be complicated, since we don't want the user to be trying to navigate to other parts of the app when the loading overlay is visible (it's only visible when in the middle of loading something).

Off the top of my head, we'd have to break those controls out into their own view and template, and build them separately from the pageNav view. Which could cause some other issues.

Or duplicate

[2016-04-26 20:08] morebrownies commented on #1449
Right. The big problem is users can't minimize their window (or close it) if they're not connected to a server, which is very annoying. I just ran into this myself and had the urge to start throwing objects :)

[2016-04-26 20:09] jjeffryes commented on #1449
Can't you still close it from the tray icon?

[2016-04-26 20:11] morebrownies commented on #1449
Yeah, you can, but it's bad practice to cover window controls in app. It's a big no no for native apps.

[2016-04-26 20:16] jjeffryes commented on #1449
I'm not disagreeing, I just wanted to make sure the close control wasn't missing in the tray on Macs.

[2016-04-26 20:46] dsmurrell commented on #1186
Well it failed after a restart so I assume my memory use was very low then.

[2016-04-26 22:16] jonasbits commented on #1247
@jjeffryes followed your instructions, and now NaN does not appear any more. Running OSX 10.10.5.
worked better when using /usr/bin/ruby - from http://brew.sh instructions

Is there a solution to this without require the user to open the Terminal?

[2016-04-26 22:32] jjeffryes commented on #1247
@jonasbits great to hear that worked.

For 99% of our users, the current installer does this for them and everything's fine. We haven't pinned down why some users have a conflict. Possibly it's from other software that uses the same OpenSSL library but uses a different version.

[2016-04-27 19:26] ghost opened #1452 "Blue buttons appear on transaction details loading screen"
- Operating System (OS and version): Ubuntu 14.04
- OpenBazaar version: 1.1.4
- Reproducible: Always
- Steps to reproduce: Click on transaction details
- Observed Behavior: Blue buttons appear on top of the loading screen
- Expected Behavior: [~~Those buttons must not appear~~](https://github.com/OpenBazaar/OpenBazaar-Client/issues/1452#issuecomment-215212884) The buttons should use current color

[2016-04-27 19:31] morebrownies commented on #1452
The buttons should use the theme color.

Also what does Load Index do? We've never used the term "Index" anywhere else in the app.

[2016-04-27 20:05] jjeffryes commented on #1452
This is not a bug, those buttons should appear. They are useful if you get stuck on the loading screen, which happens in rare cases, and requires restarting the app if you don't have these buttons.

The loadIndex button looks like it isn't loading a translated phrase. We can change it in the language file to "Go To Discover".

They should have the custom color classes added to them too.

On my TOD

[2016-04-27 20:10] ghost commented on #1452
:thumbsup:

[2016-04-27 20:46] morebrownies commented on #1452
Similar to #1449 we should not be blocking window controls or the main header. If this overlay didn't block the main header bar the standard Discover button would still be available and also the reload button. So maybe we can simplify this?

[2016-04-27 21:15] jjeffryes commented on #1452
That's a different reload button, it only resends the same address.

[2016-04-28 13:14] smokebox46and2 commented on #1247
Even with latest update, OB 1.1.4, all items that I want to buy dispaly NaN BTC as price.  OS X El Capitan, latest update, late 2014 iMac.
I download the official .dmg and drag it to the Applications folder, even deleting the OpenBazaar folder in Library/Application Support to start over with same result.
Please advise.
Thank you!

[2016-04-28 15:01] jjeffryes commented on #1247
@smokebox46and2 have you tried the manual steps listed above?

[2016-04-28 17:27] smokebox46and2 commented on #1247
@jjeffryes
Thanks for the reply.
I get a 'command unrecognized' for all commands after the xcode command and install.
This command, ruby -e "($curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)", fails

[2016-04-28 17:28] smokebox46and2 commented on #1247
maybe the ruby components are missing?

[2016-04-28 17:41] jjeffryes commented on #1247
@smokebox46and2  try

/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"

per the suggestion from @jonasbits

[2016-04-28 17:43] hoffmabc commented on #1247
I think pyinstaller does something curious where if it thinks it finds python locally installed it will go ahead and use that first and if it's an older version it causes problems. I'm not sure yet why it wouldn't just use the self-contained version.

[2016-04-28 17:49] smokebox46and2 commented on #1247
@jjeffryes
apologies, i didn't notice that.  I'll try that when I get home and report back.
Thanks again OB and community!

[2016-04-28 18:43] rmisio commented on #1369
This is still on my radar. I will get back to it once https://github.com/OpenBazaar/OpenBazaar-Client/pull/1453 is merged in since it directly affects this request.

[2016-04-29 01:51] smokebox46and2 commented on #1247
@jjeffryes @hoffmabc

It worked!

However, I had to leave off the 'pip install cryptography' part of the last command as it wasn't recognized.  Hopefully it's not detrimental to leave that part off...

Thanks again

[2016-04-29 03:33] mariodian commented on #1401
Sorry it takes so long to finish, I'm traveling now, I will get back to it in a week or so.

[2016-04-29 13:55] jjeffryes commented on #1444
This has been completed.

[2016-04-29 13:55] #1444 closed, assigned to morebrownies

[2016-04-29 13:57] jjeffryes commented on #1307
We haven't been able to reproduce this, I'm going to close it.

[2016-04-29 13:57] #1307 closed, assigned to nobody

[2016-04-29 13:57] jjeffryes commented on #1335
This has been fixed.

[2016-04-29 13:57] #1335 closed, assigned to nobody

[2016-04-29 14:14] jjeffryes commented on #1376
This was fixed.

[2016-04-29 14:14] #1376 closed, assigned to nobody

[2016-04-29 14:17] jjeffryes commented on #1422
This may be a problem with the other node you're trying to reach, or with your router setup.

If you're seeing this problem with all other nodes (stores), post what's happening in the installation-issues channel in our Slack.

https://openbazaar-slackin-drwasho.herokuapp.com/

[2016-04-29 14:17] #1422 closed, assigned to nobody

[2016-04-29 14:19] jjeffryes commented on #1341
Thankyou for the suggestion. We'll keep an eye on Taler, but right now we don't have any plans to switch off of Bitcoin.

[2016-04-29 14:19] #1341 closed, assigned to nobody

[2016-04-29 17:17] #1325 closed, assigned to jjeffryes

[2016-04-29 17:17] #1375 closed, assigned to jjeffryes

[2016-04-29 17:56] morebrownies opened #1462 "Add loading indicators to the Transaction section"
Currently when I go my orders section all I see is a blank screen. Adding a loading indicator
would be very helpful to let the user know something is happening

<img width="958" alt="screenshot 2016-04-29 10 54 31" src="https://cloud.githubusercontent.com/assets/13066886/14924769/ed48e58c-0df8-11e6-8b9c-d8a371a98781.png">

[2016-04-29 19:03] morebrownies commented on #1402
CMD + R still seems to reload the entire application

[2016-04-29 19:21] jjeffryes commented on #1402
Correct. I make CMD + T refresh the page, and kept CMD + R as-is.

We don't want to add shift or alt, that causes problems for international keyboards, some of them use shift or alt to change the letters on the keyboard to special characters.

[2016-04-29 19:41] morebrownies commented on #1402
Hitting CMD + T to refresh isn't very intuitive. I'd also like to reserve CMD + T for opening a new tab (in the future).

I don't think we need a hotkey to restart the entire app. I think we can just remove that hotkey and people can restart (when needed) via the user navigation.

[2016-04-29 19:46] morebrownies commented on #1402
<img width="296" alt="screenshot 2016-04-29 12 43 45" src="https://cloud.githubusercontent.com/assets/13066886/14927662/0ab5c19e-0e08-11e6-8422-2761e930041c.png">

Also adding "Refresh page" to the User nav seems unnecessary to me.

[2016-04-29 19:48] jjeffryes commented on #1402
The nav menu is where we show the keyboard shortcuts. How else will they know what keyboard shortcuts refresh and reload?

I use reload a lot, for development and testing, I think it should stay even if we don't draw the user's attention to it.

[2016-04-29 19:51] morebrownies commented on #1402
We can display it on hover of the reload button

<img width="562" alt="screenshot 2016-04-29 12 50 23" src="https://cloud.githubusercontent.com/assets/13066886/14927807/fa0e01d4-0e08-11e6-981b-828dcc7f9440.png">

[2016-04-29 21:15] lunokhod opened #1464 ""Follow" status is oftentimes incorrectly noted in the discover listings/pages"
This is a problem that has existed for a long time:

When you click on discover, and sort by listings or pages, the user or item oftentimes has the incorrect follow status. This is easy verified by clicking on the user's page, where the follow status is correctly noted.

This behavior is somewhat random. Sometimes if you click refresh, the follow status appears correctly.

Client: OSX

[2016-05-01 09:12] lunokhod opened #1469 ""Add as moderator" and "Add moderators by GUID" both do not work"
- When visiting a page and clicking on the button "Add as moderator", the moderator is not added to the list of moderators in the client settings.
- When manually entering the GUID of the moderator (or handle) into the field "Add moderators by GUID" and clicking save, the moderator does not appear in the list of approved moderators.

I am using the most up-to-date version of the server and client

[2016-05-01 23:53] Dekker3D commented on #1469
I've experienced the same issue while creating that "Add as moderator" button. It seems that there are specific people for whom it does not work, and for most it does work. Can you tell us who you're trying to add as moderators?

[2016-05-02 07:03] lunokhod commented on #1469
You can try my account. I tried to do this from another account I'm running and it didn't work.

51df06a21ea821b337c85388bdd786757818e7f0

[2016-05-02 19:30] Squirrel2020 opened #1470 "I can't join transifex translation team. Sent request 2 times, waited 2 days"
Tried to join at https://www.transifex.com/ob1/openbazaar/ I can't translate on GitHub as well, my Russian proof-reading are being not included and lost so many times

Tried to login to Transifex from GitHub auth icon, as Squirrel2020

[2016-05-02 21:26] jjeffryes commented on #1470
We're at Consensus 2016 right now, I'll catch up with Transifex as soon as I'm back at a computer.

[2016-05-03 10:27] mariodian commented on #1469
I tried to add you, the data was sent, server returned OK, but can't see you in my settings. It seems like an issue on the server/API side.

[2016-05-03 15:06] mariodian commented on #874
I made it in a way that when an action is required, the order has this orange indicator. I can make it for a new order only (ob.status == 0), but I think it makes little more sense the way I made it. Please let me know.

[2016-05-03 15:21] mariodian opened #1474 "No new order message notification"
Everytime I get a new message for orders, I don't see any notification about it.

Operating System (OS and version): latest OSX
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.4 (from github)
Hardware: macbook pro 13" late 2011

Reproducible: Always

Steps to reproduce:
1. Create order
2. Send order message

Observed Behavior:
I hear the notification sound and can read the new m

[2016-05-03 15:40] mariodian commented on #360
I think email notifications are necessary. I don't always run the client, but the server is on 24/7. In this case I have no way of knowing whether I have a new sale or not.

[2016-05-03 15:41] hoffmabc commented on #360
@mariodian email notifications will be in this next release. Only the UI piece is missing right now.

[2016-05-03 17:44] morebrownies commented on #874
How do you define an action is required @mariodian ?

[2016-05-04 02:11] mariodian commented on #874
These statuses inidicate some action was done, but it's yet to be finished:

0 - Purchasing
1 - Ready to process
2 - Confirmed/Shipped
4 - Disputed

On the other hand these statuses indicate no action is required from any party:

3 - Completed (payment released)
5 - Disputed closed
6 - Dispute resolved
7 - Refunded

[2016-05-04 02:20] LiteBit opened #1475 "Notification of Discussion taking place in Order Details"
Brief Description: There is no notification of dialog happening within the Order Details box on either the Notifications or Messages. The only time I know a buyer is discussing something within each Order Detail box is by opening each order detail, going to the discussion tab and seeing if they've responded.

With this being the only way to communicate with offline clients It'd be great to see not

[2016-05-04 02:28] mariodian commented on #1475
I've already addressed this issue yesterday #1474

It was working the supposed way but it's buggy now for some reason.

[2016-05-04 03:01] LiteBit commented on #1475
Ok. Sorry, i did a search but didnt see anything.

[2016-05-04 03:28] jjeffryes commented on #874
I have update the title. This issue, which was discussed offline, is a request to mark orders that have changed status since the last time they were opened. We are going to add a read property to the data returned from the api calls, when the status changes read will change to false, which will trigger the indicator. When the transaction is opened, a new api call will change the read status back t

[2016-05-05 12:26] #1442 closed, assigned to nobody

[2016-05-05 17:00] mpatc opened #1483 "Language Search"
Brief Description: Search for some languages that don't use the Roman alphabet do not show up in serach

Operating System (OS and version): Osx el capitan
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.4
Hardware: Macbook Pro Retina 13"

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Go to settings, after initiali

[2016-05-06 08:25] lunokhod commented on #1469
I am running the latest version of the server, so I'll open an issue there. Thanks for confirming the problem.

[2016-05-06 20:55] rmisio commented on #1415
this is done and ready for verification.

[2016-05-06 21:21] jjeffryes commented on #1415
Verified and complete.

[2016-05-06 21:21] #1415 closed, assigned to jjeffryes

[2016-05-06 22:17] rmisio commented on #1384
I'm working on this one.

[2016-05-06 22:40] Squirrel2020 commented on #1470
I am already translating the project at Transifex, thanks for approving, but it says that trial is expired, I afraid that all edits might get lost because of Transifex expiration (I am myself okay with GitHub, but a little bit tired of rejected translations). Concerning your comment saying "You don't have to do PR" (PR = proof-reading?).

I need access to proof-reading, because its unpleasant when

[2016-05-06 23:09] jjeffryes commented on #1470
Ignore the message on Transifex about the trial being expired, it doesn't affect anything.

You can proof-read without submitting a PR, can't you? Just change the code locally.

If you want to submit PRs, that's fine, as long as the same changes are made on Transifex. When Transifex gets out of sync that causes changes to be overwritten.

Regarding the button issue, we're aware of it, we haven't c

[2016-05-06 23:09] #1470 closed, assigned to nobody

[2016-05-06 23:29] Squirrel2020 commented on #1470
Regarding button issue it doesn't needs solution, it needs better proof-read (I will shorten it in Russian and I hope that all the other translators will do the same without losing the meaning of the buttons) Long words & buttons by itself are ugly, I believe they should have fixed size.

I don't really understand what PR means in this context.

Yes I can submit it on Transifex, but I don't unders

[2016-05-06 23:34] jjeffryes commented on #1470
PR = pull request, that's when you send your code to GitHub to be merged into the master branch.

Changing the code locally is when you change the code on your computer before you submit the Pull Request. You should be able to proof read it on your own computer.

Or do you mean you want other Russian readers to be able to proof read it?

[2016-05-06 23:37] Squirrel2020 commented on #1420
I believe this is one of the most awesome (must have) features that eBay or many other markets like Craigslist don't have.

[2016-05-06 23:41] hoffmabc commented on #1420
More on this soon!

[2016-05-07 08:16] Bezpol commented on #1420
No. It's bad idea.

Ad. 1) If you are a seller and have many reseller ( which want commisson from you ) it will be horrible to settlement with your reseller. And who will be moderator for you and reseller. It is nice like idea but I don't see it in practice ... but maybe I am wrong.

Ad.2 ) You are not a seller. But you can buy product from seller and start selling. Easy. It works in real world. L

[2016-05-07 14:24] Dekker3D commented on #1415
I'd like to point out that your "use testnet" setting should probably be per server config, not global, since you'll want it to match your server's testnet setting?

[2016-05-07 23:07] #1441 closed, assigned to nobody

[2016-05-07 23:32] jjeffryes commented on #1415
Currently, the only way to run in testnet on the server is to manually add a testnet flag on the command line when you start the server, and the server doesn't notify the client when that's the case.

When/if we add the functionality to have the server tell the client when it's in testnet mode, we'll remove the testnet control from the settings.

[2016-05-08 08:00] mariodian commented on #1420
Someone buys from a seller, the transaction is successfully closed on both sides and a reseller gets his commission. You don't need to introduce any settlement layer, because the reseller will be paid automatically for each finished sale he brings in.

That introduces an entry barrier (products storage, postage, products texting/pics, brand marketing, customer service etc, that costs lot of money)

[2016-05-08 10:03] Bezpol commented on #1420
Ok. Let's try and propose this idea to OB. I hope that OB will can create good automation for reseller ( money and products link ). Let's try and look how it works.

[2016-05-08 18:49] dsmurrell opened #1490 "Adding long social media links makes 'Edit' button inaccessible (off page) on the about page."
![screen shot 2016-05-08 at 19 48 22](https://cloud.githubusercontent.com/assets/4035854/15099737/ee5245c2-1555-11e6-89ef-ab79deb446a1.png)

[2016-05-08 20:33] #1490 closed, assigned to nobody

[2016-05-08 20:36] jjeffryes commented on #1474
This is being tracked in #372

[2016-05-08 20:36] #1474 closed, assigned to nobody

[2016-05-08 20:36] jjeffryes commented on #1475
This is being tracked in #372

[2016-05-08 20:36] #1475 closed, assigned to nobody

[2016-05-08 23:08] drwasho commented on #1443
Seems to not be a problem anymore.

[2016-05-08 23:08] #1443 closed, assigned to nobody

[2016-05-08 23:13] drwasho opened #1491 "Order Status Not Automatically Updating"
**To reproduce the bug:**
- Receive a fully funded order
- In the sales tab, select `Ready to Process (paid in full)` from the drop-down
- Click 'Order Details' for that order... modal should pop up
- Confirm the order (i.e. add shipping details etc) and press 'Save'
- The _Order Details_ modals should go away after it has saved as per normal
- **Bug:** The order remains in the `Ready to Process (

[2016-05-08 23:50] jjeffryes commented on #1491
As soon as the order modal closes, new calls are made to get_purchases, get_sales, and get_cases.

Can you check in your network tab to see if that is the case, and if so, if those calls are getting stale data?

[2016-05-09 00:32] jjeffryes commented on #1439
This was resolved recently.

[2016-05-09 00:32] #1439 closed, assigned to nobody

[2016-05-09 00:32] #1402 closed, assigned to jjeffryes

[2016-05-09 00:33] jjeffryes commented on #1392
Any update, @ulrichard ? I'm going to assume this is complete, and close it. If you're still seeing the issue I'll reopen it.

[2016-05-09 00:33] #1392 closed, assigned to nobody

[2016-05-09 00:34] #1401 closed, assigned to jjeffryes

[2016-05-09 03:36] mariodian commented on #372
Everytime I get a new message for orders, I don't see any notification about it. I hear the notification sound and can read the new message in order details, but can't see the notification in the notification menu. I can't see notification badges too. OSX

[2016-05-09 12:14] dsmurrell opened #1492 "Error message for trying to buy from yourself needs to be more specific"
Just had this conversation on the helpdesk.

![screen shot 2016-05-09 at 13 08 22](https://cloud.githubusercontent.com/assets/4035854/15112684/b5284e12-15e7-11e6-8322-a69aefe3a985.png)

http://imgur.com/7gg8bYj

This has tripped up a lot of people who think that there is some error (usually that their store isn't working properly when they try to buy from themselves) instead of that they cannot bu

[2016-05-09 13:55] lunokhod commented on #1469
This problem mysteriously resolved itself, for the time being. I will re-open the issue if it reappears.

[2016-05-09 13:55] #1469 closed, assigned to nobody

[2016-05-09 15:05] jjeffryes commented on #791
This was done.

[2016-05-09 15:05] #791 closed, assigned to jjeffryes

[2016-05-09 15:06] jjeffryes commented on #635
This was done.

[2016-05-09 15:06] #635 closed, assigned to nobody

[2016-05-09 15:42] #1492 closed, assigned to jjeffryes

[2016-05-09 16:31] #1464 closed, assigned to nobody

[2016-05-09 16:31] jjeffryes commented on #1464
Issue moved to [OpenBazaar/OpenBazaar-Server #389](https://github.com/OpenBazaar/OpenBazaar-Server/issues/389) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-10 10:09] JustinDrake opened #1500 "Social media usernames are confusing for users"
Empirically users enter very different formats for their social media accounts. I think this suggests the UI has room for improvement. For example, below are the Twitter accounts entered by vendors (as seen by www.duosear.ch), ordered alphabetically.

As you can see, it is a big mess. In terms of prefix used, we have:
- no prefix, 47 times
- `@`, 112 times
- `http://Twitter.com/`, 1 time
- `http:/

[2016-05-10 11:35] JustinDrake opened #1502 "Snapchat not super popular with vendors"
Below is the list of all Snapchat entries for vendors as seen by www.duosear.ch. There are 12 "garbage" entries and only 12 valid entries. Should we remove Snapchat altogether?

[code]

[2016-05-10 12:34] hoffmabc commented on #1502
I actually think the prudent thing might be to just pull in Blockchain ID social accounts and not manage it at all. @drwasho @jjeffryes @morebrownies

[2016-05-10 16:35] jjeffryes commented on #1502
We'll have to think about that, since that would mean anyone that hasn't added those social accounts to their Blockchain ID, or that doesn't want to use Blockchain ID can't add social accounts.

If we think they're low-value, then that'd be fine.

[2016-05-10 16:37] mariodian commented on #1502
I don't think that's a good idea because lot of people can't get their onename handles verified for ages. In my case it was several weeks.

[2016-05-10 16:42] morebrownies commented on #1502
Agreed. We should let the user manage the social network links within app because not everyone necessarily wants a handle.

I think we need to expand on how it works though. We hard-coded a bunch of social networks that make sense to us, but they don't necessarily make sense to someone in China or Japan. Also, some people may want to link to their eBay store or Etsy store and they have no way of d

[2016-05-10 19:14] rmisio commented on #1369
verified and merged.

[2016-05-10 20:43] JustinDrake opened #1504 "Crash on update to 1.1.5"
I used the native updater and got a crash with the following details:

[code]

[2016-05-10 20:45] rmisio commented on #1377
If I send a chat message with a link and then try to click that link from the chat head, it does not follow the link, it just opens up the chat conversation box at the bottom. If I click on the link within the chat conversation box, it does open the link in the browser. I believe that's the correct behavior.

Perhaps the bug has been fixed, or perhaps I'm completely misunderstanding it? Can anyone

[2016-05-10 20:56] jjeffryes commented on #1377
It happens if they embed the link as <a href="link">link</a>, at least on my copy of master using Windows.

[2016-05-10 20:58] rmisio commented on #1377
hmm... pretty odd. Might be a Win only thing, because on my mac, that's what I did and it didn't follow the link.

[2016-05-11 00:18] sgornick opened #1509 "main.js - TypeError, ipcMain is undefined"
Upgraded to Client v1.1.5 and get this error: TypeError: Cannot read property 'on' of undefined

[code]

This was after doing
`$ sudo npm install electron-prebuilt`

Ubuntu 14.04.4 LTS

I see there were changes recently for badge counts.
https://github.com/OpenBazaar/OpenBazaar-Client/commit/4e748b0f815705e6d361bcfc16a7b3526059ccbc

From main.js,
Prior to that commit:
`var ipcMain = require('ipc-m

[2016-05-11 01:10] hoffmabc commented on #1509
Which electron-prebuilt is this on?

[2016-05-11 01:38] sgornick commented on #1509
I didn't save any logs on that, and can no longer tell.

To get from a clean start I wiped Client/node_modules, then removed nodejs and npm, and wiped ~/.npm.
Then I reinstalled those two packages, installed electron-prebuilt and then did npm install.   OB Client v1.1.5 then ran without the exception any more.    So it was something with my electron installation certainly.

But should there be som

[2016-05-11 03:22] mariodian opened #1510 "SMTP test button"
There should be a test button right below the SMTP form that would send user an email or warn him that it couldn't be sent. This way he can tell whether his configuration works.

I can do the front-end part.

[2016-05-11 07:11] mariodian opened #1512 "Issues with email translation on Transifex"
When I tried to translate this email placeholder I got the following error.

![screen shot 2016-05-11 at 3 06 19 pm](https://cloud.githubusercontent.com/assets/3636406/15172725/50281e30-178a-11e6-848e-561c58092fd4.png)

We should use "Sender's e-mail address" and "Recipient's e-mail address" instead, because current placeholders aren't translatable.

[2016-05-11 07:12] #1512 closed, assigned to nobody

[2016-05-11 08:38] ghost commented on #1504
I just got a notification to update to 1.1.5, I clicked on it, the client restarted and it shows only this

![](https://static.md/b50b273ca7f831782f7502f778582171.png)

I am not sure to close it or not, it will abort the update process and corrupt my installation?

Debug log is empty.

[2016-05-11 08:41] ghost commented on #1504
I restarted it and the server connection info is lost. I had configured details of a remote server where I host OpenBazaar and now it shows this

![capture](https://cloud.githubusercontent.com/assets/1475489/15175072/578b100a-176d-11e6-8e26-b309113aa520.PNG)

After adding back old server settings everything works fine.

[2016-05-11 08:49] ghost opened #1513 "Important commit not included in tag"
[This](https://static.md/7db1ec3ba9989c40c58217b60a362f1e.png) commit https://github.com/OpenBazaar/OpenBazaar-Client/commit/01beedd1a9b1bc5ae20cd2f160816b44d132b449 is not included in v1.1.5 https://github.com/OpenBazaar/OpenBazaar-Client/blob/v1.1.5/package.json#L3 (see the old version)

[2016-05-11 09:32] hoffmabc commented on #1513
I'll be updating binaries but the only commit was a version tag bump which was included. Same source as tag.

[2016-05-11 09:32] #1513 closed, assigned to nobody

[2016-05-11 09:35] hoffmabc commented on #1509
The package.json has the required versions but I guess if you already have it installed at different level then you may have issues. Will take a look.

[2016-05-11 11:07] lunokhod opened #1514 "Address settings: Do not require state/province/region field, and add additional lines for street"
In the current client, I can not properly add my address.

First, in order to save the address, I am required to fill out all fields. However, where I live, it is not necessary to specify a "state/province/region". Leaving this blank gives me the error "Data could not be saved. Some fields are missing or incorrect."

Second, with my address, it is necessary to have an additional line that specifie

[2016-05-11 17:42] jjeffryes commented on #1510
This is on our roadmap for the next sprint.

[2016-05-11 19:20] rmisio commented on #1184
I'm working on this one.

[2016-05-11 22:21] rmisio commented on #572
This would require a back-end ticket to store a `created` timestamp for each contract and then return it in the GET endpoint.

[2016-05-12 17:34] Git909Monk opened #1516 "Server Maintence Windows loose sync."
Brief Description:
When switching/editing the server list the window will sometimes not redisplay the edit server settings part. Instead the server selection windows is displayed at the bottom. See attached.

Operating System (OS and version): Ubuntu  16.04
OpenBazaar version (shown on `About OpenBazaar` page in menu):  1.1.5
Hardware:  virtualbox

Reproducible (Always / Almost Always / Sometimes

[2016-05-12 18:46] jjeffryes commented on #1516
@rmisio can you take a look at this?

[2016-05-12 18:46] #1452 closed, assigned to jjeffryes

[2016-05-12 18:52] rmisio commented on #1516
no doubt.

[2016-05-12 21:43] rmisio commented on #722
@morebrownies how would this look design wise? Are we talking about adding a map somewhere on the About tab of the User page?

[2016-05-12 21:56] jjeffryes commented on #1516
This has been fixed.

[2016-05-12 21:56] #1516 closed, assigned to nobody

[2016-05-13 17:03] jjeffryes commented on #1387
This was closed in #1506

[2016-05-13 17:03] #1387 closed, assigned to nobody

[2016-05-13 17:23] Git909Monk opened #1525 "Server set up Window seems supersized"
Brief Description:  The server set up window seems larger than normal. This causes issues with not being able to see the Save button at the bottom since one can not 'scroll' to them.

Operating System (OS and version):  Ubuntu 16.04
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware:  VirtualBox

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):

[2016-05-13 17:41] rmisio commented on #1525
The minimum size of our app is 1024 X 700, so it's not going to work well if you're limited to 800 X 600. Can you configure your VirtualBox so that the window can be enlarged?

FWIW, the server set-up modal is the same size it's always been and does fit within the app's standard size.

[2016-05-13 17:46] Git909Monk commented on #1525
I had just noticed it seemed bigger, probably me. Thanks for the size info. I was looking in to a kiosk environment. But there is kinda a lot of padding in that window you must admit...

[2016-05-13 20:14] jjeffryes commented on #1525
I don't think we're going to reduce the minimum size of the app in version 1, we'll probably add a more responsive design for v2.

[2016-05-13 20:14] #1525 closed, assigned to nobody

[2016-05-13 20:16] dsmurrell opened #1528 "Weird black state achieved through steps."
![screen shot 2016-05-13 at 21 14 45](https://cloud.githubusercontent.com/assets/4035854/15260638/d745510a-194f-11e6-8204-fdcd4fd54d5c.png)

To get it like this, start a server that has never been set up using a client. Visit that server's guid with your node. Then shut down your node's server. Now you are in this state.

[2016-05-13 21:08] jjeffryes commented on #1528
Do you have an example guid of a server that has never been set up using a client?

[2016-05-13 21:18] dsmurrell commented on #1528
try this guid: 035975a346b17666a09c08b8972453fd3e64b85a

please let me know when you are done with it... I'm using it for testing something and I need to set it up again (I just recreated it) for it to work with my testing.

practically, I'm not sure if you can get hold of guids from nodes that are never set up... I print out mine so I can visit it. Is it available through discover or hidden if it

[2016-05-13 21:29] jjeffryes commented on #1528
I'm done with it.

It looks like new nodes are getting all their colors assigned as 0 instead of the defaults.

[2016-05-13 21:29] #1528 closed, assigned to nobody

[2016-05-13 21:29] jjeffryes commented on #1528
Issue moved to [OpenBazaar/OpenBazaar-Server #402](https://github.com/OpenBazaar/OpenBazaar-Server/issues/402) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-05-13 21:58] ghost opened #1530 "Translation of currencies has too many duplicated strings"
This is a problem about #1503

There should not be duplicated translation strings for the currencies that are used in more than one country (like United States Dolar or Euro).

[2016-05-13 22:03] rmisio commented on #1530
yeah, good call. We could probably just break the currencies out into a separate object within the translation files. The mapping between a country and its currency is done outside of the translation files, in countriesMd.js.

[2016-05-13 22:08] ghost commented on #1530
Yes, that would be the best approach.

[2016-05-14 00:31] jjeffryes commented on #1530
Agreed.

[2016-05-14 01:39] jjeffryes commented on #1514
Issues with the flexibility of addresses are being tracked under #1263

[2016-05-14 01:39] #1514 closed, assigned to nobody

[2016-05-14 01:40] jjeffryes commented on #1514
We will be revising the address system in the near future, and will include the kind of flexibility you mentioned.

[2016-05-16 08:49] ulrichard commented on #1392
Sorry, I was on holiday.
Yes, it works now flawlessly with the case wallet.

[2016-05-16 18:58] #1509 closed, assigned to nobody

[2016-05-16 22:14] #1369 closed, assigned to nobody

[2016-05-16 22:38] rmisio commented on #1271
If someone wants to provide us a more definitive list, we'd be happy to update.

Alternatively, we would welcome a PR, updating `timezonesMd.js` and the `timezones` section of `en-US.json`.

[2016-05-16 22:46] rmisio commented on #1184
This one is fixed. Some of the listed strings are no longer being used, so they were removed from the translation file.

If we missed any or there are any new ones that need this treatment, please let us know.

[2016-05-17 00:27] #1184 closed, assigned to nobody

[2016-05-17 02:22] sgornick opened #1534 "Hover over Close displays a message that is not clear"
When I hover over the red X to close, a hover message reads: ""Close (Your page will go offline)".

But my page stays accessible by others even if I close the client.   Is this message wrong?   Is that describing that "my page" About page will go offline (where other's can't retrieve it?)   Because that's not happening.

If instead this is just suppose to mean that my client will close, and I'll n

[2016-05-17 02:30] jjeffryes commented on #1534
Did you install using the installer, or through github?

For users that installed with the installer, their node does go offline when they close the client.

[2016-05-17 02:35] sgornick commented on #1534
Oh, I didn't know that.

So the client installed using the installer shuts down the server when the client is closed?  So this is something that the client is able to know (and can provide a hover that is message consistent with the subsequent behavior).

[Edit: And to address your question, I installed both the client and server independently, using the tarball, for Linux.]

[2016-05-17 02:36] sgornick commented on #1509
Resolved with Pull #1531

[2016-05-17 02:41] jjeffryes commented on #1534
The client doesn't know if it was installed with the installer or not. But for the majority of users, that will be the case.

[2016-05-17 07:20] drwasho commented on #908
@morebrownies is woring on this too

[2016-05-17 07:23] drwasho opened #1535 "Confirmation for deleting listings in grid view and sending refunds"
- [ ] As a Vendor, I want a confirmation for deleting listings so I don't accidentally deleting listings in the grid view
- [ ] As a Vendor, I want a confirmation for issuing a refund so I don't accidentally send a refund in the Sales tab

[2016-05-17 07:25] drwasho opened #1536 "In Discover, add a button to go back to the top of the page easily."
**Description**

Scrolling for a while leaves you pretty far down the page and requires a lot of scrolling to get back to the top. We should make it easier for the user by conditionally displaying a "Back to top" button when they scroll past a certain point.

**Requirements**
- [ ] Display a back to top button after the user scrolls beyond the default viewport. (#1)
- [ ] If the user scrolls back

[2016-05-17 07:34] drwasho opened #1537 "Move unfunded purchases to a separate tab or use a hide/unhide button for sellers"
- [ ] Add checkboxes to toggle on or off certain order states (#1)
- [ ] Unfunded orders should be toggled off by default (#2)
- [ ] The order count in the tab should update based on how many orders are returned (#3)

This should apply to the purchases and sales tabs.

[2016-05-17 16:52] rmisio commented on #1536
i got this one.

[2016-05-17 16:55] rmisio commented on #1534
It's not super well-known, but we do actually have that info from main.js:

[code]

So... it would be relatively simple to customize the close message.

[2016-05-17 17:06] jjeffryes commented on #908
![image](https://cloud.githubusercontent.com/assets/1584275/15331276/8b77c618-1c2e-11e6-84da-11ed9b737239.png)

Details:
- [ ] if the platform is Windows, a Windows-style bar should be added to the top of the client, and the BrowserWindow height should be increased by the height of the bar (leaving the area available for the rest of the app the same).
- [ ] when the Windows bar is showing, the "tr

[2016-05-17 17:10] jjeffryes opened #1538 "Notifications for chat messages in Order Details - Discussion tabs"
## Overview

**Messages sent via the Discussion tab in the `Order Details` of an order do not show a message notification either in the notification tray, or on the order page.**
## Prototype

https://invis.io/WD72RPU5U#/153344523_Openbazaar-Transaction-Notifications-Discover
## Requirements
- [x] As a buyer or seller, when a new transaction Discussion message comes in, I should receive a notifica

[2016-05-17 20:14] ghost commented on #1538
:+1:

A vendor wrote me a few days messages in order, I received notifications in main chat but there were no new messages, I thought there was a bug with notifications, then he wrote me in main chat to look in order chat.

[2016-05-17 21:51] M45t3rJC commented on #1186
With the 1.1.5 Update, pop-up showed I clicked it OB closed, updated and then re-opened...
Like I would expect it to...

[2016-05-18 01:58] ghost opened #1540 "Chat window menu is always open"
![chat window](https://cloud.githubusercontent.com/assets/10789865/15345122/ca240558-1c82-11e6-9f92-95293c0469b8.png)

Chat window menu is always open, even when user clicks outside of it, for instance, on text input "Enter message...". It is covering chat messages. The only way to close it is by clicking on the menu button again.

OB 1.1.5 w7 64bits

[2016-05-18 18:02] pryds commented on #908
The last comment only specifically mentions Windows. I'm not sure what the plans are for other systems - maybe you're already on top of it - but just to be clear: Please, don't keep the "traffic lights" on other systems, e.g. Linux. They are REALLY weird and very alienating to users. Window control buttons should be instantly recognizable to users.

I understand it if it is not possible to go comp

[2016-05-18 20:05] rmisio commented on #1540
I've got this one.

[2016-05-19 17:24] #1510 closed, assigned to nobody

[2016-05-19 18:27] rmisio commented on #1530
this is fixed.

[2016-05-19 18:28] rmisio commented on #1384
this is fixed.

[2016-05-19 18:43] jjeffryes commented on #908
this was completed

[2016-05-19 18:43] #908 closed, assigned to jjeffryes

[2016-05-19 18:43] jjeffryes commented on #1449
Completed.

[2016-05-19 18:43] #1449 closed, assigned to nobody

[2016-05-19 18:45] jjeffryes commented on #1534
This was completed

[2016-05-19 18:45] #1534 closed, assigned to nobody

[2016-05-19 18:46] #1384 closed, assigned to nobody

[2016-05-19 18:46] #1530 closed, assigned to nobody

[2016-05-19 19:04] jjeffryes commented on #1540
This was fixed.

[2016-05-19 19:04] #1540 closed, assigned to nobody

[2016-05-19 20:06] mariodian opened #1546 "Top bar too big on OSX"
Latest changes to the top bar introduced this bug

![screen shot 2016-05-20 at 4 02 43 am](https://cloud.githubusercontent.com/assets/3636406/15407887/ead15526-1e3f-11e6-9cc4-d4b5da550f85.png)

This will fix it for OSX, but I didn't create a PR as I can't test on other operating systems:

[code]

[2016-05-19 20:31] #1546 closed, assigned to nobody

[2016-05-19 23:09] ghost opened #1549 "Inconsistent column sizes"
![1stcolumn](https://cloud.githubusercontent.com/assets/10789865/15412409/a1a4dd9c-1dfd-11e6-8223-8cf2addfa938.png)

![narrowcolumn](https://cloud.githubusercontent.com/assets/10789865/15414623/c84f08fe-1e12-11e6-91ff-ba35e8d833f2.png)

Sometimes I get one column smaller than the other two, causing the Block button to invade the column on the right side.

win7 64 bits OB 1.1.5

[2016-05-20 01:37] ghost opened #1551 "Some texts are still not using decimal mark of user's language"
![tax fee](https://cloud.githubusercontent.com/assets/10789865/15414539/c8ddd814-1e11-11e6-8f13-174aadefc8b4.png)

![taxfee2](https://cloud.githubusercontent.com/assets/10789865/15414556/0d2ef2e6-1e12-11e6-9dc2-482e6427344f.png)

![mark](https://cloud.githubusercontent.com/assets/10789865/15459035/4f1933bc-2077-11e6-9360-9b09c7b48e34.png)

![mark2](https://cloud.githubusercontent.com/assets/107898

[2016-05-20 16:18] jjeffryes opened #1552 "Add TopBar Style Toggle in Settings/Advanced"
The client can't tell whether Linux users have left or right side close/minimize/maximize controls, so provide a setting in settings/advanced to switch between Windows style and Mac style for the top bar.

This should be saved in localStorage.

[2016-05-20 19:33] rmisio commented on #1552
i got this one.

[2016-05-20 21:08] rmisio commented on #1483
this is fixed.

[2016-05-20 21:08] rmisio commented on #1450
this is fixed.

[2016-05-20 21:13] rmisio commented on #1179
I believe we've fixed all these. @pryds Please let us know if we missed anything.

Re: unlocalized date / time. In the  screenshot you provided, we are using an html input of type `datetime-local`. So, as long as your OS has it's lang / region properly set (must be done in your OS settings, not just in the ob app), it should put the date and time in the correct format. For example, I've set my reg

[2016-05-20 21:50] #1483 closed, assigned to nobody

[2016-05-20 21:50] #1450 closed, assigned to nobody

[2016-05-20 21:52] #1538 closed, assigned to nobody

[2016-05-20 21:59] #1537 closed, assigned to jjeffryes

[2016-05-21 05:59] ghost commented on #1179
@rmisio It's still missing localization of decimal mark on "Dispute / moderation fee" (see issue #1551 ).

[2016-05-21 16:58] astupidmoose opened #1557 "Issues when switching between server - Client pulls Rest API port from first server setup"
Brief Description:

I currently have 3 nodes running on the same server. I am unable to switch between the nodes on my client as 2 of the 3 nodes give a authentication error. Only that node which was initially setup is connectable.

Login response for all 3 nodes is "{"success": true}" in the network tab of the web developer console.

After further testing, it seems that the client logs in success

[2016-05-21 23:24] ghost commented on #1344
Great idea

[2016-05-22 07:23] ghost opened #1558 "Bug on "Moderator Settings" button"
Brief Description:
"Moderator Settings" button on user's page stops working after closing "Order Details" window on the right upper corner "X".

Steps to reproduce:
1. Click on any "Order Details" button on "Purchases" page.
2. Click on the right upper corner "X" to close the "Order Details" window.
3. Go to user's page.
4. Click on "..." button
5. Click on "Moderator Settings" button. It doesn't

[2016-05-22 07:29] ghost opened #1559 "Disable drag and drop on avatar"
Some avatar (on chat and order details windows) have drag and drop enabled. When dragged, they show, for instance, a link like the following:

_file:///C:\Users\User\AppData\Local\OpenBazaar\app-1.1.5\resources\app.asar\index.html - userPage/a06aa22a38f0e62221ab74464c311bd88305f88c/store_

This link is useless outside the software and should be disabled.

OB v1.1.5 win 7 64 bits

[2016-05-22 07:45] ghost opened #1560 ""default" server keeps its name after changing language"
My default server has been named "_padrão_" (which means "default" in Brazilian Portuguese). However, if I change my language to English, it keeps being displayed as "_padrão_", instead of changing to "default".

OB V.1.1.5 Win 7 64 bits

[2016-05-22 10:31] mariodian commented on #1559
I'll fix it

[2016-05-22 23:40] bitcoinuser commented on #597
+1 for stuff wanted feature. Something like this: https://www.gumtree.com/stuff-wanted

[2016-05-23 06:54] drwasho opened #1563 "Chat bugs"
Latest client code on Windows. Bugs observed after receiving a normal chat message from another node.

**Part 1**
![image](https://cloud.githubusercontent.com/assets/3887694/15462559/d8a0a2c0-2106-11e6-8b67-3beb1a673a2f.png)

**Part 2**
![image](https://cloud.githubusercontent.com/assets/3887694/15462573/f2416e08-2106-11e6-9352-5574239aebfd.png)

[2016-05-23 15:23] morebrownies opened #1564 "The title bar text should inherit the text color of the theme"
Currently it's always white, which makes it invisible or very difficult to read in some cases. I'm referring to the "OpenBazaar — @vintagefashion" text.

<img width="1201" alt="screenshot 2016-05-23 06 55 57" src="https://cloud.githubusercontent.com/assets/13066886/15475553/8848166a-20bf-11e6-80ff-5efc484b60d7.png">

[2016-05-23 15:24] morebrownies opened #1565 "Notification badge gets cut off"
<img width="86" alt="screenshot 2016-05-23 08 24 19" src="https://cloud.githubusercontent.com/assets/13066886/15475611/c9090bd2-20bf-11e6-8af0-78d7cb0dde73.png">

[2016-05-23 15:28] morebrownies opened #1566 "Too much spacing underneath the header controls"
Currently there is 14px of vertical spacing underneath the header controls and address bar. This can likely be cut in half to 7px or even 5px to free up more vertical space.

<img width="668" alt="screenshot 2016-05-23 08 26 52" src="https://cloud.githubusercontent.com/assets/13066886/15475722/4d6b2432-20c0-11e6-85df-7621e63bbba6.png">

[2016-05-23 15:32] morebrownies opened #1567 "There's a bar displaying in the bottom of the cover photo section on a user page"
The cover photo should be sitting flush against the tab bar.

<img width="1043" alt="screenshot 2016-05-23 08 29 24" src="https://cloud.githubusercontent.com/assets/13066886/15475804/b69edc64-20c0-11e6-8e7f-43609ae5abcb.png">

[2016-05-23 15:50] jjeffryes opened #1568 "Add "Needs Action" Indicator to Transactions"
-when a transaction (orderShort view) has a needs_attention value of true (from get_purchases, get_sales, or get_cases), add a visual indicator that it needs to be looked at.
- this indicator is the same as the unread messages indicator
- move all transactions that have the indicator to the top when the sorting method is "all"
- add an action button for status 4 (disputed) similar to the buttons f

[2016-05-23 16:00] jjeffryes opened #1569 "Address Bar Autocomplete"
- keep a record in localstorage of tags and handles the user has visited.
- when a user is entered text in the address bar, show autocomplete suggestions based on the saved tags and handles.
- while the autocomplete tray is visible, the rest of the window should be covered in an overlay. Only the autocomplete tray, navbar, and title bar should accept user interaction.
- the down arrow should highl

[2016-05-23 16:23] jjeffryes opened #1570 "Cache Views in DOM"
- when the Discover and UserPage views are navigated away from, instead of removing the views, keep them in memory for a limited time
- a method of saving UserPage views by ID will need to be added, so more than one can be held in memory
- if the Discover or UserPage view is loaded again, and the limited time has not expired, show the existing view instead of loading data and re-rendering it (for

[2016-05-23 16:40] jjeffryes opened #1571 "Show if a Transaction is Not Completely Funded"
- when a payment is made (in the purchase flow, or in the transaction modal), listen for a websocket message that will return the amount paid if it does not match the total expected
- when a transaction is opened in the transaction view, the transaction modal should check the data in get_order to see if a partial payment has been made. If the transaction is partially funded, show the payment secti

[2016-05-23 16:40] jjeffryes opened #1572 "(Design) Show if a Transaction is Not Completely Funded"
Create a design for the partial payment message and payment screen when a payment has been made while purchasing a listing, or in the transaction modal, that is insufficient to fund the transaction.

Related UI Story: https://github.com/OpenBazaar/OpenBazaar-Client/issues/1571
Related Server Story: https://github.com/OpenBazaar/OpenBazaar-Server/issues/416

[2016-05-23 16:43] jjeffryes opened #1573 "(Design) Progress Bar Design"
Create a new design for the transaction modal, to make it more clear where in the transaction process the order is, and what the next step for the user is.

[2016-05-23 16:52] jjeffryes opened #1574 "Manually Backup Database"
- the settings/advanced section should have a button to backup the database
- when the button is pressed, a password field should be shown. This password is used to encrypt the database. It will be sent to the backup API.
- when the backup API call returns with the backup file, a file save dialog should appear, so the user can save the database to whatever location they want to
- the server will b

[2016-05-23 16:57] jjeffryes commented on #1563
I can't replicate these issues.

[2016-05-23 17:30] mariodian commented on #1564
I'll fix it

[2016-05-23 17:30] rmisio commented on #1574
@morebrownies Is a design coming for this?

[2016-05-23 17:31] mariodian commented on #1567
I'll fix it

[2016-05-23 17:35] rmisio commented on #1570
i'm on it.

[2016-05-23 17:38] mariodian commented on #1566
I'll fix it

[2016-05-23 17:52] rmisio commented on #1566
@mariodian please keep in mind that if we are shortening that nav bar, a bunch of things that are positioned in relation to it will need to be adjusted. Currently, these things are positioned with a top of 78px, so if you search for '78px', you'll find them. Basically, anything with that value that is related to modals, as well as #obContainer and #sideBar should be adjusted.

[2016-05-23 17:53] mariodian commented on #1566
@rmisio yeah I know, that's why I brought up the "sass issue" on the slack. Thanks.

[2016-05-23 17:56] rmisio commented on #1560
i'll look into it.

[2016-05-23 17:57] rmisio commented on #1557
ill look into it.

[2016-05-23 19:12] mariodian commented on #1565
I'll fix it

[2016-05-23 19:27] jjeffryes opened #1578 "Make Pre-Commit Hooks for ES-Lint Work for All Envirionments"
Edit: Apparently the hooks do fire on commit for some environments. Find out why, and fix the issues preventing them from working in some cases.

[2016-05-23 19:32] hoffmabc commented on #1578
Now to just abide by them and not just -n through them.

[2016-05-23 22:30] jjeffryes opened #1579 "Add more data to search in transactions"
Change search in the transaction tabs to find transactions by all available transaction data.

[2016-05-23 22:31] jjeffryes opened #1580 "Reject Poorly Formatted Messages"
When websocket nofications and messages are received, if they don't have the expected format don't show them.

[2016-05-23 22:32] jjeffryes commented on #1578
Edit: Apparently the hooks do fire on commit for some environments. Find out why, and fix the issues preventing them from working in some cases.

[2016-05-23 22:34] rmisio commented on #1580
Why bubble gum patch this? If the server is sending poorly formed notifications, the bug should be on the server. (I think there's too many such instances in the client where we are doing such things.)

[2016-05-23 23:02] coyotte508 opened #1581 "Add auto-reconnect to the openbazaar server"
Brief Description: I use my laptop at work and at home. Each time I change location I have to manually click the "Retry" button in the OpenBazaar client to reconnect to my remote server.

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.5
Hardware: Asus laptop (irrelevant?)

Reproducible (Always / Almost Always / Sometimes / Rarely /

[2016-05-23 23:18] jjeffryes commented on #1580
We think some messages may be coming in from out of date or customized nodes with bad formatting.

@cpacia can this be handled on the server? I filed this issue when Wash and I were talking about the bug he saw so I wouldn't forget it, I can move it to the server repo.

[2016-05-24 04:05] mariodian commented on #1565
There's a problem with how #appBar and #pageNav are positioned and the way notifications and the menu get hidden. You can't simply lower the z-index for #appBar:

![screen shot 2016-05-24 at 11 11 56 am](https://cloud.githubusercontent.com/assets/3636406/15491329/ed4b936a-21a1-11e6-92e6-c24ae088ed9f.png)

I don't feel like rewriting behavior of .popMenu-notifications and .popMenu-navBar, so I came

[2016-05-24 17:33] rmisio commented on #1565
Wouldn't that cut off the badge too?

I think the problem is that the top padding was removed from `#pageNav .navBar.bar`. If 1px is put back in, the badge is no longer cut off.

[2016-05-24 18:50] mariodian commented on #1565
@rmisio oh of course, you're right. I was focusing on hiding notifications too much and totally ignored the badge.

Adding `padding-top: 1px` makes notifications and the menu visible from the top. However changing height of .bar to 51px (without the padding) fixes it. Not sure if we want to add the extra height though? @morebrownies

[2016-05-24 19:04] rmisio commented on #1565
Changing the height is fine, but then I think you'd have to adjust (by a pixel) all the modal and container positions that are in relation to the nav bar.

Padding doesn't seem to affect the height, so it would save you having to do those updates. But, up to you.

[2016-05-24 20:06] morebrownies commented on #1565
If we need to add extra height to get the badge to not be cut off then that is completely fine with me. We just want to avoid the header becoming overly bulky, which doesn't sound like it will be the case.

[2016-05-25 05:58] mariodian commented on #1565
#1575 also fixes this issue

![screen shot 2016-05-25 at 1 57 29 pm](https://cloud.githubusercontent.com/assets/3636406/15529542/b80466c0-2280-11e6-8c80-bfa4221a65c2.png)

[2016-05-25 16:32] #1552 closed, assigned to nobody

[2016-05-25 16:34] #1559 closed, assigned to nobody

[2016-05-25 17:22] jjeffryes commented on #1565
This seems too tight to me, I think Mike's original suggestion of 7px, or 8px to match the space between the edge of the window and the left-most and right-most buttons would be better.

[2016-05-25 17:22] jjeffryes commented on #1565
@morebrownies what do you think?

[2016-05-25 17:26] #1564 closed, assigned to nobody

[2016-05-25 17:39] morebrownies commented on #1565
I'll take a look in a bit, trying to wrap something up.

[2016-05-25 18:55] mariodian commented on #1569
I'll take it if no one is working on it?

[2016-05-25 19:05] morebrownies commented on #1569
It's all yours @mariodian 👍

[2016-05-25 20:23] SamPatt commented on #231
@jjeffryes Can this be closed?

[2016-05-25 20:26] SamPatt commented on #369
@hoffmabc Any update here? I can't test on a Mac.

[2016-05-25 20:27] SamPatt commented on #393
With the new badges for different products types I think this issue can be closed.

[2016-05-25 20:27] #393 closed, assigned to cpacia

[2016-05-25 20:29] jjeffryes commented on #231
I think we can close this. There is no good way to pre-select a currency, and I feel like there's a good chance the results would be inaccurate in any case.

[2016-05-25 20:29] #231 closed, assigned to nobody

[2016-05-25 20:30] SamPatt commented on #575
@jjeffryes Any updates on that?

[2016-05-25 20:31] SamPatt commented on #592
@jjeffryes With the recent changes to following is this issue obsolete?

[2016-05-25 20:33] SamPatt commented on #667
@jjeffryes Is this resolved?

[2016-05-25 20:34] SamPatt commented on #706
Based on the introduction of tabs in the future don't think this feature is as important and I'm closing; anyone can reopen if they feel it's still valuable.

[2016-05-25 20:34] #706 closed, assigned to nobody

[2016-05-25 20:37] SamPatt commented on #748
@morebrownies or @jjeffryes Any updates on this?

[2016-05-25 20:38] SamPatt commented on #771
I believe this is fixed. @hoffmabc feel free to reopen if you've still got the problem.

[2016-05-25 20:38] #771 closed, assigned to nobody

[2016-05-25 20:39] SamPatt commented on #812
@jjeffryes Any updates on this?

[2016-05-25 20:40] SamPatt commented on #838
I believe this is fixed and will close. @drwasho if I'm wrong please re-open.

[2016-05-25 20:45] SamPatt commented on #932
@Avery3R or @drwasho can you confirm this is still an open issue?

[2016-05-25 20:46] SamPatt commented on #994
@jjeffryes Any updates on this?

[2016-05-25 20:51] SamPatt commented on #1123
Current changes in the transactions page should resolve or make this issue obsolete, so I'm closing.

[2016-05-25 20:51] #1123 closed, assigned to morebrownies

[2016-05-25 20:53] SamPatt commented on #1164
@cpacia and @jjeffryes Any updates on this? Would need to be implemented into the new reviews tab at the store level as well.

[2016-05-25 21:17] JustinDrake commented on #369
I don't see the `Help > Documentation` anymore. Closing out.

[2016-05-25 21:17] #369 closed, assigned to SamPatt

[2016-05-25 22:31] SamPatt commented on #1179
Since that last remaining problem has a separate issue, I'm going to close this one.

[2016-05-25 22:31] #1179 closed, assigned to nobody

[2016-05-26 14:13] jjeffryes commented on #575
This is still a low-priority todo.

[2016-05-26 14:17] Rocks333 opened #1585 "Yet another one that can't connect but with the latest versions. Checked everything I could think of."
I installed it just few days ago from source so I should be with the latest version.

OpenBazaar Server is v0.1 and is hosted on ubuntu 14.04 vps.

The OpenBazaar-client say just can't connect. No error message. Hey I can't even find logs in the dir with proper reason? It runs from Debian

[code]

Since I don't know what else to check I'm posting this hoping someone will help me.
I know many peopl

[2016-05-26 14:17] jjeffryes commented on #592
The backend doesn't support this kind of filtering, both due to the data not being available in get_followers/get_following and due to lazy loading (ie: it could only filter the loaded data).

I recommend this be closed. We should discuss whether we want some kind of filtering/searching of followers, and what that would require in a new API.

[2016-05-26 14:17] #592 closed, assigned to nobody

[2016-05-26 15:25] mariodian commented on #1569
Please review my PR.

[2016-05-26 15:33] jjeffryes commented on #667
I've updated the image code so that once Chromium supports exporting a webp image with alpha channels images with transparent backgrounds will work. Until then, we can't support them without switching to much larger pngs, which would make our bandwidth issues much worse.

[2016-05-26 15:34] jjeffryes commented on #748
This is a low-priority feature that hasn't been added yet.

[2016-05-26 15:34] jjeffryes commented on #812
No updates yet, this is still a TODO.

[2016-05-26 15:35] jjeffryes commented on #838
This has not been fixed. It may not be fixable, see the server issue.

[2016-05-26 16:43] jjeffryes commented on #994
This is a low-priority feature that has not been worked on.

[2016-05-26 16:44] jjeffryes commented on #1164
I don't believe we've added the time data to the reviews.

[2016-05-26 16:57] jjeffryes commented on #932
This has not been fixed. The primary issue is the server issue, it was just reported on the client first.

[2016-05-26 17:01] #1558 closed, assigned to nobody

[2016-05-26 17:01] #1565 closed, assigned to jjeffryes

[2016-05-26 17:01] #1566 closed, assigned to jjeffryes

[2016-05-26 17:02] #1567 closed, assigned to nobody

[2016-05-26 17:35] rmisio commented on #1585
Which Server Configuration are you trying to connect to? If you're setting a custom password in ob.cfg, make sure you're not using the 'default' server configuration, since it might not have the correct creds stored. Your best bet is to create a new configuration, filling in the details (including creds) to match your server.

[2016-05-26 18:34] SamPatt commented on #1042
This is a good idea, I can help with this. Will revisit this soon.

[2016-05-26 18:36] SamPatt commented on #1186
@dsmurrell @hoffmabc Any more information on this one? Have we seen other reports of auto-updater failing on OSX?

[2016-05-26 18:38] SamPatt commented on #1207
I'm going to close based on being unable to reproduce. @rhcastilhos if this is still a problem please reopen and give us more information.

[2016-05-26 18:38] #1207 closed, assigned to nobody

[2016-05-26 19:18] SamPatt commented on #1249
This is a server issue and there are two open issues to address this, so I'm closing on the client side.

[2016-05-26 19:18] #1249 closed, assigned to nobody

[2016-05-26 19:21] SamPatt commented on #1277
Also cannot reproduce. I'm closing, @BugsBunE let us know if you're still able to reproduce on the current codebase.

[2016-05-26 19:21] #1277 closed, assigned to nobody

[2016-05-26 19:25] SamPatt commented on #1334
Thank you for the suggestion, but I don't think having a tab called "Reviews" which has 0 or 1 reviews is a problem. Amazon calls their section "Customer Reviews" regardless of the number. I'm closing.

[2016-05-26 19:25] #1334 closed, assigned to nobody

[2016-05-26 19:29] SamPatt commented on #1377
@rmisio and @jjeffryes Cannot reproduce on Linux. Still an issue on other OS?

[2016-05-26 19:34] SamPatt commented on #1390
In the latest client, we now hide orders which have been unfunded by default.

![image](https://cloud.githubusercontent.com/assets/6955773/15587429/34ff0afa-2357-11e6-8cd1-bc5c1f73d222.png)

The reason we don't allow deleting an order is that if a buyer changes the mind again and does fund it, then the vendor will never even know that happened and the funds will be lost. Since it is annoying to ve

[2016-05-26 19:34] #1390 closed, assigned to nobody

[2016-05-26 19:40] dsmurrell commented on #1186
I haven't had it fail again. But I haven't tried. Are you releasing another version soon?

[2016-05-26 20:00] jjeffryes commented on #1377
I can't reproduce it on Windows.

[2016-05-26 20:07] rmisio commented on #1377
I couldn't on OSX. Looks like a Win issue.

[2016-05-26 20:12] #1377 closed, assigned to jjeffryes

[2016-05-27 02:39] LiteBit opened #1592 "Add "Size" variable for product listings"
Brief Description: Add a "Size" variable in the /Listing dialog when creating new product listings. Can be a text box where user can enter any size related word/s for the product.

Examples:
- 8oz Honey could have "8oz" in the size box
- small shirt could have "small" in the size box

From a coding perspective I imagine the same lines of code used for the SKU variable could be copied.

Additional

[2016-05-27 02:50] LiteBit commented on #1014
A work around to this atm is to encourage buyers PM vendor before ordering somehow (graphics, twitter). Then vendor creates custom order with items and makes a combined shipping price. Product(s) can be deleted after purchase.

Not ideal, but works for both parties and allows 1 moderator for full order.

[2016-05-27 04:31] jjeffryes commented on #1592
How does size apply to listings that don't have a size, or to digital or service listings?

[2016-05-27 04:44] LiteBit commented on #1592
Size doesnt matter with some items, just like SKU. I think having 'optional' is appropriate and vendors can use as needed.

Would be helpful for any perishable (food) item, any clothing item, accesories, electronics,

[2016-05-27 12:56] jjeffryes commented on #1592
SKU is a stock tracking field, which can be used for any listing, and is a requirement for larger sellers.

I don't think we want to add a field to all contracts that can only be useful for some of them. Size could be easily described in the description field, which is where non-universal data should go.

We do have an options feature that hasn't been implemented fully yet, that would allow each l

[2016-05-27 12:56] #1592 closed, assigned to nobody

[2016-05-27 13:06] jjeffryes commented on #1580
I haven't been able to reproduce this, and as far as I can tell, only the expected data is shown. How @drwasho saw this bug is a mystery.

[2016-05-27 13:06] #1580 closed, assigned to nobody

[2016-05-27 13:11] jjeffryes commented on #1578
This was completed, pre-commit hooks for es-lint are working, and the full set of es-lint rules have been added.

[2016-05-27 13:11] #1578 closed, assigned to nobody

[2016-05-27 17:32] rmisio commented on #1580
Mysterious things happen down under...

[2016-05-27 20:46] #1549 closed, assigned to nobody

[2016-05-27 20:49] jjeffryes commented on #1572
I did this while coding it, since the design was very minimal.

[2016-05-28 05:51] mariodian opened #1620 "Header issue"
If you have visual effects disabled you get the slim header in the way.

![screen shot 2016-05-28 at 1 47 26 pm](https://cloud.githubusercontent.com/assets/3636406/15625495/e80972b4-24da-11e6-846f-345a10fc57ad.png)

If you scroll down the header shows correctly. However if you scroll down with visual effects enabled you can see a little "blink" of the header above the app bar.

OSX, the latest pul

[2016-05-28 18:27] ghost opened #1621 "Problems with search on Transactions page"
**1: Search is not restricted to filtered items**
If "Purchase (payment pending)" filter is selected, search results are showing items without that status. It should work the same way that it works now when a search is done inside a category on a user's store.

_Steps to reproduce:_ Select a filter and type a search on text input (order ID or item name)
_Observed Behavior:_ The list with search re

[2016-05-28 20:12] ghost opened #1622 "Error with required fields when creating a listing"
When creating a listing with all fields blank, only tags and description field are marked in red. Error message informs that only Tags field is required:

_Data could not be saved:_
_Some fields are missing or incorrect._
_\- Tags_

![check required](https://cloud.githubusercontent.com/assets/10789865/15629727/16539494-24f7-11e6-912e-fcec0cf930c3.png)

Then, if user fills tags field, error message

[2016-05-28 21:27] ghost opened #1623 "Personalized and Random tabs don't reappear after closing search results"
After searching a tag, "Personalized" and "Random" tabs don't reappear after clicking on "x" button on the right side of search bar. They reappear only if you click on search bar and then click outside of it.

OpenBazaar version: 1.1.5
Reproducible: Always

Steps to reproduce:
1. Search for #bitcoin
2. Click on x button
3. Personalized and Random tabs don't reappear
4. Click again on search bar an

[2016-05-28 21:35] ghost opened #1624 "Search bar on store is missing close ("x") search button"
![expected close search button](https://cloud.githubusercontent.com/assets/10789865/15630082/c1ddeb24-2502-11e6-8b67-21e844869482.png)

There should be a close search ("x") button on this search bar, the same way it has on Discovery and Transactions pages.

[2016-05-28 21:48] ghost opened #1625 "Search of store items is not linked to filter of categories"
Searching for items on a store is not linked to filtering of categories. If a user types "homer" on search bar, it should keep this search even after changing the filter of categories.

![filter-01](https://cloud.githubusercontent.com/assets/10789865/15630126/8aef6f0a-2504-11e6-9e51-940230ed8ab9.png)

![filter-02](https://cloud.githubusercontent.com/assets/10789865/15630128/8e9fd158-2504-11e6-99d3

[2016-05-28 22:02] ghost opened #1626 "Search bar message issues"
![search bar message](https://cloud.githubusercontent.com/assets/10789865/15630219/99fc2464-2506-11e6-9e37-62c0db3f81a7.png)

Problem 1:
If currently number of loaded pages is the same as total number of followers or following, search bar message should be just "Search for a name".

Problem 2:
The message "Search for a name in your currently loaded followers (scroll to load more)." is being used b

[2016-05-28 22:29] ghost opened #1627 "Suggestions for Transactions page"
1. Summary tab on "Order Details" should include date and time of purchase. Now this is displayed only on Transactions page.
2. Date format of order doesn't include the year (Apr 5, 12:19 AM). It should be 04/05/2016, 12:19 AM.
3. Funds tab on "Order Details" should include date and time of payment. Now user must visit a website to see it. If the payment is done using client's QR code, when client

[2016-05-29 00:17] sgornick opened #1628 "Create listing, Photo not always reloading from filesystem"
When creating a listing, the Client is intermittently not re-reading the photo (PNG image, in this instance) file from the filesystem.

Operating System (OS and version): Ubuntu Linux 14.04
OpenBazaar version: 1.1.5
Hardware: Asus Laptop S400 dual core, (with encrypted filesystem)
Reproducible: Almost Always

Steps to reproduce:
1. Create files whitebox.png, blackbox.png.
2. $ cp whitebox.png box.

[2016-05-29 04:03] ghost commented on #1207
@SamPatt It is still present in v1.1.5 win7 64 bits

Steps to easily reproduce it:
1. Open listing ob://@legolas/listing/0ecf22ef41484584e7d05498b72e813ab3e9f6d7
2. Hold right arrow key on keyboard to fast switch between photos

[2016-05-30 19:53] Rocks333 commented on #1585
Of course I created new.
I had to enter the IP of the server (it's separate) and username and password that I set in the ob.cfg

i left the default ports though

[2016-05-30 21:36] drwasho opened #1630 "Tooltip text runoff"
![image](https://cloud.githubusercontent.com/assets/3887694/15658643/3f2dacd0-2702-11e6-8ce2-5b3231ad932c.png)

[2016-05-30 22:19] ghost commented on #1630
This is a duplication of #1181

[2016-05-31 04:05] drwasho commented on #1630
@jjeffryes closing this issue as it's a duplicate. Thanks @rhcastilhos

[2016-05-31 12:10] jjeffryes commented on #1630
This is a separate issue from #1181, it was introduced when we removed the truncation from tooltips recently.

[2016-05-31 14:03] jjeffryes commented on #1630
I can't reproduce this, @drwasho can you make sure you're on the latest master and check again?

[2016-05-31 14:03] #1630 closed, assigned to jjeffryes

[2016-05-31 18:48] #1571 closed, assigned to jjeffryes

[2016-05-31 18:48] #1572 closed, assigned to jjeffryes

[2016-05-31 19:07] #1551 closed, assigned to nobody

[2016-05-31 19:18] #1536 closed, assigned to nobody

[2016-06-01 17:33] jjeffryes commented on #1620
This was corrected in Master.

[2016-06-01 17:33] #1620 closed, assigned to nobody

[2016-06-01 17:49] evilsocket opened #1633 "[SECURITY ISSUE] Update process is vulnerable to MITM attacks."
### Brief Description:

Since [you're using a HTTP endpoint](https://github.com/OpenBazaar/OpenBazaar-Client/blob/dc5cb3218217c74c0908693ba808076e8a85b920/main.js#L641) instead of HTTPS, the update process is vulnerable to MITM attacks.

A man in the middle could intercept the update request and reply with a fake JSON response, forcing the electron updater to download a custom payload and, on plat

[2016-06-01 17:51] hoffmabc commented on #1633
Thanks @evilsocket this was on the radar but I'll try and put a fix in this release.

[2016-06-01 17:52] evilsocket commented on #1633
The fastest way to fix this would be to directly switch to HTTPS ( put that Express instance behind nginx and you should be good to go :) ) ... implementing an update verification routine is not as trivial as it might look like.

[2016-06-01 17:53] evilsocket commented on #1633
( if you don't have a HTTPS certificate, you could just proxy your server using CloudFlare free account )

[2016-06-01 17:56] hoffmabc commented on #1633
It was my understanding that Electron does signature checking on the packages as if you try to install the unsigned update it will throw a warning. Are you saying that process is broken?

[2016-06-01 17:58] hoffmabc commented on #1633
I believe the https endpoint should be all we need to modify and that's fairly trivial.

[2016-06-01 17:59] evilsocket commented on #1633
As far as I saw, signing is only mentioned regarding OS X [here](https://github.com/electron/electron/blob/master/docs/api/auto-updater.md):

Which is not even 100% true as the user might have signature enforcing disabled.

[2016-06-01 18:02] hoffmabc commented on #1633
Hmm now I will need to go and review the squirrel documentation

[2016-06-01 18:05] evilsocket commented on #1633
Also keep in mind that if you plan to show the changelog at some point, that could also be a good attack vector, an attacker could just put some malicious javascript in it and, once the changelog is rendered, boom! :)

[2016-06-01 18:11] hoffmabc commented on #1633
Yeah not really planning change log notes ATM.

[2016-06-01 18:12] evilsocket commented on #1633
Which is good in this case :D
Ok, let me know if I can be of any help.

[2016-06-01 20:48] #129 closed, assigned to jjeffryes

[2016-06-01 20:48] #1570 closed, assigned to nobody

[2016-06-01 20:50] morebrownies commented on #129
https://38.media.tumblr.com/c26b20d3523d58572c00a59fabfc6650/tumblr_mtzmeqC16Z1qcga5ro1_500.gif

[2016-06-01 20:52] #1535 closed, assigned to nobody

[2016-06-02 02:51] ghost opened #1636 "Styles incorrect and text not displaying clearly"
**Brief Description:** Styles incorrect and text not displaying clearly

**Operating System:** OSX 10.10.5 (14F1021)

**OpenBazaar version:** 57ab66bc3ca65c3b1ad69f806b241953a3a06c11

**Reproducible:** Always

**Steps to reproduce:**
1. Checkout master (or 57ab66bc3ca65c3b1ad69f806b241953a3a06c11 or after)
2. Start Client; notice styles are wrong
3. Open an order modal; notice text is wrong

**Scr

[2016-06-02 03:13] jjeffryes commented on #1636
Thank you for catching this. It's been fixed in fe8c43f.

[2016-06-02 03:13] #1636 closed, assigned to nobody

[2016-06-02 05:00] mariodian commented on #1620
@jjeffryes I don't think so. This is a screenshot from the freshly cloned repo:

![screen shot 2016-06-02 at 12 58 35 pm](https://cloud.githubusercontent.com/assets/3636406/15734399/e16c08b4-28c1-11e6-971e-ecaf6edc84e0.png)

[2016-06-02 06:54] mariodian commented on #1579
Done

[2016-06-02 06:54] mariodian commented on #1626
Fixed

[2016-06-02 09:56] GHallis opened #1640 "Connection failed to default"
Brief Description:

Operating System (OS and version): Mac OS 10.11.5
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.5
Hardware: Macbook Pro 13"

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Load OpenBazaar
2. Click Retry
3.

Observed Behaviour: Error Message is Connection failed to default.  Then after a couple

[2016-06-02 10:25] dsmurrell opened #1641 "If you change the order of the images and then try and delete some, it deletes the wrong ones."
This is when creating a listing.

[2016-06-02 10:40] dsmurrell opened #1642 "It would be nice to be able to reorder the listings."
Maybe in a similar way to how you reorder images for listings.

I even tried to do this myself by looking into the database of the server but it's stored as a binary blob :(

![screen shot 2016-06-02 at 11 38 47](https://cloud.githubusercontent.com/assets/4035854/15742424/b8f391f0-28b6-11e6-998e-c9895d257b8a.png)

Not much I can do there. 0 options.

Do I have to delete all of them and start again

[2016-06-02 14:27] jjeffryes commented on #1620
Here's the same screenshot on the current master:

![image](https://cloud.githubusercontent.com/assets/1584275/15748356/90ef1daa-28ac-11e6-94b9-b4724df8f45d.png)

[2016-06-02 14:37] #1579 closed, assigned to nobody

[2016-06-02 14:57] #1626 closed, assigned to nobody

[2016-06-02 16:20] morebrownies commented on #1642
Agreed. More sorting flexibility is definitely needed.

[2016-06-02 16:46] #1560 closed, assigned to nobody

[2016-06-02 17:16] rmisio commented on #1640
It looks like, for whatever reason, the credentials stored with the default connection do not match what's on your server.

You're best best is to search for ob.cfg (in your app install dir if you're running the app from the installer, or in your server directory, if you're using the stand-alone server) and set your own credentials by updating the `username` and `password` lines (and removing the

[2016-06-02 18:03] rmisio commented on #1557
Thanks so much for the uber-detail description. But, I'm not able to reproduce this. When the app connects to a new a server, it re-starts and I'm not seeing any 401s.

I assumer you're running each node with a completely different set of ports (not just the rest API)? e.g:

node1 ==>

[code]

node2 ==>

[code]

[2016-06-02 18:15] astupidmoose commented on #1557
This is correct.

Node 1
python openbazaard.py start -a 0.0.0.0 -p 11001 -r 12001 -w 13001 -b 14001

Node 2
python openbazaard.py start -a 0.0.0.0 -p 11002 -r 12002 -w 13002 -b 14002

[2016-06-02 18:22] rmisio commented on #1557
where is getting port 12032 on the 'Correct port being called' screen?

[2016-06-02 18:28] astupidmoose commented on #1557
Sorry, not sure i understand the question

12032 is the rest API port for the instance. This screenshot is in network tab of the developers console. When switching from a working instance to a non-working there are multiple rest API calls, however they are sometimes the old rest API port, and sometimes the new one. As if this info is cached in memory somewhere?

[2016-06-02 18:34] #1462 closed, assigned to nobody

[2016-06-02 18:48] rmisio commented on #1628
I'm not able to reproduce this one. @jjeffryes @morebrownies Can either of you?

[2016-06-02 20:05] jjeffryes commented on #1633
This has been fixed.

[2016-06-02 20:05] #1633 closed, assigned to nobody

[2016-06-02 20:41] mariodian commented on #1620
@jjeffryes you need to **disable visual effects** as mentioned in OP.

[2016-06-02 20:59] jjeffryes commented on #1620
Ah, ok. I'll fix it in my next PR.

[2016-06-02 21:13] rmisio commented on #1620
There's also a related issue where the app cannot be dragged by the app-bar when on the the user page, unless you're scrolled to the top. Haven't dug too deep into it, but it seems that even when the image is not visually covering the app-bar, it's still preventing it from being draggable.

[2016-06-02 22:34] jjeffryes commented on #1620
@rmisio that was something different, the modalHolder div had a no-drag property on it, and under the new structure it scrolls with the page when it's not visible.

It's fixed in https://github.com/OpenBazaar/OpenBazaar-Client/commit/33f75d56c58d5593804558be5273b50ad178bc3d

[2016-06-02 22:56] mariodian commented on #1620
Seems to be fixed, but the header's height is still too big (and it shouldn't be according to this issue #1566 which was fixed later, got merged and then removed somehow).

[2016-06-03 00:07] ghost commented on #1622
Another fix needed: on the "Photos" section, the message "_No photos added_" should appear below (and not under) the white circle with plus (+).

[2016-06-03 01:08] mariodian commented on #1642
The latest saved listing ends up at the end of the list. So you can just ctrl+s each listing in desired order for now.

When the feature mentioned in the OP is available, auto re-ordering on a listing update should be disabled.

[2016-06-03 02:13] ghost opened #1650 "Allow publish / unpublish per listing"
Each listing should have its own _publish / unpublish_ option on "edit listing" page.
Currently only all listings as a whole can be published / unpublished by activating / deactivating store on Settings page.

[2016-06-03 03:00] #1625 closed, assigned to nobody

[2016-06-03 04:48] mariodian opened #1651 "Navigation line 100% width"
There's a line below the menu that is visible when the menu is open.

![screen shot 2016-06-03 at 12 43 17 pm](https://cloud.githubusercontent.com/assets/3636406/15768999/18cdbf24-2989-11e6-91cf-e3521a26c4ee.png)

I spot it some time ago, it surely happens on latest pull (d4b0fd8). It only happens with the menu and not the notifications.

[2016-06-03 04:58] ghost commented on #1622
Another fix with the marking in red: all required items are marked only on the fields to be filled, except the "Tags" which is marked on the title (Tags) AND the field (place where user writes his tags). You can see this on the first screenshot.

[2016-06-03 08:54] dsmurrell commented on #1642
Ah thanks Mario... I can use this hack for now.

[2016-06-03 15:32] #1641 closed, assigned to nobody

[2016-06-03 15:36] #1164 closed, assigned to nobody

[2016-06-03 15:36] #1623 closed, assigned to morebrownies

[2016-06-03 16:06] #1651 closed, assigned to nobody

[2016-06-03 17:16] jjeffryes commented on #1628
I can't reproduce this either. It's possible that when a file name was turned into a hash and saved locally that identical file names would pick up the old hash even though they were new images.

I think the latest image code refactor should have fixed that.

[2016-06-03 20:37] rmisio commented on #1622
i got this one.

[2016-06-03 22:43] sgornick commented on #1628
I've pulled the latest from the OB Client repository (master) from today and tried again and the problem persists for me.

Not sure why this would behave differently on my system.  I didn't use the installer but instead installed first
`$ sudo npm install electron-prebuilt`

And then
`$ npm install`
`$ npm start`

Anyway, ... it's a very minor issue that resolves itself by simply repeating the sam

[2016-06-04 00:25] jjeffryes commented on #1628
Weird. I'll reopen this and see if we can get anyone else to reproduce it.

It could be a Linux issue, we haven't tried it yet on that. @SamPatt can you see if you can replicate this?

[2016-06-04 18:43] PanosChtz opened #1655 "Connection failed to default— too many failed authentication attempts"
Brief Description: Fresh installation 1.15.
Getting "Connection failed to default— authentication failed"
and then
"Connection failed to default— too many failed authentication attempts" message.

Operating System (OS and version): Windows 10 x64
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce)

[2016-06-04 19:35] ghost opened #1656 "No word wrap in review text"
Review text doesn't wrap words correctly.

OB v1.1.5

![review2](https://cloud.githubusercontent.com/assets/10789865/15801651/509d9d2c-2a72-11e6-8a11-32838c0e1daf.png)

[2016-06-05 19:03] SamPatt opened #1657 "Enter key isn't working in address bar"
Brief Description: Pressing "enter" key doesn't work in address bar.

Operating System (OS and version): Ubuntu 14.04

OpenBazaar version (shown on `About OpenBazaar` page in menu): Latest client and server as of today.

Reproducible: Always.

Steps to reproduce:
1. Type in a page name, or a search tag, or paste an OB address into the address bar
2. Press enter
3. Nothing happens

@mariodian Is it

[2016-06-05 20:47] #1657 closed, assigned to nobody

[2016-06-06 11:31] Rocks333 commented on #1585
What else I could check as a potential reason?

[2016-06-06 17:11] rmisio commented on #1585
I'm not really sure. If you run a basic web server on your server, are you able to connect to it?

[code]

Then from a browser on your client machine, try accessing `<your-server-ip>:8000`. If you connect successfully, it should return a directory listing.

[2016-06-06 17:36] rmisio commented on #1655
If this is really a fresh install (you've never had the app or the stand-alone client or server installed), I have no idea how this could be happening.

Anyhow, this is a duplicate of #1640. A work-around is described in that ticket.

[2016-06-06 18:14] #1622 closed, assigned to jjeffryes

[2016-06-07 07:11] Krisseck opened #1664 "Client opens between two monitors in Linux"
Brief Description: When the client starts, it opens up between the two monitors in Linux.

Operating System (OS and version): Elementary OS Freya
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.6
Hardware: Thinkpad E540

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Have Linux OS
2. Have atleast two monitors
3. Op

[2016-06-07 08:31] JustinDrake opened #1665 "Unnatural word break in chat"
The chat breaks words in an unnatural fashion. See screenshot below. For example, `than` is `tha` + `n`.

![screen shot 2016-06-07 at 09 29 37](https://cloud.githubusercontent.com/assets/731743/15850941/95133e86-2c92-11e6-8d0f-a1200553f3d0.png)

[2016-06-07 10:37] hoffmabc commented on #1664
This may be an electron issue. I think it just launches in the center of the whole display no matter what so it must not be smart enough to pick one display over the other. Will have to take a look.

[2016-06-07 11:04] Krisseck commented on #1664
Yeah, looks like it's rather an issue on Electron. I created an issue there, I'll close this :)

[2016-06-07 11:04] #1664 closed, assigned to nobody

[2016-06-07 12:08] Rocks333 commented on #1585
Nope, OB is the only thing I have there.
All I know is  I can ssh just fine.

How come OB doesn't even give the reason for not connecting?

Is there a way to access my store from outside to see if it's even visible? Is there a way to get the guid without being able to connect to it with the client?

[2016-06-07 12:11] hoffmabc commented on #1585
On the server machine can you see if the ports are listening?

[code]

See if the 18467 and 18466 and other OB ports are even listening.

[2016-06-07 12:21] Rocks333 commented on #1585
here it is

udp        0      0 0.0.0.0:18467           0.0.0.0:*
tcp        0      0 0.0.0.0:18466           0.0.0.0:\*               LISTEN

[2016-06-07 12:22] Rocks333 opened #1666 "Where is the error log?"
Ok this might be super stupid but i was unable to find where OB-client stores the logs.
Makes my connection issue quite hard to troubleshoot :)

[2016-06-07 12:25] hoffmabc commented on #1585
If you do his what do you get?

[code]

[2016-06-07 12:28] hoffmabc commented on #1666
~/.openbazaar/debug.log

[2016-06-07 12:28] Rocks333 commented on #1585
ob-server and ob-client are on different computers
i ssh@ip to it since i'm on linux on both ends

ssh works just fine

it's only the ob-client that keeps haning on "connecting...." forever without saying anything

[2016-06-07 12:29] hoffmabc commented on #1585
I'm saying make sure those ports are even listening on your ssh machine.

[2016-06-07 14:00] Timbo925 opened #1667 "No sales visible in my transactions tab - list.min.js: 1 Uncaught Error"
Brief Description: No sales visible in my transactions tab

Operating System (OS and version): VPS with latest pull, 1.1.6 clients on windows and mac
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Open sales tab

Observed Behavior: No sales are shown, only

Exp

[2016-06-07 14:11] Timbo925 commented on #1667
Rolling back to 1.1.5 on mac solved the issue and I can see everything again.

[2016-06-07 14:12] hoffmabc commented on #1667
@jjeffryes please check this one out.

[2016-06-07 14:37] jjeffryes commented on #1667
@Timbo925 can you post a screenshot of your transactions page with the sales tab active?

Also look at the button right below the tab labeled "Hide Unfunded". If it has a number in it, you have sales that have not been funded, which are now hidden by default. You can click that button to show them.

[2016-06-07 15:01] Timbo925 commented on #1667
@jjeffryes Here you go http://imgur.com/a/bkMzF

The one showing the listings is on 1.1.5 OSX, without 1.1.6. and I have different stages between them if that maters (not funded/funded/shipped/completed/disputed/dispute closed) Seems like due to the error not all the api calls are being made.

[2016-06-07 15:08] jjeffryes commented on #1667
That error with List.js doesn't block any other code, I'm pretty sure it can't be causing this.

Can you post your server error log? If there is a server issue with the get_purchases call, it will block the get_sales call.

[2016-06-07 15:10] jjeffryes commented on #1667
One other thing, if you can give us the results of the get_purchases call, that might be useful too.

[2016-06-07 15:19] Timbo925 commented on #1667
Ok this is weird. It didn't work so I decided to test the API call directly using postman (which worked). Then going back to the application it suddenly worked and my listings are showing. Guessing I forced something to change using postman to login and do the call. Can't seem to reproduce the problem now.

Using the API directly and in terminal form the client I get this:

[code]

[2016-06-07 16:00] Rocks333 commented on #1585
well looks like they are:
udp 0 0 0.0.0.0:18467 0.0.0.0:*
tcp 0 0 0.0.0.0:18466 0.0.0.0:\* LISTEN

[2016-06-07 16:02] Rocks333 commented on #1666
I have only ob-client installed on the client machine and don't have this folder there.
Only on the ob-server machine.

[2016-06-07 16:54] jjeffryes commented on #1667
@Timbo925 Occasionally the get_purchases or get_sales call hangs or takes a very long time to resolve, my guess is that's what happened here.

Usually hitting Cmd + F to reload the app will clear it up.

If you see this again, check the get_purchases call to see if it's resolving, and let us know what the results are.

[2016-06-07 18:37] astupidmoose commented on #1557
Issue is still present in 1.1.6 however has slightly different behavior.

Switching to an affected user shows this "Data could not be loaded for: following":
https://gyazo.com/18fc23a9c558fa7f61e6a2066e71e59e

followed by authentications failed.
https://gyazo.com/afe6cd9f25fd972f424de64cca50cef6

[2016-06-07 20:21] Timbo925 commented on #1667
Ok thank you will do if it happens again.

[2016-06-08 01:16] lunokhod commented on #1656
I confirm that this is an issue on OSX and that this is very important. Consider the difference in meaning between these two:

[code]

and

[code]

[2016-06-08 01:21] lunokhod opened #1670 "Dispute summary does not provide buyer info."
When clicking on a dispute, the "summary" tab only provides the vendor and moderator info, but not the buyer info. If this is intentional, it is confusing...

[2016-06-08 01:22] ghost opened #1671 "Item count display error"
The following error is happening on item count higher than 100.

![item count](https://cloud.githubusercontent.com/assets/10789865/15879875/3feb30b4-2cfe-11e6-9da6-91e24253e39a.png)

[2016-06-08 01:25] ghost opened #1672 "Error in Categories field width"
After updating to OB 1.1.6, categories field on item edit page got a line break when Brazilian Portuguese language is selected.

![categories](https://cloud.githubusercontent.com/assets/10789865/15879891/77eebf6c-2cfe-11e6-8c0e-949adc7dd1c9.png)

[2016-06-08 01:26] ghost opened #1673 "Translated countries are out of alphabetical order"
This behavior is seen if a non-english language is selected.

![countries out of order](https://cloud.githubusercontent.com/assets/10789865/15879918/c47ecbb0-2cfe-11e6-8607-2b0780b1c9a6.png)

![countries out of order2](https://cloud.githubusercontent.com/assets/10789865/15879917/c0ea0456-2cfe-11e6-98d0-199885f3c775.png)

[2016-06-08 01:27] ghost opened #1674 ""%" missing on moderator's fee"
Started on v1.1.6

![no](https://cloud.githubusercontent.com/assets/10789865/15879930/ed76531c-2cfe-11e6-8518-7732f65c779f.png)

[2016-06-08 01:30] ghost opened #1675 "Chat message being considered a required field"
Chat message is not a required field and should not be marked in red if nothing is typed.

It is now being marked in red even if user doesn't click on send message (i.e. clicks on chat text).

![chat message input](https://cloud.githubusercontent.com/assets/10789865/15879951/1ec033f2-2cff-11e6-89ee-034fd70b39e8.png)

[2016-06-08 01:36] ghost opened #1676 "Missing translation on date and time"
![date and time order](https://cloud.githubusercontent.com/assets/10789865/15880006/b2b0e930-2cff-11e6-8634-bbc2d83dbb23.png)

![chat date and time](https://cloud.githubusercontent.com/assets/10789865/15880009/b723da90-2cff-11e6-81ee-012b9fa10b29.png)

[2016-06-08 01:38] ghost opened #1677 "Incorrect text height"
@ symbol is being cut at the bottom

![line](https://cloud.githubusercontent.com/assets/10789865/15880093/762a1878-2d00-11e6-8168-b7db9d1681c9.png)

[2016-06-08 01:42] ghost opened #1678 "Can't translate "Select Some Options" message on Ships To field"
![select some options](https://cloud.githubusercontent.com/assets/10789865/15880166/22ae6c7a-2d01-11e6-87e7-f778d2637071.png)

[2016-06-08 03:34] ghost opened #1679 ""Free" label on order window"
"Free" label is not clear, and should be replaced by "Free shipping".

Another option could be adding a "Shipping Price" label on the first row of right column.

![free ship](https://cloud.githubusercontent.com/assets/10789865/15881900/1e075b50-2d10-11e6-8d08-264c30a9a99b.png)

[2016-06-08 04:42] drwasho commented on #1679
+1

[2016-06-08 05:49] drwasho opened #1680 "Make Zip code optional"
Some locations don't have a zip code, but the application is assuming all delivery addresses do. This should be an optional component of the shipping address. This is one idea of how to represent that:

![image](https://cloud.githubusercontent.com/assets/3887694/15883983/7726402c-2d90-11e6-9bc9-8846ca714f1a.png)

I'll make a parallel server issue.

[2016-06-08 05:56] drwasho opened #1681 "Consistent terminology in Dispute Panel"
Change 'Seller' to 'Vendor' to make it consistent with the rest of the application.

![image](https://cloud.githubusercontent.com/assets/3887694/15884108/54fa3d18-2d91-11e6-935e-19e1594d7f58.png)

PS: @jjeffryes I'm just gonna initially assign frontend issues to you, and you can hand it off to any else from there

[2016-06-08 06:17] drwasho commented on #1265
We've recently made some redesigns on the contract schema to allow users to factor in whatever tax they need to. I'm closing this issue for now as it will be a sprint item soon with a full set of requirements.

[2016-06-08 06:17] #1265 closed, assigned to nobody

[2016-06-08 06:20] drwasho commented on #545
I don't believe this can be fixed (easily at least) with the current application and I'm not sure how it will work for 2.0. In any case I'm closing the issue.

[2016-06-08 06:20] drwasho commented on #360
Chat is going to go through a major redesign for 2.0 and we already have email notifications working. Closing this issue. Thanks everyone.

[2016-06-08 06:20] #360 closed, assigned to nobody

[2016-06-08 06:22] drwasho commented on #722
@morebrownies this would be a good idea for 2.0

[2016-06-08 06:30] drwasho commented on #1344
Haggling would need to take place outside of the contract system with the end result being the generation of a listing contract with a locked-in price. In other words, we shouldn't use the Ricardian contracts for haggling, only to record the agreed upon price.

Could work like this:
- Listing contract has the item details (as per normal) with a price range or empty field for `price`
  - On the bac

[2016-06-08 06:32] drwasho commented on #1563
Fixed ages ago.

[2016-06-08 06:32] #1563 closed, assigned to jjeffryes

[2016-06-08 08:42] Rocks333 commented on #1585
well looks like they are:
udp 0 0 0.0.0.0:18467 0.0.0.0:*
tcp 0 0 0.0.0.0:18466 0.0.0.0:* LISTEN

[2016-06-08 08:43] Rocks333 commented on #1585
A little more info

If the server at the VPS is stopped, it denies the connection right away and says can't connect
if it's started it hangs on "connecting.." forever

so it's seeing the server somehow.....

edit:
here is what netstat says
tcp      476      0 VPSIP:18470     CLIENTIP:29499     ESTABLISHED
tcp6       0      0 :::22                   :::\*                    LISTEN
udp   214656

[2016-06-08 14:41] Aurareus opened #1682 "Option to minimize to system tray"
The ability to minimize the client to the system tray in Windows would be appreciated.

[2016-06-08 16:29] #1621 closed, assigned to jjeffryes

[2016-06-08 16:29] #1667 closed, assigned to nobody

[2016-06-08 17:43] morebrownies commented on #545
Why close this? It's still an issue in the app, even if it's complex to fix.

[2016-06-08 17:46] morebrownies commented on #1675
+1

[2016-06-08 17:58] jjeffryes commented on #545
I think he was closing it because we're considering this a "will never fix in 1.x" issue, since the nature of how unfollowing works makes it pretty close to impossible without major changes.

[2016-06-08 18:20] morebrownies commented on #545
Sure, but there may be other ways of going about solving the underlying UX issue. Maybe instead of a true "Unfollow" action, we could introduce an action to "Remove from list", which would allow you to follow pages, but without them displaying on your page. Something like that could be a decent short term solution while we figure out how to support Unfollowing.

[2016-06-08 18:22] cpacia commented on #545
This will be fixed in 2.0

[2016-06-09 00:08] muneeb-ali commented on #715
Is there a separate Github issue for integrating support for registering a Blockstack ID directly in the OB app? That's probably the best long-term solution, the OB users won't need to leave the app.

[2016-06-09 02:18] hoffmabc commented on #715
I don't believe we do. I'll check.

[2016-06-09 02:19] hoffmabc opened #1683 "Incorporate Blockchain ID registration within the client"
Self explanatory

[2016-06-09 02:45] ghost opened #1684 "Wrong title on Shipping & Returns tab"
Instead of "Worldwide" should be "Domestic"
![worldwide](https://cloud.githubusercontent.com/assets/10789865/15917433/1602ce94-2dd3-11e6-88f5-30678187a544.png)

[2016-06-09 02:49] ghost opened #1685 "Consistent terminology in moderator fee"
It should be called either "_Dispute fee_" or "_Service fee_", since it is the same thing.

![dispute fee](https://cloud.githubusercontent.com/assets/10789865/15917503/b8266500-2dd3-11e6-86aa-dce19e563667.png)

![service fee](https://cloud.githubusercontent.com/assets/10789865/15917486/890a8436-2dd3-11e6-847a-c0af9302325e.png)

[2016-06-09 03:24] ghost opened #1686 "Allow item prices to be lower than 0.002 BTC"
Each bitcoin transaction has fees that must be covered, requiring a minimum value for each transaction.

Current minimum value of a transaction is being guaranteed by seller by setting a minimum item price, which is now 0.002 BTC (1.16 USD) per item.

A better approach should be allowing sellers to define item prices as low as possible, like 0.01 USD (0.0000172 BTC), and to require buyer to guaran

[2016-06-09 16:50] JustinDrake opened #1687 "Shipping address not clear enough"
I have bought an item on OpenBazaar, and the seller writes:

![screen shot 2016-06-09 at 17 49 00](https://cloud.githubusercontent.com/assets/731743/15938319/99326dd2-2e6a-11e6-8978-a2ba7499fc06.png)

[2016-06-09 17:36] LiteBit commented on #1687
Has the payment been paid in full? I think shipping info is withheld from viewing until payment has been completed. That may be what they are referring to.

[2016-06-09 20:25] JustinDrake commented on #1687
Paid in full

[2016-06-09 23:17] jjeffryes opened #1688 "Pluralize image(s) if possible"
The practice of making a word singular and plural using (s) doesn't exist in some other languages, it is much better to handle this with a polyglot plural phrase.

If the number of images can be determined, change "We were unable to load your image(s)." into a phrase in polyglot with singular and plural forms.

If it's not possible to determine the number of images, change the phrase to something

[2016-06-09 23:20] jjeffryes commented on #1687
Can you get a screen shot of the shipping tab for the transaction from the seller? We don't have much to go on.

[2016-06-10 01:15] ghost opened #1689 "Discover page elements keep language"
![language change2](https://cloud.githubusercontent.com/assets/10789865/15951522/742a19de-2e8f-11e6-8e9e-bce4229e86ef.png)

To reproduce: Change language on settings, and return to Discover page. Elements keep previous language.

OB 1.1.6

[2016-06-10 01:33] Gitju commented on #1680
Also somehow it is irritating that a complete address is necessary to see if the delivery into a country is possible despite the fact that the country matches.

During the install I setup my country. Then when I find an article that delivers to my country I just see the information that it does not deliver to my country.

First I must insert a complete delivery address and then it shows that deliv

[2016-06-10 01:55] jjeffryes commented on #1689
@rmisio is this an issue with caching?

[2016-06-10 01:55] jjeffryes commented on #1680
@Gitju it should pick up your country when determining if the product will ship to you.

Where did you see the message that the product will not ship to your country?

[2016-06-10 02:18] Gitju commented on #1680
Here is a listed article that ships to **Deutschland** (Germany) but it shows that no one of my addresses are in a country where this article can be send to.

![keine](https://cloud.githubusercontent.com/assets/5765500/15952388/ae91bba0-2ec0-11e6-92ac-5fc08feed280.png)

This is my actual address tab after a fresh installation where the country is set to **Deutschland**.

![adresse](https://cloud.g

[2016-06-10 02:34] Gitju opened #1690 "No umlauts in the title of an article possible"
Brief Description:

Operating System (OS and version): GNU/Linux Debian 8.3
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.6
Hardware: Yes ;)

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Create a new article
2. Choose a title like **Kühlschrank**
3. Try to save the article

Observed Behavior:
Error message that

[2016-06-10 02:48] jjeffryes commented on #1680
I see.

The message is saying that none of your currently saved addresses can be shipped to, which is correct if you haven't saved any addresses yet.

It should say that you need to add an address, and that you can do so after clicking the buy button.

We'll update the language.

[2016-06-10 02:50] jjeffryes commented on #1690
This is probably the same issue as https://github.com/OpenBazaar/OpenBazaar-Server/issues/434

The title field needs to be updated on the server to handle special characters.

Pinging @cpacia

[2016-06-10 02:51] ghost opened #1691 "Inconsistent behavior on count of unread messages in Order's discussion"
Discussion button's count of unread messages is inconsistent. If you restart the software and go to Transactions page again, sometimes it adds the number of unread messages to the previous number of unread messages.

On example below I had 3 unread messages, it was showing 1, and after restarting software, it started showing 4 unread messages.

![discussion count2](https://cloud.githubusercontent.

[2016-06-10 03:01] ghost commented on #1680
I disagree. For this part ("Can Ship to You In:"), OpenBazaar should consider user's country as his home "address", until he adds an address.
Most part of users will set their countries on the same place of their addresses, so it's not a problem.

[2016-06-10 03:05] ghost opened #1692 "Translated currencies are out of alphabetical order"
![currency out of order](https://cloud.githubusercontent.com/assets/10789865/15953233/fb75d1a8-2e9e-11e6-8ae6-9a41d9816478.png)

[2016-06-10 07:21] Gitju commented on #1680
As a new user I would exactly expect what @rhcastilhos said.

[2016-06-10 09:39] Rocks333 commented on #1585
well I'll be trying on new server then since seems like nobody has ideas what else to check :)

[2016-06-10 12:36] jjeffryes commented on #1680
You're misunderstanding me, @rhcastilhos. Another part of the page already uses the country to match whether the product can be shipped to the user. The specific message being asked about is only for the address that is saved, and it should be clear about that fact.

Some users have a country that is different than the address they want something shipped to, so we need to cover that possibility, b

[2016-06-10 15:18] morebrownies opened #1693 "The minimum price logic when creating/editing a listing seems to be over estimating the minimum price"
Currently it's saying I can't list an item for less than $1.16. The current bitcoin fees are probably around 5 cents right now so I'm not sure where $1.16 is coming from. Seems like there is a bug in the logic.

<img width="545" alt="screenshot 2016-06-10 08 14 27" src="https://cloud.githubusercontent.com/assets/13066886/15969124/68305248-2ee3-11e6-9006-e42546dfe935.png">

[2016-06-10 16:25] jjeffryes commented on #1693
It's not a bug, we decided to set it to 0.002BTC to make sure the transaction goes through.

[2016-06-10 16:26] jjeffryes commented on #1693
The issue is we have to set it to some arbitrary amount, since we don't have a way of dynamically detecting what the lower limit should be, so we'll have to continuously update this as prices and the network change.

It'd be nice to have a better way to handle it.

[2016-06-10 16:30] morebrownies commented on #1693
We may want to go back to the drawing board on this one and consider alternative approaches. The main problem is I can't update my listings without raising the price.

[2016-06-10 16:51] jjeffryes commented on #1693
The theory is if your prices are in fiat, and the BTC to fiat exchange rate goes up, you need to raise the prices or when people try to buy your products the transaction will fail or never resolve (or take a very long time to resolve). We set the minimum higher than the actual point at which they fail to provide a little buffer against price fluctuations.

There's a ticket to make listings in fiat

[2016-06-10 17:58] jjeffryes commented on #1693
Let's consider using a service like https://bitcoinfees.21.co/api to get a constantly updated number, and base it off of a transaction size of 400 bytes.

For now I'll move the minimums by a decimal place, it was probably a typo when we set it up.

[2016-06-10 20:43] rmisio commented on #1689
@jjeffryes it is a caching issue. I have a couple of language issues that I've been meaning to discuss with you that would affect how to go about handling this. I'll defer fixing this bug until then.

[2016-06-11 07:25] mariodian commented on #1693
Maybe it's a good idea to follow the reference bitcoin client

https://github.com/bitcoin/bitcoin/blob/28ad4d9fc2be102786a8c6c32ebecb466b2a03dd/src/primitives/transaction.h#L161

[2016-06-12 13:07] evilsocket opened #1695 "[OSX] Can't connect to default server."
Brief Description:

The app gets stucked to "Connecting to default server ..." message.

![schermata 2016-06-12 alle 15 04 35](https://cloud.githubusercontent.com/assets/86922/15991296/241b5594-30af-11e6-82e4-e757ea611e89.png)

Operating System (OS and version):

Mac OS X 10.11.14

OpenBazaar version (shown on `About OpenBazaar` page in menu):

1.1.6

Hardware:

Macbook Pro Retina

Reproducible (A

[2016-06-12 13:28] evilsocket commented on #1695
I [had issues starting](https://github.com/armstrtw/rzmq/issues/18) the server, I solved with:

[code]

Now I see this:

![schermata 2016-06-12 alle 15 27 39](https://cloud.githubusercontent.com/assets/86922/15991412/5dc8dbc4-30b2-11e6-9883-13d006e1d63f.png)

[2016-06-12 21:53] LaPingvino opened #1696 "Merge in Esperanto translation"
The Esperanto translation in Transifex is at 71%, no really important things are untranslated. I will of course keep on translating, but it would be really nice to have the version as is included (also as it's further translated than some other languages...).

[2016-06-12 23:31] jjeffryes commented on #1696
We'll add it in the next release.

Generally we add languages at 80%, but as new phrases get added the percentages change, so some of the languages that used to be near 100% are now much lower because they haven't been updated recently.

[2016-06-13 16:20] jjeffryes commented on #1686
This was resolved, the minimum price is now set to the lowest that still clears quickly for a transaction of average size. see #1693 for more discussion on future solutions.

[2016-06-13 16:20] #1686 closed, assigned to nobody

[2016-06-13 18:50] jjeffryes commented on #941
This was completed.

[2016-06-13 18:50] #941 closed, assigned to nobody

[2016-06-14 04:09] ghost commented on #1684
You have changed original presentation. You should either change "Worldwide" to "Local" or delete "Worldwide" and change the first header to "Ships inside [country]".

[2016-06-14 15:06] Rocks333 commented on #1585
Ok i just changed the host and all worked right away

and the previous host was confident there are no blocked ports

go figure lol

[2016-06-14 16:09] JustinDrake commented on #1695
I'm getting the same issues. Can't connect to default server.

[2016-06-14 16:10] hoffmabc commented on #1695
As a test try specifying a different OB port

[code]

[2016-06-14 16:13] evilsocket commented on #1695
@hoffmabc nope, it didn't work

![schermata 2016-06-14 alle 18 12 51](https://cloud.githubusercontent.com/assets/86922/16050347/a88f1268-325b-11e6-8d03-7f6cd61f1a84.png)

[2016-06-14 16:15] JustinDrake commented on #1695
@hoffmabc Nope.

[2016-06-14 16:16] #1687 closed, assigned to nobody

[2016-06-14 16:19] evilsocket commented on #1695
@JustinDrake our errors are different, you have something else listening on port 18470 ( while I dont ):

[code]

You can try this command to see what's listening on that port:

[code]

[2016-06-14 16:35] JustinDrake commented on #1695
You're right. It seems I had a zombie OpenBazaar server running. I killed it and it now works :)

[2016-06-14 16:36] evilsocket commented on #1695
Glad that at least it works for you :)

[2016-06-14 16:41] JustinDrake commented on #1695
Hey @evilsocket, are you on the OpenBazaar Slack by any chance?

[2016-06-14 16:41] evilsocket commented on #1695
nope

[2016-06-14 16:43] JustinDrake commented on #1695
@evilsocket I'm personally working on Duo Search (www.duosear.ch), an OpenBazaar search engine. Hit me up if it sparks any interest whatsoever. :)

[2016-06-14 16:44] evilsocket commented on #1695
@JustinDrake nice, is it open?

[2016-06-14 16:45] JustinDrake commented on #1695
@evilsocket: Not yet. We'll probably open the frontend soon, and maybe the crawlers and scrapers at some point.

[2016-06-14 16:46] evilsocket commented on #1695
@JustinDrake well, if it's not 100% open I'm not interested :)

[2016-06-14 16:50] JustinDrake commented on #1695
@evilsocket Haha, OK :) I'll keep that in mind.

[2016-06-14 17:40] LaPingvino commented on #1696
Should be completely mergeable now: it's at 100%. Thanks!

[2016-06-14 17:41] hoffmabc commented on #1695
That error you're getting @JustinDrake could be the STUN server acting up. I noticed it for a bit and then it finally went away. I think there are some tweaks to the STUN handling that could make this more rresilient.

[2016-06-14 18:44] #1691 closed, assigned to nobody

[2016-06-14 18:44] jjeffryes commented on #1691
Issue moved to [OpenBazaar/OpenBazaar-Server #437](https://github.com/OpenBazaar/OpenBazaar-Server/issues/437) via [**ZenHub.io**](https://www.zenhub.io/)

[2016-06-14 23:27] LaPingvino opened #1698 "Bitcoin labels don't always show all digits of price"
Brief Description: When making a payment not using the link (because the system doesn't support that for example) the amount shown can be slightly off because some digits of the bitcoin price get cut of, thus making the payment not go through

Operating System (OS and version): Linux x64 (Ubuntu chroot on ChromeOS)
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.6
Hardware: Chro

[2016-06-15 02:55] #1656 closed, assigned to nobody

[2016-06-15 02:55] #1665 closed, assigned to nobody

[2016-06-15 02:55] #1670 closed, assigned to nobody

[2016-06-15 02:55] #1672 closed, assigned to nobody

[2016-06-15 02:55] #1673 closed, assigned to nobody

[2016-06-15 02:55] #1674 closed, assigned to nobody

[2016-06-15 02:55] #1675 closed, assigned to nobody

[2016-06-15 02:55] #1676 closed, assigned to jjeffryes

[2016-06-15 02:55] #1677 closed, assigned to jjeffryes

[2016-06-15 02:55] #1678 closed, assigned to jjeffryes

[2016-06-15 02:55] #1679 closed, assigned to jjeffryes

[2016-06-15 02:55] #1681 closed, assigned to jjeffryes

[2016-06-15 02:55] #1684 closed, assigned to nobody

[2016-06-15 02:55] #1685 closed, assigned to nobody

[2016-06-15 02:55] #1688 closed, assigned to nobody

[2016-06-15 02:55] #1692 closed, assigned to nobody

[2016-06-15 03:05] jjeffryes commented on #1698
@LaPingvino can you pull the lastest version of the client from Github, and see if that solves the issue?

Or post the OpenBazaar link to an affected listing?

[2016-06-15 09:53] ghost opened #1699 "Allow users to select which BTC unit to display"
Users should be able to select between BTC ("bitcoins"), mBTC ("millibitcoins") and μBTC ("bits").

[2016-06-15 23:27] dsmurrell opened #1700 "Minus 1 notifications"
![screen shot 2016-06-16 at 00 18 57](https://cloud.githubusercontent.com/assets/4035854/16100710/2534a236-3358-11e6-9041-c790c67401f9.png)

Not sure how this happened... was chatting in the contract discussion.

[2016-06-15 23:28] dsmurrell opened #1701 "Word wrap breaks individual words in chat and in contract discussion chat."
This looks pretty bad. Not sure if intentional.

[2016-06-15 23:32] tmmunro commented on #1700
I also just got the -1 ... running 1.6 client connected to VPS from master pull

[2016-06-15 23:33] jjeffryes commented on #1701
This should have been fixed in commit 5a389e3, are you still seeing it in master?

[2016-06-15 23:36] dsmurrell commented on #1701
Is that commit before 1.1.6? I'm using the client from the installer.

[2016-06-15 23:43] jjeffryes commented on #1701
No, it's only in the master branch, it was committed last night.

[2016-06-15 23:46] dsmurrell commented on #1701
Oh ok, no problem then. We can close this.

[2016-06-15 23:46] #1701 closed, assigned to nobody

[2016-06-16 00:34] morebrownies opened #1702 "I need an easy way to clear the "Ship to" input when creating/editing a listing"
<img width="531" alt="screenshot 2016-06-15 17 27 29" src="https://cloud.githubusercontent.com/assets/13066886/16101809/77ec9be4-331e-11e6-94c9-587a8afa905a.png">

If you accidentally select Shipping Region "All countries", you'll manually have to remove each country one by one from the Ship to field. Having a way to "clear" the input would be a life saver.

Oh and the X isn't displaying for each

[2016-06-16 10:46] JustinDrake opened #1703 "Third party search engines API"
As I understand the OpenBazaar team wants an API for third-party search engines to allow for fast searches from the OB client. This is in the "3-12 months" category in [the roadmap](https://medium.com/@therealopenbazaar/openbazaar-roadmap-46b9e774f319#.th37jnt8u).

The [Duo Search OpenBazaar search engine](https://duosear.ch) is keen to become a third-party search engine to provide our ultra-fast

[2016-06-16 11:17] hoffmabc commented on #1703
Haven't given a ton of thought on this yet, but I think OpenSearch is reasonable to me. Especially since you are already using it for the duosearch product and the rest of us who will be building endpoints (OB1, bazaarbay, etc) haven't currently built out any alternative.

[2016-06-16 12:19] JustinDrake commented on #1703
We're using OpenSearch is a minor fashion; very open to other suggestions.

[2016-06-17 05:18] deeb33 opened #1707 "Client hangs when trying to connect from unauthorized IP"
Brief Description:
If the client is connecting from an IP that is not allowed by the Server, the client hangs with no useful options.

Operating System (OS and version):
Client - Windows 7, 64 bit
Server - Ubuntu 14.04 LTS

OpenBazaar version (shown on `About OpenBazaar` page in menu):
Both - 1.1.6

Hardware:
Client - Intel Dual Core 3 ghz, 4 GB RAM
Server - Bitnodes.net (Linode I think) VPS, 1 co

[2016-06-17 22:26] jjeffryes opened #1708 "In the white theme, the new modal text isn't readable"
![image](https://cloud.githubusercontent.com/assets/1584275/16166412/0ec9f872-34b9-11e6-9c27-825d2272beca.png)

[2016-06-17 22:28] #1689 closed, assigned to nobody

[2016-06-17 22:28] #1700 closed, assigned to nobody

[2016-06-18 14:34] #1708 closed, assigned to nobody

[2016-06-19 06:34] mariodian commented on #1702
Can you please add a design for this use case? I'll get this one.

[2016-06-19 11:02] daira opened #1710 "[enhancement] support Zcash as currency"
Brief Description: Zcash is a Bitcoin-like cryptocurrency that uses zero-knowledge proofs for anonymity: https://z.cash

The launch of the actual currency is planned for September 2016 but there's currently a testnet. The Zcash developers would be happy to help with any queries you have about supporting Zcash in OpenBazaar -- please ask on [our Slack channel](https://inviteme.z.cash) (I know that

[2016-06-19 11:04] daira commented on #1710
Hmm. Perhaps this should have gone in the server repo. I guess it affects both the client and server. Feel free to move it if it should go elsewhere.

[2016-06-19 12:14] daira commented on #1710
OpenBazaar's [moderator functionality](https://blog.openbazaar.org/what-is-openbazaar/) requires multisig, which isn't directly supported by Zcash for anonymous transactions, but there are workarounds: https://github.com/zcash/zcash/issues/782

[2016-06-20 17:05] rmisio commented on #1655
closing as duplicate of #1640

[2016-06-20 17:05] #1655 closed, assigned to nobody

[2016-06-20 20:58] #1568 closed, assigned to jjeffryes

[2016-06-22 08:52] JustinDrake opened #1713 "160 character short description is not always enforced"
The 160 character limit is not enforced on some stores. Below is the `short_description` lengths for all the   stores that Duo Search has on record. As can be seen, some stores have `short_description`s greater than 160 characters.

[2016-06-22 13:25] jjeffryes commented on #1713
The limit should be enforced on the server, both when saving and when getting the description from other nodes.

I'll move this issue to the server repo.

[2016-06-22 13:25] jjeffryes commented on #1713
Issue moved to [OpenBazaar/OpenBazaar-Server #443](https://github.com/OpenBazaar/OpenBazaar-Server/issues/443) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-22 13:25] #1713 closed, assigned to nobody

[2016-06-22 20:25] ulrichard opened #1717 "Cannot release funds"
Brief Description:
When I started the order, I closed the payment window before the payment was detected. So the status dind't automatically switch to "paid".
The seller saw the transaction, and sent the item.
Now I wanted to confirm the receipt and release the funds.
So I click "Bestellung abschliessen" and enter some text. Then I press "speichern", but nothing happens.

Operating System (OS and

[2016-06-22 21:57] jjeffryes commented on #1717
When you say you click save and nothing happens, what, specifically, is nothing?

Does the save button change color at all? It should briefly become dark.

Does the screen change? The complete order form should disappear. Does it remain on the screen?

Does an error message appear?

[2016-06-23 06:03] ulrichard commented on #1717
Yes, the save button gets darker for a second, but the screen does not change. It remains on the screen with the ratings.
No error message on the client.
But on the server I saw this:

  File "api/restapi.py", line 55, in _authenticate
  File "api/restapi.py", line 821, in complete_order
  File "market/contracts.py", line 619, in add_receipt
  File "json/__init__.py", line 338, in loads
  File "js

[2016-06-23 06:32] ulrichard commented on #1717
By looking closer, there is already an error when I load the order details:

2016-06-23 08:25:48+0200 [-] [INFO] Switching to tcp://libbitcoin3.openbazaar.org:9091
2016-06-23 08:25:48+0200 [-] [ERROR] Libbitcoin server timed out. Refreshing socket and resending requests.
Unhandled Error
Traceback (most recent call last):
  File "<string>", line 270, in start
  File "<string>", line 202, in run
  F

[2016-06-23 15:14] jjeffryes opened #1718 "Saving Settings Changes the Tab"
This may be an issue with the caching system.

Saving any tab in Settings changes the tab to Page.

@rmisio can you take a look at this?

[2016-06-23 15:17] jjeffryes commented on #1718
Update: if you control f to reload the page while on a tab, saving any other tab will switch the page to that tab.

ie: if you reload on the Addresses tab, saving other tabs will switch the page to the Addresses tab.

[2016-06-23 15:21] dsmurrell opened #1719 "When changing servers with the client it tries to connect to the last GUID it couldn't connect to."
This can be very frustrating and pressing cancel usually starts the reconnect again. You have to wait for the resolve to fail and then press back to get back to your home page.

Can you just show your own store page on any reconnect from the client?

[2016-06-23 15:23] jjeffryes commented on #1718
I found it. Nothing to do with caching, the render wasn't using an updated state value. Patch arriving shortly.

[2016-06-23 15:27] jjeffryes opened #1720 "Store Color Costomization not propperly saved in settings"
@SimonBelmond commented on [Thu Jun 23 2016](https://github.com/OpenBazaar/OpenBazaar-Server/issues/445)

Brief Description:

Operating System (OS and version): Ubuntu 14.04
OpenBazaar version: 1.1.6.deb
Hardware: 4gb ram, HP mini desktop (sorry for crappy description)

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Create a new stor

[2016-06-23 15:30] jjeffryes commented on #1720
This occurs when the Settings view is loaded, and then values that affect the Settings view are changed (such as becoming a store using the store wizard, or changing the page colors).

When Settings is navigated to again, the cached values are used, instead of the new values.

Reloading the Settings page with control f loads the correct values.

[2016-06-23 15:38] jjeffryes commented on #1720
Disabling caching also fixes this.

@rmisio do you want to take a look at this?

The user page clears it's cache when the data is changed in Settings, can that work the other way too?

[2016-06-23 15:46] #1718 closed, assigned to nobody

[2016-06-23 16:04] jjeffryes commented on #1717
@cpacia would the errors above stop the complete call from going through?

[2016-06-23 19:11] SimonBelmond commented on #1720
If you need any help, logs or anything from me let me know. Mad another clarification comment here after the issue was closed: https://github.com/OpenBazaar/OpenBazaar-Server/issues/445

"Glad you could reproduce it. Initial color change was on my page not in settings. colors were showing correctly until I went and changed something else in the settings and hit save. then the settings were overwri

[2016-06-23 19:32] #1720 closed, assigned to nobody

[2016-06-23 19:39] jjeffryes commented on #1720
@SimonBelmond if you can pull the latest copy of master, this issue should be resolved now. If you're using the installer, we're wrapping up the next release and it should be available soon once we've tested everything.

Thank you for alerting us to this, it was very helpful.

[2016-06-23 19:43] rmisio commented on #1719
are you able to consistently reproduce this one?

It sounds like an edge case, because when you connect to a new server it just reloads the app where the app lands on whatever page you had been on. So, unless I'm missing something, in order for this to happen, you'd have to navigate to a user's page who is online, then while you're on that page the user goes offline, you connect to a new server an

[2016-06-23 20:11] jjeffryes commented on #1698
This has been fixed.

[2016-06-23 20:11] #1698 closed, assigned to nobody

[2016-06-23 20:12] jjeffryes commented on #1696
Esperanto has been added.

[2016-06-23 20:12] #1696 closed, assigned to nobody

[2016-06-23 20:12] jjeffryes commented on #1693
This has been fixed. In the future we may set the minimum price dynamically.

[2016-06-23 20:12] #1693 closed, assigned to nobody

[2016-06-23 22:07] dsmurrell commented on #1719
If it happens again, I'll try and get a video of it.

On Thu, Jun 23, 2016 at 8:43 PM, Robert Misiorowski <
notifications@github.com> wrote:

[2016-06-23 22:59] sgornick commented on #1719
Is it possible you are switching between Testnet and Production?

I see this when switching back and forth from an OB server running on -testnet (because, of course, the GUIDs on testnet are invalid when on production, and vice-versa).

To avoid getting the "Connecting to [GUID]" followed, eventually, by "The page you're trying to view is currently offline" what I do is manually navigate to Discov

[2016-06-24 09:35] JustinDrake opened #1723 "Additional "UTC" bug in expiry times"
Of all the online listings in [Duo Search](https://duosear.ch), below is a breakdown of the expiry timestamps:
- `never` -> 5352 times
- Some valid UTC timestamp -> 111 times
- `never UTC` -> 20 times
- `never UTC UTC` -> 57 times
- `never UTC UTC UTC` -> 13 times
- `never UTC UTC UTC UTC` -> 2 times
- `never UTC UTC UTC UTC UTC` -> 1 time
- `false UTC` 670

As can be seen, the string `UTC` gets s

[2016-06-24 13:18] mariodian opened #1724 "My Page menu issues"
When you open someone else's profile and click "My Page" it won't open your page but the currently open page instead.

This issue is on the latest master pull. I tried to have a quick look in the router.js but so far I have no idea what's causing it.

[2016-06-24 16:03] #1724 closed, assigned to nobody

[2016-06-25 01:41] sgornick opened #1725 "Remove discontinued wallet from buyWizard"
Brief Description:
Back in March, Coinkite discontinued their wallet.  The buyWizard.html still lists that as a wallet option to choose from.

OpenBazaar version: 1.1.6

Additional info (links, images, etc go here):

https://github.com/OpenBazaar/OpenBazaar-Client/blob/8f0cfa9200b44c70d7927fe9810a6b110353e78c/js/templates/buyWizard.html#L213

http://blog.coinkite.com/post/141836920461/time-to-be-y

[2016-06-25 01:51] sgornick commented on #1723
The root cause is in the API, reported as OpenBazaar-Server Issue # 439:
https://github.com/OpenBazaar/OpenBazaar-Server/issues/439

Though whether the client should do something when there is an invalid date could be a client issue.

[2016-06-26 17:31] sgornick commented on #1650
As OpenBazaar works today, a store that runs out of stock for an item must delete the listing to avoid there being any new orders placed for it.   So this issue reported affects so many OpenBazaar stores.

In the roadmap, under "short term" is "Inventory Management".

https://medium.com/@therealopenbazaar/openbazaar-roadmap-46b9e774f319#.ogizdfpl3

Perhaps this inventory management method would be

[2016-06-26 21:34] SimonBelmond commented on #1002
Moderation should for sure not "auto" start on a sale when the server of the mod is down, which is what happens now. A policy to set

[] Auto accept trades for moderation when online;
[] manually accept each moderation

would be good.

[2016-06-26 21:46] SimonBelmond opened #1726 "Add as moderator option does not work reliably, moderator page and GUID entry in settings affected."
Operating System (OS and version): Ubuntu 14.04
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.6.deb file

Hardware: HP 4gb ram mini pc

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Sporadic, two users have reported the issue affecting a total of two moderators.

Preconditions:
Both mods online and have moderation enabled.

Steps to reproduce

[2016-06-26 22:03] Pascal666 opened #1727 "Users with small screens cannot see the bottom of the client"
Brief Description:
After clicking a BUY NOW button I get a box that says:
Do you have a Bitcoin Wallet?
It only takes a few minutes to set one up

There are no buttons or clickable links and nothing in the box telling me where in OpenBazaar I need to configure my wallet to get past this error screen.

Operating System (OS and version): CentOS Linux release 7.2.1511 (Core) KDE 4.14.8
OpenBazaar ver

[2016-06-27 01:10] hoffmabc commented on #1727
If you scroll down there should be buttons? Is your resolution old school and small?

[2016-06-27 01:24] Pascal666 commented on #1727
There is no scroll bar in that dialog.  Resolution is 1280x661.  I figured out that putting an address in "Current Refund Address" in Settings will clear that error, but the next dialog box (moderated or direct) also has no scroll bar.

[2016-06-27 02:35] jjeffryes commented on #1727
The minimum height of the app window is 700px. If your monitor is cutting off the bottom of the app, then you're not going to be able to click some buttons.

You will have to click the Next buttons at the bottom of the screen to complete a purchase. Can you see them? If not, are you getting through the purchase process some other way?

[2016-06-27 02:46] Pascal666 commented on #1727
No, I see no buttons and am unable to make purchases.  Everything else appears to work fine.  Is there a good reason those dialogs don't have scroll bars?

[2016-06-27 14:48] jjeffryes commented on #1727
The OpenBazaar client isn't designed for monitors smaller than 1024 x 700.

[2016-06-27 16:21] ghost commented on #1726
I confirm this bug, my node can not get chosen as moderator by 2 other nodes and I can not add a new moderator by clicking the button or by manually adding the GUID, but by choosing from the moderator list.

[2016-06-27 16:36] jjeffryes commented on #1726
Can you paste the addresses to your nodes?

So far I have been unable to replicate this issue. It may be specific to your nodes or your server setup.

[2016-06-27 16:36] hoffmabc commented on #1726
I'm seeing this as well. I can't add ob://@JustinTime/about as a moderator

[2016-06-27 16:38] hoffmabc commented on #1726
API returns success:true but it is not added to the list of moderators.

[2016-06-27 16:49] jjeffryes commented on #1726
I'm able to add justintime as a moderator normally.

You're sure you're on the latest master for the server and client?

[2016-06-27 16:52] ghost commented on #1726
I am on the latest server and client and I can't, as said, add a moderator (only by selecting from the list) or get added by others.

[2016-06-27 16:56] jjeffryes commented on #1726
I can confirm that it's not possible to add c485bd9861dd2e9f896c21bae5af868abca55eff
 (@tyggrr) as a moderator.

The guid is sent correctly to the API, but the server doesn't add it, and the GET call to settings doesn't have that user as a new moderator.

Other guids work normally.

This appears to be a server issue, I'm moving it to that repo.

[2016-06-27 16:57] jjeffryes commented on #1726
Issue moved to [OpenBazaar/OpenBazaar-Server #448](https://github.com/OpenBazaar/OpenBazaar-Server/issues/448) via [**ZenHub**](https://www.zenhub.com/)

[2016-06-27 16:57] #1726 closed, assigned to nobody

[2016-06-27 19:10] SimonBelmond opened #1730 "Chat alert icon at -3 and no messages marked in organge -->Screenshot"
Operating System (OS and version): Ubuntu 14.04
OpenBazaar version (shown on About OpenBazaar page in menu): 1.1.6.deb file

Hardware: HP 4gb ram mini pc

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Sporadic, two users have reported the issue affecting a total of two moderators.

Preconditions:
Local client and server on the same machine, running connected to t

[2016-06-27 19:32] jjeffryes commented on #1730
The -3 icon you're seeing is for the Notifications, which appear if you click the bell icon.

The negative number issue has been fixed in release 1.1.7.

[2016-06-27 19:32] #1730 closed, assigned to nobody

[2016-06-27 21:27] SimonBelmond commented on #1730
OK, sorry. Didn't know that you close issue before releases. Looked for a similar issue in open issues.

[2016-06-27 21:32] jjeffryes commented on #1730
No worries. We close the issues as soon as they've been fixed in the master branch. I know that's sometimes confusing.

[2016-06-27 23:11] Pascal666 commented on #1727
My monitor supports higher resolution, but I can't read the screen at higher resolutions.  Limiting your target audience is rarely a good idea, especially when all it would take to fix the problem is a scroll bar.

[2016-06-28 00:57] #1725 closed, assigned to nobody

[2016-06-28 01:46] drwasho opened #1732 "Add a character limit on tags and scale long tags"
I suggest a max character limit of a SHA256 hash. Also we'll need some resizing for long keywords.

![image](https://cloud.githubusercontent.com/assets/3887694/16401188/d09dc4aa-3d25-11e6-9775-45b919d8eb2d.png)

[2016-06-28 13:50] rabfulton commented on #562
I have been getting a lot of duplicate notifications as of late. Not the popups, but when I open notifications I see:

xxxx is now following
xxxx is now following
xxxx is now following
....

Latest server on VPS and latest client running locally.

[2016-06-28 13:53] rabfulton commented on #1727
On linux at least, you can move windows higher to see thier bottom by holding alt while left clicking and dragging the window. I often have to do this when using those silly netbooks...

[2016-06-28 18:12] paulm17 commented on #1420
@mariodian has this exactly right.

So many product producers don't know how to market and would rather pay a % or full sale value to a marketer so that they can sell their product and/or get the buyers email to then market to them directly on the backend.

I think there should be an affiliate option that allows product owners to have affiliates selling for them.

The whole process should actually

[2016-06-29 06:25] ulrichard commented on #1717
The problem persists with v1.1.7

[2016-06-29 06:36] ulrichard opened #1733 "Missing translations"
Brief Description: Placeholders are displayed where I woule expect translated text.

Operating System (OS and version): Trisquel Belenos / Ubuntu 16.04
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.7
Hardware: Lenovo X60 libreboot

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Was fine with 1.1.5 and earlier versions. With newer versions alwa

[2016-06-29 12:44] jjeffryes commented on #1733
If you go to settings and pick a language, do the placeholders change to normal words?

[2016-06-29 12:45] jjeffryes commented on #1717
Paging @cpacia

[2016-06-29 13:00] lunokhod opened #1734 "Error installing client: ENOENT: no such file or directory, open '/OpenBazaar-Client/.git/hooks/pre-commit'"
I have been installing the client on OSX for quite a while by pulling from the git repo, npm install, and then npm start. The last time I tried this, though, I got the following error:

[code]

commit 7381c7598c4005524f197665a4ec00f14f5d4fce

[2016-06-29 20:29] ulrichard commented on #1733
That's the first thing I tried. Didn't help.

[2016-06-29 20:31] jjeffryes commented on #1733
Does this happen with every language you select in settings, or only certain languages?

[2016-06-30 07:45] ulrichard commented on #1733
The following workflow fixed the labels:
- select German
- save and restart
- select English again
- save and restart

The difference before was that I didn't save and restart wit the other language before switching back to English.

Still, it would be good if the upgrade wouldn't cause this behavior.

[2016-06-30 08:53] dsmurrell commented on #1719
No, all servers are mainnet. I keep having this issue and now another person (bazaarcity.io) is having it too. Can we get the client to visit the page of the server it's connecting to when you connect to a server? I've been forgetting to take a video since I found out how to get around it with cmd-t

[2016-06-30 08:54] benvhodl commented on #1719
We have the same annoying issue. Since we run multiple OB servers, every time we switch server on the client side, the new server reloads the previous page, while you would expect to load the new server's own page. Maybe this standard behavior can be changed?

[2016-06-30 09:01] dsmurrell opened #1736 "Suggestion for notification circle color (change to red if contains new order notification)"
I get a lot of notifications (mostly follow notifications). This causes me to miss the most important notifications (new orders). Would it be possible to change the color of the notification circle (top left with the number in it) to red if it contains at least 1 new order notification?

Ran this suggestion by DrWasho who liked it. Adding it here in case he's forgotten about it.

[2016-06-30 10:16] lunokhod commented on #1734
I just deleted the entire repo and re-cloned it and it works fine. Not sure what the problem was...

[2016-06-30 10:16] #1734 closed, assigned to nobody

[2016-06-30 17:01] sgornick commented on #1719
I can't think of a reason that shouldn't be the desired and expected behavior, by default.

[2016-07-01 08:57] JustinDrake opened #1737 "International shipping information not shown"
In the OpenBazaar client, [this listing](ob://c436905761d2085b648656f17d0d6fa3eec38a16/listing/bca17592357d2f635c3e86c64388fa74f415be38) does not have any international shipping information.

![screen shot 2016-07-01 at 09 58 25](https://cloud.githubusercontent.com/assets/731743/16516858/637e7f64-3f72-11e6-9509-7bca048ca6b4.png)

However, there is international information set for this listing, as

[2016-07-04 11:19] qsypoq opened #1738 "Can't put accent in title"
Brief Description:
If you try to create a product with a accent in the name you will not be able to save it, it will show a error saying "impossible to save data"

Operating System (OS and version): Archlinux
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.7

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always

Steps to reproduce:
1. Create a

[2016-07-04 20:31] rmisio commented on #1733
Actually, we are now requiring the user to re-start in order for a lang change to fully take effect:

https://github.com/OpenBazaar/OpenBazaar-Client/commit/b171cc7c558cfd850ae3c217867f78f4ccbb70ef

![image](https://cloud.githubusercontent.com/assets/794517/16569453/76cb5bde-41eb-11e6-8cb2-61ebed4e0962.png)

I think this happened after the last release. Should be in the next release.

[2016-07-05 05:50] ulrichard commented on #1733
But I restarted many times after the upgrade, and the labels remained broken. Only switching back and forth fixed it.
Could it be that the upgrade resets the language, and an explicit language initialization is required?

[2016-07-05 16:46] emgra opened #1740 "Updating Country"
Brief Description: Country to United Kingdom in error. I later corrected it to United States. It has updated correctly in Open Bazaar, however Duo and other search engines still show United Kingdom after a few days. They believe the problem is on your side.

I believe other users have the same problem. Can you please fix this as it is misleading to customers wanting to buy.

OpenBazaar version 1.1

[2016-07-05 17:04] jjeffryes commented on #1740
@emgra your country cannot be read by 3rd parties. It's only available via the settings API, which only your own client and node can use.

We don't know what data 3rd parties are using to determine your country. If they are using the depreciated location value in the profile API, they will need to remove that, since that value isn't used any more.

[2016-07-05 17:52] morebrownies commented on #1736
We've discussed giving more control over notifications e.g. turning certain types off. That may alleviate some of the problem, but we may also want to consider grouping notifications types into sections within the notification tray. That would enable you to quickly see latest orders, followers, comments, etc nicely grouped into sections instead of having to scroll through one general list.

[2016-07-05 18:53] sgornick opened #1742 "Stores with more listings take longer for home page to load"
It takes an unacceptably long time for the "home page" of a store with more than just a few dozen items to load.

Stores are adding listings and as the number of listings grows that makes their "home pages" unusable.

Top stores (by listing count) can be seen here: https://duosear.ch/stores

Reproducible: Always

Steps to reproduce:
1. any of the following:
 ob://ce77c1aa83e4e639761f4d5c9c63c8dd47

[2016-07-05 19:04] sgornick commented on #1742
Left as-is, this will place an upper limit on the number of listings a single store should add.    I described this to a merchant wanting to do a mass import here:

https://www.reddit.com/r/OpenBazaar/comments/4r6sz3/what_are_the_current_ways_to_mass_import_listings/d4z59th

Someone saw that and felt it made good fodder for /r/buttcoin: https://np.reddit.com/r/Buttcoin/comments/4rchgl/openbuttzar_

[2016-07-05 19:08] jjeffryes commented on #1733
This may have been closed by #1739, we haven't been able to duplicate it yet so it's hard to be sure.

[2016-07-05 19:49] jjeffryes commented on #1742
Lazy loading of the listings is on our roadmap, but has not been implemented yet.

[2016-07-05 19:54] jjeffryes commented on #1742
To clarify, do you mean it takes a long time for all of the images for the listings to load, or does the entire page take a long time?

Displaying the listings for crypto_collectables took 6.3 seconds when I tested it, but loading all of the images took a while after that, and some of them failed to load.

[2016-07-05 22:04] sgornick commented on #1742
Right.  But it accesses all items in the store, so if it had 1,200 items instead of 600 items, your load time would have been ~12.6 seconds.    Or for 2,400 items, ~25.2 seconds.     So the point is, current approach imposes a significant delay as the store size (listing count) increases.

As you described it, lazy loading would fix that.

Here's a timeline from loading ob://@crypto_collectibles/s

[2016-07-06 08:40] dsmurrell commented on #1736
@morebrownies even better.

[2016-07-06 16:53] jjeffryes commented on #1569
This was completed.

[2016-07-06 16:53] #1569 closed, assigned to nobody

[2016-07-06 16:55] jjeffryes commented on #1727
I've edited the title of this issue to reflect the core problem. We should consider ways to support users with monitors below our minimum supported size.

[2016-07-06 16:56] jjeffryes commented on #1738
This is being tracked on the server repo here:
https://github.com/OpenBazaar/OpenBazaar-Server/issues/434

[2016-07-06 16:57] jjeffryes commented on #1740
I'm closing this issue, as the data involved has been depreciated. Duosearch is aware of that, and will be adjusting how they detect nodes' country of origin.

[2016-07-06 16:57] #1740 closed, assigned to nobody

[2016-07-08 13:29] JustinDrake opened #1745 "Add phone number?"
I think it would be useful for vendors to add a phone number for their store. Add the moment there's a field for email, website, twitter, etc. but not phone.

[2016-07-08 22:03] pinheadmz opened #1748 "vendorAvatarURL does not get cleared if switching to server with no store"
Brief Description:
1) connect to remote OB server and create store with avatar images
2) disconnect from remote, and connect to default (local)
3) make purchase from someone else online
4) contract details for purchase indicate an vendorAvatarURL at the IP address of the remote server!

buyerAvatarURL value is correct (localhost...)

Operating System (OS and version):
OSX 10.10.5

OpenBazaar versi

[2016-07-08 22:40] tmmunro opened #1749 "Cannot Add Moderator by GUID"
Brief Description:
Found that add-moderator-to-store-by-GUID only works if the moderator you wish to add also appears in the list of moderators you can tick to add (ie the list above the field into which you can paste the moderators GUID)

Operating System (OS and version): Win 10 64 bit
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.7
Hardware:

Reproducible (Always / Almost A

[2016-07-08 22:56] tmmunro commented on #1749
Duplicate of
https://github.com/OpenBazaar/OpenBazaar-Server/issues/448

[2016-07-08 22:56] #1749 closed, assigned to nobody

[2016-07-10 05:55] jazy510 opened #1750 "typo: errorMessaes"
Brief Description: I found 3 instances of this typo, see here: https://github.com/OpenBazaar/OpenBazaar-Client/search?utf8=%E2%9C%93&q=errorMessaes

Operating System (OS and version): OSX
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.7
Hardware:

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Go to setting page (

[2016-07-11 15:46] #1750 closed, assigned to nobody

[2016-07-11 15:46] jjeffryes commented on #1750
Great catch, thank you.

[2016-07-11 17:15] #1737 closed, assigned to nobody

[2016-07-12 07:56] drwasho opened #1752 "Shipping costs errors"
**Problem:**
- Domestic shipping costs are being displayed but under the header of 'Worldwide'
- International shipping costs are not showing at all

This problem is found in the official release and the latest version of the client. Example listing can be found here: ob://@cmosthestore/listing/19f3c365012b0bba36add322681cc02ac648a89f

![image](https://cloud.githubusercontent.com/assets/3887694/16

[2016-07-12 10:12] nurp opened #1753 "Complete Order is missing"
Brief Description: I made my first purchase about 3 weeks ago. I chose unmoderated purchase. I received the item and seller wants me to complete the order and review. But there is no such option.

Operating System (OS and version):  Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): Version 1.1.5 (I just updated to latest 1.1.7 and problem remains).
Hardware: Intel i7 Lenovo

[2016-07-12 10:28] nurp commented on #1753
I think it is because the seller didn't change the status to "Shipped". So I am closing the issue for now.

[2016-07-12 10:28] #1753 closed, assigned to nobody

[2016-07-12 12:47] #1752 closed, assigned to jjeffryes

[2016-07-12 12:47] jjeffryes commented on #1752
Good catch.

[2016-07-12 18:31] unotdog25 opened #1754 "Message block feature not working."
Brief Description: user betterthencash on reddit is having an issue where after selecting to block a conversation messages are still coming through.

Operating System : Linux mint 18
OpenBazaar version : 1.1.7

[2016-07-12 18:40] jjeffryes commented on #1754
This has been fixed in PR #1747, and will be available in the next release.

[2016-07-12 22:48] #1754 closed, assigned to nobody

[2016-07-16 03:29] morebrownies commented on #1736
Here's a comp of what I'm thinking

<img width="885" alt="screenshot 2016-07-15 20 25 13" src="https://cloud.githubusercontent.com/assets/13066886/16892539/bfc4a222-4aca-11e6-8190-f50e0f5b63dd.png">

[2016-07-16 22:35] rmisio commented on #1736
(thinking out loud)

Assuming you want to allow lazy loading on new tabs, paginating presents a lot of interesting challenges to making this happen.

Option A:
As of now, the get_notifications API doesn't allow us to fetch notifications by particular type. When they lazy load scroll on one of the other tabs (e.g. Orders), we could just fetch the next page of "all" notifications and put the results

[2016-07-18 14:19] jjeffryes commented on #1736
I think the best option would be to update the API to return notifications by type. @cpacia any thoughts?

[2016-07-19 17:59] ghost commented on #531
Is it possible to attach a JSON variable to the listing (out_of_stock), and keep the client from buying it? If they buy it anyways (old version of the OB client), then refund the client and tell them to upgrade their version of OpenBazaar? Maybe withhold the public key for the wallet if they try to buy it instead of shafting the buyer with transaction fees.

[2016-07-21 12:42] dsmurrell opened #1756 "Set test item to lowest possible cost. Couldn't buy it."
Price was set at 0.0002BTC

Got this message when trying to buy it:

![screen shot 2016-07-21 at 13 39 46](https://cloud.githubusercontent.com/assets/4035854/17023002/00c70f9e-4f49-11e6-8b7e-10b27e69f8bd.png)

[2016-07-23 19:59] TheButterZone commented on #1745
Concur.

[2016-07-26 10:42] ulrichard commented on #1717
After waiting for some time, I opened a dispute so that the seller could get his money.
The seller can see the dispute, but apparently the moderator can't.
If I click the "Resend Start of Dispute" button, I just see the window flicker for a moment, and them my message disappears.
What can we do to release the funds?

[2016-07-26 14:03] jjeffryes commented on #1717
It sounds like the moderator isn't getting the dispute message. If the seller can see it, that means it went out correctly, and the issue may be on the moderator's node.

Have they tried the simple things, like restarting their node?

[2016-07-27 06:57] dsmurrell opened #1757 "I suggest that the client load the server's homepage after a switch of configuration."
Loading the last guid is very confusing when you switch between configurations.

I suggest that the client drop its memory of who it was last trying to access from the last server you connected to and show the home page of the server you have just connected to.

This would also fix https://github.com/OpenBazaar/OpenBazaar-Client/issues/1719

[2016-07-27 22:33] dsmurrell commented on #1557
@jjeffryes I'm getting this bug as well. I believe it has something to do with the code that pulls the images from the server as @astupidmoose shows here: https://gyazo.com/e6f4f291b0c1ac238d76cd09309189aa

My belief stems from running three stores on a single machine and having no issues but only because one of them had listings. Now, when a friend tries it on their machine he is also running thr

[2016-08-01 14:26] jjeffryes commented on #1573
This was moved to 2.0.

[2016-08-01 14:26] #1573 closed, assigned to morebrownies

[2016-08-01 16:08] #1733 closed, assigned to nobody

[2016-08-01 19:47] #1702 closed, assigned to nobody

[2016-08-01 19:47] #1732 closed, assigned to jjeffryes

[2016-08-01 22:36] jjeffryes commented on #1756
Closed in #1758

[2016-08-01 22:36] #1756 closed, assigned to nobody

[2016-08-01 22:40] #1027 closed, assigned to jjeffryes

[2016-08-06 19:56] dskvr opened #1761 "Cannot purchase anything on Mac OS X, Reason: float division by zero"
Brief Description:
`Reason: float division by zero`

Operating System (OS and version): OS X 10.11.5
OpenBazaar version (shown on `About OpenBazaar` page in menu):
Hardware: 1.1.7 (there is no About OpenBazaar in Menu BTW)

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
Always.

Steps to reproduce:
1. try to buy something
2. `Reason: float division by zero`

Obser

[2016-08-06 23:12] jjeffryes commented on #1761
This may be caused by a known issue on OSX where the libraries required by OpenBazaar conflict with the versions installed by other software.

Try shutting down OpenBazaar, following the instructions to install the OpenBazaar dependencies (linked below), and then start OpenBazaar again and see if that resolves the issue.
- Install Xcode command line tools
- Open the terminal and type: xcode-select

[2016-08-07 00:08] dskvr commented on #1761
Thanks!

I followed those steps, I'm a developer and already had all of those installed. Which then made me wonder if it was time to upgrade some of these components. Presently upgrading, will update on progress.

[2016-08-07 01:00] jjeffryes commented on #1761
Great. Let us know what happens.

Can you open the web dev panel in the client, restart it (command f) and look for the btc_price call in the Network tab?

If it comes back as {}, it's almost certainly a library conflict.

[2016-08-08 13:14] JustinDrake opened #1762 "Interim search suggestion"
[The idea was prompted from [this Reddit thread](https://www.reddit.com/r/OpenBazaar/comments/4wm3sq/why_is_it_so_difficult_to_sell_something_on/d683p3p). In particular "most buyers are not aware of it's existence"]

Before third party search engines are integrated into OB2.0, it may be helpful for users to know that Duo Search exists when the OpenBazaar search results are empty.

For example, an

[2016-08-08 13:19] jjeffryes commented on #1762
(ignore the close, hit the wrong button)

[2016-08-10 15:06] jjeffryes commented on #1761
@dskvr any luck with updating the libraries?

[2016-08-10 15:12] jjeffryes commented on #1738
I'm closing this in the client repo, as this is a server issue.

[2016-08-10 15:12] #1738 closed, assigned to nobody

[2016-08-10 15:12] jjeffryes commented on #1690
I'm closing this in the client repo, as this is a server issue.

[2016-08-10 15:12] #1690 closed, assigned to nobody

[2016-08-10 15:15] jjeffryes commented on #1717
@ulrichard did you resolve the issue with the funds not being released?

[2016-08-10 15:17] jjeffryes commented on #1703
This will be a feature in v2, we're not planning to add it to v1 (this repo).

[2016-08-10 15:17] #1703 closed, assigned to nobody

[2016-08-10 15:24] jjeffryes commented on #1628
We haven't been able to reproduce this issue. @sgornick are you still experiencing this problem?

[2016-08-10 15:27] jjeffryes commented on #1574
We've decided not to add this feature.

[2016-08-10 15:27] #1574 closed, assigned to nobody

[2016-08-10 15:28] jjeffryes commented on #1504
This bug is for a past version of the installer.

[2016-08-10 15:28] #1504 closed, assigned to nobody

[2016-08-10 15:29] jjeffryes commented on #1502
We're not planning to change this in v1, v2 will handle social links differently.

[2016-08-10 15:29] #1502 closed, assigned to nobody

[2016-08-10 15:30] jjeffryes commented on #1500
We're not planning to change this for v1, v2 handles social links differently, with validation of the account link format.

[2016-08-10 15:30] #1500 closed, assigned to nobody

[2016-08-10 15:31] jjeffryes commented on #1186
This doesn't appear to affect the current version.

[2016-08-10 15:31] #1186 closed, assigned to hoffmabc

[2016-08-10 15:32] jjeffryes commented on #1133
This will be in v2, we're not planning to include it in v1.

[2016-08-10 15:32] #1133 closed, assigned to jjeffryes

[2016-08-10 15:33] jjeffryes commented on #1014
We're not planning to add a cart or grouping of items in v1. This might be a feature that is added to v2.

[2016-08-10 15:33] #1014 closed, assigned to nobody

[2016-08-10 15:33] jjeffryes commented on #1008
We're not planning to add a photo editor to v1. This might be a feature that is included in v2.

[2016-08-10 15:33] #1008 closed, assigned to nobody

[2016-08-10 15:34] jjeffryes commented on #1003
Switching moderators is a feature we're working on adding to v2.

[2016-08-10 15:34] #1003 closed, assigned to nobody

[2016-08-10 15:36] jjeffryes commented on #874
This was completed.

[2016-08-10 15:36] #874 closed, assigned to nobody

[2016-08-10 15:37] #804 closed, assigned to nobody

[2016-08-10 15:37] jjeffryes commented on #793
This was done.

[2016-08-10 15:37] #793 closed, assigned to nobody

[2016-08-10 15:38] jjeffryes commented on #722
We have decided not to do this.

[2016-08-10 15:38] #722 closed, assigned to morebrownies

[2016-08-10 15:38] jjeffryes commented on #709
3rd party search will be part of v2.

[2016-08-10 15:38] #709 closed, assigned to nobody

[2016-08-10 15:41] jjeffryes commented on #715
The info link was added. We're not currently planning to use a direct API in v1, this may be a feature in v2.

[2016-08-10 15:41] #715 closed, assigned to morebrownies

[2016-08-10 15:41] jjeffryes commented on #994
Cached pages maintain their scroll state.

[2016-08-10 15:41] #994 closed, assigned to jjeffryes

[2016-08-10 15:44] jjeffryes commented on #1723
I'm closing this issue, as it's tracked in the server repo.

[2016-08-10 15:44] #1723 closed, assigned to nobody

[2016-08-10 15:45] jjeffryes commented on #1650
This is a duplicate of #531

[2016-08-10 15:45] #1650 closed, assigned to nobody

[2016-08-10 15:46] jjeffryes commented on #633
We've decided not to do this.

[2016-08-10 15:46] #633 closed, assigned to nobody

[2016-08-10 15:47] jjeffryes commented on #617
This feature is planned for v2.

[2016-08-10 15:47] #617 closed, assigned to nobody

[2016-08-10 15:47] jjeffryes commented on #597
This is on the roadmap for v2.

[2016-08-10 15:47] #597 closed, assigned to drwasho

[2016-08-10 15:48] jjeffryes commented on #545
This will be fixed in v2, we are not currently planning to fix it in v1.

[2016-08-10 15:48] #545 closed, assigned to nobody

[2016-08-10 18:00] JustinDrake commented on #1703
@jjeffryes Are you going to open a corresponding issue for the appropriate repo?

[2016-08-10 18:10] jjeffryes commented on #1703
We don't need an issue on the v2 repo, this is baked into the roadmap.

[2016-08-10 19:35] JustinDrake commented on #1703
This thread is a discussion about API design. It's a two-way thing that can happen on GitHub.

[2016-08-10 21:13] dskvr commented on #1761
Hey, sorry I didn't get back to you. I'm working on simultaneous projects and Vagrant's SWAP is eating my free disk space. Until either (1) I move my VM's to a flash drive or (2) upgrade to a TB HD, I don't have the disk space to deal with this ATM. One of those two things will happen this weekend, and I'll get back to you.

[2016-08-10 21:29] SmileyChris commented on #633
This seems like an odd decision. So you lose your hdd and you've lost all your stock entries, customers, transaction history, and ratings?

[2016-08-10 21:45] hoffmabc commented on #633
Sorry this is not clear enough. We don't plan to support it for version 1.1.x. We will be supporting backups for the next major version!

[2016-08-11 09:47] pryds opened #1763 "Suggestion: Country and currency names in separate translation file?"
Just a suggestion that might ease things a bit for new translators.

Country and currency names take up a lot of strings and might "drown" other strings and make translating OpenBazaar into a new language seem like an overwhelming job, while these strings probably have slightly less priority to get done.

So, would it be an idea to funnel country and currency names into a separate file and thereby

[2016-08-11 17:16] rmisio commented on #1763
This is something that we did want to do, but didn't think it was possible in Transifex to have multiple files per language.

Are we wrong and it is indeed do-able?

[2016-08-11 19:00] jjeffryes commented on #1763
I think we can make multiple resources in Transifex, each would have it's own translations.

Then we could extend polyglot with all the files for each language, instead of just one.

We'd have to change some things and it'd take some work to set up, but I think it would be possible.

[2016-08-11 19:15] uzair90 opened #1764 "ERROR: electron main.js while loading shared libraries: cannot open shared file: no such file or directory"
I am trying to install OpenBazaar-Client on ubuntu machine everything went fine except npm start.

Operating System (OS and version): Ubuntu

This is the error shown in the terminal.
`
root@anything:~/OpenBazaar-Client# npm start

/root/OpenBazaar-Client/node_modules/electron-prebuilt/dist/electron: error while loading shared libraries: libgtk-x11-2.0.so.0: cannot open shared object file: No such

[2016-08-11 19:24] jjeffryes commented on #1764
As a first step, try running "npm install" again a few times to make sure all the dependencies are installed.

Sometimes it takes a few times to catch all the sub-dependencies.

[2016-08-11 19:32] uzair90 commented on #1764
Ran npm install 10 times nothing worked gives the same error. Is there anything wrong with the version of electron-prebuilt?

[2016-08-11 19:34] jjeffryes commented on #1764
The version of electron-prebuilt it's using should be fine, you can try changing it to a more recent version, we haven't tested that though.

[2016-08-11 19:58] uzair90 commented on #1764
Manually installed all the dependencies which are shown in the error but still having the same error.
`root@anything:~/OpenBazaar-Client# npm start

npm ERR! Linux 4.4.0-34-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR! node v5.12.0
npm ERR! npm  v3.8.6
npm ERR! code ELIFECYCLE
npm ERR! OpenBazaar@1.1.8 start: `electron main.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Fai

[2016-08-11 20:02] rmisio commented on #1764
can you try to delete your node_modules folder and then do a `npm cache clean` and then re-do the `npm install`?

[2016-08-11 20:10] pryds commented on #1763
Using Transifex terms, each organisation may have several projects (which I think is not necessary for OpenBazaar at this moment -- maybe if something like a mobile app is introduced), and each project may have several resources (aka files).

Projects (and maybecresources too?) may have each their translation team, or they may share a common translation team -- a translation team consisting of all

[2016-08-11 20:14] jjeffryes commented on #1763
I believe we can upload pre-made translations, my guess is if we cut out sections of the main file and upload them as individual license files, transifex will recognize the translations.

So as long as everything in the json files matches, in theory the tranlations will carry over to the new resource.

[2016-08-11 20:45] uzair90 commented on #1764
Still same @rmisio

[2016-08-12 18:05] rmisio opened #1765 "Customize page state remaining even when navigating to another page."
1. On your user page, click Customize (or select it from the page nav).
2. Navigate to another page.
3. The new page still has the dashed border.

![image](https://cloud.githubusercontent.com/assets/794517/17632350/b2cbe8f6-607c-11e6-8fb7-abe3cae2922c.png)

[2016-08-14 13:09] Vizique opened #1766 "Unable to add Mod to the list provided, via GUID or tag or OB link"
Brief Description:
Unable to add Mod to the list provided, via GUID or tag
Operating System (OS and version):  Win10 x64
OpenBazaar version (shown on `About OpenBazaar` page in menu):  1.17
Hardware: AMDFX6300, 16GBDDR3, AMD R290GFX,

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce):
In my client - always

Steps to reproduce:
1. Open Store tab in settings
2. Enter Mo

[2016-08-15 22:22] ulrichard commented on #1717
No, the funds are still in limbo.

The moderator said : The transaction is missing the vendor_order_confirmation section.

[2016-08-21 07:42] rebroad commented on #1764
I also have this exact same error. Running Ubuntu 16.04.1 LTS

using npm@3.5.2
using node@v4.2.6

silly lifecycle OpenBazaar@1.1.8~start: Args: [ '-c', 'electron main.js' ]
silly lifecycle OpenBazaar@1.1.8~start: Returned: code: 1  signal: null
info lifecycle OpenBazaar@1.1.8~start: Failed to exec start script
verbose stack Error: OpenBazaar@1.1.8 start: `electron main.js`
verbose stack Exit statu

[2016-08-21 13:59] markjwill commented on #1247
I see this bug has been around for a while... Just installed openbazaar 1.1.7 on OSX 10.11.4 and seeing most prices in NaN.  My install was from this link:  https://www.openbazaar.org/download.html  which did not have an "install" process but rather the common on mac "drag to applications folder" process.  I'm sure I could follow the terminal instructions above, but at this point Im more intersted

[2016-08-21 23:53] drwasho commented on #1247
I've reopened this issue because while we have a solution to fix the problem if they encounter it, the problem is still occurring for new users. Moreover, the fix that we have involves users digging into the terminal etc, which is unfriendly to mainstream users.

Let's get to the bottom of this and fix the root problem, and then we can close this issue.

[2016-08-21 23:54] drwasho commented on #1247
Of course, let's not accidentally hit the close button :laughing:

[2016-08-23 19:08] cliffmon commented on #1640
I tried that, got "Connection failed to (my_server)".
I'm running Windows 10, using the 64-bit exe version, using OpenBazaar-1.1.7
I also have my own XAMPP installation, but I tried with all my servers running, and tried without, still didn't work.
Also re-booted my computer after allowing the OpenBazaar ports in my Firewall.
Is OpenBazaar using any ports besides 18469,  18466, and 18470?
I'm usin

[2016-08-23 19:30] jjeffryes commented on #1640
If you can't log into your server, you can also use a SQL lite browser to find out what your server's username and password are, and create a new connection using that information.

Look for the username and password fields in the settings table.

http://sqlitebrowser.org/

[2016-08-29 12:21] krosav opened #1767 "Endless loop in the window for the generation of the OpenBazaar ID"
Brief Description: I am hung at the personal keys and OpenBazaar id generation

Operating System (OS and version): Windows 10
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.7
Hardware: Desktop

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Installing the OpenBazaar 1.1.7 for Windows 64 bits
2. The connection to t

[2016-08-29 13:04] jjeffryes commented on #1767
@faffner if you turn off the app, and start it again, does it take you through the onboarding process where you set up you language, country, etc. again?

If you press "control shift I" while one the "Hang tight for a few..." screen , to bring up the web developer panel, and look at the console tab, do you see any errors?

[2016-08-29 13:13] jjeffryes commented on #1766
Issue moved to [OpenBazaar/OpenBazaar-Server #480](https://github.com/OpenBazaar/OpenBazaar-Server/issues/480) via [**ZenHub**](https://www.zenhub.com/)

[2016-08-29 13:26] jjeffryes commented on #1766
I'm closing this here, the issue is being tracked in the server repo.

[2016-08-29 13:26] #1766 closed, assigned to nobody

[2016-08-29 13:35] jjeffryes commented on #1761
@dskvr were you able to correct this issue?

[2016-08-29 14:10] jjeffryes commented on #1748
I haven't been able to reproduce this issue. I'm going to close it unless we see it again.

[2016-08-29 14:10] #1748 closed, assigned to nobody

[2016-08-29 15:56] dskvr commented on #1761
I was not able to fix it. I settled making my purchase on BazaarHound for
Android. While this has it's pitfalls, I was able to make a purchase and
receive it in the mail. Proof of concept for me!

On Mon, Aug 29, 2016 at 9:35 AM, Josh Jeffryes notifications@github.com
wrote:

##

Sean

Q: Why so short?
A: http://three.sentenc.es/

[2016-08-29 23:43] krosav commented on #1767
@jjeffryes  yes, it took me each time through the onboarding process - language, country, etc. up to the disclaimer.

And i did it several times, and i did not think of pressing "ctrl shift I", which is unfortunate, because i just did it again, and this time it worked !!! My OpenBazaar ID got generated.

So i will close this issue, hoping that once the ID has been generated, the problem will not h

[2016-08-29 23:43] #1767 closed, assigned to nobody

[2016-09-02 21:46] Geremia commented on #1640
When I got "Connection failed to default," I was getting pyasnl not found errors, too, even though pyasnl is installed.

[2016-09-05 13:41] ghost opened #1770 "High DPi (4k) not supported"
Brief Description:

Operating System (OS and version): Ubuntu 16.04 x64
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.7
Hardware: Dell XPS 15 9550

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Start OpenBazzar

Observed Behavior: Everything is too small

Expected Behavior: The UI must adapt to scaling factor se

[2016-09-05 21:40] rmisio commented on #1770
Thanks for reporting this issue.

Some responsiveness is on the roadmap for v2. For example, in v2 the plan is for the grid of listings to be expandable to the full width of the window.

At this time, we don't have any plans to retro-fit v1 with this functionality.

[2016-09-06 10:18] #1770 closed, assigned to nobody

[2016-09-07 09:56] dsmurrell opened #1771 "Managed to see another store's items on 'my page'"
![screen shot 2016-09-07 at 10 53 12](https://cloud.githubusercontent.com/assets/4035854/18307701/71534460-74e9-11e6-99da-d29e394105c3.png)

To replicate navigate to a store that has NSFW items: ob://b303da649ae85294bad6b536ab3f3584efa2904e/store for example

Then click 'menu' > 'my page'

Notice, the 'show this user's page, and all NSFW listings' dialog remains.

Click the button and then your pa

[2016-09-07 15:07] #1765 closed, assigned to nobody

[2016-09-07 15:08] #1671 closed, assigned to nobody

[2016-09-07 15:11] #1771 closed, assigned to jjeffryes

[2016-09-14 23:14] rbmilch commented on #1628
I have the same problem. Used completely different pictures, changed the size to small and very small... always the same problem. German to english translated message: "we cant upload your photo".
I am using win10

[2016-09-15 13:09] dsmurrell opened #1776 "Shipping information on client is wrong/confusing"
Listing in question: ob://@crypto_collectibles/listing/ab332c6efa31fb940a6fa96830598334549dddcc

Shipping info given through client:
![screen shot 2016-09-15 at 14 06 11](https://cloud.githubusercontent.com/assets/4035854/18550851/ca9a10e8-7b4d-11e6-8c46-de84a7ee1f84.png)

duosear.ch info on shipping:
![screen shot 2016-09-15 at 14 08 16](https://cloud.githubusercontent.com/assets/4035854/18550878

[2016-09-15 16:32] jjeffryes commented on #1776
What's confusing about it?

It ships worldwide (ALL), from the United States, for free.

Are you using an old client? The current version in Master shows both local and international shipping info when the shipping_regions is set to ALL.

The current version looks like this:

![image](https://cloud.githubusercontent.com/assets/1584275/18558252/671b1b64-7b40-11e6-8e9c-cd7c10eb6f9c.png)

[2016-09-15 18:00] dsmurrell commented on #1776
Using the latest release. Do you not want any bug reports on the latest release? Should we always use the latest master for bug reports?

Domestic says '7-14 Business days'. International says 'varies'... this is not shown anywhere.

When you look at the first image in my post, it looks like the shipping time to worldwide is 7-14 Business days. Is the info we have on shipping incorrect for this li

[2016-09-15 18:02] rbmilch commented on #1628
Found out: Its the source or pathname of the file
C:\Users\rbmil\OneDrive\Bilder#löschen\HiPr\IMG_0345.JPG - is not working
C:\Users\rbmil\OneDrive\Bilder\IMG_0345.JPG - is working

[2016-09-15 18:23] jjeffryes commented on #1776
We have a new release that was held up, so things are a little weird, but this has been fixed just not released yet.

[2016-09-15 18:31] dsmurrell commented on #1776
Ok, will test on master. Sorry for the distraction :)

[2016-09-15 18:33] jjeffryes commented on #1628
Is this a case of Windows not recognizing the file page due to the German characters in it?

We rely on the OS to handle the path to the image, if it doesn't like the path then it would show an error.

[2016-09-15 19:03] rbmilch commented on #1628
Same problem with this path:
C:\Users\rbmil\OneDrive\Bilder#loeschen\HiPr\IMG_0345.JPG
but not with:
C:\Users\rbmil\OneDrive\Bilder\löschen\HiPr\IMG_0345.JPG

Problem is "#" not "ö"

[2016-09-15 19:05] rbmilch commented on #1628
PS: github deletes the "\" before "#"

Is that a bug in github webinterface, too?

[2016-09-15 19:32] jjeffryes commented on #1628
Pound signs are a reserved character in Chromium. We'll look into it and see if there's a way we can get around that.

https://bugs.chromium.org/p/chromium/issues/detail?id=397838

[2016-09-15 19:40] rbmilch commented on #1628
Is OB based on chromium? Like i.e. brave browser?

[2016-09-15 20:07] jjeffryes commented on #1628
The OB client uses Electron, which uses Chromium.

[2016-09-16 22:42] morebrownies opened #1777 "Too many stars are displaying for the listing detail review"
This listing is displaying 6 stars instead of 5

<img width="964" alt="screenshot 2016-09-16 15 40 35" src="https://cloud.githubusercontent.com/assets/13066886/18603130/f0d8207a-7c23-11e6-9610-af430c67724b.png">

[2016-09-20 16:44] jjeffryes commented on #1776
This was fixed in release 1.1.8, I am closing this issue.

[2016-09-20 16:44] #1776 closed, assigned to nobody

[2016-09-20 16:47] jjeffryes commented on #1761
I'm going to close this issue, if prices are showing as NaN, it's almost certainly the known issue where some Macs have a library conflict. We're working to solve that issue.

[2016-09-20 16:47] #1761 closed, assigned to nobody

[2016-09-20 17:03] dskvr commented on #1761
Thank you for your hard work!

On Tue, Sep 20, 2016 at 12:47 PM, Josh Jeffryes notifications@github.com
wrote:

##

Sean

Q: Why so short?
A: http://three.sentenc.es/

[2016-09-20 17:07] #1777 closed, assigned to nobody

[2016-09-20 17:48] jjeffryes commented on #1761
You're welcome!

[2016-09-20 20:15] jjeffryes commented on #1271
We are removing the timezones, they are not used for anything.

[2016-09-20 20:15] #1271 closed, assigned to nobody

[2016-09-20 20:18] jjeffryes commented on #1239
We don't have any plans to make nodes visible when they are offline (which isn't possible with the way the network currently works) in v1.

[2016-09-20 20:18] #1239 closed, assigned to nobody

[2016-09-21 19:23] jjeffryes commented on #1263
This was closed in #1780

[2016-09-21 19:23] #1263 closed, assigned to nobody

[2016-09-26 19:04] #187 closed, assigned to nobody

[2016-09-26 19:04] #531 closed, assigned to jjeffryes

[2016-09-26 19:04] #996 closed, assigned to jjeffryes

[2016-09-26 19:04] #348 closed, assigned to jjeffryes

[2016-09-27 21:17] jjeffryes commented on #575
The ideal way to do this would be to change the backend so the "pretty text" can be saved for each field.

That would require two fields for each one, one the displayed text and one the URL.

As a stretch goal it would be good to add an "Other" link, which could be used for whatever users want.

[2016-09-29 20:19] jjeffryes commented on #812
Currently the minimum price is set in the itemEdit.html template file, as var minBTCPrice = 0.0005

It would be much better to make this a variable in config.js, so it can be used in the following places:
- when editing a listing
- when buying a listing (in the buy wizard after the buy button is pressed)
- when paying for a transaction in the transaction modal (if the user buys a listing and doesn

[2016-09-29 20:23] jjeffryes commented on #963
Look at the no longer used adminPanelVw.js file, it has code to fetch the connected peers.

This should probably be done as a button in the settings/advanced tab.

When the tab is activated, the call to connected_peers can be made, and the number shown (in a row above the server on/of button would be good).

There could also be a button next to the number for "show peers" that when pressed, expand

[2016-09-29 20:29] jjeffryes commented on #1757
This was closed by #1784

[2016-09-29 20:29] #1757 closed, assigned to nobody

[2016-09-29 20:31] jjeffryes commented on #1742
Lazy rendering and other optimizations for the store tab were added in #1789

[2016-09-29 20:31] #1742 closed, assigned to nobody

[2016-09-29 20:32] jjeffryes commented on #1719
This was closed by #1784

[2016-09-29 20:32] #1719 closed, assigned to nobody

[2016-09-29 20:32] jjeffryes commented on #1680
This was closed by #1780

[2016-09-29 20:32] #1680 closed, assigned to jjeffryes

[2016-09-29 20:33] jjeffryes commented on #1642
The Pinned functionality in #1783 addresses this issue.

[2016-09-29 20:33] #1642 closed, assigned to nobody

[2016-10-05 15:26] morebrownies opened #1793 "NSFW warning displaying on each store for new users"
I just spun up a new node and went to the @openbazaar store and was hit with this warning

<img width="1200" alt="screenshot 2016-10-05 08 24 57" src="https://cloud.githubusercontent.com/assets/13066886/19119661/53bb16ce-8ad5-11e6-87a2-d301dfbce241.png">

[2016-10-05 15:28] morebrownies opened #1794 "Handle not displaying in title bar"
<img width="1200" alt="screenshot 2016-10-05 08 28 08" src="https://cloud.githubusercontent.com/assets/13066886/19119762/aa3c4aa4-8ad5-11e6-9949-cd822cba51d7.png">

[2016-10-05 15:30] morebrownies opened #1795 "Count is off in onboarding (step 5 doesn't exist)"
It jumps from step 4 to step 6.

<img width="692" alt="screenshot 2016-10-05 08 29 52" src="https://cloud.githubusercontent.com/assets/13066886/19119853/ecc06ab8-8ad5-11e6-901b-da71af2db4ab.png">

[2016-10-05 15:33] morebrownies opened #1796 "Avatar rotate buttons are visible before I've uploaded an avatar"
They appear to be clickable too, but they don't do anything when clicked. We should hide them until after an avatar has been selected.

<img width="514" alt="screenshot 2016-10-05 08 31 10" src="https://cloud.githubusercontent.com/assets/13066886/19119929/29b8eee0-8ad6-11e6-89a9-8654cf7db01f.png">

[2016-10-05 15:37] morebrownies opened #1797 "In settings, if you click an icon in one of the tabs, it does not activate the new tab."
<img width="554" alt="screenshot 2016-10-05 08 36 22" src="https://cloud.githubusercontent.com/assets/13066886/19120151/d60428b8-8ad6-11e6-81c8-2d5c20cfc755.png">

Clicking the green area works
Clicking the red area does not

[2016-10-05 16:05] jjeffryes commented on #1793
Are you on the latest master? I think this is a bug that was fixed recently.

[2016-10-05 16:39] morebrownies commented on #1793
I just pulled and don't see it happening anymore.

[2016-10-05 16:39] #1793 closed, assigned to nobody

[2016-10-05 16:39] morebrownies commented on #1795
Also there are only 9 steps now so it should display **x of 9**

[2016-10-05 17:08] #1796 closed, assigned to nobody

[2016-10-05 17:41] #1797 closed, assigned to nobody

[2016-10-05 23:52] #1795 closed, assigned to nobody

[2016-10-06 22:56] #1794 closed, assigned to nobody

[2016-10-12 22:49] ameliagoodman commented on #748
https://github.com/OpenBazaar/OpenBazaar-Client/pull/1806

[2016-10-14 01:23] onics commented on #1764
Same issues here on Arch linux. Appears to be an issue with the way modules are being loaded in main.js

Electron requires importing the modules in one of two forms:

[code]

or

[code]

When I tried to switch to importing all of the Electron modules over to one of these methods, it broke a lot of stuff with naming. Eventually got the client to launch, but it is not loading the template correctly.

[2016-10-16 01:19] ghost opened #1807 "Three untranslatable strings"
![untranslated4](https://cloud.githubusercontent.com/assets/10789865/19414501/5680ecaa-9325-11e6-832d-86321f9f5556.png)
1. "Settings" text on title bar
2. "Restart Later" and "Restart Now" button labels on dialog that opens after changing language.

[2016-10-22 02:40] richardschneider commented on #1699
This request is similar to #440

[2016-10-25 05:23] richardschneider opened #1812 "fiat price display"
Brief Description:

Displaying the fiat price (BTC => currency) looks correct to most Yanks/Brits but is wrong for other people.

Operating System (OS and version): All
OpenBazaar version: 1.18
Reproducible: Always:

Steps to reproduce:
1. Set the user's country/currency
2. View ob://@TheFrog/listing/130b00f0509e428f4542628ac2fe8f6fc133c6e5

Observed Behavior:
Displays the fiat conversion with no

[2016-10-26 20:30] stamfordpark commented on #1247
Hi All,

I had the Nan btc problem on an imac running yosemite 10.10.5 because some of my music creation software was not yet compatible with Sierra and El Capitan. I was forced to upgrade to Sierra so I could install XTools.
I have never used a command prompt before. Then I followed jjefryes instructions and nothing happened. Found the comment from jonasbits a bit further down, so I nervously pas

[2016-10-27 00:36] stamfordpark opened #1814 "Can't edit "Short Description" without deleting all existing text."
Brief Description: The only way to edit the store short description is to completely delete all existing text which takes you back to the prompt you get when you first set up your openbazaar before you click "become a store" see pics

Operating System (OS and version): OS X Sierra 10.12.1
OpenBazaar version (shown on `About OpenBazaar` page in menu): v1.1.8
Hardware: iMac (27-inch, Late 2013)

Rep

[2016-10-27 00:54] jjeffryes commented on #1814
Are you trying to enter more than the limit of 160 characters in the short description? I'm not able to reproduce a bug with not being able to enter new text, but it does look like you may have hit the character limit in your short description.

The description in the become a store dialog is the about text, we should make that more clear.

[2016-10-27 02:40] ghost opened #1815 "Set price currency per listing"
Listing configuration doesn't inform how price is set.

If I set a price in USD, will it stay in USD or will it be converted to BTC and vary its price in USD according to market price?

Shouldn't both these options be available?

[2016-10-27 02:51] ghost opened #1816 "Require "Minimum order size", disable "Min Price" and create "Min Quantity""
BTC transaction costs are now ensured through "Min Price", on each individual listing.

The best approach would be to require a "Minimum order size", a minimum BTC value each order should reach. This would allow sellers to publish listings that cost less than the current minimum price (0.0005 BTC), like 0.0001 BTC, or even less.

For these extremely cheap items, a new "Min Quantity" field on listi

[2016-10-27 02:57] ghost opened #1817 "Change SSL button to radio button"
![ssl](https://cloud.githubusercontent.com/assets/10789865/19752975/02bd4a28-9be0-11e6-93de-e8e36484d55e.png)

SSL button when adding server should change to radio button. The first time I used it I couldn't connect to server because  I didn't noticed that it was an option to choose.

[2016-10-27 11:22] stamfordpark commented on #1247
Hi All,

I had the Nan btc problem on an imac running yosemite 10.10.5 because some of my music creation software was not yet compatible with Sierra and El Capitan. I was forced to upgrade to Sierra so I could install XTools.
I have never used a command prompt before. Then I followed jjefryes instructions and nothing happened. Found the comment from jonasbits a bit further down, so I nervously pas

[2016-10-27 11:28] stamfordpark commented on #1814
Hi jjeffreys, absolutely correct, didn't realise I'd gone over 160 chars and openbazaar let me and accepted and published it, there needs to be a limiter built in and I agree, it should be labelled store description or not appear at all until you click" become a store".

[2016-10-27 11:30] stamfordpark commented on #1814
sorry hit the wrong button, this is a classic case of stupid non-intuitive design.

[2016-10-27 12:07] jjeffryes commented on #1815
The price set in the listing will always be the price.

If the price is set in a fiat currency, it will be the converted to BTC at the time of purchase.

ie: if you set a listing to be $100 USD, when that item is purchased the equivalent amount of BTC will be paid, based on the conversion rate at that time.

[2016-10-27 12:08] jjeffryes commented on #1816
That's an interesting idea. We'd need to add a minimum quantity field to the backend as well.

att: @cpacia @morebrownies

[2016-10-27 13:08] ghost commented on #1815
This information should be displayed on edit listing page. User should also be able to set his listing prices in a currency different from the OB currency in settings (without having to change his OB currency in settings).

[2016-10-27 13:21] ghost opened #1818 "New features (pinned, hidden, max quantity) not working"
Brief Description:
When editing or creating a new listing, when Max Quantity is set to a number and Pinned/Hidden listing are selected to "Yes", those configurations are not saved when Save Changes button is clicked. However all other configurations on edit listing page are normally set. The next time I open the listing they are at default again (Blank, No, No).
Operating System:  Win7 64 bits
Ope

[2016-10-27 16:14] morebrownies commented on #1817
I agree, **SSL: On|Off** radio buttons would be better.

[2016-10-27 16:19] morebrownies commented on #1816
I posted this a while back and I still feel this is the best approach to fix the problem.

![screenshot 2016-10-27 09 17 28](https://cloud.githubusercontent.com/assets/13066886/19775763/4f70e0c8-9c26-11e6-88dc-8548625c9b0f.png)

More details here: https://github.com/OpenBazaar/OpenBazaar-Client/issues/121

[2016-10-27 16:25] rmisio commented on #1815
FWIW, in v2 this is the case - you are able to specify the currency when creating / editing a listing.

[2016-10-27 19:06] jjeffryes commented on #1818
It sounds like you may have an out of date server. Are you using a local server that was installed by the installer, or a server you set up manually?

[2016-10-27 19:09] jjeffryes commented on #1816
We have an issue open for items below the minimum price at #812.

[2016-10-27 19:11] jjeffryes commented on #1815
I believe the API allows setting the currency per listing, so it would be possible to change the v1 client to do that.

[2016-10-27 20:24] ghost commented on #1818
I'm using v1.1.8 (Client + Server) installed through installer. I'm also having the same error with new features when connecting my v.1.1.8 client to a node on Digital Ocean (created using Deploy). I've never installed "Client Only" version.

[2016-10-27 20:40] jjeffryes commented on #1818
I have confirmed that the installed version of the client and server in 1.1.8 have this issue, but the code in master does not.

[2016-10-27 21:54] jjeffryes commented on #748
Closed by #1806.

[2016-10-27 21:54] #748 closed, assigned to jjeffryes

[2016-10-27 23:56] #1807 closed, assigned to nobody

[2016-10-28 02:58] jjeffryes commented on #1818
We've found the source of the bug, and will be issuing a fix soon.

[2016-10-28 14:49] jjeffryes commented on #1818
In the meantime, manually updating your server through git, or installing a new one from git, will fix this.

[2016-10-30 12:28] stevenroose commented on #1770
Why was this closed? It's still an issue... The text and buttons are crazy small on my machine..

[2016-10-30 12:38] ghost commented on #1770
@stevenroose Because v1 will not receive major updates, all the effort is done for [v2](https://github.com/OpenBazaar/openbazaar-desktop) (this should be fixed in v2)

[2016-10-30 12:39] stevenroose commented on #1770
Oh, v2 has a separate repo. That makes it clear :) Thanks!

[2016-10-30 21:52] jjeffryes opened #1822 "When the Personalized tab is active in Discover, Show which Users are Followed"
The Personalized tab in Discover can be very confusing. To make it more clear what it is doing, at the top of the listings it would be good to show the handles (or guids if no handles are available) of the nodes the user is following, and indicate that only listings from those users are being shown.

Alternatively a message like "showing listings from X sellers", where X is the number of nodes bei

[2016-10-31 01:57] ameliagoodman commented on #963
https://github.com/OpenBazaar/OpenBazaar-Client/pull/1824

[2016-10-31 02:20] richardschneider commented on #1812
And some more detail can be found at https://codeascraft.com/2016/04/19/how-etsy-formats-currency/

[2016-11-01 06:37] drwasho commented on #963
@ameliagoodman great job!

[2016-11-05 16:07] alex-cox commented on #1761
Not fixed in 1.1.8.

[2016-11-09 23:10] jjeffryes commented on #1818
This has been fixed in the master branch of the server.

[2016-11-09 23:10] #1818 closed, assigned to nobody

[2016-11-09 23:14] jjeffryes opened #1830 "Local Server Doesn't Start When Switching From Remote Server"
If the client is started with the current server config set to a remote server, then the connection is switched to the default server, the connection to the default server fails.

The network tab shows

[code]
With (Opcode -1) shown in the frames.

If the client is shut down after being switched to the default configuration, and started again, the server connects normally.

[2016-11-15 08:45] insanity54 commented on #1247
I encountered this problem on OSX 10.11.6, with OpenBazaar-Client 1.1.7, OpenBazaar-Server commit 903ac7f157aa6a67c719affcbcacef1b325b09d1 (v0.2.3-rc4).

The problem came up when I upgraded OpenBazaar-Server to v0.2.3-rc4. Previously I was using OpenBazaar-Server commit da0c261c5b303c558075cd4666d25650d45a7509 and it did not have this problem.

[2016-11-15 09:51] ghost opened #1836 "Pinned listings should show a pin icon/tag"
Currently the only way to know if a listing is pinned is by editing each one individually.

I think this pin icon should appear only to vendor.

[2016-11-15 12:19] jjeffryes commented on #1836
That's a good point.

@morebrownies what do you think about an icon or some other indicator?

[2016-11-15 12:28] hoffmabc commented on #1247
Did you ensure to use python 2.7.9 or higher?

[2016-11-15 12:34] hoffmabc commented on #1247
Pardon me, did you make sure to use Python 2.7.9 or higher.

[2016-11-15 19:05] jjeffryes commented on #1817
Note: The same classes and styles used for the radio buttons in the Settings template should be used here.

[2016-11-15 19:09] jjeffryes commented on #1333
Note: this should use the same confirmation classes (postConfirm, preConfirm, etc.) used in the transaction modal and user page templates.

[2016-11-15 19:11] jjeffryes commented on #1333
Note: we should consider making this part of a larger refactoring of the dispute button design, some users find the current checkbox design confusing.

[2016-11-15 21:24] ameliagoodman commented on #1817
https://github.com/OpenBazaar/OpenBazaar-Client/pull/1837

[2016-11-16 17:04] #963 closed, assigned to nobody

[2016-11-16 17:59] jjeffryes opened #1839 "Add Link to Transifex"
To increase the number of contributions of translated text, we should add a link to Transifex along with explanatory text next to the language selection controls in Settings.

It's likely most users don't think about translations until selecting a language, if they notice phrases in their language are not translated it's not obvious how they can help to fix that.

https://www.transifex.com/ob1/ope

[2016-11-16 19:42] Fr0stst0rm opened #1841 "Can't connect to local server."
Brief Description:

Operating System (OS and version): Windows 10 64Bit
OpenBazaar version (shown on `About OpenBazaar` page in menu): 1.1.9
Hardware: Samsung XE700T1C

Reproducible (Always / Almost Always / Sometimes / Rarely / Couldn't Reproduce): Always

Steps to reproduce:
1. Start fresh install of OpenBazaar --> Connection failed to OpenBazaar (my local server)
2. Retry --> Connection failed